
<!-- Site footer -->
              <footer class="site-footer">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-12 col-md-6">
                      <h6>About</h6>
                      <p class="text-justify">The 7 of 7Waves are our 7 parameters which help you to classify, recognize and solve your problem efficiently. So, let's recognize your wave or waves and work on them together to let your waves of life propagate smoothly.The Wave of 7 Waves is like a wave of life that has many ups and downs. All the joyful and happy moments are ups, and all depressing and failures in life are downs, but how much high you bounce after hitting bottom describes what life is. </p>


                    </div>





                    <div class="col-xs-6 col-md-3">
                      <h6>Parameters</h6>
                      <ul class="footer-links">
                        <li><a href="/introspectionn">Introspection</a></li>
                        <li><a href="/motivationBlogPage">Motivation</a></li>
                        <li><a href="/RelationshipBlogPage">Relationship</a></li>
                        <li><a href="/CareerBlogPage">Career</a></li>
                        <li><a href="/BussinessBlogPage">Business</a></li>
                        <!-- <li><a href="/DepressionBlogPage">Depression</a></li> -->
                        <li><a href="/Mentorship">Mentorship</a></li>
                        <li><a href="#">Personal</a></li>

                      </ul>
                    </div>

                    <div class="col-xs-6 col-md-3">
                      <h6>Quick Links</h6>
                      <ul class="footer-links">
                        <li><a href="/aboutUs">About Us</a></li>
                        <li><a href="/contactus">Contact Us</a></li>
                        <li><a href="/termsandcondition">Terms And Conditions</a></li>
                        <li><a href="/privacypolicy">Privacy Policy</a></li>
                        <li><a href="refundandcancellation">Refund And Cancellation</a></li>
                      </ul>
                    </div>
                  </div>
                  <hr>
                </div>
                <div class="container">
                  <div class="row">
                    <div class="col-md-8 col-sm-6 col-xs-12">
                      <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by
                   <a href="/">7Waves Life Solutions Pvt. Ltd.</a>.
                      </p>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                      <ul class="social-icons">
                        <li><a class="facebook" href="https://www.facebook.com/7waves-102331067869510/?ti=as"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter" href="https://twitter.com/official7waves?s=08"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="instagram" href="https://instagram.com/official7waves?igshid=yzfg5tdez7s4"><i class="fa fa-instagram"></i></a></li>
                        <li><a class="youtube" href="https://www.youtube.com/channel/UC1UlPjbnqmJbR4tnG0pv5Og"><i class="fa fa-youtube"></i></a></li>
                        <li><a class="linkedin" href="https://www.linkedin.com/in/7-waves-89604b196"><i class="fa fa-linkedin"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
          </footer>
<script>
    mybutton = document.getElementById("myBtn");
    window.onscroll = function(){scrollFunction()};
    function scrollFunction(){
        if(document.body.scrollTop>20|| document.documentElement.scrollTop >20){
            mybutton.style.display="block";
        }else{
           mybutton.style.display="none";
        }
    }
    function topFunction(){
        document.body.scrollTop=0;
        document.documentElement.scrollTop=0;
    }
    </script>

</body>
</html>
