<!DOCTYPE html>
<html>
    <head>
      <title>Welcome to 7 Waves. This is the best consultancy website on any aspect of life. Click here to know more.</title>

        <meta charset="utf-8">
        <head>
          <meta name="description" content="7 Waves Page. This is an amazing page to get the best consultancy in the world.">
          <meta name="keywords" content="7 Waves, MOTIVATION,DEPRESSION,INTROSPECTION,CAREER CONSULTANT,BUSINESS ADVISOR,PERSONAL,RELATIONSHIP,CONSULTANT,GROWTH,SELF GROWTH,LIFE COACH,COACH CONSUNSULTANCY">
          <meta name="author" content="7 WAVES">
        </head>
      <%- include("./navbar")  %>

        <div style="padding-top: 5px;"></div>
