<!DOCTYPE html>
<html>
    <head>
      <title>Latest and Trending Blogs of 7waves are here</title>

        <meta charset="utf-8">
        <head>
          <meta name="description" content="Blogs Homepage ">
          <meta name="keywords" content="MOTIVATION,DEPRESSION,INTROSPECTION,CAREER CONSULTANT,BUSINESS ADVISOR,PERSONAL,RELATIONSHIP,CONSULTANT,GROWTH,SELF GROWTH,LIFE COACH,COACH CONSUNSULTANCY">
          <meta name="author" content="7 WAVES">
        </head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../public/stylesheets/style.css">
        <link rel="shortcut icon" href="../public/stylesheets/images/logo.jpeg" />
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="../public/stylesheets/main.css">
        
        
        
        
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
          <!-- <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script> -->
        <!-- <notification start -->
          <script charset="UTF-8" src="//web.webpushs.com/js/push/bdbe1c09ccba06d9229cbb78cb9835f3_1.js" async></script>
            </head>
            <body>
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black;">
            <div class="container text-uppercase p-2">
            <a class="navbar-brand font-weight-bold text-white" href="index.html"><img src="../public/stylesheets/images/white logo resized 2.svg" style="height: 50px;width: 100px; border-radius: 100%;"> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-auto text-uppercase">
                    <li class="nav-item active">
                      <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" href="About.html">About Us</a>
                    </li>
        
        
                
                        <li class="nav-item">
                          <a class="nav-link"  href="appreferal.html">Reach Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"  href="blogs.html">Blogs</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link"  href="googleFormsPages/Internship.html">Career</a>
                          </li>
                  
                              </ul>
                            </li>
                   
                  </ul>
        
                </div>
            </div>
              </nav>




        <section style="height: 100%;padding-bottom: 3%;">
            <div class="container">
                <!-- <h1 class="ml1">
                    <span class="text-wrapper">
                      <span class="line line1"></span>
                      <span class="letters">7 Wave</span>
                      <span class="line line2"></span>
                    </span>
                  </h1> -->
                  <div class="row" style="padding: 5%;" >

                    <div class="col-lg-4 col-md-4 col-sm-4 col-12" ><img alt="image" src="../public/stylesheets/images/wavesSymbol.svg"     style="width:100%;height: 100%; "></div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-12" ><h1 style="text-align: center; font-size: 400%; "><strong>Blogs</strong></h1></div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-12" ><img alt="image" src="../public/stylesheets/images/wavesSymbol.svg"   style="width: 100%;height: 100%;"></div>


                </div>
                <div class="row" >

                    <div class="col-lg-4 col-md-4 col-12"  style="padding-bottom: 5%;">

<h2>Parameters</h2>

<div id="myBtnContainer33">
  <button class="btn33 active" > Home</button>
  <button class="btn33" ><a href="/motivationBlogPage"> Motivation</a></button>
  <button class="btn33" ><a href="/Mentorship"> Mentorship</a></button>
  <button class="btn33" ><a href="/RelationshipBlogPage"> Relationship</a></button>
  <button class="btn33" ><a href="/BussinessBlogPage"> Business Advisor</a></button>
  <button class="btn33" ><a href="/CareerBlogPage"> Career Consultant</a></button>
  <button class="btn33" ><a href="/introspectionn"> Introspection</a></button>

</div>

<div class="hiddingObject">

<div class="col-lg-12 col-md-12 col-12" style="padding:0px 0px 0% 0px;">

  <h2>Popular Posts</h2>

  <b><hr style=" border: 1px solid ;"></b>
<div
 class="row" style="padding-bottom: 10px;">
  <div class="col-lg-4 col-md-4 col-12">
    <img alt="image" src="https://firebasestorage.googleapis.com/v0/b/wavesweb-424c5.appspot.com/o/negativethoughts1.jpg?alt=media&token=a3f3d03b-f302-42ef-b0e7-ed4d1d754878" style="width: 80px;height: 80px; border-radius: 100%;"  alt="Sample avatar">
  </div>
  <div class="col-lg-8 col-md-8 col-12">
  <h8>How to Deal With Negative Thoughts?
    Stop Overthinking
-      <a href="/Nothing-is-personal">  <b>Read more</b> </a>

    </h8>
    <br>
    <h10 style="font-size: 10px;">4 Days ago</h10>
  </div>

</div>

<div
 class="row" style="padding-bottom: 10px;">
  <div class="col-lg-4 col-md-4 col-12">
    <img alt="image" src="https://firebasestorage.googleapis.com/v0/b/wavesweb-424c5.appspot.com/o/elon%20musk%201.jpg?alt=media&token=dadb6c88-f7dc-4235-88f2-79a041fcb04e" style="width: 80px;height: 80px; border-radius: 100%;"  alt="Sample avatar">
  </div>
  <div class="col-lg-8 col-md-8 col-12">
  <h8>Build your own Empire
    Seems like a dream come true,TRUE?
- <a href="/Build-your-own-Impire">  <b>Read more</b> </a>

    </h8>
    <br>
    <h10 style="font-size: 10px;">6 Days ago</h10>
  </div>

</div>

<div
 class="row" style="padding-bottom: 10px;">
  <div class="col-lg-4 col-md-4 col-12">
    <img alt="image" src="https://firebasestorage.googleapis.com/v0/b/wavesweb-424c5.appspot.com/o/bestpersonality1.jpg?alt=media&token=80f9655a-1c07-4a0a-9b19-2eab6f04f780" style="width: 80px;height: 80px; border-radius: 100%;"  alt="Sample avatar">
  </div>
  <div class="col-lg-8 col-md-8 col-12">
  <h8>THE BEST PERSONALITY I EVER MET- YOU
    Personality creates difference
- <a href="/THE-BEST-PERSONALITY-I-EVER-MET-YOU">  <b>Read more</b> </a>

    </h8>
    <br>
    <h10 style="font-size: 10px;">8 Days ago</h10>
  </div>

</div>

</div>


<div class="col-lg-12 col-md-12 col-12" style="padding: 0px 0px 0px 0px;" >

  <h2 style="padding-top: 20%;" >Recent Posts</h2>

  <b><hr style=" border: 1px solid ;"></b>
<div
 class="row" style="padding-bottom: 10px;">
  <div class="col-lg-4 col-md-4 col-12">
    <img alt="image" src="https://firebasestorage.googleapis.com/v0/b/wavesweb-424c5.appspot.com/o/rulesoffriendship3.jpg?alt=media&token=96e45cba-6b86-4a82-a475-18ef434dff23" style="width: 80px;height: 80px; border-radius: 100%;"  alt="Sample avatar">
  </div>
  <div class="col-lg-8 col-md-8 col-12">
  <h8>7 unsaid rules of Friendship
    What is Friendship
- <a href="/7-unsaid-rules-of-Friendship">  <b>Read more</b> </a>

    </h8>
    <br>
    <h10 style="font-size: 10px;">2 Days ago</h10>
  </div>

</div>

<div
 class="row" style="padding-bottom: 10px;">
  <div class="col-lg-4 col-md-4 col-12">
    <img alt="image" src="https://firebasestorage.googleapis.com/v0/b/wavesweb-424c5.appspot.com/o/introspection3.jpg?alt=media&token=a6d1c7be-e469-4f1d-96ae-443bb3d86885" style="width: 80px;height: 80px; border-radius: 100%;"  alt="Sample avatar">
  </div>
  <div class="col-lg-8 col-md-8 col-12">
  <h8>Be someone you always wanted to be
    Introspection
- <a href="/BE-SOMEONE-YOU-ALWAYS-WANTED-TO-BE">  <b>Read more</b> </a>

    </h8>
    <br>
    <h10 style="font-size: 10px;">2 Days ago</h10>
  </div>

</div>

<div
 class="row" style="padding-bottom: 10px;">
  <div class="col-lg-4 col-md-4 col-12">
    <img alt="image" src="https://firebasestorage.googleapis.com/v0/b/wavesweb-424c5.appspot.com/o/loveforrelationship3.jpg?alt=media&token=1ecdd1ce-95f3-436f-8f44-b3515778ac57" style="width: 80px;height: 80px; border-radius: 100%;"  alt="Sample avatar">
  </div>
  <div class="col-lg-8 col-md-8 col-12">
  <h8>Love for every Relationship
    Feeling Love
- <a href="/LOVE-FOR-EVERY-RELATIONSHIP">  <b>Read more</b> </a>

    </h8>
    <br>
    <h10 style="font-size: 10px;">2 Days ago</h10>
  </div>

</div>








</div>

</div>
            </div>




                    <div class="col-lg-8 col-md-8 col-12" ><div class="mg-fluidi img-thumbnail" ><h3 style="padding: 10px; text-align: center;"> COVID-19 AND JOBS IN INDIA
                    </h3>

                        <img alt="image" src="https://firebasestorage.googleapis.com/v0/b/wavesweb-424c5.appspot.com/o/careerxx.svg?alt=media&token=dabbfd05-6a59-4c98-b36c-1416ee48ae47"     style="width: 100%;height: 100%; ">
                        <img src="../public/stylesheets/images/logo.jpeg" style="width: 30px; height: 30px; border-radius: 100%;
                        margin: 10px;"><h14 style="width: 50%;"> 3 min read<div class="sharethis-inline-share-buttons" style="padding: 10px;"></div></h14>


                        <p style="padding: 10px;">Are you worried about the case of choosing a career? Troubled about employment opportunities after 2020? This year has been tough for the entire world and is still continuing to be. But, everyone needs to come out healthier as well as stronger to survive. </p>
                        <div class="footer" style="text-align: center; float:right; "><a href="/CAREER-OPPORTUNITIES-AFTER-2020">Read more</a></div>

<br><br>
                </div> <br>


                </div>
            </div>

            <div class="row" >

                <div class="col-lg-12 col-md-12 col-12" style="padding-bottom: 5%;">

                    <h1>Trending now</h1>

                    <b><hr style=" border: 1px solid ;"></b>

                </div>

                <div class="col-lg-4 col-md-6 col-12" ><div class="mg-fluidi img-thumbnail" style="box-shadow: 0 0 20px 0 rgba(0, 0,0, 0.3);"><div class="row" style="padding: 5%;" >
                <div class="col-lg-4 col-md-4 col-sm-4 col-12" ><h14 style=" text-align: center;"><b>Leadership</b>
                </h14></div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-12" ><h14 style="size: 5%;">08/09/2020</h14></div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-12" ><img alt="image" src="../public/stylesheets/images/wavesSymbol.svg"   style="width: 50px;height: 90%;"></div></div>

                    <img alt="image" src="https://firebasestorage.googleapis.com/v0/b/wavesweb-424c5.appspot.com/o/dhoni.jpg?alt=media&token=6aa7587f-8b8d-47fe-98e6-efcf57f7739f"   class="blogimg" style="height: 200px;">
                    <img src="../public/stylesheets/images/logo.jpeg" style="width: 30px; height: 30px; border-radius: 100%;
                    margin: 10px;"><h14 style="width: 50%;"> 5 min read</h14>


                    <h3 style="padding: 10px;">Learn to manage time successfully in 3 minutes. </h3>
                    <p style="padding:0 10px 10px 10px;">Saying things like, 'One should learn time management' is easy said than done...</p>
                    <div class="footer" style="text-align: center; float:left; "><a href="/Learn-To-Manage-Time">Read more</a></div>

                    <br><br>
            </div> <br>


            </div>
            <div class="col-lg-4 col-md-6 col-12" ><div class="mg-fluidi img-thumbnail" style="box-shadow: 0 0 20px 0 rgba(0, 0,0, 0.3);"><div class="row" style="padding: 5%;" >
                <div class="col-lg-4 col-md-4 col-12" ><h10 style=" text-align: center;"><b>Leadership</b>
                </h10></div>
                <div class="col-lg-4 col-md-4 col-12" ><h16 style="size: 5%;">07/09/2020</h120></div>
                <div class="col-lg-4 col-md-4 col-12" ><img alt="image" src="../public/stylesheets/images/wavesSymbol.svg"   style="width: 50px;height: 100%;"></div></div>

                    <img alt="image" src="https://firebasestorage.googleapis.com/v0/b/wavesweb-424c5.appspot.com/o/rulesoffriendship3.jpg?alt=media&token=96e45cba-6b86-4a82-a475-18ef434dff23"  class="blogimg" style="height: 200px;">
                    <img src="../public/stylesheets/images/logo.jpeg" style="width: 30px; height: 30px; border-radius: 100%;
                    margin: 10px;"><h14 style="width: 50%;"> 3 min read</h14>
                    <h3 style="padding: 10px;">7 unsaid rules of Friendship</h3>
                    <p style="padding:0 10px 10px 10px;">You are afraid of waters... but friends will still make you jumpin.. </p>
                    <div class="footer" style="text-align: center; float:left; "><a href="/7-unsaid-rules-of-Friendship">Read more</a></div>

                    <br><br>
            </div> <br>


            </div>
            <div class="col-lg-4 col-md-6 col-12" ><div class="mg-fluidi img-thumbnail" style="box-shadow: 0 0 20px 0 rgba(0, 0,0, 0.3);"><div class="row" style="padding: 5%;" >
                <div class="col-lg-4 col-md-4 col-12" ><h10 style=" text-align: center;"><b>Leadership</b>
                </h10></div>
                <div class="col-lg-4 col-md-4 col-12" ><h16 style="size: 5%;">06/09/2020</h120></div>
                <div class="col-lg-4 col-md-4 col-12" ><img alt="image" src="../public/stylesheets/images/wavesSymbol.svg"   style="width: 50px;height: 100%;"></div></div>

                    <img alt="image" src="https://firebasestorage.googleapis.com/v0/b/wavesweb-424c5.appspot.com/o/motivationfood1.jpg?alt=media&token=faa8d4be-9c59-499e-9755-8d3802446fa2"   class="blogimg" style="height: 200px;">
                    <img src="../public/stylesheets/images/logo.jpeg" style="width: 30px; height: 30px; border-radius: 100%;
                    margin: 10px;"><h14 style="width: 50%;"> 4 min read</h14>
                    <h3 style="padding: 10px;">SUCCESS VS HAPPINESS</h3>

                    <p style="padding:0 10px 10px 10px;">Maybe none. Earning a successful life is what everyone</p>
                    <div class="footer" style="text-align: center; float:left; "><a href="/If-success-is-fame-Hapiness-is-the-pride">Read more</a></div>

                    <br><br>
            </div> <br>
            </div>






            </div>
            <hr>

            <div class="row" >

                <div class="col-lg-12 col-md-12 col-12" style="padding-bottom: 5%;">

                    <h1>Latest Blog Waves</h1>
                    <b><hr style=" border: 1px solid ;"></b>

                </div>

                <div class="col-lg-12 col-md-12 col-12" style="padding-bottom: 5%;" ><div  style="box-shadow: 0 0 20px 0 rgba(0, 0,0, 0.3);">

                    <div class="row" style="padding: 3%;">


                        <div class="col-lg-4 col-md-4 col-12" > <img alt="image" src="https://firebasestorage.googleapis.com/v0/b/wavesweb-424c5.appspot.com/o/bestpersonality1.jpg?alt=media&token=80f9655a-1c07-4a0a-9b19-2eab6f04f780"  class="blogimg" style="height: 200px;" ></div>

                        <div class="col-lg-8 col-md-8 col-12" >

                              <div class="row" ;" >
                <div class="col-lg-2 col-md-4 col-12" ><h10 style=" text-align: center;"><b>Leadership</b>
                </h10></div>
                <div class="col-lg-2 col-md-4 col-12" ><h14 style="width: 100%;"> 3 min read</h14></div>
                <div class="col-lg-2 col-md-4 col-12" ><h16 style="font-size: 90%;"> By 7 Waves</h16></div>

                <div class="col-lg-2 col-md-4 col-12" ><h16 style="size: 5%;">11/09/2020</h120></div>
                <div class="col-lg-2 col-md-4 col-12" ><img alt="image" src="../public/stylesheets/images/wavesSymbol.svg"   style="width: 50px;height: 100%;"></div>

                </div>


                    <h3  style="padding:3% 3% 0 0%;"><b>Motivation : As important as food
                    </b></h3>


                    <p style="padding:1% 3% 2% 0%;">Imagine your first time on a bicycle. Once a kid of around eight who was learning to ride a bicycle. He sat on the bicycle for the first time, so it was very obvious to be scared. And even horrifying, when he told to ride it alone.
At several moments in life, when you face hardships, challenges, you feel that it can’t be conquered. But the truth is things fall in place with time. You ultimately achieve your goals.
</p>


                    <div class="footer" style="text-align: center; float:right; margin-bottom: 5%;"><a href="/Motivation-As-important-as-food">Read more</a></div>


                        </div>



            </div>


            </div>
            </div>




            <div class="col-lg-12 col-md-12 col-12" style="padding-bottom: 5%;" ><div  style="box-shadow: 0 0 20px 0 rgba(0, 0,0, 0.3);">

              <div class="row" style="padding: 3%;">


                  <div class="col-lg-4 col-md-4 col-12" > <img alt="image" src="https://firebasestorage.googleapis.com/v0/b/wavesweb-424c5.appspot.com/o/negativethoughts1.jpg?alt=media&token=a3f3d03b-f302-42ef-b0e7-ed4d1d754878"     style="width: 100%;height: 100%;  "></div>

                  <div class="col-lg-8 col-md-8 col-12" >

                        <div class="row" ;" >
          <div class="col-lg-2 col-md-4 col-12" ><h10 style=" text-align: center;"><b>Leadership</b>
          </h10></div>
          <div class="col-lg-2 col-md-4 col-12" ><h14 style="width: 100%;"> 3 min read</h14></div>
          <div class="col-lg-2 col-md-4 col-12" ><h16 style="font-size: 90%;"> By 7 Waves</h16></div>

          <div class="col-lg-2 col-md-4 col-12" ><h16 style="size: 5%;">08/09/2020</h120></div>
          <div class="col-lg-2 col-md-4 col-12" ><img alt="image" src="../public/stylesheets/images/wavesSymbol.svg"   style="width: 50px;height: 100%;"></div>

          </div>


              <h3  style="padding:3% 3% 0 0%;"><b>Defeat Negative Thoughts
              </b></h3>


              <p style="padding:1% 3% 2% 0%;">Firstly, let us find out, what are negative thoughts!
Negative thoughts are thoughts that standstill as a drawback between how you exist and in what ways you want to stand out of this existence.
The negative voice in you forces you to divide the world into good or bad, see self as success or failure, on or off track.
But this is so unfair.
You know what's fair, Being fair to everything, to everyone, and most importantly to oneself.
.</p>


              <div class="footer" style="text-align: center; float:right; margin-bottom: 5%;"><a href="/Nothing-is-personal">Read more</a></div>


                  </div>



      </div>


      </div>
      </div>

            <!-- <div class="col-lg-4 col-md-4 col-12"  ></div>
            <div class="col-lg-4 col-md-4 col-12"  style="padding: 2%;"><div class="footer" style="text-align: center;"><a href="#">Explore more</a></div></div>
            <div class="col-lg-4 col-md-4 col-12"  ></div> -->



            </div>
            </div>


        </section>

        <div class="row" style="background-image: url(https://firebasestorage.googleapis.com/v0/b/wavesweb-424c5.appspot.com/o/Mask_Group_28.svg?alt=media&token=b30ba89d-a91d-46a7-b8d4-c8a2468d5093); width: 100%;margin-left: 0%;" >

            <div class="container">
                <div class="row">

                    <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%;"><img alt="image" src="https://firebasestorage.googleapis.com/v0/b/wavesweb-424c5.appspot.com/o/Group%201498.svg?alt=media&token=bafe4b9b-5abe-4a08-a620-d230014c88cd"   style="width: 80%;height: 100%;"></div>
                    <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%; "><h1 style="text-align: center;">Why Do I Read Blogs?</h1>
                        <br>
                        <h5 style="text-align: center;">What are benefits of reading blogs?</h5><br>
                        <p>
                            √ Blogs are a source of information and inspiration </p>
                            <p>√ Blogs are a place to learn something new</p>
                            <p>√ Variety of Opinions</p>
                            <p>√ Expression of thoughts</p>
                            <p>√ To stay updated with new trends/ news</p>
                            <p>√ To stay entertained</p>
                            <p>√ For personal fulfillment</p>
                        </p>


                </div>



            </div>
            </div>
            </div>

            <div class="container1" style="padding: 5%;">
            <div class="row" >
              <div class="col-lg-12 col-md-12 col-12" >

                <h1>Some More Blogs</h1>
                <b><hr style=" border: 1px solid ;"></b>

            </div>
                <div class="col-lg-12 col-md-12 col-12" style="padding-bottom: 5%;">

                </div>


                <div class="col-lg-6 col-md-4 col-12" ><div class="mg-fluidi img-thumbnail" style="box-shadow: 0 0 20px 0 rgba(0, 0,0, 0.3);">

                    <img alt="image" src="https://firebasestorage.googleapis.com/v0/b/wavesweb-424c5.appspot.com/o/elon%20musk%201.jpg?alt=media&token=dadb6c88-f7dc-4235-88f2-79a041fcb04e"   class="blogimg" style="height: 400px;">
                    <h5 style="padding: 3%;"><b>Build your own Empire                   </b></h5>


                    <p style="padding: 10px;">Do you also wish to build your own empire?
Imagine the details with me, moving into an office well dressed, everyone wishing you as you move through the hallways, you enter your cabin, call your secretary for your to- do listed work and updates, you keep a check on everything, business meetings, busy and productive schedule, news about profits of your firm, and everyone praising you for the benefits, the fame that you and your team earn by working hard each day.

Seems like a dream come true, TRUE?

What if I say, it's possible and prove it to you right now!!
Here are a few examples to take a look on
                    </p>
                    <div class="footer" style="text-align: center; float:right; "><a href="/Build-your-own-Impire">Read more</a></div>

                    <br><br>


            </div> <br>


            </div>


            <div class="col-lg-6 col-md-4 col-12" ><div class="mg-fluidi img-thumbnail" style="box-shadow: 0 0 20px 0 rgba(0, 0,0, 0.3);">

                <img alt="image" src="https://firebasestorage.googleapis.com/v0/b/wavesweb-424c5.appspot.com/o/introspection3.jpg?alt=media&token=a6d1c7be-e469-4f1d-96ae-443bb3d86885"  class="blogimg" style="height: 400px;">
                <h5 style="padding: 3%;"><b>BE SOMEONE YOU ALWAYS WANTED TO BE                  </b></h5>


                <p style="padding: 10px;">Introspection is the examination of one's conscious thoughts and feelings. In psychology, the process of introspection relies on the observation of one's mental state, while in a spiritual context, it may refer to the examination of one's soul. We are examining our own internal thoughts and feelings. When we reflect on our thoughts, emotions, and memories and examine what they mean, we are engaged in introspection.
                </p>
                <div class="footer" style="text-align: center; float:right; "><a href="/BE-SOMEONE-YOU-ALWAYS-WANTED-TO-BE">Read more</a></div>

                    <br><br>
        </div> <br>


        </div>


        <div class="col-lg-6 col-md-4 col-12" ><div class="mg-fluidi img-thumbnail" style="box-shadow: 0 0 20px 0 rgba(0, 0,0, 0.3);">

            <img alt="image" src="https://firebasestorage.googleapis.com/v0/b/wavesweb-424c5.appspot.com/o/loveforrelationship3.jpg?alt=media&token=1ecdd1ce-95f3-436f-8f44-b3515778ac57" class="blogimg" style="height: 400px;">
            <h5 style="padding: 3%;"><b>LOVE FOR EVERY RELATIONSHIP                  </b></h5>


            <p style="padding: 10px;">Love is not only two people wishing to spend their lives together, but it is a perfect blend of respect, protectiveness, affection for each other. Love can exist in innumerable ways with numerous people at the same time. For example, God loves you. You love your dog; You are a lover of Books. You love your family, friends, and life partner. In each relationship, love prevails.
            </p>
            <div class="footer" style="text-align: center; float:right; "><a href="/LOVE-FOR-EVERY-RELATIONSHIP">Read more</a></div>

            <br><br>
    </div> <br>


    </div>


    <div class="col-lg-6 col-md-4 col-12" ><div class="mg-fluidi img-thumbnail" style="box-shadow: 0 0 20px 0 rgba(0, 0,0, 0.3);">

        <img alt="image" src="https://firebasestorage.googleapis.com/v0/b/wavesweb-424c5.appspot.com/o/bestpersonality1.jpg?alt=media&token=80f9655a-1c07-4a0a-9b19-2eab6f04f780"     class="blogimg" style="height: 400px;">
        <h5 style="padding: 3%;"><b>THE BEST PERSONALITY I EVER MET- YOU                  </b></h5>


        <p style="padding: 10px;">1. Earning people! In the average life of a human, we meet almost 80,000 different people. Out of these ones is capable of recollecting the faces of 1000 people in their frame of mind. The figure reduces to 15% when it comes to remembering the conversations or some memories to barely 150 people. Sudden decline is seen in the number of individualities,who are true to us in all respects to simply 1 or 2. (family always included)
        </p>
        <div class="footer" style="text-align: center; float:right; "><a href="/THE-BEST-PERSONALITY-I-EVER-MET-YOU">Read more</a></div>

        <br><br>
</div> <br>


</div>

<!--
<div class="col-lg-3 col-md-4 col-12" ><div class="mg-fluidi img-thumbnail" style="box-shadow: 0 0 20px 0 rgba(0, 0,0, 0.3);">

    <img alt="image" src="stylesheets/images/careerxx.svg"   class="img-fluidi img-thumbnail"  style="width: 100%;height: 100%; ">
    <h5 style="padding: 3%;"><b>COVID19: HIDDEN HOPE AND DISABILITY                    </b></h5>


    <p style="padding: 10px;">Are you worried about the case of choosing a career? Troubled about employment opportunities after 2020? This year has been tough for the entire world and is still continuing to be. But, everyone needs to come out healthier as well as stronger to survive. </p>

</div> <br>


</div> -->


<!-- <div class="col-lg-3 col-md-4 col-12" ><div class="mg-fluidi img-thumbnail" style="box-shadow: 0 0 20px 0 rgba(0, 0,0, 0.3);">

    <img alt="image" src="stylesheets/images/careerxx.svg"   class="img-fluidi img-thumbnail"  style="width: 100%;height: 100%; ">
    <h5 style="padding: 3%;"><b>COVID19: HIDDEN HOPE AND DISABILITY                    </b></h5>


    <p style="padding: 10px;">Are you worried about the case of choosing a career? Troubled about employment opportunities after 2020? This year has been tough for the entire world and is still continuing to be. But, everyone needs to come out healthier as well as stronger to survive. </p>

</div> <br>


</div> -->

<!--
<div class="col-lg-3 col-md-4 col-12" ><div class="mg-fluidi img-thumbnail" style="box-shadow: 0 0 20px 0 rgba(0, 0,0, 0.3);">

    <img alt="image" src="stylesheets/images/careerxx.svg"   class="img-fluidi img-thumbnail"  style="width: 100%;height: 100%; ">
    <h5 style="padding: 3%;"><b>COVID19: HIDDEN HOPE AND DISABILITY                    </b></h5>


    <p style="padding: 10px;">Are you worried about the case of choosing a career? Troubled about employment opportunities after 2020? This year has been tough for the entire world and is still continuing to be. But, everyone needs to come out healthier as well as stronger to survive. </p>

</div> <br>


</div> -->

<!--
<div class="col-lg-3 col-md-4 col-12" ><div class="mg-fluidi img-thumbnail" style="box-shadow: 0 0 20px 0 rgba(0, 0,0, 0.3);">

    <img alt="image" src="stylesheets/images/careerxx.svg"   class="img-fluidi img-thumbnail"  style="width: 100%;height: 100%; ">
    <h5 style="padding: 3%;"><b>COVID19: HIDDEN HOPE AND DISABILITY                    </b></h5>


    <p style="padding: 10px;">Are you worried about the case of choosing a career? Troubled about employment opportunities after 2020? This year has been tough for the entire world and is still continuing to be. But, everyone needs to come out healthier as well as stronger to survive. </p>

</div> <br>


</div> -->



            </div>
</div>

<div class="container">
<div class="row" >

    <div class="col-lg-12 col-md-12 col-12" style="padding-bottom: 5%;">

        <h1>Latest Session By Coaches</h1>
        <b><hr style=" border: 1px solid ;"></b>

    </div>

    <div class="col-lg-6 col-md-6 col-12" ><iframe width="100%" height="315" src="https://www.youtube.com/embed/TlepprsKxRs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
    <div class="col-lg-6 col-md-6 col-12" ><iframe width="100%" height="315" src="https://www.youtube.com/embed/3DP0qHD7KHo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>



<div class="col-lg-4 col-md-4 col-12"  ></div>
<div class="col-lg-4 col-md-4 col-12"  style="padding: 2%;"><div class="footer" style="text-align: center;"><a href="https://www.youtube.com/channel/UC1UlPjbnqmJbR4tnG0pv5Og">Explore all</a></div></div>
<div class="col-lg-4 col-md-4 col-12"  ></div>



</div>
<hr>

<!-- <section class="header-extradiv">
    <div class="container">

<section class="team-section my-5">


<h2 class="" style="text-align: left;">Our amazing Coaches</h2>
<hr style=" border: 1px solid ;">

<p class="" style="text-align: left;">These are one of the best coaches.


</p>
<br>


<div class="row text-center text-md-left">


<div class="col-xl-6 col-lg-12 mb-5 d-md-flex justify-content-between">
  <div class="avatar mb-md-0 mb-4 mx-4">
    <img alt="image" src="https://firebasestorage.googleapis.com/v0/b/wavesweb-424c5.appspot.com/o/c1.jpg?alt=media&token=d005c43a-b7dd-4b5c-a6bd-6d5525e48bb3" style="width: 200px;height: 200px;" class="rounded z-depth-1" alt="Sample avatar">
  </div>
  <div class="mx-4">
    <h4 class="font-weight-bold mb-3">Mamta Sharma</h4>
    <h6 class="font-weight-bold grey-text mb-3">Advanced Life Coach, Neuro Linguistic Programming Master Practitioner & a certified Hypnotist based in NCR Delhi, India. </h6>
    <br>

    <li class="button-item">
      <div class="footer text-center" ><a href="/profile1">Read More</a></div>
        </li>

  </div>
</div>

<div class="col-xl-6 col-lg-12 mb-5 d-md-flex justify-content-between">
  <div class="avatar mb-md-0 mb-4 mx-4">
    <img alt="image" src="https://firebasestorage.googleapis.com/v0/b/wavesweb-424c5.appspot.com/o/c2.jpg?alt=media&token=49dff64d-6fa2-42e4-a177-eefd40f4cd10" style="width: 200px;height: 200px;" class="rounded z-depth-1" alt="Sample avatar">
  </div>
  <div class="mx-4">
    <h4 class="font-weight-bold mb-3"> Shristi Asthana</h4>
    <h6 class="font-weight-bold grey-text mb-3">A life coach, psychologist, trainer, facilitator, social worker, writer, mental health advocate, and experienced consultant.</h6>

    <br>

    <li class="button-item">
      <div class="footer text-center" ><a href="/profile2"">Read More</a></div>
        </li>


  </div>
</div>


</div>
<div class="row text-center text-md-left">

<div class="col-xl-6 col-lg-12 mb-5 d-md-flex justify-content-between">
  <div class="avatar mb-md-0 mb-4 mx-4">
    <img alt="image" src="https://firebasestorage.googleapis.com/v0/b/wavesweb-424c5.appspot.com/o/c3.jpg?alt=media&token=c08358bf-d759-4247-9bae-c286dfb8aeb2" style="width: 200px;height: 200px;" class="rounded z-depth-1" alt="Sample avatar">
  </div>
  <div class="mx-4">
    <h4 class="font-weight-bold mb-3">Gagan Sidhu</h4>
    <h6 class="font-weight-bold grey-text mb-3">
      A Life Coach, Motivational Speaker, Law of Attraction Master Coach, Life and Mindset Coach, an influencer. Popularly known as Vitamin G, he has been helping people become the best version of themselves. </h6>
    <br>

    <li class="button-item">
      <div class="footer text-center" ><a href="/profile3">Read More</a></div>
        </li>

  </div>
</div>

<div class="col-xl-6 col-lg-12 mb-5 d-md-flex justify-content-between">
  <div class="avatar mb-md-0 mb-4 mx-4">
    <img alt="image" src="https://firebasestorage.googleapis.com/v0/b/wavesweb-424c5.appspot.com/o/c4.jpg?alt=media&token=62f6a750-139f-4387-95f1-331667efb6c6" style="width: 200px;height: 200px;" class="rounded z-depth-1" alt="Sample avatar">
  </div>
  <div class="mx-4">
    <h4 class="font-weight-bold mb-3"> Ramneet Kaur Narula</h4>
    <h6 class="font-weight-bold grey-text mb-3">A master's in Clinical Psychology, a Certified Learning and Training Expert, and has been practicing as a Cognitive Hypnotic Coach with expertise in Mindfulness Therapy. </h6>

    <br>

    <li class="button-item">
      <div class="footer text-center" ><a href="/profile4">Read More</a></div>
        </li>


  </div>
</div>


</div>




</div>


</section>
 -->

<div class="row" style=" width: 100%;padding-left: 5%;" >


    <div class="row" >


        <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top : 5%; "><h1 style="text-align: center;font-family: 'Rokkitt', serif;font-size: 100px; color:#294C5B"><br>Your App</h1>
            <br>
            <h5 style="text-align: center;  color:#646464 ;font-family: 'Rokkitt', serif;font-size: 25px; ">7waves app provide a best mobile experience so counselling will be as easier as playing songs. This App provides Everything Like solutions to all Your problems, Latest Blogs and Quotes and most Unique Feature of your App is that you can Access world-class Life Coaching therapy From Expert Life Coaches </h5><br>
            <div class="footer" style=" text-align: center; padding-bottom: 5%;padding-top: 5% ; "><a href="https://play.google.com/store/apps/details?id=in.sevenwaves.sevenwavesusers">Download Now</a></div>
    </div>

    <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%;"><img alt="image" src="/public/stylesheets/images/VECTOR_IMAGE_ON_APP@-4.svg"    style="width: 100%;height: 100%;"></div>




</div>
</div>






        </div>




        </div>

    </div>


    <div class="row" style="background-image: url(https://firebasestorage.googleapis.com/v0/b/wavesweb-424c5.appspot.com/o/Mask_Group_28.svg?alt=media&token=b30ba89d-a91d-46a7-b8d4-c8a2468d5093); width: 100%;margin-left: 0%;padding: 4%;" >


        <div class="row">


            <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%; "><h1 style="text-align: center;">Let's Stay in Touch</h1>
                <br>
                <!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{ clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://7waves.us19.list-manage.com/subscribe/post?u=fa7016958f292ac20306dd09a&amp;id=31a48ae68f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<label for="mce-EMAIL">Subscribe</label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_fa7016958f292ac20306dd09a_31a48ae68f" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
             </div>

        <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%;"><img alt="image" src="../public/stylesheets/images/Group_1092.svg"    style="width: 100%;height: 100%;"></div>



    </div>
    </div>


        <script>

            // Wrap every letter in a span
          var textWrapper = document.querySelector('.ml1 .letters');
          textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

          anime.timeline({loop: true})
            .add({
              targets: '.ml1 .letter',
              scale: [0.3,1],
              opacity: [0,1],
              translateZ: 0,
              easing: "easeOutExpo",
              duration: 600,
              delay: (el, i) => 70 * (i+1)
            }).add({
              targets: '.ml1 .line',
              scaleX: [0,1],
              opacity: [0.5,1],
              easing: "easeOutExpo",
              duration: 700,
              offset: '-=875',
              delay: (el, i, l) => 80 * (l - i)
            }).add({
              targets: '.ml1',
              opacity: 0,
              duration: 1000,
              easing: "easeOutExpo",
              delay: 1000
            });


               </script>



<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p class="text-justify">The 7 of 7Waves are our 7 parameters which help you to classify, recognize and solve your problem efficiently. So, let's recognize your wave or waves and work on them together to let your waves of life propagate smoothly.The Wave of 7 Waves is like a wave of life that has many ups and downs. All the joyful and happy moments are ups, and all depressing and failures in life are downs, but how much high you bounce after hitting bottom describes what life is. </p>


      </div>





      <div class="col-xs-6 col-md-3">
        <h6>Parameters</h6>
        <ul class="footer-links">
          <li><a href="/introspectionn">Introspection</a></li>
          <li><a href="/motivationBlogPage">Motivation</a></li>
          <li><a href="/RelationshipBlogPage">Relationship</a></li>
          <li><a href="/CareerBlogPage">Career</a></li>
          <li><a href="/BussinessBlogPage">Business</a></li>
          <!-- <li><a href="/DepressionBlogPage">Depression</a></li> -->
          <li><a href="/Mentorship">Mentorship</a></li>
          <li><a href="#">Personal</a></li>

        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a href="About.html">About Us</a></li>
          <li><a href="/contactus">Contact Us</a></li>
          <li><a href="/termsandcondition">Terms And Conditions</a></li>
          <li><a href="/privacypolicy">Privacy Policy</a></li>
          <li><a href="refundandcancellation">Refund And Cancellation</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by
     <a href="/">7Waves Life Solutions Pvt. Ltd.</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="https://www.facebook.com/7waves-102331067869510/?ti=as"><i class="fa fa-facebook"></i></a></li>
          <li><a class="twitter" href="https://twitter.com/official7waves?s=08"><i class="fa fa-twitter"></i></a></li>
          <li><a class="instagram" href="https://instagram.com/official7waves?igshid=yzfg5tdez7s4"><i class="fa fa-instagram"></i></a></li>
          <li><a class="youtube" href="https://www.youtube.com/channel/UC1UlPjbnqmJbR4tnG0pv5Og"><i class="fa fa-youtube"></i></a></li>
          <li><a class="linkedin" href="https://www.linkedin.com/in/7-waves-89604b196"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<script>
mybutton = document.getElementById("myBtn");
window.onscroll = function(){scrollFunction()};
function scrollFunction(){
if(document.body.scrollTop>20|| document.documentElement.scrollTop >20){
mybutton.style.display="block";
}else{
mybutton.style.display="none";
}
}
function topFunction(){
document.body.scrollTop=0;
document.documentElement.scrollTop=0;
}
</script>

</body>
</html>

