<!DOCTYPE html>
<html>
    <head>
      <title>Contact us Page of 7waves for our Clients.</title>

        <meta charset="utf-8">
        <head>
          <meta name="description" content="This is a page for Our clients regarding the Contact us of 7waves">
          <meta name="keywords" content="MOTIVATION,DEPRESSION,INTROSPECTION,CAREER CONSULTANT,BUSINESS ADVISOR,PERSONAL,RELATIONSHIP,CONSULTANT,GROWTH,SELF GROWTH,LIFE COACH,COACH CONSUNSULTANCY">
          <meta name="author" content="7 WAVES">
        <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="../public/stylesheets/style.css">
          <link rel="shortcut icon" href="../public/stylesheets/images/logo.jpeg" />
          <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
          <link rel="stylesheet" href="../public/stylesheets/main.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

          <script charset="UTF-8" src="//web.webpushs.com/js/push/bdbe1c09ccba06d9229cbb78cb9835f3_1.js" async></script>
        </head>
            <body>
              <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black;">
                  <div class="container text-uppercase p-2">
                  <a class="navbar-brand font-weight-bold text-white" href="../index.html"><img src="../public/stylesheets/images/white logo resized 2.svg" style="height: 50px;width: 100px; border-radius: 100%;"> </a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto text-uppercase">
                          <li class="nav-item active">
                            <a class="nav-link" href="../index.html">Home <span class="sr-only">(current)</span></a>
                          </li>
                          <li class="nav-item active">
                            <a class="nav-link" href="../About.html">About Us</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link"  href="appreferal.html">Reach Us</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link"  href="blogs.html">Blogs</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link"  href="googleFormsPages/Internship.html">Career</a>
                          </li>
                              </ul>
                          </li>
                        </ul>
                      </div>
                  </div>
              </nav>

        <div style="padding-top: 5px;"></div>
   <!-- contact us form  starts-->
    <section class="Contactu"><br>
        <div class="container headings ">
            <h1 class="text-center font-weight-bold ">
                Contact Us
            </h1><br>
            <!-- <p class="text-capitalize pt-1 text-center">We at 7 Waves are here to help and answer any question you might have. We look forward to hear from you.</p> -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-10 offset-lg-2 offset-md-2 offset-1">
                        <form >
                            <div class="form-group">

                              <input type="text" class="form-control" placeholder="Enter Subject" id="subject" required >
                            </div>
                            <div class="form-group">

                              <input type="email" class="form-control" placeholder="Enter email" id="email" required >
                            </div>
                              <textarea type="text" class="form-control" placeholder="Enter comment" rows="6" id="text" required ></textarea><br>
                              <div class="d-flex justify-content-center form-button">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                          </form>
                    </div>
                </div>
            </div>
        </div>
     </section>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script>
       $("form").on("submit", e => {
         e.preventDefault();

         const email = $("#email")
           .val()
           .trim();
         const subject = $("#subject")
           .val()
           .trim();
         const text = $("#text")
           .val()
           .trim();

         const data = {
           email,
           subject,
           text
         };

         $.post("/email", data)
           .then(() => {
             window.location.href = "/";
           })
           .catch(() => {
             window.location.href = "/";
           });
       });
     </script>

<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-md-3">
        <ul class="footer-links">
          <li><a href="./introspectionn.html">Introspection</a></li>
          <li><a href="./motivationBlogPage.html">Motivation</a></li>
          <li><a href="./RelationshipBlogPage.html">Relationship</a></li>
          <li><a href="./CareerBlogPage.html">Career</a></li>
          <li><a href="./BussinessBlogPage.html">Business</a></li>
          <li><a href="./Mentorship.html">Mentorship</a></li>
          <li><a href="#">Personal</a></li>
        </ul>
      </div>
      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a href="../About.html">About Us</a></li>
          <li><a href="./contactus.html">Contact Us</a></li>
          <li><a href="./termsandcondition.html">Terms And Conditions</a></li>
          <li><a href="./privacypolicy.html">Privacy Policy</a></li>
          <li><a href="./refundandcancellation.html">Refund And Cancellation</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by
          <a href="/">7Waves Life Solutions Pvt. Ltd.</a>.
        </p>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="https://www.facebook.com/7waves-102331067869510/?ti=as"><i class="fa fa-facebook"></i></a></li>
          <li><a class="twitter" href="https://twitter.com/official7waves?s=08"><i class="fa fa-twitter"></i></a></li>
          <li><a class="instagram" href="https://instagram.com/official7waves?igshid=yzfg5tdez7s4"><i class="fa fa-instagram"></i></a></li>
          <li><a class="youtube" href="https://www.youtube.com/channel/UC1UlPjbnqmJbR4tnG0pv5Og"><i class="fa fa-youtube"></i></a></li>
          <li><a class="linkedin" href="https://www.linkedin.com/in/7-waves-89604b196"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- ====== Footer End ====== -->

</body>
</html>
