<!DOCTYPE html>
<html>
    <head>
      <title>Privacy Policy Page of 7waves for our Clients</title>

        <meta charset="utf-8">
        <head>
          <meta name="description" content="This is a page for Our clients regarding the privacy policy of 7waves">
          <meta name="keywords" content="MOTIVATION,DEPRESSION,INTROSPECTION,CAREER CONSULTANT,BUSINESS ADVISOR,PERSONAL,RELATIONSHIP,CONSULTANT,GROWTH,SELF GROWTH,LIFE COACH,COACH CONSUNSULTANCY">
          <meta name="author" content="7 WAVES">
        </head>
        <script type="text/javascript" id="hs-script-loader" async defer src="//js-na1.hs-scripts.com/21841631.js"></script>
        <!-- End of HubSpot Embed Code -->
        <link href="https://firebasestorage.googleapis.com/v0/b/waves-new-app.appspot.com/o/IMG_20230606_141628%20(1).jpg?alt=media&token=386141ab-72f5-4030-8052-4af339618447&_gl=1*1e4427c*_ga*MTE0MDA5NTkwMS4xNjE3OTg4MTU4*_ga_CW55HF8NVT*MTY4NjAzODIzMS4xNC4xLjE2ODYwNDEzNjkuMC4wLjA." rel="icon">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="public/stylesheets/style.css">
        <link rel="shortcut icon" href="/stylesheets/images/logo.jpeg" />
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="public/stylesheets/main.css">
        
        
        
        
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
         
        <!-- <notification start -->
          <!-- <script charset="UTF-8" src="//web.webpushs.com/js/push/bdbe1c09ccba06d9229cbb78cb9835f3_1.js" async></script> -->
            </head>
            <body>
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black;">
            <div class="container text-uppercase p-2">
            <a class="navbar-brand font-weight-bold text-white" href="index.html"><img src="../public/stylesheets/images/white logo resized 2.svg" style="height: 50px;width: 100px; border-radius: 100%;"> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-auto text-uppercase">
                    <li class="nav-item ">
                      <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ">
                      <a class="nav-link" href="About.html">About Us</a>
                    </li>
        
        
                
                        <li class="nav-item">
                          <a class="nav-link"  href="views/appreferal.html">Reach Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"  href="views/blogs.html">Blogs</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link"  href="views/googleFormsPages/Internship.html">Career</a>
                          </li>
                  
                              </ul>
                            </li>
                   
                  </ul>
        
                </div>
            </div>
              </nav>

        <div style="padding-top: 5px;"></div>

<section  >
    <div class="container">
        <!-- <h1 class="ml1">
            <span class="text-wrapper">
              <span class="line line1"></span>
              <span class="letters">7 Wave</span>
              <span class="line line2"></span>
            </span>
          </h1> -->
          <div class="row">
              <div class="col-lg-12 col-md-6 col-12" style="padding-top: 3%;" ><h1>PRIVACY POLICY</h1>
                  <p>


          Your privacy is crucial to us. We are always putting a great deal of thought, effort, tools, resources, and procedures in place to protect and safeguard your privacy. This document is our "Privacy Policy", and it contains details on issues related to your privacy when using our services. It is intended to inform you of our policies, procedures, and practices regarding collecting, using, and disclosing any information that you provide through the Platform.

          <br><br>We appreciate the trust and information entrusted upon us by you and seek to protect such information to the best extent possible, and only use the information in a manner provided in this privacy policy ("Privacy Policy")
          The Privacy Policy is part of our Terms and Conditions, which can be found in our Website. When you use our Platform, you accept and agree to both the Terms and Conditions and the Privacy Policy. If you disagree to be bound to the Privacy Policy, you should stop using the Platform immediately. By accessing and using our Platform, you affirm that you have read the Terms and Conditions and the Privacy Policy and that you understand, agree, and acknowledge all the terms contained in both of them.

          <br><br>The Privacy Policy is to be read along with and is also subject to 7 Waves terms and conditions available at ("Terms and Conditions"), and comes into effect from the date and time a user registers with 7 Waves. This Privacy Policy applies to all users at 7 Waves and all its Affiliates.

          <br><br>Using the 7 Waves Website/App/Services, you allow us for the gathering, storage, and use of the personal information you provide for any of the services that we offer. Privacy Policy tells you how we collect, preserve, use, and share your information provided through the Website/App/Services and your choices about collecting and using your information.
          <br>Using our Service, you understand and accept this privacy policy and accept all the periodical changes. The User must stay updated with the 'Agreement'. 7 Waves will not be held guilty for any such regard. If you disagree, do not use the Website/App/Services.

          <br><br><h3>PERSONAL DATA</h3>
          In the course of using the Website/App or providing the Services to you,7 Waves may collect the following data ("Personal Information"):
          <br>'Personal Information' such as your username, password, e-mail address, and phone number when you register with 7 Waves.
          <br>After registration and permission, 7 Waves automatically collects information about your hardware devices when you access any service by 7 Waves. Like the type of mobile device you use and your geographic location.
          <br>We also may collect information about your activity on 7 Waves. We may combine this automatically-gathered information with other information, including Personal Information we have collected about you.
          <br>If you permit cookies on your browser, we may receive and store certain types of information known as "cookies" when accessing the Website.
          <br>NOTE: 7 Waves, nor its Affiliates, or any third parties shall use the Personal Information to identify any User personally.

          <br><br><h3>USE OF YOUR DATA</h3>
          To provide its User's personalized browsing experience, 7 Waves collect Personal Information in the manner mentioned above. This comes into existence only when the User agrees to the terms and the Privacy Policy.
          <br>All the personal data collected by 7 Waves, including without limitation Personal Information, User Data, and other data of the services offered, may be retained by 7 Waves for as much period as necessary to ensure quality. To ensure a seamless experience at the Website/App for you and to ensure your maximum benefit and comfort, we use or may use the data collected through cookies, device identifiers, location data to
          <br>1.	remember information so that you will not have to re-enter it during your visit or the next time you visit the Site;
          <br>2.	provide personalized content and information, including advertising;
          <br>3.	provide and monitor the quality of our Services;
          <br>4.	monitor metrics such as the total number of visitors, traffic, demographic patterns on our website/App and our Services;
          <br>5.	to plan for and enhance our Service.
          <br>We use specific third-party analytics tools that collect information, which is not personal or sensitive sent by your device or our Services. We collect and use this information with analytics information from other users in the form of anonymized files to not be misused.
          <br><br><h3>CONFIDENTIAL</h3>
          Your Confidential Information shall not be disclosed or shared by us in any form, except under the following conditions:
          <br>1. If any authority requires it by law; and
          <br>2. If you have claimed the insurance company requires a health care insurance and such Confidential Information.
          <br>3. If there is a significant/ real threat or risk to your health, safety, or Life or the health, safety, or Life of any other person or the public.

          <br><br><h3>SHARING YOUR DATA</h3>
          We may share Personal Information (including but not limited to, information from cookies, log files, device identifiers, location data, and usage data) with businesses that are legally part of the same group of companies that 7 Waves is part of, or that become part of that group ("Affiliates").
          <br>While sharing any information with any third party, it will be in the form of anonymous files, and we will remove parts of data that can identify you.

          <br><br><h3>STORAGE OF CONTENT AND DATA</h3>
          Please make sure that you maintain the secrecy of your account information.
          <br>We expressly disclaim any representation or warranty, whether express or implied, concerning ensuring, guaranteeing, or otherwise offering any definitive promise of security in connection with your information. No method of transmitting or storing electronic data is ever completely secure. We cannot guarantee that such information will never be accessed, used, or released inconsistently with this policy.
          <br>We assume no responsibility or liability for their improper use of information relating to credit cards/ debit cards/UPI by the User, whether online or offline.

          <br><br><h3>COMMUNITY</h3>

          7 Waves is owned and regulated by 7 Waves Life SOLUTIONS Private Limited( Company). 7 Waves makes the best efforts to provide Life Coaching and Counseling Services professionally. Our prime concern is to help. The services are provided, keeping in mind the needs and interests of the customers.

          <br><br><h3>OUR MISSION:</h3>
          7 Waves' mission is to help the world through its Services. To spread happiness and positivity all around, we at 7 Waves work for society's best.
          <br>Our community is well designed to provide values and empowerment to each of its Users to share and grow success.
          <br>In our community, we help people achieve what they have always wanted to. We understand that there are ups and downs in Life, but the one who conquers them all is the ultimate winner.
          <br>ULTIMATE AGENDA:
          <br>We work our best to introduce you to the ultimate Plan of Life i.e., to be happy.

          <br><br><h3>COMMUNITY RULES:</h3>
          Things to be taken care of before you become a part of 7Waves Community:
          <br>• Use your sanity and understanding to solve problems before seeking a solution from anywhere. When you see solutions mentioned in the community, understanding that they are from a person with a different perspective than yours. So, use your presence of mind in finding the best for you.
          <br>• If you fail to find a solution, talk to our Life Coaches/Counselors. You can find them in our Coaches section
          <br>• The 7 Waves Community is not responsible for solving your problems, but to provide you a safe place where ideal minds can ask questions and offer solutions to each other's concerns and overcome the issues.
          <br>• It is highly recommended that all users do not share their personal information in the 7 Waves community, as some people can misuse it.

          <br><br>The heart of 7 Waves is Happiness- Spreading Happiness in Life of all its users.
          <br>At 7 Waves, We Care!


            </div>



            <!-- <div class="col-lg-6 col-md-6 col-12">
                <h1>Our MISSION</h1>
                <p>The mission of 7 Waves is to work with clients and help them to achieve goals, overcome obstacles, and make changes or shifts in their lives. We work with the client as a partner, knowing that the client has the answers to create the changes they seek. 7 Waves help you focus, provide direction, challenge you, support you, motivate you, and celebrate with you. We help clients create a plan, detail action steps and determine their potential which help them to achieve what they want
                    7 Waves invite everyone who wants to change their life and wants to live their life with joy and happiness. We want this world a place with zero suicide, and people dealing with their problem efficiently and saving the most precious thing they have is time.</p>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <h1>OUR PLAN / APPROACH</h1>
                <p>7 Waves is a type of platform that can use to help people who are in major transition phases in their lives. Professionals in this field try to help people plan goals and take steps to realize those goals. We offers advice and guidance to deal with change that will put them on a path to success. Our life coach is almost like a mentor who can look at you and see the potential for you to achieve all that you desire.
                </div> -->
        </div>
    </div>
</section>
<script>

    // Wrap every letter in a span
  var textWrapper = document.querySelector('.ml1 .letters');
  textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

  anime.timeline({loop: true})
    .add({
      targets: '.ml1 .letter',
      scale: [0.3,1],
      opacity: [0,1],
      translateZ: 0,
      easing: "easeOutExpo",
      duration: 600,
      delay: (el, i) => 70 * (i+1)
    }).add({
      targets: '.ml1 .line',
      scaleX: [0,1],
      opacity: [0.5,1],
      easing: "easeOutExpo",
      duration: 700,
      offset: '-=875',
      delay: (el, i, l) => 80 * (l - i)
    }).add({
      targets: '.ml1',
      opacity: 0,
      duration: 1000,
      easing: "easeOutExpo",
      delay: 1000
    });


       </script>

<!-- <script id="appyWidgetInit" src="https://chatbot.appypie.com/widget/loadbuild.js?cid=kabhd6iy-AGENT1589745401674-BOTID1589745492801&name=mixBuild"></script> -->


