<!DOCTYPE html>
<html>
    <head>
      <title>Refund and Cancellation Page of 7waves for Client</title>

        <meta charset="utf-8">
        <head>
          <meta name="description" content="This is a page for Our clients regarding the Refund and cancellation of 7waves">
          <meta name="keywords" content="MOTIVATION,DEPRESSION,INTROSPECTION,CAREER CONSULTANT,BUSINESS ADVISOR,PERSONAL,RELATIONSHIP,CONSULTANT,GROWTH,SELF GROWTH,LIFE COACH,COACH CONSUNSULTANCY">
          <meta name="author" content="7 WAVES">
        </head>
      <%- include("./partials/navbar")  %>

        <div style="padding-top: 5px;"></div>

<section  >
    <div class="container">
        <!-- <h1 class="ml1">
            <span class="text-wrapper">
              <span class="line line1"></span>
              <span class="letters">7 Wave</span>
              <span class="line line2"></span>
            </span>
          </h1> -->


          <div class="row">
              <div class="col-lg-12 col-md-6 col-12" style="padding-top: 3%;" ><h1>REFUND AND CANCELLATION POLICY</h1>
                  <p>


  OUR BACKGROUND
  <br>7 Waves is owned and regulated by 7 Waves Life Solutions Private Limited(Company). 7 Waves makes the best efforts to provide Life Coaching and Counseling Services professionally. Our prime concern is to help. The services are provided, keeping in mind the needs and interests of the customers.
  <br>There may be certain situations when the customer is not satisfied with the services, then the charges made by a customer are refundable (Terms and Conditions applied). In any such case, the User can ask for a refund of their payment. 7 Waves will review each such mail on a case to case basis and refund the money if the refund/ cancellation terms fit. These terms apply to all users who access the Service.
  <br>The decision of 7 Waves on any such matter will be final, and the customer will be bound to accept it.

  <br><br><h3>IMPORTANT NOTE</h3>
  Please note that we are not a crisis intervention helpline. If You are having suicidal thoughts or planning to act on suicidal thoughts, or if You feel that You may be a danger to Yourself or others, or if You otherwise have any medical or mental health emergency or severe mental health condition, or if You are in a crisis or trauma or abuse, please discontinue use of the Service immediately and call the relevant emergency number in Your country and notify the police or emergency medical services. For example, You can find Your country-specific suicide emergency number at Suicide.org - Suicide Prevention, Awareness, and Support helpline such as Aasra 24*7 Helpline: 91-22-27546669

  <br><br><h3>PARTIES</h3>
  The terms, wherever so required, 'You', 'Your', 'User,' or 'Customer' refer to a registered user. The terms' 7 Waves', 'We', 'Company', 'Us' or 'Our' refer to 7 Waves Life Solutions Private Limited, its employees, and authorized agents that provide services on behalf of the Company.

  <br><br><h3>TIME TO APPLY</h3>
  The User must make all refund claims within seven days from the date of the payment. We won't be able to help you in any manner beyond this interval.

  <br><br><h3>WHO CAN APPLY?</h3>
  1. Only a registered user can request this refund policy.
  <br>2. If a payment made by you was charged for more than the actual number of sessions or plans.
  <br>3. If you find the Service unsatisfactory on the part of Life Coach or Counselor or any authority of 7 Waves.
  <br>4. If you request for cancellation of the Service due to an emergency.

  <br><br><h3>HOW TO APPLY</h3>
  You can send a mail, mentioning your reason and details of the Plan along with payment receipt to official7waves@gmail.com. The eligibility shall be determined only when we receive the claim through the above method. Requests through any other form will not be entertained. In case there is a delay in communication on our part, we will communicate the tentative date of our further reply. We try our best to offer an early response and respond to the User's refund request within 30 days of the mail received with all the details mentioned.

  <br><br><h3>AFTER APPLYING</h3>
  As a reply to the refund/cancellation request, the 7 Waves team shall make one attempt to reach the customer for confirmation. In case the customer fails to respond within seven days of the last communication, the Service will be treated as consumed, and 7 Waves shall provide no refunds.

  <br><br><h3>IN CASE OF A RESCHEDULE</h3>
  For any reschedules, the customer needs to inform 7 Waves at least 24 hours in advance.
  <br>For any such claim of rescheduling of services, the 7 Waves team shall make three attempts to reach the customer to confirm the service rescheduling. In case the customer fails to respond within seven days of the last communication, the Service will be treated as consumed, and 7 Waves shall provide no refunds in such a case.
  <br>For Live Audio and Video Sessions, if the customer fails to turn up at the time scheduled, 7 Waves will reschedule the session only once. If the customer still does not turn up the second time, the session will be treated as consumed, and 7 Waves shall provide no refunds.
  <br>In case of technical difficulties during or at the session, 7 Waves will check with their service providers. If the issue is convicted of being genuine, 7 Waves shall reschedule the session.
  </p>


        </div> <br>

        <div class="col-lg-12 col-md-6 col-12" style="padding-bottom: 1%;"></div><br>
        <div class="col-lg-12 col-md-6 col-12"></div><br>




            <!-- <div class="col-lg-6 col-md-6 col-12">
                <h1>Our MISSION</h1>
                <p>The mission of 7 Waves is to work with clients and help them to achieve goals, overcome obstacles, and make changes or shifts in their lives. We work with the client as a partner, knowing that the client has the answers to create the changes they seek. 7 Waves help you focus, provide direction, challenge you, support you, motivate you, and celebrate with you. We help clients create a plan, detail action steps and determine their potential which help them to achieve what they want
                    7 Waves invite everyone who wants to change their life and wants to live their life with joy and happiness. We want this world a place with zero suicide, and people dealing with their problem efficiently and saving the most precious thing they have is time.</p>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <h1>OUR PLAN / APPROACH</h1>
                <p>7 Waves is a type of platform that can use to help people who are in major transition phases in their lives. Professionals in this field try to help people plan goals and take steps to realize those goals. We offers advice and guidance to deal with change that will put them on a path to success. Our life coach is almost like a mentor who can look at you and see the potential for you to achieve all that you desire.
                </div> -->
        </div>
    </div>
</section>
<script>

    // Wrap every letter in a span
  var textWrapper = document.querySelector('.ml1 .letters');
  textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

  anime.timeline({loop: true})
    .add({
      targets: '.ml1 .letter',
      scale: [0.3,1],
      opacity: [0,1],
      translateZ: 0,
      easing: "easeOutExpo",
      duration: 600,
      delay: (el, i) => 70 * (i+1)
    }).add({
      targets: '.ml1 .line',
      scaleX: [0,1],
      opacity: [0.5,1],
      easing: "easeOutExpo",
      duration: 700,
      offset: '-=875',
      delay: (el, i, l) => 80 * (l - i)
    }).add({
      targets: '.ml1',
      opacity: 0,
      duration: 1000,
      easing: "easeOutExpo",
      delay: 1000
    });


       </script>

<!-- <script id="appyWidgetInit" src="https://chatbot.appypie.com/widget/loadbuild.js?cid=kabhd6iy-AGENT1589745401674-BOTID1589745492801&name=mixBuild"></script> -->

<%- include("./partials/footer")  %>
