<!DOCTYPE html>
<html>
    <head>
      <title>Welcome to 7 Waves. This is the best consultancy website on any aspect of life. Click here to know more.</title>

        <meta charset="utf-8">
        <head>
          <meta name="description" content="7waves Page.This is an amazing page to get the best consultancy in the world.">
          <meta name="keywords" content="MOTIVATION,DEPRESSION,INTROSPECTION,CAREER CONSULTANT,BUSINESS ADVISOR,PERSONAL,RELATIONSHIP,CONSULTANT,GROWTH,SELF GROWTH,LIFE COACH,COACH CONSUNSULTANCY">
          <meta name="author" content="7 WAVES">
        </head>

      <%- include("../partials/navbar")  %>


<!-- MainSection Srart -->
<section style="height: 100%;padding-bottom: 3%;">
    <div class="container1" style="padding-left: 10%;padding-right: 10%;">
        <!-- <h1 class="ml1">
            <span class="text-wrapper">
              <span class="line line1"></span>
              <span class="letters">7 Wave</span>
              <span class="line line2"></span>
            </span>
          </h1> -->
          <div class="row" style="padding:5% 0px 0% 0px;" >

            <div class="col-lg-12 col-md-12  col-12" ><h1 style=" font-size: 20px;color: #2CAAE1;">Motivation</h1></div>
          <div class="col-lg-12 col-md-12  col-12" ><h1 style=" font-size: 300%; "><strong>Shine from Within</strong></h1></div>






        </div>
        <hr>

        <div class="sharethis-inline-share-buttons"  style="float: left;"></div>
        <br>

        <br>


         <div class="col-lg-12 col-md-12 col-12" style="padding: 0 0 0 0;" >




           <div class="row" >
            <div class="col-lg-6 col-12" style="padding: 0 0 0 0;" >
                <img alt="image" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/waves-5c0a1.appspot.com/o/446f6549-1ca9-4048-9811-c039b3f5db69.jpg?alt=media&token=8b5005ed-7ba2-4b2e-b8e3-9bca3c798b91" >
            </div>
            <div class="col-lg-6 col-12" style="padding: 0 0 0 0;" ></div>
            <div class="col-lg-1 col-md-3 col-12" style="padding: 3% 0 0 3%;" >

                        <img alt="image" src="/stylesheets/images/c1.jpg" style="width:75px;height: 75px; border-radius: 100%; "  alt="Sample avatar">
                      </div>

                            <div class="col-lg-11 col-md-9 col-12" style="padding: 3% 10% 3% 3%;" >

                               <h4><b>7waves</b></h4>
                               <h8>Life Solution Company</h8>
                               <br>
                               <br>
                               <h9 style="font-size: 13px;color: #757575!important;;">September 10, 2020</h9>&nbsp;&nbsp;&nbsp;&nbsp;<h12 style="font-size: 13px;color: #757575!important;;">4 min read</h12><br>
                               <h9 style="font-size: 13px;color: #757575!important;;">Opinions expressed by Entrepreneur contributors are their own.</h9><br>
                               <br>
                               <p style="font-size: 19px; font-style: italic; color: black;">IF YOU CAN FIND ANSWERS TO THESE, YOU ARE DOING GOOD </p>



                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">But is it beneficial, is it leading you to your goal, is it worth? Think and apply. No matter what kind of challenges or painful situations you go through during the change, but if you reach down and deep within yourself, you'll find your inner strength.To know the world, first you have to know yourself. Everyone think of changing the world, but no one thinks of changing himself. Some changes look negative on the surface but soon you will realize that space is being created in your life. </p>


                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,'; "><b>1. Confidence</b> </p>


                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">But is it beneficial, is it leading you to your goal, is it worth? Think and apply. No matter what kind of challenges or painful situations you go through during the change, but if you reach down and deep within yourself, you'll find your inner strength.To know the world, first you have to know yourself. Everyone think of changing the world, but no one thinks of changing himself. Some changes look negative on the surface but soon you will realize that space is being created in your life. </p>


                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">But is it beneficial, is it leading you to your goal, is it worth? Think and apply. No matter what kind of challenges or painful situations you go through during the change, but if you reach down and deep within yourself, you'll find your inner strength.To know the world, first you have to know yourself. Everyone think of changing the world, but no one thinks of changing himself. Some changes look negative on the surface but soon you will realize that space is being created in your life. </p>















         </div>













</div>




<hr>

</section>

<!-- MainSection End -->








    </div>




    </div>

</div>


<div class="container1" style="padding:2% 5% 5% 5%;">
    <div class="row" >




          <div class="col-lg-12 col-md-12 col-12" ><h1 style="text-align: center; font-size: 200%; "><strong>Popular Blogs From us</strong></h1></div>

          <div class="col-lg-12 col-md-12 col-12" ><p style="text-align: center; padding-bottom: 3%;"></p></div>




        <div class="card77">
            <img src="/stylesheets/images/careerxx.svg"" alt="Denim Jeans" style="width:100%">
            <img src="/stylesheets/images/Group_1007.svg""  alt="Denim Jeans" style="width:100% ;padding: 5%;">

          </div>

          <div class="card77">
            <img src="/stylesheets/images/careerxx.svg"" alt="Denim Jeans" style="width:100%">
            <img src="/stylesheets/images/Group_1007.svg""  alt="Denim Jeans" style="width:100% ;padding: 5%;">

          </div>
          <div class="card77">
            <img src="/stylesheets/images/careerxx.svg"" alt="Denim Jeans" style="width:100%">
            <img src="/stylesheets/images/Group_1007.svg""  alt="Denim Jeans" style="width:100% ;padding: 5%;">

          </div>






    </div>
<br>
    <li class="button-item">
        <div class="footer text-center" ><a href="/blogging">Explore More</a></div>
          </li>
</div>


<div class="row" style=" width: 100%;padding-left: 5%;" >


    <div class="row" >


        <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%; "><h1 style="text-align: center;">Your App</h1>
            <br>
            <h5 style="text-align: center;">7waves app provide a best mobile experience so counselling will be as easier as playing songs</h5><br>
    </div>

    <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%;"><img alt="image" src="/stylesheets/images/VECTOR_IMAGE_ON_APP@-4.svg"    style="width: 100%;height: 100%;"></div>



</div>
</div>

<div class="row" style="background-image: url(/stylesheets/images/Mask_Group_28.svg); width: 100%;margin-left: 0%;padding: 4%;" >


    <div class="row">


        <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%; "><h1 style="text-align: center;">Let's Stay in Touch</h1>
            <br>
            <!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
#mc_embed_signup{ clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://7waves.us19.list-manage.com/subscribe/post?u=fa7016958f292ac20306dd09a&amp;id=31a48ae68f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
<div id="mc_embed_signup_scroll">
<label for="mce-EMAIL">Subscribe</label>
<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_fa7016958f292ac20306dd09a_31a48ae68f" tabindex="-1" value=""></div>
<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</div>
</form>
</div>

<!--End mc_embed_signup-->
         </div>

    <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%;"><img alt="image" src="/stylesheets/images/Group_1092.svg"    style="width: 100%;height: 100%;"></div>



</div>
</div>


    <script>

        // Wrap every letter in a span
      var textWrapper = document.querySelector('.ml1 .letters');
      textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

      anime.timeline({loop: true})
        .add({
          targets: '.ml1 .letter',
          scale: [0.3,1],
          opacity: [0,1],
          translateZ: 0,
          easing: "easeOutExpo",
          duration: 600,
          delay: (el, i) => 70 * (i+1)
        }).add({
          targets: '.ml1 .line',
          scaleX: [0,1],
          opacity: [0.5,1],
          easing: "easeOutExpo",
          duration: 700,
          offset: '-=875',
          delay: (el, i, l) => 80 * (l - i)
        }).add({
          targets: '.ml1',
          opacity: 0,
          duration: 1000,
          easing: "easeOutExpo",
          delay: 1000
        });


           </script>


           <!-- Site footer -->
               <footer class="site-footer">
                 <div class="container">
                   <div class="row">
                     <div class="col-sm-12 col-md-6">
                       <h6>About</h6>
                       <p class="text-justify">The 7 of 7Waves are our 7 parameters which help you to classify, recognize and solve your problem efficiently. So, let's recognize your wave or waves and work on them together to let your waves of life propagate smoothly.The Wave of 7 Waves is like a wave of life that has many ups and downs. All the joyful and happy moments are ups, and all depressing and failures in life are downs, but how much high you bounce after hitting bottom describes what life is. </p>


                     </div>





                     <div class="col-xs-6 col-md-3">
                       <h6>Parameterss</h6>
                       <ul class="footer-links">
                         <li><a href="/introspectionn">Introspection</a></li>
                         <li><a href="/motivationBlogPage">Motivation</a></li>
                         <li><a href="/RelationshipBlogPage">Relationship</a></li>
                         <li><a href="/CareerBlogPage">Career</a></li>
                         <li><a href="/BussinessBlogPage">Business</a></li>
                         <!-- <li><a href="/DepressionBlogPage">Depression</a></li> -->
                         <li><a href="/Mentorship">Mentorship</a></li>
                       </ul>
                     </div>

                     <div class="col-xs-6 col-md-3">
                       <h6>Quick Links</h6>
                       <ul class="footer-links">
                         <li><a href="/aboutUs">About Us</a></li>
                         <li><a href="/contactus">Contact Us</a></li>
                         <li><a href="/termsandcondition">Terms And Conditions</a></li>
                         <li><a href="/privacypolicy">Privacy Policy</a></li>
                         <li><a href="refundandcancellation">Refund And Cancellation</a></li>
                       </ul>
                     </div>
                   </div>
                   <hr>
                 </div>
                 <div class="container">
                   <div class="row">
                     <div class="col-md-8 col-sm-6 col-xs-12">
                       <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by
                    <a href="www.7waves.in">7Waves Life Solutions</a>.
                       </p>
                     </div>

                     <div class="col-md-4 col-sm-6 col-xs-12">
                       <ul class="social-icons">
                         <li><a class="facebook" href="https://www.facebook.com/7waves-102331067869510/?ti=as"><i class="fa fa-facebook"></i></a></li>
                         <li><a class="twitter" href="https://twitter.com/official7waves?s=08"><i class="fa fa-twitter"></i></a></li>
                         <li><a class="instagram" href="https://instagram.com/official7waves?igshid=yzfg5tdez7s4"><i class="fa fa-instagram"></i></a></li>
                         <li><a class="youtube" href="https://www.youtube.com/channel/UC1UlPjbnqmJbR4tnG0pv5Og"><i class="fa fa-youtube"></i></a></li>
                         <li><a class="linkedin" href="https://www.linkedin.com/in/7-waves-89604b196"><i class="fa fa-linkedin"></i></a></li>
                       </ul>
                     </div>
                   </div>
                 </div>
           </footer>
           <script>
mybutton = document.getElementById("myBtn");
window.onscroll = function(){scrollFunction()};
function scrollFunction(){
    if(document.body.scrollTop>20|| document.documentElement.scrollTop >20){
        mybutton.style.display="block";
    }else{
       mybutton.style.display="none";
    }
}
function topFunction(){
    document.body.scrollTop=0;
    document.documentElement.scrollTop=0;
}
</script>



</body>
</html>
