<!DOCTYPE html>
<html>
    <head>
      <title>Terms and Conditions Page of 7waves for Clients</title>

        <meta charset="utf-8">
        <head>
          <meta name="description" content="This is a page for Our clients regarding the terms and conditions of 7waves">
          <meta name="keywords" content="MOTIVATION,DEPRESSION,INTROSPECTION,CAREER CONSULTANT,BUSINESS ADVISOR,PERSONAL,RELATIONSHIP,CONSULTANT,GROWTH,SELF GROWTH,LIFE COACH,COACH CONSUNSULTANCY">
          <meta name="author" content="7 WAVES">
        </head>

      <%- include("./partials/navbar")  %>

       
        <div style="padding-top: 5px;"></div>

<section  >
    <div class="container">
        <!-- <h1 class="ml1">
            <span class="text-wrapper">
              <span class="line line1"></span>
              <span class="letters">7 Wave</span>
              <span class="line line2"></span>
            </span>
          </h1> -->


          <div class="row">
              <div class="col-lg-12 col-md-6 col-12" style="padding-top: 3%;" ><h1>TERMS AND CONDITIONS</h1>
                  <p>
    7 Waves is owned and regulated by 7 Waves Life Solutions Private Limited (Company). 7 Waves makes the best efforts to provide Life Coaching and Counseling Services professionally. Our prime concern is to help. We provide services, keeping in mind the needs and interests of the customers.
    <br>•The Service will focus on building wellness and emotional resilience. The Life Coaching Service's underlying principle is that You have the knowledge and capacity to make desired changes in Your Life. A Life Coach will play to support You in finding Your way, help You tap into Your strengths and abilities to identify and use resources around You to fill any gaps.
    <br>• 7 Waves, counseling, and Life Coaches/Counselor services do not intend to be a replacement for face-to-face psychotherapy or to provide a diagnosis, prognosis, treatment, or cure for a disease/condition/disorder or disability or provide any state-regulated mental health services in Your country of residence. It is an enabling and empowering mode of support, rather than treatment of illness.
    <br>• 7 Waves Life Solutions Life Coaches/Counselors can not offer medical or clinical advice. In case You mention the need for such advice, they will suggest that You seek advanced (medical) help.
    <br>• For safety and security reasons, we strongly recommend that You keep Your conversations private. We strongly recommend that You set automatic updates of the App in the application manager settings of Your mobile device; to get the latest App-based features and fixes. Always exit the App version in Your mobile device by using the back button before upgrading to a newer version to prevent loss of ongoing services.

    <br><br>These terms of usage ("Terms") govern the use of the Website, App, and Services provided by 7 Waves to its customers. By using the services or using any content or information provided, you shall be considered to have read and understood the terms and accepted to be bound by these terms. These Terms are not intended to alter in any way or limit the terms or conditions of any other agreement that you have with 7 Waves, including the privacy policy ("Privacy Policy").

    <br><br><h3>AGREEMENT</h3>
    The terms and conditions, the privacy policy with any other procedures, are an 'Agreement' between the User and 7 Waves. If you do not agree to the 'Agreement,' do not use the Services.

    <br><br><h3>SERVICES</h3>
    Services mean Life Coaching or Counseling provided through the medium of 7 Waves to the users. Read the terms carefully before availing any services.

    <br><br><h3>PARTIES</h3>
    The terms such as, wherever so required 'You', 'Your', 'User' or 'Customer' refer to a registered user and the terms' 7 Waves', 'We', 'Company', 'Us' or 'Our' refer to 7 Waves Life Solutions Private Limited, its employees, and authorized agents that provide services on behalf of the Company.
    <br>In case you are an incorporated/registered entity/organization/institution availing the services of 7 Waves for your members/employees/students or any registered individuals with you, you shall sign into an 'Agreement' of understanding with 7 Waves for the same purpose. You shall be bound by the 'Agreement' (Terms and Conditions, Privacy Policy, or any other policies with 7 Waves) available here.

    <br><br><h3>UPDATE OF THE 'AGREEMENT'</h3>
    To access some of the 7 Waves platform features, you may have to create your account with 7 Waves. You agree and confirm that you will never use another user's account nor provide access to your account to any third- party. When creating your account, you confirm that the information so provided is accurate and complete.
    <br>7 Waves takes no responsibility for any user that is uploaded on the 7 Waves platform. Further, the User shall be solely responsible for their actions in utilizing such user content and availing the 7 Waves platform provided herein.
    <br>Further, the following are to be followed. These terms can be changed at any time and will be effective for everybody from the moment of updating the changes. The User has to review the current version of these terms periodically. 7 Waves is not responsible for any such doubts.
    <br><br><h3>FOR REGISTERED USERS</h3>
    1. When creating Your Account, if required, you must provide accurate and complete information. If You provide any information that is untrue, inaccurate, not current or incomplete (or becomes false, inaccurate, not current or incomplete), or if We have reasonable grounds to suspect that such information is untrue, inaccurate, not current or incomplete, We have the right to suspend or terminate Your Account and refuse any current or future use of the Service (or any portion thereof).

    <br><br>2. You are solely responsible for the activity that occurs on Your Account, and You must keep Your Account password secure. Whenever You need to set a password, we encourage you to use "strong" passwords (passwords that use a combination of upper- and lower-case letters, numbers, and symbols) with Your Account. You must notify 7 Waves immediately of any breach of security, unauthorized access to Your chats or other data, or unauthorized use of Your Account. 7 Waves will not be liable <br>for any losses caused by any unauthorized use of Your Account.
    <br>3. You may never use another User's Account.
    <br>4. You may control Your user Account profile and how You interact with the Service by changing the Mobile Software settings.
    <br>5. The Website/App allows Users to connect with Life Coaches/ Counselors or other Experts who provide Life Coaching/ Counseling or any additional help professionally.
    <br>6.The website/App offers the User a platform to avail plans and schedules them with a Life Coach/ Counselor.
    <br>NOTE- Use of the Services is available only to persons over eighteen (18). If you are a minor, i.e., under eighteen (18) years, you shall not register as a member. You shall not sell or purchase any items on the Website/App unless you access this Website/App with parental guidance or guidance of a legal guardian. We reserve the right to terminate your membership and refuse to provide access if it is discovered that you are under the age of eighteen (18) years and are accessing this Website/<br>App without parental consent and guidance or consent and guidance of a legal guardian. We will not be liable for any harm caused to you on the Website/ App without permission of the above mentioned.
    <br><br>7. You are responsible for maintaining the confidentiality of your account details at all times. Further, you are responsible for all activities that occur under your account.
    <br>. All the chats/ messages of the User shall be stored for quality assurance.
    <br>9. 7 Waves reserves the right to refuse access to the Service or terminate Your account if eligibility is not met, at its sole discretion. The Service is not available to any Users previously removed from the Service by 7 Waves.


    <br><br><h3>FOR NON- REGISTERED USERS</h3>
    You will be able to seek limited information about Life Coach/ Counselor depending on the extent of the information provided.

    <br><br><h3>FOR LIFE COACHES/COUNSELORS</h3>
    1. Platform to publish profile: You may upload your profile containing your name, qualification, experience, specialization, personal statement, education, professional membership, etc. on the Website. Your profile is accessible to all Registered as well as Non- Registered users.
    <br>2. You may use the Website for private interaction through webinars and other activities for the users. But it must not be mistaken for interaction with the users outside 7 Waves. No contact should be made with the User outside the 7 Waves Website/App. You agree not to use 7 Waves for any of the following commercials uses unless you obtain 7 Waves' prior written approval:
    <br>• the sale of access to 7 Waves.
    <br>• the sale of advertising, sponsorships, or promotions placed on or within 7 Waves or content; or
    <br>• the sale of advertising, support, or promotions on any page or Website or App that provides similar 7 Waves Platform as that of 7 Waves.
    <br>3. The Life Coach/Counselor has no right to give any Medication or prescription to the users in any case.
    <br>4. You can exchange texts, photos, videos, activities for paid users. And communicate over chat features for the introductory course users.
    <br>5. You may provide your preliminary and generic information to questions submitted by registered users.
    <br>6. It must be the Life Coach/Counselor's duty to respect the privacy of the User. If any misbehavior or violation of the User's privacy is noticed, the consequences may be fatal. 7 Waves will take no responsibility for the effects. The Life Coach/Counselor will be responsible for their actions.
    <br>7. You can contribute to information and education material that 7 Waves can publish on the Website with or without modification.
    <br>8. You cannot use the brand name, the logo of 7 Waves for personal use.
    <br>9. The pay of the Life Coach/Counselor will be pre-defined and will be made within seven days after their users consume a session. The money paid will be based on the sessions' quality and based on reviews received by the users. This amount can also vary if a difference in quality is observed. It will be in the hands of 7 Waves to decide the pay of the Life Coach/Counselor.
    <br>10. If the Life Coach/ Counselor cancels the session, they will have to pay the charges for the inconvenience and insufficient trust prompted in the User. In case there is a technical issue on the part of the Life Coach/Counselor, there will be a rescheduling of the session, or the payment of that particular session will vary. Also, if a user has a credible emergency, the session will be rescheduled in such a case.
    <br>11. Regarding the chat sessions, the Life Coach/ Counselor must reply in the slot between 9-5( 9:00 a.m. to 5:00 p.m.). The Life Coach/Counselor can take a maximum 1hr to respond. 7 Waves will entertain no further delays. If the deadline to reply crosses more than three times, strict action will be taken. The Life Coach/Counselor must take full responsibility for responding on time to the users' queries.

    <br><br><h3>PAYMENT</h3>
    7 Waves charges for the chat, audio, and video-based Life Coaching/ Counseling sessions. The costs are well displayed before the User for availing any Service as per their choice. In addition to these Terms, User shall also be bound by terms (if any) mentioned for specific Service (s).
    <br>Please note that the charges paid by a customer are refundable ("Refund/ Cancellation Policy").
    <br>The decision of 7 Waves on any such matter will be final, and the customer will be bound to accept it.
    <br>CHAT/AUDIO/VIDEO
    <br>For any reschedules, the customer needs to inform 7 Waves at least 24 hours in advance.
    <br>For any such claim of rescheduling of services, 7 Waves team shall make one attempt to reach the customer for confirmation of the service rescheduling. In case the customer fails to respond within seven days of the last communication, 7 Waves will treat the Service as consumed, and 7 Waves shall provide no refunds in such a case.
    <br>Regarding Chat Sessions, The Life Coach/ Counselor tries to give an early reply depending upon the availability. The chat session is valid only for seven days. The User will have to rebook the services/plans after a session expires.

    <br><br>For Live Audio and Video Sessions, if the customer fails to turn up at the time scheduled, 7 Waves will reschedule the session only once. If the customer still does not turn up the second time, the session will be treated as consumed, and 7 Waves shall provide no refunds.
    <br>In case of technical difficulties during or at the session, 7 Waves will check with their service providers. If the issue is convicted of being genuine, the appointment shall be rescheduled.





    <br><br><h3>Available options for payment:</h3>
    1. Internet Banking
    <br>2. Debit/ Credit Cards
    <br>3. UPI
    <br>4. Wallets

    <br>You understand and agree that the payment facility provided us is neither a banking nor a financial service.
    <br>All modalities relating to payment using Internet Banking/ Debit/Credit Card/UPI shall be separately governed by arrangement(s) / terms and conditions between the User and the relevant banks. 7 Waves shall not be responsible for any loss during payment through Virtual Payment Modes (including any fraudulent transaction).

    <br><br><h3>MORE ABOUT UPI</h3>
    "UPI Services" means Unified Payment Interface. NPCI is providing this multi-platform operable payment network solution for interbank fund transfer of funds, i.e., pay someone (push) or collect from someone (pull) transaction, under the rules, regulations, and guidelines issued by NPCI, Reserve Bank of India, and the Bank, from time to time.
    <br>UPI Pin" means authentication credentials, password, etc., as provided by User Account holding Bank ("Issuer Bank"), which shall be required by the User for completion of the transfer of funds through UPI. In such a case, please ensure that the mobile number linked to your bank account is the same as the one verified in any UPI App. If it is not the same, your bank accounts will not be fetched by the UPI platform.
    <br>UPI Services will automatically terminate if the User's account linked to the App is closed. The account-holding Bank withdraws or ends the UPI Services anytime for the User's account either entirely or regarding a specific UPI Services.

    <br><br><h3>PLAN</h3>
    Different plans have different time of duration. After a goal is bought, if the customer fails to use the services during the period assigned to them, 7 Waves can shift the Plan to any other period, only valid reasons applied.
    <br>The customer agrees and understands that buying a Plan does not give the customer any preference concerning the allotment of their chat/audio/video session(s). All Experts have a pre-defined schedule, which might be subject to change. The customer agrees that all requests for chat/audio/video sessions are serviced on a first-come, first-serve basis.

    <br><br><h3>USER CONTENT GUIDELINES</h3>
    To access the Services, you must first establish an individual user account by providing certain information. You agree that you will not create more than one account or create an Account for anyone other than yourself without first receiving permission from the other person. In exchange for your use of the Service, you agree to (i)provide correct, accurate, current, and complete information about yourself as prompted by our Account enrollment form (understanding you may use an anonymous user name or nickname after you provide certain personal and emergency Contact Information); and (ii) each time you log on, maintain and promptly update such account information to keep it true, accurate, current and complete. If you provide any untrue information, inaccurate, not current or incomplete, or 7 Waves has reasonable grounds to suspect that such Account information is false, inaccurate, not current, or incomplete. In that case, 7 Waves reserves the right to transition your treatment to another Provider outside of 7 Waves and refuse any future request(s) to use the Services.
    You agree not to access or use the Service in an unlawful way or for a criminal or illegal purpose or in any manner that contravenes these terms. You shall not post, use, store or transmit
    <br>1.	a message or information under a false name;
    information that is unlawful, defamatory, obscene, fraudulent, predatory of minors, harassing, threatening, or hateful to any person; or
    <br>1.	information that violates any of the intellectual property rights of others or the privacy or publicity rights of others.
    <br>You shall not attempt to disrupt the operation of the Service by any method, including through the use of viruses, Trojan horses, worms, time bombs, denial of service attacks, flooding, or spamming. You shall not use the Service in any manner that could damage, disable, or impair the Service. You shall not attempt to gain unauthorized access to any user accounts or computer systems or networks, through hacking, password mining, or any other means. You shall not use any robot, scraper, or other means to access the Service for any purpose. Neither 7 Waves nor its affiliates are under any obligation to respond to messages posted on the Service. You are solely responsible for the information or material you post on the Service.


    <br><br><h3>OWNERSHIP</h3>
    The 7 Waves' name and logo are 7 Waves' trademarks and may not be copied or used without 7 Waves' permission, except with prior consent. Also, all custom graphics, button icons, and scripts are service marks of 7 Waves that may not be copied or used without 7 Waves' permission.

    <br><br><h3>CODE OF CONDUCT</h3>
    The terms, wherever so required, 'You', 'Your', 'User,' or 'Customer' refer to a registered user. The terms' 7 Waves', 'We', 'Company', 'Us' or 'Our' refer to 7 Waves Life Solutions Private Limited, its employees, and authorized agents that provide services on behalf of the Company.
    <br>1. The Website/App provides Users the facility to create, share and post content (together, 'User Content',7 Waves has the right (but not the obligation) in its sole discretion to remove any User Content that is stored via the Website/App.
    <br>2. You may use the Website/App for rightful purposes only.
    <br>3. You will use the Website/App and the features provided only with and compliance with applicable Indian laws.
    <br>4. You will not deliberately use the website/app in any unlawful way or harms 7 Waves. You will not transmit any material that violates the rights of others, or which is threatening and abusive of privacy or publicity rights, or anything that would constitute a criminal offense, give rise to civil liability, or otherwise violate any law.
    <br>5. You must not modify/ copy/ imitate any material from the Website/ App.
    <br>6. Other than the guidance and advice you receive directly from your licensed Provider, the other educational, graphics, research sources, and additional incidental information on the Site, the content should not be considered medical advice. You should always talk to an appropriately qualified health care professional for diagnosis and treatment, including information regarding which medications or therapy may be appropriate for you. None of the Content represents or warrants that any particular drug or treatment is safe, appropriate, or effective for you. 7 Waves does not endorse any specific tests, medications, products, or procedures.

    <br><br><h3>THIRD PARTIES</h3>
    In general, the third-party providers used by us will only collect, use, and disclose your information to the extent necessary to allow them to perform the services they provide to us.
    <br>However, certain third-party service providers, such as payment gateways and other payment transaction processors, have their privacy policies concerning the information we are required to provide to them for your purchase-related transactions.
    For these providers, we recommend that you read their privacy policies to understand how these providers will handle your personal information.
    <br> You agree that any User Content that you create, store, or share does not and will not violate third-party rights of any kind, including without limitation to any 'Intellectual Property Right' or rights of privacy.
    7 Waves reserves the right but is not obligated, to reject or remove any User Content that we believe, in its sole discretion, violates these requirements.






    <br><br><h3>INTELLECTUAL PROPERTY</h3>
    All of the content available on or through the Service is the property of 7 Waves or its licensors. It is protected by copyright, trademark, patent, trade secret, and other intellectual property law. You agree not to reproduce, retransmit, distribute, disseminate, sell, publish, broadcast, or circulate the content received through the Service to any third party. All software and accompanying documentation made available for download from the Service is the copyrighted work of 7 Waves or its licensors. Any copy made of information obtained through the Service must include all applicable copyright notices.

    <br><br><h3>INTELLECTUAL PROPERTY RIGHTS</h3>
    'Intellectual Property Rights' means all patent rights, copyright rights, moral rights, rights of publicity, trademark, trade dress and service mark rights, goodwill, trade secret rights, and other intellectual property rights as may now exist or hereafter come into existence, and all Website/App therefore and registrations, renewals, and extensions thereof, under the laws of any state, country, territory or other jurisdiction.

    <br><br>You agree not to: (i) modify, translate, reverse engineer, disassemble, create derivative works of the Service or allow a third party, whether directly or indirectly, to modify, translate, reverse engineer, disassemble, decompile or create derivative works of the Service; or (ii) transfer, distribute, sell, lease, rent, disclose or provide access to the Service to any third party or use the Service to provide service bureau, time-sharing or other services to third parties.

    <br><br>In connection with your User Content, you affirm, represent, and warrant the following:
    <br>1. Your User Content and your use thereof as contemplated by these Terms and the Website will not violate any law or infringe any rights of any third party, including but not limited to any Intellectual Property Rights or privacy rights.
    <br>2.To the extent that you use the Website for any commercial purpose and your User Content contains any copyrighted material that is not your original work or in which you do not otherwise own the copyright, you have obtained all rights, licenses, consents, and permissions necessary to use that copyrighted material in connection with the creation and dissemination of that User Content using the Website/App.
    <br>3. 7 Waves takes no responsibility and assumes no liability for any User Content that you or any other User or third party creates, stores, shares, posts, sends, or otherwise makes available through the Website/App, whether directly or indirectly.
    <br>4. You will be solely responsible for your User Content and the consequences of posting, publishing it, or sharing it. You agree that 7 Waves is only acting as a medium for distributing and publication of your User Content. If your content violates these Terms, you may bear legal responsibility for that content.

    <br><br><h3>HYPERLINKS</h3>
    The Website may contain links to other Websites ("Linked Sites"). Any link (including a hyperlink, button, referral device of any kind) used in the Service is provided for your use and convenience. The appearance of a link does not constitute recommendation or certification by 7 Waves, nor should the presence of a link be construed as a suggestion that any third-party website has any relationship to 7 Waves. 7 Waves does not endorse the content on any third-party websites. 7 Waves is not responsible for the content of linked third-party websites or third-party advertisements and does not make any representations regarding its content or accuracy. 7 Waves does not knowingly link to websites that may infringe on valid and existing trademarks, service marks, copyrights, or patents. Your use of third-party websites is at your own risk and subject to the terms and conditions of use for such websites.

    <br><br><h3>EXCEPTIONS AND LIMITATIONS</h3>
    You acknowledge that there will be occasions when the Website may be interrupted, including, without limitation, for scheduled maintenance or upgrades, for emergency repairs, or due to failure of telecommunications links and equipment.
    <br>7 Waves reserves the right to remove any User Content from the Website for any reason without prior notice. User Content removed from the Website may continue to be stored by 7 Waves, including, without limitation, to comply with certain legal obligations, but may not be retrievable without a valid court order. 7 Waves will not be liable to you for any modification, suspension, or discontinuation of the Website, or the loss of any User Content.
    <br>You agree that 7 Waves is not responsible for and does not endorse, User Content posted within the Website. 7 Waves does not have any obligation to prescreen, monitor, edit, or remove any User Content. If your User Content violates these Terms, you shall be solely responsible for any legal consequences for such User Content.
    <br>Without prior notice, we may change the Website, stop providing the Website or features of the Website, to you or Users generally, or create usage limits for the Website. We may permanently or temporarily terminate or suspend your access to the Website, or delete any User Content without notice and liability for any reason, including if in our sole determination you violate any provision of these Terms, or for no reason. Upon termination for any reason or no reason, you continue to be limited by these Terms.
    <br><br><h3>TERMINATION</h3>
    These Terms can be terminated for any reason by 7 Waves at any time. 7 Waves reserves the right, in its sole discretion, to restrict, suspend, or terminate your access to and use of the Website/App, with or without prior notice. Otherwise, applicable sections of the Terms shall survive termination. In addition to any termination rights, we reserve the right to enforce and prosecute any violations of these Terms.

    <br><br><h3>LIMITATION OF LIABILITY</h3>
    7 WAVES OR ITS AFFILIATES OR ANY PARTY INVOLVED IN CREATING, PRODUCING, OR DELIVERING THE WEBSITE/APP BE LIABLE FOR ANY DIRECT, INCIDENTAL, CONSEQUENTIAL, INDIRECT, SPECIAL, OR PUNITIVE DAMAGES ARISING OUT OF YOUR ACCESS, USE, MISUSE, OR INABILITY TO USE THE WEBSITE OR ANY LINKED SITES, OR IN CONNECTION WITH ANY FAILURE OF PERFORMANCE. THESE LIMITATIONS APPLY WHETHER THE ALLEGED LIABILITY IS BASED ON CONTRACT, LIABILITY, OR ANY OTHER BASIS, EVEN IF 7 WAVES HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
    <br>BY USE OF THE WEBSITE AND THE SERVICES, THE USER ACKNOWLEDGES THAT HE/SHE IS SOLELY RESPONSIBLE FOR ANY AND ALL ACTIONS, LIABILITIES, CONSEQUENCES, DECISIONS, BEHAVIOURS ARISING IN CONNECTION WITH THE USE OF THE WEBSITE and SERVICES, AND SHALL IN NO WAY HOLD 7 WAVES and ITS AFFILIATES RESPONSIBLE FOR SUCH CONDUCT.

    <br><br><h3>GRIEVANCE OFFICER</h3>
    Following the Information Technology Act, 2000 and rules made thereunder, the name and contact details of the 'Grievance Officer' provided below:
    <br>Name: Yash Verma
    <br>Company Name: 7 Waves Life Solutions Private Limited
    <br>E-mail Address: yashverma7waves@gmail.com
    <br>Postal Address: 235/24 College Colony, Near NIT Kurukshetra, Kurukshetra 136119

    <br><br><h3>COMMON</h3>
    If any part of these Terms and Conditions is unlawful, void, or unenforceable, that part will be deemed severable. It will not affect the validity and enforceability of any remaining provisions. Any notice required to be given in connection with 7 Waves shall be in writing and sent to the registered Postal Address of 7 Waves. We do not guarantee continuous, uninterrupted, or secure access to 7 Waves, and operation of 7 Waves may be interfered with by numerous factors outside our control. <br>Headings are for reference purposes only and on no way define, limit, construe, or describe such a section's scope or extent. Out failure to act concerning any breach by you or others does not waive our right to bear concerning subsequent or similar breaches.



            </div>



            <!-- <div class="col-lg-6 col-md-6 col-12">
                <h1>Our MISSION</h1>
                <p>The mission of 7 Waves is to work with clients and help them to achieve goals, overcome obstacles, and make changes or shifts in their lives. We work with the client as a partner, knowing that the client has the answers to create the changes they seek. 7 Waves help you focus, provide direction, challenge you, support you, motivate you, and celebrate with you. We help clients create a plan, detail action steps and determine their potential which help them to achieve what they want
                    7 Waves invite everyone who wants to change their life and wants to live their life with joy and happiness. We want this world a place with zero suicide, and people dealing with their problem efficiently and saving the most precious thing they have is time.</p>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <h1>OUR PLAN / APPROACH</h1>
                <p>7 Waves is a type of platform that can use to help people who are in major transition phases in their lives. Professionals in this field try to help people plan goals and take steps to realize those goals. We offers advice and guidance to deal with change that will put them on a path to success. Our life coach is almost like a mentor who can look at you and see the potential for you to achieve all that you desire.
                </div> -->
        </div>
    </div>
</section>
<script>

    // Wrap every letter in a span
  var textWrapper = document.querySelector('.ml1 .letters');
  textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

  anime.timeline({loop: true})
    .add({
      targets: '.ml1 .letter',
      scale: [0.3,1],
      opacity: [0,1],
      translateZ: 0,
      easing: "easeOutExpo",
      duration: 600,
      delay: (el, i) => 70 * (i+1)
    }).add({
      targets: '.ml1 .line',
      scaleX: [0,1],
      opacity: [0.5,1],
      easing: "easeOutExpo",
      duration: 700,
      offset: '-=875',
      delay: (el, i, l) => 80 * (l - i)
    }).add({
      targets: '.ml1',
      opacity: 0,
      duration: 1000,
      easing: "easeOutExpo",
      delay: 1000
    });


       </script>

<!-- <script id="appyWidgetInit" src="https://chatbot.appypie.com/widget/loadbuild.js?cid=kabhd6iy-AGENT1589745401674-BOTID1589745492801&name=mixBuild"></script> -->

<%- include("./partials/footer")  %>
