<!DOCTYPE html>
<html>
    <head>
      <title>What are the 7 Unsaid Rules of Friendship.</title>

        <meta charset="utf-8">
        <head>
          <meta name="description" content="Friends are insane but no less than a blessing in your life. Caring, Cheerful, Crazy Faithful, Generous, Gentle, Forgiving, Empathetic- these words entirely describe a friend. ">
          <meta name="keywords" content="rules of friendship quotes, unspoken rules of friendship, rules of friendship in kissing booth, seven friendship rules, friendship rules in hindi,  rules for healthy friendships, Caring, cheerful, Faithful, Generous, Gentle, Forgiving, Empathetic">
          <meta name="author" content="7 WAVES">
        </head>

      <%- include("../partials/navbar")  %>



<!-- MainSection Srart -->
<section style="height: 100%;padding-bottom: 3%;">
    <div class="container" style="padding-left: 10%;padding-right: 10%;">
        <!-- <h1 class="ml1">
            <span class="text-wrapper">
              <span class="line line1"></span>
              <span class="letters">7 Wave</span>
              <span class="line line2"></span>
            </span>
          </h1> -->
          <div class="row" style="padding:5% 0px 0% 0px;" >

            <div class="col-lg-12 col-md-12  col-12" ><h1 style=" font-size: 20px;color: #2CAAE1;">Friendship</h1></div>
          <div class="col-lg-12 col-md-12  col-12" ><h1 style=" font-size: 300%; "><strong>7 unsaid rules of Friendship</strong></h1></div>






        </div>
        <hr>

        <div class="sharethis-inline-share-buttons"  style="float: left;"></div>
        <br>

        <br>


         <div class="col-lg-12 col-md-12 col-12" style="padding: 0 0 0 0;" >




           <div class="row" >
            <div class="col-lg-6 col-12" style="padding: 0 0 0 0;" >

            </div>
            <div class="col-lg-6 col-12" style="padding: 0 0 0 0;" ></div>
            <div class="col-lg-1 col-md-3 col-12" style="padding: 3% 0 0 3%;" >

                        <img alt="image" src="/stylesheets/images/logo.jpeg" style="width:70px;height: 70px; border-radius: 100%; "  alt="Sample avatar">
                      </div>

                            <div class="col-lg-11 col-md-9 col-12" style="padding: 3% 5% 3% 3%;" >

                               <h4><b>7 Waves</b></h4>
                               <h8> A Consulting Agency Dealing With Different Life Parameters.</h8>
                               <br>
                               <br>
                               <h9 style="font-size: 13px;color: #757575!important;;">March 20, 2022</h9>&nbsp;&nbsp;&nbsp;&nbsp;<h12 style="font-size: 13px;color: #757575!important;;">4 min read</h12><br>
                               <!-- <h9 style="font-size: 13px;color: #757575!important;;">Opinions expressed by Entrepreneur contributors are their own.</h9><br> -->
                               <br>
                               <p style="font-size: 19px; font-style: italic; color: black;">Friendships seem to emerge.<b> You know 36% people don't pick their friends strategically. It just happens!</b>
                              </p>

                              <div class="row" >
                               <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
                                   <img alt="image" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/wavesweb-424c5.appspot.com/o/rulesoffriendship1.png?alt=media&token=b57bedd5-888e-4cfe-b89c-73f732780cf3" >
                               </div>
                               <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
                                <h8 style="font-size: 13px; color: black;"><br><br>Source: - <a href="https://socialskillscompany.com/friendship-infographic/
                                  ">https://socialskillscompany.com/friendship-infographic/ </a></h8>
                                  <p style="font-size: 19px; color: black;">
                                  You are into an in-depth conversation with your friends, and that's the moment they will crack the best jokes ever. You are afraid of the waters, but friends will still make you jump into it.
<br><br>You like somebody but wait for the right
moment to tell. But friends who will end up teasing you straight before that somebody.
<br><br>Friends are insane but no less than a blessing in your life. Caring, Cheerful, Crazy Faithful, Generous, Gentle, Forgiving, Empathetic- these words entirely describe a friend.
</p>
<div class="row" >
  <div class="col-lg-12 col-12" >
      <img alt="image" class="blogimg"  src="https://firebasestorage.googleapis.com/v0/b/wavesweb-424c5.appspot.com/o/rulesoffriendship2.jpg?alt=media&token=f075376f-4218-452b-9140-39237c3227c7" >
  </div>
</div>

  <p style="font-size: 19px;color: black; font-family: 'Times New Roman', Times, serif,';" ><br><b>Fun Fact: 42% people believe they behave like a good friend and 41% think they're a good friend to friends during tough times.</b>
  </p><p style="font-size: 13px;color: black; font-family: 'Times New Roman', Times, serif,';" >Source: -<a href="https://socialskillscompany.com/friendship-infographic/
    ">https://socialskillscompany.com/friendship-infographic/ </a></p>

    <p style="font-size: 19px;color: black; "> In a lifetime, you make 396 friends, but only 1 out of 12 friendships lasts. Want to know Why?</p>
    <p style="font-size: 13px;color: black; ">Source: -<a href="https://www.indiatimes.com/lifestyle/self/13-scientific-facts-about-friendship-that-will-put-a-smile-on-your-face-255296.html
      ">india Times </a></p>
      <p style="font-size: 19px;color: black; ">So, here are seven unknown, unspoken friendship rules that your crime partners (or close friends who share 1% of their DNA) fulfil unknowingly.</p>
<p style="font-size: 19px;color: black; text-decoration: underline;"> Seven Friendship Rules are:</p>

<p style="font-size: 19px;color: black; font-family: 'Times New Roman', Times, serif,';">
  1. They will always show you two different sides to a dilemma. Which one to choose is always your decision.

<br> <br><b>2. Love you unconditionally. <br></b> They have seen your best and your worst but still chose to love you unconditionally. They know about all your crazy ideas, evil deeds but will still choose to be with you, for you always.

<br><br><b>Fun Fact: </b>A group at the University of Virginia studied brain scans from 22 different people who were under threat of receiving small electrical shocks to either themselves, a friend, or a stranger.</b>

</p>

<div class="row" >
  <div class="col-lg-12 col-12" >
      <img alt="image" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/wavesweb-424c5.appspot.com/o/rulesoffriendship3.jpg?alt=media&token=96e45cba-6b86-4a82-a475-18ef434dff23" >
  </div>
</div>
<p style="font-size: 13px;color: black; font-family: 'Times New Roman', Times, serif,';">
 Source: -<a href="https://news.virginia.edu/content/human-brains-are-hardwired-empathy-friendship-study-shows
  ">https://news.virginia.edu/content/human-brains-are-hardwired-empathy-friendship-study-shows </a></p>
  <p style="font-size: 19px;color: black; font-family: 'Times New Roman', Times, serif,';" >
 <b>3. Friends will always boost you, frankly.</b>
 <br>When you ask them how to look in a particular dress, you will get expert critic answers only. Even when you need the review to be best, yet 'Honest Answers Only.'

 <br> <br><b>4. Not everyone is the same. Appreciate the arguments, enjoy the likenesses.</b>
 <br> Friends interpret the silence of each other. It's not always mandatory to say things at the first go, give them time when things go wrong, to process various stuff.
 <br>Friends have a space for silence too.

 <br><br><b>5. Friends motivate you to do better, to achieve dreams, they bring out the best in you.</b>
 <br> At times, when you feel hopeless, you will find these people standing with you, grabbing your hand. They not only tell you that everything is going to be fine, but they believe in you and in fact, to make things possible.

 <br><br> <b>6. Confess about what you feel.</b>  <br>You agree to something or even if you disagree with something, say it loud. You made a mistake, apologize for it whenever you realize. Confessions will keep your bond stronger. Don't say a sorry or thank you in friendship, rather it's valuable to be sorry and to be thankful. Now, here is the most important rule for a healthy friendship

 <br><br> <b>7. No friendship works without the 'Give and Take' code.</b> <br>The balance of doing for each other is what keeps your bond strong and everlasting.
 <br>Nothing can loosen the rope that is held tightly at both ends.
 <br>Keep up in equanimity, Stay in equilibrium.
 <br>Be crazy together!


 <br><br>
 <b>7 Waves
 <br>Life Solutions | Connecting Happiness</b>
 </p>









<!--
<div class="col-12">
                        <h8 style="font-size: 13px; color: black;"><br><br>Source: - <a href="https://socialskillscompany.com/friendship-infographic/
">https://socialskillscompany.com/friendship-infographic/ </a>
<br><br>You are into an in-depth conversation with your friends, and that's the moment they will crack the best jokes ever. You are afraid of the waters, but friends will still make you jump into it.
<br><br>You like somebody but wait for the right
moment to tell. But friends who will end up teasing you straight before that somebody.
<br><br>Friends are insane but no less than a blessing in your life. Caring, Cheerful, Crazy Faithful, Generous, Gentle, Forgiving, Empathetic- these words entirely describe a friend.  </h8>

<div class="row" >
 <div class="col-lg-12 col-12" style="padding: 5% 0 0 0%" >
     <img alt="image" class="blogimg"  src="https://firebasestorage.googleapis.com/v0/b/wavesweb-424c5.appspot.com/o/rulesoffriendship2.jpg?alt=media&token=f075376f-4218-452b-9140-39237c3227c7" >
 </div>

                        <p style="padding: 0px 0px 3% 5%;font-size: 13px;color: black; font-family: 'Times New Roman', Times, serif,';" ><br><b>Fun Fact: 42% people believe they behave like a good friend and 41% think they're a good friend to friends during tough times.</b>
<br><br>Source: -<a href="https://socialskillscompany.com/friendship-infographic/
">https://socialskillscompany.com/friendship-infographic/ </a>

<br><br>In a lifetime, you make 396 friends, but only 1 out of 12 friendships lasts. Want to know Why?
<br><br>Source: -<a href="https://www.indiatimes.com/lifestyle/self/13-scientific-facts-about-friendship-that-will-put-a-smile-on-your-face-255296.html
">india Times </a>
<br><br>So, here are seven unknown, unspoken friendship rules that your crime partners (or close friends who share 1% of their DNA) fulfil unknowingly.

<br><br>Seven Friendship Rules are:

                        </p>
                        <p style="padding: 0px 0px 3% 0%;font-size: 13px;color: black; font-family: 'Times New Roman', Times, serif,';" ><br><b>1.Friends never tell you what to do. </b>
<br>They will always show you two different sides to a dilemma. Which one to choose is always your decision.

<br> <br><b>2. Love you unconditionally. <br></b> They have seen your best and your worst but still chose to love you unconditionally. They know about all your crazy ideas, evil deeds but will still choose to be with you, for you always.

<br><br><b>Fun Fact: </b>A group at the University of Virginia studied brain scans from 22 different people who were under threat of receiving small electrical shocks to either themselves, a friend, or a stranger.</b>
</p>



<div class="row" style="padding: 0px 0px 3% 0%">
 <div class="col-lg-12 col-12" style="padding:0 0 3%% 0" >
     <img alt="image" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/wavesweb-424c5.appspot.com/o/rulesoffriendship3.jpg?alt=media&token=96e45cba-6b86-4a82-a475-18ef434dff23" >
 </div>

 <p style="padding: 0px 0px 3% 0%;font-size: 13px;color: black; font-family: 'Times New Roman', Times, serif,';" ><br><br> Source: -<a href="https://news.virginia.edu/content/human-brains-are-hardwired-empathy-friendship-study-shows
 ">https://news.virginia.edu/content/human-brains-are-hardwired-empathy-friendship-study-shows </a>

<br><br>
<b>3.Friends will always boost you, frankly.</b>
<br>When you ask them how to look in a particular dress, you will get expert critic answers only. Even when you need the review to be best, yet 'Honest Answers Only.'

<br> <br><b>4.Not everyone is the same. Appreciate the arguments, enjoy the likenesses.</b>
<br> Friends interpret the silence of each other. It's not always mandatory to say things at the first go, give them time when things go wrong, to process various stuff.
<br>Friends have a space for silence too.

<br><br><b>5.Friends motivate you to do better, to achieve dreams, they bring out the best in you.</b>
<br> At times, when you feel hopeless, you will find these people standing with you, grabbing your hand. They not only tell you that everything is going to be fine, but they believe in you and in fact, to make things possible.

<br><br> <b>6.Confess about what you feel.</b>  <br>You agree to something or even if you disagree with something, say it loud. You made a mistake, apologize for it whenever you realize. Confessions will keep your bond stronger. Don't say a sorry or thank you in friendship, rather it's valuable to be sorry and to be thankful. Now, here is the most important rule for a healthy friendship

<br><br> <b>7.No friendship works without the 'Give and Take' code.</b> <br>The balance of doing for each other is what keeps your bond strong and everlasting.
<br>Nothing can loosen the rope that is held tightly at both ends.
<br>Keep up in equanimity, Stay in equilibrium.
<br>Be crazy together!


<br><br>
<b>7 Waves
<br>Life Solutions | Connecting Happiness</b>
</p>

</div> -->









         </div>


        </div>


        </div>


      </div>







</div>




<hr>

</section>

<!-- MainSection End -->








    </div>




    </div>

</div>


<div class="container1" style="padding:2% 5% 5% 5%">
    <div class="row" >




          <div class="col-lg-12 col-md-12 col-12" ><h1 style="text-align: center; font-size: 200%;padding-bottom: 2%; "><strong>Popular Blogs From us</strong></h1></div>



          <div class="col-lg-6 col-md-6 col-12" ><div class="mg-fluidi img-thumbnail" style="box-shadow: 0 0 20px 0 rgba(0, 0,0, 0.3);"><div class="row" style="padding: 5%;" >
            <div class="col-lg-4 col-md-4 col-sm-4 col-12" ><h14 style=" text-align: center;"><b>Leadership</b>
            </h14></div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-12" ><h14 style="size: 5%;">08/09/2020</h14></div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-12" ><img alt="image" src="stylesheets/images/wavesSymbol.svg"   style="width: 65px;height: 90%;"></div></div>

                <img alt="image" src="https://miro.medium.com/fit/c/1400/420/1*BkynGH35I1uTOqXWA94JHw.jpeg"   class="blogimg">
                <img src="/stylesheets/images/logo.jpeg" style="width: 30px; height: 30px; border-radius: 100%;
                margin: 10px;"><h14 style="width: 50%;"> 5 min read</h14>


                <h3 style="padding: 10px;">Learn to manage time successfully in 3 minutes. </h3>
                <p style="padding:0 10px 10px 10px;">Saying things like, 'One should learn time management' is easy said than done...</p>
                <div class="footer" style="text-align: center; float:left; "><a href="/Learn-To-Manage-Time">Read more</a></div>

                <br><br>
        </div> <br>


        </div>
        <div class="col-lg-6 col-md-6 col-12" ><div class="mg-fluidi img-thumbnail" style="box-shadow: 0 0 20px 0 rgba(0, 0,0, 0.3);"><div class="row" style="padding: 5%;" >
            <div class="col-lg-4 col-md-4 col-12" ><h10 style=" text-align: center;"><b>Leadership</b>
            </h10></div>
            <div class="col-lg-4 col-md-4 col-12" ><h16 style="size: 5%;">06/09/2020</h120></div>
            <div class="col-lg-4 col-md-4 col-12" ><img alt="image" src="stylesheets/images/wavesSymbol.svg"   style="width: 65px;height: 100%;"></div></div>

                <img alt="image" src="https://miro.medium.com/fit/c/1400/420/1*BkynGH35I1uTOqXWA94JHw.jpeg"   class="blogimg">
                <img src="/stylesheets/images/logo.jpeg" style="width: 30px; height: 30px; border-radius: 100%;
                margin: 10px;"><h14 style="width: 50%;"> 4 min read</h14>
                <h3 style="padding: 10px;">If success is fame, Hapiness is the pride</h3>

                <p style="padding:0 10px 10px 10px;">Maybe none. Earning a successful life is what everyone</p>
                <div class="footer" style="text-align: center; float:left; "><a href="/If-success-is-fame-Hapiness-is-the-pride">Read more</a></div>

                <br><br>
        </div> <br>
        </div>



    </div>
<br>
    <!-- <li class="button-item">
        <div class="footer text-center" ><a href="/blogging">Explore More</a></div>
          </li> -->
</div>


<div class="row" style=" width: 100%;padding-left: 5%;" >


    <div class="row" >


        <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%; "><h1 style="text-align: center;">Your App</h1>
            <br>
            <h5 style="text-align: center;">7waves app provide a best mobile experience so counselling will be as easier as playing songs</h5><br>
    </div>

    <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%;"><img alt="image" src="/stylesheets/images/VECTOR_IMAGE_ON_APP@-4.svg"    style="width: 100%;height: 100%;"></div>



</div>
</div>

<div class="row" style="background-image: url(/stylesheets/images/Mask_Group_28.svg); width: 100%;margin-left: 0%;padding: 4%;" >


    <div class="row">


        <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%; "><h1 style="text-align: center;">Let's Stay in Touch</h1>
            <br>
            <!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
#mc_embed_signup{ clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://7waves.us19.list-manage.com/subscribe/post?u=fa7016958f292ac20306dd09a&amp;id=31a48ae68f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
<div id="mc_embed_signup_scroll">
<label for="mce-EMAIL">Subscribe</label>
<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_fa7016958f292ac20306dd09a_31a48ae68f" tabindex="-1" value=""></div>
<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</div>
</form>
</div>

<!--End mc_embed_signup-->
         </div>

    <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%;"><img alt="image" src="/stylesheets/images/Group_1092.svg"    style="width: 100%;height: 100%;"></div>



</div>
</div>


    <script>

        // Wrap every letter in a span
      var textWrapper = document.querySelector('.ml1 .letters');
      textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

      anime.timeline({loop: true})
        .add({
          targets: '.ml1 .letter',
          scale: [0.3,1],
          opacity: [0,1],
          translateZ: 0,
          easing: "easeOutExpo",
          duration: 600,
          delay: (el, i) => 70 * (i+1)
        }).add({
          targets: '.ml1 .line',
          scaleX: [0,1],
          opacity: [0.5,1],
          easing: "easeOutExpo",
          duration: 700,
          offset: '-=875',
          delay: (el, i, l) => 80 * (l - i)
        }).add({
          targets: '.ml1',
          opacity: 0,
          duration: 1000,
          easing: "easeOutExpo",
          delay: 1000
        });


           </script>
<%- include("../partials/footer")  %>

