<!DOCTYPE html>
<html>
    <head>
      <title>Be someone you always wanted to be and explore self</title>

        <meta charset="utf-8">
        <head>
          <meta name="description" content="In life, you face many hardships, struggles. It would be best if you found a way to cross each one of them. And all the Mystery lies within you.">
          <meta name="keywords" content="how to become the person you always wanted to be, Willing, Love for work, Live your dream, Dream, Passionate, Rage, Dispassionate, Affection, pathy, Passioning ">
          <meta name="author" content="7 WAVES">
        </head>

      <%- include("../partials/navbar")  %>



<!-- MainSection Srart -->
<section style="height: 100%;padding-bottom: 3%;">
    <div class="container1" style="padding-left: 10%;padding-right: 10%;">
        <!-- <h1 class="ml1">
            <span class="text-wrapper">
              <span class="line line1"></span>
              <span class="letters">7 Wave</span>
              <span class="line line2"></span>
            </span>
          </h1> -->
          <div class="row" style="padding:5% 0px 0% 0px;" >

            <div class="col-lg-12 col-md-12  col-12" ><h1 style=" font-size: 20px;color: #2CAAE1;">Discover yourself</h1></div>
          <div class="col-lg-12 col-md-12  col-12" ><h1 style=" font-size: 300%; "><strong>BE SOMEONE YOU ALWAYS WANTED TO BE</strong></h1></div>






        </div>
        <hr>

        <div class="sharethis-inline-share-buttons"  style="float: left;"></div>
        <br>

        <br>


         <div class="col-lg-12 col-md-12 col-12" style="padding: 0 0 0 0;" >




           <div class="row" >
            <div class="col-lg-6 col-12" style="padding: 0 0 0 0;" >

            </div>
            <div class="col-lg-6 col-12" style="padding: 0 0 0 0;" ></div>
            <div class="col-lg-1 col-md-3 col-12" style="padding: 3% 0 0 3%;" >

                        <img alt="image" src="/stylesheets/images/logo.jpeg" style="width:70px;height: 70px; border-radius: 100%; "  alt="Sample avatar">
                      </div>

                            <div class="col-lg-11 col-md-9 col-12" style="padding: 3% 10% 3% 3%;" >

                               <h4><b>7 Waves</b></h4>
                               <h8> A Consulting Agency Dealing With Different Life Parameters.</h8>
                               <br>
                               <br>
                               <h9 style="font-size: 13px;color: #757575!important;;">September 26, 2020</h9>&nbsp;&nbsp;&nbsp;&nbsp;<h12 style="font-size: 13px;color: #757575!important;;">4 min read</h12><br>
                               <!-- <h9 style="font-size: 13px;color: #757575!important;;">Opinions expressed by Entrepreneur contributors are their own.</h9><br> -->
                               <br>
                               <p style="font-size: 19px; color: black;">You just have to take that ONE DECISION.
                                A decision that you think is right for you, no matter what odds come but you will be ready to face them and overcome them.
                                So, DECIDE. Be the driver of your life and be ready to take the blame for everything that happens then. </p>



                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';"><br>Introspection is the examination of one's conscious thoughts and feelings. In psychology, the process of introspection relies on the observation of one's mental state, while in a spiritual context, it may refer to the examination of one's soul.
We are examining our own internal thoughts and feelings. When we reflect on our thoughts, emotions, and memories and examine what they mean, we are engaged in introspection.

<br><br>Have you asked yourself, would you like you if YOU meet YOU?
Are you able to face rejection, use it for a good cause? Are you able to raise your voice against the things you feel odd about!
Your wings already exist; all you have to do is FLY.
When things aren’t adding up to your life, start subtracting.
<br><br><b>1. Understand the situation you are in and learn to deal with it
 <br>2.  Devote time to yourself.
 <br>3. Spending time alone is the most enjoyable thing on earth.
 <br>4. Stick to what's in front of you.
 <br>5. THINK, ACT, GROW.</b>
</p>


<div class="row" >
 <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
     <img alt="image" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/wavesweb-424c5.appspot.com/o/introspection1.jpg?alt=media&token=55067e52-0be5-49c9-afde-ed04bad9c8e1" >
 </div>
 </div>


                        <d</div style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';" >
<br><br>

<br><br>In life, what can be the best way to cross a hurdle in life? Is it interrogation about our own life to others or yourself?
<br>The answer is way too bright. Introspection is an examination of one's own emotions and thoughts. It gives us valuable insight into ourselves. If we are the ones suffering, we should be the only ones to have the integrity to answer ourselves. Knowing others is intelligence but knowing yourself is true wisdom.

<br><br><b>The various ways how you can know yourself are-</b>
<br>1. Discover your strengths and work harder to improve them.
<br>2. Close your eyes and take a deep breath and relax your mind into deep awareness.
 <br>3. Write your thoughts if you can't talk about them to anyone.
 <br>4. See yourself honestly and accept yourself.
<br>5. Figure out the ways to strengthen yourself.
 <br>6. Look back at your mistakes, to learn from them not to become sad. Don't stay trapped in them.
 <br>7. Stay optimistic while thinking about your future.
 <br>8. Do not long to love and to be loved.
<br>9. Deal and think about every situation with a smiling face.

<div class="row" >
 <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
     <img alt="image" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/wavesweb-424c5.appspot.com/o/introspection2.jpg?alt=media&token=e33d8fe3-d923-4959-b0ec-74b9d75cdc87" >
 </div>
</div>

                        </p>
                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">


<br><br>In life, you face many hardships, struggles. It would be best if you found a way to cross each one of them. And all the MYSTERY LIES WITHIN YOU.
<b>"KNOWING YOURSELF IS THE BEGINNING OF ALL WISDOM"
<br>- ARISTOTLE</b>

<br><br><b>• So, WHEN YOU FEEL YOUR LIFE HAS NO MEANING</b>
<br>These moments where nothing makes sense is where you get to explore. We’re not born with a meaning for our life. Meaning comes from learning who we are and while growing as a person. The purpose of your life when you’re 19 will probably change from when you’re 51. The quickest way to destroy your life is to believe that life has no meaning. A lack of purpose leads to depression, carelessness, drug-taking and even crime at an extreme level. If you feel like your life has no meaning, then it’s time to experiment. Standing still is not how you find the answer. “Being intensely focused on one’s self only leads to more suffering” A short-term solution to this problem is to experiment with helping those who have nothing. Spend time with people who might be dying to be in your position and get some perspective. I’ve found in my life that the most significant meaning for your life generally is tied to finding something you’d be happy to do for free that helps others.

<br><br><b>• WHEN YOU FEEL, YOU CAN'T GO ON</b>
<br>We’ve all had those days. Those deep and sometimes dark thoughts can lead to a place you’ve never visited. Some failures in life hurt more than others. Some failures can’t be solved through a listicle post such as this one with a dose of inspiration. If you genuinely feel like you can’t go on, then there’s another way. Seek real help.
<br><b>FAILURE DEFEATS LOSERS; FAILURE INSPIRES WINNERS - ROBERT T. KIYOSAKI</b>
</p>

<div class="row" >
 <div class="col-lg-12 col-12" style="padding: 0 0 0 0" >
     <img alt="image" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/wavesweb-424c5.appspot.com/o/introspection3.jpg?alt=media&token=a6d1c7be-e469-4f1d-96ae-443bb3d86885" >
 </div>
 </div>

                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';"><br><br>Unfavourable thoughts must be treated, and sometimes the best medicine is to seek professional advice through counselling, or for an extreme case, Lifeline contacts help. While I’ve never had suicidal thoughts personally, I have dealt with mental illness. “There is a way to come out the other side, but you have to put aside your pride and seek help” Please don’t become another victim of suicide by doing nothing


<br><br><b>• BEING BUSY IS NOT SAME AS ADDING UP</b>
<br>Being busy does not always imply you are adding something to your life. Try and invest in things that add value to your life, like investing in a business. Starting a business is tough practically, financially and emotionally because success does not come along at once, it needs investment in hard work, strong will power, and determination to cross all the obstacles towards making the business successful.

<br><br><b>SUCCESS IS NOT FINAL; FAILURE IS NOT FATAL. IT IS THE COURAGE TO CONTINUE THAT COUNT - WINSTON CHURCHILL</b>

<br><br><b>• DON'T IDOLIZE, GET INSPIRED</b>
<br> Making somebody an inspiration is better than idolizing somebody. Learning from people is good, but try to do the things they did is wrong. After all, everyone is unique and should never try to copy to what others do. When we idealize somebody, we forget their harmful activities, but one must also learn from other mistakes and try to avoid them. So, try to get inspiration instead of idolizing.
We notice many successful people around us; they may be popular cricketers, famous film-stars, well-recognised businessmen. What we see is just the position they hold in the present, but do we ever try to know the past they had, the hard work they did for the fame they own today. Success doesn't come overnight. It's a process, the one that keeps going come what may, earns.

<br><br>In doing this, you'll uncover a lot of resistance—both internally and from family and friends. By taking the time to become an expert of yourself first, you have the power to make decisions that make you feel good. By cultivating a bond of understanding, you bring your dream life within reach. No more stumbling, no more feeling lost.
<br><b>So, WILL YOU LIKE YOU IF YOU MEET YOU?</b>


<br><br>
<b>7 Waves
<br>Life Solutions| Connecting Happiness</b>







         </div>













</div>




<hr>

</section>

<!-- MainSection End -->








    </div>




    </div>

</div>


<div class="container1" style="padding:2% 5% 5% 5%;">
    <div class="row" >




          <div class="col-lg-12 col-md-12 col-12" ><h1 style="text-align: center; font-size: 200%;padding-bottom: 2%; "><strong>Popular Blogs From us</strong></h1></div>



          <div class="col-lg-6 col-md-6 col-12" ><div class="mg-fluidi img-thumbnail" style="box-shadow: 0 0 20px 0 rgba(0, 0,0, 0.3);"><div class="row" style="padding: 5%;" >
            <div class="col-lg-4 col-md-4 col-12" ><h10 style=" text-align: center;"><b>Leadership</b>
            </h10></div>
            <div class="col-lg-4 col-md-4 col-12" ><h16 style="size: 5%;">07/09/2020</h120></div>
            <div class="col-lg-4 col-md-4 col-12" ><img alt="image" src="stylesheets/images/wavesSymbol.svg"   style="width: 65px;height: 100%;"></div></div>

                <img alt="image" src="https://miro.medium.com/fit/c/1400/420/1*1OSxFYvnpwzBXsaR_nR5pg.jpeg"  class="blogimg" >
                <img src="/stylesheets/images/logo.jpeg" style="width: 30px; height: 30px; border-radius: 100%;
                margin: 10px;"><h14 style="width: 50%;"> 3 min read</h14>
                <h3 style="padding: 10px;">7 unsaid rules of Friendship</h3>
                <p style="padding:0 10px 10px 10px;">You are afraid of waters... but friends will still make you jumpin.. </p>
                <div class="footer" style="text-align: center; float:left; "><a href="/7-unsaid-rules-of-Friendship">Read more</a></div>

                <br><br>
        </div> <br>


        </div>
        <div class="col-lg-6 col-md-6 col-12" ><div class="mg-fluidi img-thumbnail" style="box-shadow: 0 0 20px 0 rgba(0, 0,0, 0.3);"><div class="row" style="padding: 5%;" >
            <div class="col-lg-4 col-md-4 col-12" ><h10 style=" text-align: center;"><b>Leadership</b>
            </h10></div>
            <div class="col-lg-4 col-md-4 col-12" ><h16 style="size: 5%;">06/09/2020</h120></div>
            <div class="col-lg-4 col-md-4 col-12" ><img alt="image" src="stylesheets/images/wavesSymbol.svg"   style="width: 65px;height: 100%;"></div></div>

                <img alt="image" src="https://miro.medium.com/fit/c/1400/420/1*BkynGH35I1uTOqXWA94JHw.jpeg"   class="blogimg">
                <img src="/stylesheets/images/logo.jpeg" style="width: 30px; height: 30px; border-radius: 100%;
                margin: 10px;"><h14 style="width: 50%;"> 4 min read</h14>
                <h3 style="padding: 10px;">If success is fame, Hapiness is the pride</h3>

                <p style="padding:0 10px 10px 10px;">Maybe none. Earning a successful life is what everyone</p>
                <div class="footer" style="text-align: center; float:left; "><a href="/If-success-is-fame-Hapiness-is-the-pride">Read more</a></div>

                <br><br>
        </div> <br>
        </div>



    </div>
<br>
    <!-- <li class="button-item">
        <div class="footer text-center" ><a href="/blogging">Explore More</a></div>
          </li> -->
</div>


<div class="row" style=" width: 100%;padding-left: 5%;" >


    <div class="row" >


        <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%; "><h1 style="text-align: center;">Your App</h1>
            <br>
            <h5 style="text-align: center;">7waves app provide a best mobile experience so counselling will be as easier as playing songs</h5><br>
    </div>

    <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%;"><img alt="image" src="/stylesheets/images/VECTOR_IMAGE_ON_APP@-4.svg"    style="width: 100%;height: 100%;"></div>



</div>
</div>

<div class="row" style="background-image: url(/stylesheets/images/Mask_Group_28.svg); width: 100%;margin-left: 0%;padding: 4%;" >


    <div class="row">


        <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%; "><h1 style="text-align: center;">Let's Stay in Touch</h1>
            <br>
            <!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
#mc_embed_signup{ clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://7waves.us19.list-manage.com/subscribe/post?u=fa7016958f292ac20306dd09a&amp;id=31a48ae68f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
<div id="mc_embed_signup_scroll">
<label for="mce-EMAIL">Subscribe</label>
<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_fa7016958f292ac20306dd09a_31a48ae68f" tabindex="-1" value=""></div>
<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</div>
</form>
</div>

<!--End mc_embed_signup-->
         </div>

    <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%;"><img alt="image" src="/stylesheets/images/Group_1092.svg"    style="width: 100%;height: 100%;"></div>



</div>
</div>


    <script>

        // Wrap every letter in a span
      var textWrapper = document.querySelector('.ml1 .letters');
      textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

      anime.timeline({loop: true})
        .add({
          targets: '.ml1 .letter',
          scale: [0.3,1],
          opacity: [0,1],
          translateZ: 0,
          easing: "easeOutExpo",
          duration: 600,
          delay: (el, i) => 70 * (i+1)
        }).add({
          targets: '.ml1 .line',
          scaleX: [0,1],
          opacity: [0.5,1],
          easing: "easeOutExpo",
          duration: 700,
          offset: '-=875',
          delay: (el, i, l) => 80 * (l - i)
        }).add({
          targets: '.ml1',
          opacity: 0,
          duration: 1000,
          easing: "easeOutExpo",
          delay: 1000
        });


           </script>


<%- include("../partials/footer")  %>

