<!DOCTYPE html>
<html>
    <head>
      <title>How you can Build Your own empire and chase dreams.</title>

        <meta charset="utf-8">
        <head>
          <meta name="description" content="We started to get a computer in the hands of everyday people, and we succeeded beyond our wildest dreams.">
          <meta name="keywords" content="selfdependent, independent, helpless, dependency, confidence, self-praise, associative, self-satisfied, self-motive, passion, workoriented, dream">
          <meta name="author" content="7 WAVES">
        </head>

      <%- include("../partials/navbar")  %>



<!-- MainSection Srart -->
<section style="height: 100%;padding-bottom: 3%;">
    <div class="container1" style="padding-left: 10%;padding-right: 10%;">
        <!-- <h1 class="ml1">
            <span class="text-wrapper">
              <span class="line line1"></span>
              <span class="letters">7 Wave</span>
              <span class="line line2"></span>
            </span>
          </h1> -->
          <div class="row" style="padding:5% 0px 0% 0px;" >

            <div class="col-lg-12 col-md-12  col-12" ><h1 style=" font-size: 20px;color: #2CAAE1;">Selfdependent</h1></div>
          <div class="col-lg-12 col-md-12  col-12" ><h1 style=" font-size: 300%; "><strong>Build your own Empire</strong></h1></div>







        </div>
        <hr>

        <div class="sharethis-inline-share-buttons"  style="float: left;"></div>
        <br>

        <br>


         <div class="col-lg-12 col-md-12 col-12" style="padding: 0 0 0 0;" >




           <div class="row" >
            <div class="col-lg-6 col-12" style="padding: 0 0 0 0;" >
            </div>
            <div class="col-lg-6 col-12" style="padding: 0 0 0 0;" ></div>
            <div class="col-lg-1 col-md-3 col-12" style="padding: 3% 0 0 3%;" >

                        <img alt="image" src="/stylesheets/images/logo.jpeg" style="width:70px;height: 70px; border-radius: 100%; "  alt="Sample avatar">
                      </div>

                            <div class="col-lg-11 col-md-9 col-12" style="padding: 3% 10% 3% 3%;" >

                              <h4><b>7 Waves</b></h4>
                              <h8> A Consulting Agency Dealing With Different Life Parameters.</h8>
                               <br>
                               <br>
                               <h9 style="font-size: 13px;color: #757575!important;;">September 12, 2020</h9>&nbsp;&nbsp;&nbsp;&nbsp;<h12 style="font-size: 13px;color: #757575!important;;">4 min read</h12><br>
                               <!-- <h9 style="font-size: 13px;color: #757575!important;;">Opinions expressed by Entrepreneur contributors are their own.</h9><br> -->
                               <br>
                               <p style="font-size: 23px; color: black; font-family: 'Times New Roman', Times, serif,'; ">Do you also wish to build your own empire?<br>
                                Imagine the details with me, moving into an office well dressed, everyone wishing you as you move through the hallways, you enter your cabin, call your secretary for your to- do listed work and updates, you keep a check on everything, business meetings, busy and productive schedule, news about profits of your firm, and everyone praising you for the benefits, the fame that you and your team earn by working hard each day. </p>



                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">Seems like a dream come true, TRUE?</p>
                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">What if I say, it's possible and prove it to you right now!!
                          <br>Here are a few examples to take a look on</p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                          <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">Do you know the full form of KFC? Of course not, because that does not matter.<br> What if I ask you, Do you love KFC? The answer is Hell, Yeah. Now, this is what matters.<br>
                        A roadside restaurant started KFC by Colonel Harland Sanders. And guess what, he had no idea what wonders his fried chicken will bring to him in the future.<br> </p>

                        <div class="row" >
                         <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
                             <img alt="image" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/wavesweb-424c5.appspot.com/o/buildempire1.png?alt=media&token=7d3f202d-3b4a-4631-a3d6-4a4a71251b8b" >
                         </div>
                         </div>

                            <p style="padding: 10% 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';"><b>Just so you know, as of 2019, there were 24,104 Kentucky Fried Chicken restaurants in operation worldwide. </b></p>
                            <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">Sanders was just five when his father died. Being the eldest among his siblings, Sanders learned cooking at age 7, grew up doing different jobs with varied success. But he chose to serve learned recipes of childhood. There was something different about the recipes, Kentucky Fried Chicken (KFC), but he claims the ingredients to "stand on everybody's shelf".
<br>So much extraordinary from the ordinary, unbelievable but real.

                              </p>



                              <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">Think of a Crazy entrepreneur of the crazy times, there is only one name that strikes me, the independent self- made man- ELON MUSK, could you remember something different?
<br>While I call him Crazy, I mean it because who else can imagine, self- motive and build spacecraft for commercial space travel</p>

<div class="row" >
 <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
     <img alt="image" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/wavesweb-424c5.appspot.com/o/elon%20musk%201.jpg?alt=media&token=dadb6c88-f7dc-4235-88f2-79a041fcb04e" >
 </div>
 </div>




<p style="padding: 10% 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';"><b>It's estimated that Elon Musk's IQ is 155
</b></p>

                                <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">As a child, he so lost in daydreams about inventions and in search of his passion that his parents and doctors ordered a test to check his hearing.
I was stunned when I first came to know about it.<br>

<br>From thinking of intentions to Creating inventions, this man-made it. Despite facing odds in his early life, seeing his parents’ divorce at age 10, being an introverted, bookish child during grade school, bullied until he was 15. Elon did not make himself helpless regardless of the situations but was always work-oriented and managed to sell his first software, a game called Blastar at the age of 15 only. The graph since then is increasing.<br> <b>From Blastar to SpaceX and Tesla Motors, he truly carved a confident Empire.</b>
<br>SpaceX, Musk's rocket company, is now valued at nearly $36 billion.
<br>He owns 21% of Tesla but has pledged more than half his stake as collateral for loans
<br><a href="https://www.forbes.com/profile/elon-musk/#7e246da57999">Source</a>
<br>Wow, Isn't that amazing!
</p>

                                <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';"> Each month more than 197 million people around the world get on their devices and visit Amazon.com. <br>
                                  That's more than the entire population of Russia.
  <br>The company that began as an online bookstore in a small garage, AMAZON today is complete and self- satisfied for all its customers. It is the leader in online sales today. Can you believe it? <br>9 out of 10 consumers price check a product on Amazon.
 </p>

 <div class="row" >
  <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
      <img alt="image" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/wavesweb-424c5.appspot.com/o/buildempire3.jpg?alt=media&token=678e2bec-8eac-4905-977c-d1fe4d234dd2" >
  </div>
  </div>



                                  <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">And since then it has expanded to a wide variety of e-commerce products and services, including video and audio streaming.<br>


<br><br>The company that has a true fan base for adults, for children, and grown-ups also. What a brilliant idea it was to have reached to everything, just a click away.
<br>The man behind- Jeff Bezos, an internet entrepreneur, industrialist has made it currently the world's largest online sales company. Bezos saw as "a brilliant but mysterious and coldblooded corporate titan" who worked hard to earn everything he holds today.

<br> <br>• This media tycoon, the world's youngest self-made billionaire only at the age of 23, is none other than Mark Zuckerberg.
<br> <br> Whoever thought of connecting to a stranger online, earning friends online, the sense of being together sitting distances away, Facebook made it possible.
<br><b> And it's still the most used social platform with nearly 2.45 billion monthly active users.</b></p>

<div class="row" >
 <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
     <img alt="image" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/wavesweb-424c5.appspot.com/o/buildempire4.png?alt=media&token=865fa71b-ac03-43e5-8a17-c07cd41efd0f" >
 </div>
</div>

                                  <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">  <a href="https://sproutsocial.com/insights/facebook-stats-for-marketers/">Source</a>

<br>Users 65 years and older are the fastest-growing group on Facebook
The vision of the programming prodigy made it come true. A billionaire, yet outfitted so is what shows his morality and superiority in real sense.
The company that made us familiar with social networking today holds other such corporations like Instagram, WhatsApp as well.
</p>

<div class="row" >
 <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
     <img alt="image" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/wavesweb-424c5.appspot.com/o/buildempire5.png?alt=media&token=d1bf17ef-36c8-4b15-a1b4-9ed874a61167" >
 </div>
</div>


                                    <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">• "Here's to the Crazy Ones, Think Different", a tagline that in itself holds the capability of an entire sphere. You know the tagline even if you own or do not own the incredible "Apple" product. The developing product that excels deals, not because of need but because of the trend that's created.
What do you think has taken Apple a Kong way?
<br>The name? The logo? The product? The sexy swagger of Steve Jobs?
</p>

<div class="row" >
 <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
     <img alt="image" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/wavesweb-424c5.appspot.com/o/buildempire6.png?alt=media&token=6b13f9ff-6ba6-4fdb-bf5a-65696538e35b" >
 </div>
</div>

 <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">This is the power of the great man- the intense visionary with an antagonistic management style.
<br>Artificial Intelligence, Siri completes 10 billion audio requests every month.
<br> Wonder, how much time we will take to compete, Siri, Unbeatable!!
<br>No words can define what revolution he gave rise to, somebody to look up to, to learn from to achieve the height of success in life.
<br>Apple has sold over 1.3 billion iPhones since launch (2007).
<br>Since 2001, Apple's stock price has grown by 15,000%, making the company worth $1 trillion.
<br>Apple sells 18% of smartphones globally and earns 87% of smartphone profits.


<div class="row" >
 <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
     <img alt="image" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/wavesweb-424c5.appspot.com/o/buildempire7.png?alt=media&token=91507b56-bbd3-4bdd-85fd-c1ed489217b2" >
 </div>
 </div>

 <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';"><a href=" - https://mediakix.com/blog/apple-statistics/"> - Source</a>

<br> <b>'We started to get a computer in the hands of everyday people, and we succeeded beyond our wildest dreams.' - Steve Jobs.</b>

<br><br>So, you see, Ordinary people, Ordinary ideas but Extraordinary success that made them Incredible and Remarkable in their field. No dependency on any factor may it be family, money crisis, lack of support or anything that challenges you because anything that does not challenge you does not make you.

<br><br>What you also need to do is, create what you are best at, explore your abilities to such an extent until they benefit you and the world with extraordinary results. Start now.
Build your empire.

<br><br> <b>7 Waves
<br>Life Solutions| Connecting Happiness</b>

</p>















         </div>













</div>




<hr>

</section>

<!-- MainSection End -->








    </div>




    </div>

</div>


<div class="container1" style="padding:2% 5% 5% 5%;">
    <div class="row" >




          <div class="col-lg-12 col-md-12 col-12" ><h1 style="text-align: center; font-size: 200%;padding-bottom: 2%; "><strong>Popular Blogs From us</strong></h1></div>



          <div class="col-lg-6 col-md-6 col-12" ><div class="mg-fluidi img-thumbnail" style="box-shadow: 0 0 20px 0 rgba(0, 0,0, 0.3);"><div class="row" style="padding: 5%;" >
            <div class="col-lg-4 col-md-4 col-12" ><h10 style=" text-align: center;"><b>Leadership</b>
            </h10></div>
            <div class="col-lg-4 col-md-4 col-12" ><h16 style="size: 5%;">07/09/2020</h120></div>
            <div class="col-lg-4 col-md-4 col-12" ><img alt="image" src="stylesheets/images/wavesSymbol.svg"   style="width: 65px;height: 100%;"></div></div>

                <img alt="image" src="https://miro.medium.com/fit/c/1400/420/1*1OSxFYvnpwzBXsaR_nR5pg.jpeg"  class="blogimg" >
                <img src="/stylesheets/images/logo.jpeg" style="width: 30px; height: 30px; border-radius: 100%;
                margin: 10px;"><h14 style="width: 50%;"> 3 min read</h14>
                <h3 style="padding: 10px;">7 unsaid rules of Friendship</h3>
                <p style="padding:0 10px 10px 10px;">You are afraid of waters... but friends will still make you jumpin.. </p>
                <div class="footer" style="text-align: center; float:left; "><a href="/7-unsaid-rules-of-Friendship">Read more</a></div>

                <br><br>
        </div> <br>


        </div>
        <div class="col-lg-6 col-md-6 col-12" ><div class="mg-fluidi img-thumbnail" style="box-shadow: 0 0 20px 0 rgba(0, 0,0, 0.3);"><div class="row" style="padding: 5%;" >
            <div class="col-lg-4 col-md-4 col-12" ><h10 style=" text-align: center;"><b>Leadership</b>
            </h10></div>
            <div class="col-lg-4 col-md-4 col-12" ><h16 style="size: 5%;">06/09/2020</h120></div>
            <div class="col-lg-4 col-md-4 col-12" ><img alt="image" src="stylesheets/images/wavesSymbol.svg"   style="width: 65px;height: 100%;"></div></div>

                <img alt="image" src="https://miro.medium.com/fit/c/1400/420/1*BkynGH35I1uTOqXWA94JHw.jpeg"   class="blogimg">
                <img src="/stylesheets/images/logo.jpeg" style="width: 30px; height: 30px; border-radius: 100%;
                margin: 10px;"><h14 style="width: 50%;"> 4 min read</h14>
                <h3 style="padding: 10px;">If success is fame, Hapiness is the pride</h3>

                <p style="padding:0 10px 10px 10px;">Maybe none. Earning a successful life is what everyone</p>
                <div class="footer" style="text-align: center; float:left; "><a href="/If-success-is-fame-Hapiness-is-the-pride">Read more</a></div>

                <br><br>
        </div> <br>
        </div>



    </div>
<br>
    <!-- <li class="button-item">
        <div class="footer text-center" ><a href="/blogging">Explore More</a></div>
          </li> -->
</div>


<div class="row" style=" width: 100%;padding-left: 5%;" >


    <div class="row" >


        <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%; "><h1 style="text-align: center;">Your App</h1>
            <br>
            <h5 style="text-align: center;">7waves app provide a best mobile experience so counselling will be as easier as playing songs</h5><br>
    </div>

    <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%;"><img alt="image" src="/stylesheets/images/VECTOR_IMAGE_ON_APP@-4.svg"    style="width: 100%;height: 100%;"></div>



</div>
</div>

<div class="row" style="background-image: url(/stylesheets/images/Mask_Group_28.svg); width: 100%;margin-left: 0%;padding: 4%;" >


    <div class="row">


        <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%; "><h1 style="text-align: center;">Let's Stay in Touch</h1>
            <br>
            <!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
#mc_embed_signup{ clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://7waves.us19.list-manage.com/subscribe/post?u=fa7016958f292ac20306dd09a&amp;id=31a48ae68f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
<div id="mc_embed_signup_scroll">
<label for="mce-EMAIL">Subscribe</label>
<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_fa7016958f292ac20306dd09a_31a48ae68f" tabindex="-1" value=""></div>
<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</div>
</form>
</div>

<!--End mc_embed_signup-->
         </div>

    <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%;"><img alt="image" src="/stylesheets/images/Group_1092.svg"    style="width: 100%;height: 100%;"></div>



</div>
</div>


    <script>

        // Wrap every letter in a span
      var textWrapper = document.querySelector('.ml1 .letters');
      textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

      anime.timeline({loop: true})
        .add({
          targets: '.ml1 .letter',
          scale: [0.3,1],
          opacity: [0,1],
          translateZ: 0,
          easing: "easeOutExpo",
          duration: 600,
          delay: (el, i) => 70 * (i+1)
        }).add({
          targets: '.ml1 .line',
          scaleX: [0,1],
          opacity: [0.5,1],
          easing: "easeOutExpo",
          duration: 700,
          offset: '-=875',
          delay: (el, i, l) => 80 * (l - i)
        }).add({
          targets: '.ml1',
          opacity: 0,
          duration: 1000,
          easing: "easeOutExpo",
          delay: 1000
        });


           </script>


<%- include("../partials/footer")  %>
