<!DOCTYPE html>
<html>
    <head>
      <title>What are the career opportunities and job opportunities</title>

        <meta charset="utf-8">
        <head>
          <meta name="description" content="The pandemic has created a massive impact and a lot of questions and uncertainties regarding mental and physical health. ">
          <meta name="keywords" content="Covid pandemic, Coronavirus, coronavirus illness, hope, covid affected, mask, sanitizer,coronavirus sickness, coronavirus infection, destroyed livelihood, expect, impact, corona symptoms, government jobs, job search, career, online jobs">
          <meta name="author" content="7 WAVES">
        </head>

      <%- include("../partials/navbar")  %>



<!-- MainSection Srart -->
<section style="height: 100%;padding-bottom: 3%;">
    <div class="container1" style="padding-left: 10%;padding-right: 10%;">
        <!-- <h1 class="ml1">
            <span class="text-wrapper">
              <span class="line line1"></span>
              <span class="letters">7 Wave</span>
              <span class="line line2"></span>
            </span>
          </h1> -->
          <div class="row" style="padding:5% 0px 0% 0px;" >

            <div class="col-lg-12 col-md-12  col-12" ><h1 style=" font-size: 20px;color: #2CAAE1;">Career Management</h1></div>
          <div class="col-lg-12 col-md-12  col-12" ><h1 style=" font-size: 250%; "><strong>CAREER OPPORTUNITIES AFTER 2020</strong></h1></div>






        </div>
        <hr>

        <div class="sharethis-inline-share-buttons"  style="float: left;"></div>
        <br>

        <br>


         <div class="col-lg-12 col-md-12 col-12" style="padding: 0 0 0 0;" >




           <div class="row" >
            <div class="col-lg-6 col-12" style="padding: 0 0 0 0;" >

            </div>
            <div class="col-lg-6 col-12" style="padding: 0 0 0 0;" ></div>
            <div class="col-lg-1 col-md-3 col-12" style="padding: 3% 0 0 3%;" >

                        <img alt="image" src="/stylesheets/images/logo.jpeg" style="width:70px;height: 70px; border-radius: 100%; "  alt="Sample avatar">
                      </div>

                            <div class="col-lg-11 col-md-9 col-12" style="padding: 3% 10% 3% 3%;" >

                               <h4><b>7 Waves</b></h4>
                               <h8>Life Solution Company</h8>
                               <br>
                               <br>
                               <h9 style="font-size: 13px;color: #757575!important;;">September 26, 2020</h9>&nbsp;&nbsp;&nbsp;&nbsp;<h12 style="font-size: 13px;color: #757575!important;;">4 min read</h12><br>
                               <!-- <h9 style="font-size: 13px;color: #757575!important;;">Opinions expressed by Entrepreneur contributors are their own.</h9><br> -->
                               <br>
                               <p style="font-size: 19px; font-style: italic; color: black;">Everyone in the world has 24 hours a day, that's a fair chance to everyone, but utilizing the time, time management is entirely our choice. </p>



                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';"><br>Covid pandemic, Coronavirus, coronavirus illness, hope, covid affected, mask, sanitizer,
<br><br>coronavirus sickness, coronavirus infection, destroyed livelihood, expect, impact, corona symptoms, government jobs, job search, career, online jobs

<br><br>If you think this blog is about to begin describing the physical health problems that the society is facing, you probably are in the wrong place because this is more than just physical health problems.

<br><br>While some of you are enjoying another day being home in this rigorous COVID pandemic situation, locked in houses, there are tremendous people desperately waiting for the lockdown to end and the situation to get better.

<br><br>The wealthiest section during the lockdown period is supplemented by more than basic needs, enjoying the lifestyle, the middle class just being able to touch affordability, the poor area barely meeting their needs. What! There are more, the poorest of the poor. Can you think of them? Just try to think about all of them, what life they are living right now, what difficulties they are facing. But what else can we do right now for them? Empathizing is far more than just hard for us.

<br><br><b>You know that Stress levels have been on the rise with 43 per cent of Indians suffering from Depression.</b>
</p>

<div class="row" >
 <div class="col-lg-12 col-12" style="padding: 0 0 0 0" >
     <img alt="image" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/wavesweb-424c5.appspot.com/o/career1.jpg?alt=media&token=6b90bd08-84c1-41a0-a8a0-6da4056d9ae7" >
 </div>

                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';" ><br><br><b>"THE BOTTOM OF THE PYRAMID IS THE WIDEST"</b>

 <br><br>The section that deserves uttermost attention in this coronavirus sickness; is the one least given. There are schemes, procedures, laws which the Government is currently following to trace the affected. Masks, Sanitizers are necessary, and what about food, shelter, or even humanity being given.

<br><br><b>About 100-120 million Indians have lost their jobs</b>

<br>How is this even different from the sudden economic crisis faced by the country after demonetisation in 2016?

<br><br>Some people take advantage of these labourers by taking a lump-sum amount and making false promises. The steps by Government currently are for the betterment of their lives, but that's not enough, not enough regardless of the basic amenities of their destroyed livelihood.

<br><br><b>India unemployment rate for 2019 was 5.36%, a 0.03% increase from 2018.
<br>India's unemployment rate for 2018 was 5.33%, a 0.09% decline from 2017.
<br>India's unemployment rate for 2017 was 5.42%, a 0.09% decline from 2016.
<br>India's unemployment rate for 2016 was 5.51%, a 0.05% decline from 2015.</b>
<br><br>And, IT IS EVEN WORSE SINCE THE PANDEMIC HIT THE COUNTRY
</p>

<div class="row" >
 <div class="col-lg-12 col-12" style="padding: 0 0 0 0" >
     <img alt="image" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/wavesweb-424c5.appspot.com/o/career2.png?alt=media&token=f5dbea58-2553-4013-8df2-e333f864ef69" >
 </div>
 </div>



                        <p style="padding: 0px 0px 3% 0px;font-size: 10px;color: black; font-family: 'Times New Roman', Times, serif,';"><br><br>Source: -<a href="https://www.macrotrends.net/countries/IND/india/unemployment-rate
                        ">https://www.macrotrends.net/countries/IND/india/unemployment-rate</a></p>

<p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">There are things taking place- new recipes being tried home, people working for becoming self- reliant, home decor, old adventures, old games, and memories being relived. And yes, the toughest among them - work from home and study from home.
<br>Think again, is it really among the most challenging things during the coronavirus infection period? If yes, what other solutions do we have? Are we willing to leave our jobs in this critical situation by just not being comfortable- working from home?
<br>Then what about those people who are willing to work despite these challenges to earn a living. Migrant workers- walking kilometres on foot, heavy baggage, starving kids, open sky- the haven. Farmers- feeding the whole country still starving. Ouch, this feeling. But yes, the other world is still on—the feeling of their plight aches.
</p>

 <div class="col-lg-12 col-12" style="padding: 0 0 0 0" >
     <img alt="image" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/wavesweb-424c5.appspot.com/o/career3.jpg?alt=media&token=e269c57b-e761-4a9b-8714-965077a7c20a" >
 </div>


<br>
                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">The core of our population is suffering; it's the need of the hour that not only officials but citizens to make a remarkable difference by helping the Government and the people at the bottom of the pyramid.
<br>The pandemic has created a massive impact and a lot of questions and uncertainties regarding mental and physical health. But the only answer that is received- to follow the social distancing norms to stay safe, avoid corona symptoms. Is it plentiful? Is this what we expect?
<br>Countless tears, Sleepless nights, Suicide, casualties, mourning, extinction, deaths, and death is all prevailing nowadays. Today the surrounding is fresh, and the sky is purely blue, but the faces of a tribe filled with colours of anxiety and fear.
<br>Now that you know the hidden pain and challenges, the time has come to understand it at a level that's more than reality. The problem isn't that there is no hope but the people who could gift the core of the Nation hope, are hopeless.

<br><br><b>THE BEST WAY, HOW YOU CAN HELP</b>
<br>Let's learn through a real-life story, that goes like-
<br>Since childhood, I have been taught to plant a tree on the eve of my birthday every year. Because as my parent's ideology says- May your age lasts the same as this tree. And yes, I have been taking it strictly since then. So, last year I randomly decided to plant two trees instead of one.
<br>Now, it was one month left for my next b' day, and the seeds had turned to some larger plant. But as I saw them, they had grown up very distinct from each other. The one seems fresh, leafy, green all around, and the other one turned pale yellow, dull, dry, and toned down.
<br>I developed a keen interest to find out the reason for such variation. So, I started to water the plants, took care of them on my own. And a few days later, I found the possible justifications behind the variation—one of the seeds bloomed flowers, and the other was for the shed. Everyone used to appreciate the sweet and pleasant fragrance of the flowers. But the other grown plant, providing only shade, it used to shed leaves. These leaves needed to be cleared timely, which required efforts and thus were denounced for the same.
<br>So, through this glimpse, I realized that if a few words of appreciation can keep something so happy, fresh, and blooming then imagine the wonders it could create for a living being.
<br>So, cherish things around you, Adore the lives, beings in your life. Help them in such a critical situation. Remember to preserve, love, and respect each entity in your life.

<br><br>So, Motivate people. Your positive words can do wonders to them. And It is the easiest thing you can do to save humanity.
Together, we can work for the people suffering out there by giving out the best in us. Someone correctly said " Unity in Diversity". The time has come to show the real power of humanity to the world. If we don't do this now, we might not even get a chance to do it later. Be the warrior today by contributing to society. Be the hope for the ones suffering.
<br><b>"BECOME THE DRIVER OF THE CHANGE TODAY"

<br><br>7 Waves
<br>Life Solutions| Connecting Happiness</b>
</p>















         </div>













</div>




<hr>

</section>

<!-- MainSection End -->








    </div>




    </div>

</div>


<div class="container1" style="padding:2% 5% 5% 5%;">
    <div class="row" >




          <div class="col-lg-12 col-md-12 col-12" ><h1 style="text-align: center; font-size: 200%;padding-bottom: 2%; "><strong>Popular Blogs From us</strong></h1></div>



          <div class="col-lg-6 col-md-6 col-12" ><div class="mg-fluidi img-thumbnail" style="box-shadow: 0 0 20px 0 rgba(0, 0,0, 0.3);"><div class="row" style="padding: 5%;" >
            <div class="col-lg-4 col-md-4 col-12" ><h10 style=" text-align: center;"><b>Leadership</b>
            </h10></div>
            <div class="col-lg-4 col-md-4 col-12" ><h16 style="size: 5%;">07/09/2020</h120></div>
            <div class="col-lg-4 col-md-4 col-12" ><img alt="image" src="stylesheets/images/wavesSymbol.svg"   style="width: 65px;height: 100%;"></div></div>

                <img alt="image" src="https://miro.medium.com/fit/c/1400/420/1*1OSxFYvnpwzBXsaR_nR5pg.jpeg"  class="blogimg" >
                <img src="/stylesheets/images/logo.jpeg" style="width: 30px; height: 30px; border-radius: 100%;
                margin: 10px;"><h14 style="width: 50%;"> 3 min read</h14>
                <h3 style="padding: 10px;">7 unsaid rules of Friendship</h3>
                <p style="padding:0 10px 10px 10px;">You are afraid of waters... but friends will still make you jumpin.. </p>
                <div class="footer" style="text-align: center; float:left; "><a href="/7-unsaid-rules-of-Friendship">Read more</a></div>

                <br><br>
        </div> <br>


        </div>
        <div class="col-lg-6 col-md-6 col-12" ><div class="mg-fluidi img-thumbnail" style="box-shadow: 0 0 20px 0 rgba(0, 0,0, 0.3);"><div class="row" style="padding: 5%;" >
            <div class="col-lg-4 col-md-4 col-12" ><h10 style=" text-align: center;"><b>Leadership</b>
            </h10></div>
            <div class="col-lg-4 col-md-4 col-12" ><h16 style="size: 5%;">06/09/2020</h120></div>
            <div class="col-lg-4 col-md-4 col-12" ><img alt="image" src="stylesheets/images/wavesSymbol.svg"   style="width: 65px;height: 100%;"></div></div>

                <img alt="image" src="https://miro.medium.com/fit/c/1400/420/1*BkynGH35I1uTOqXWA94JHw.jpeg"   class="blogimg">
                <img src="/stylesheets/images/logo.jpeg" style="width: 30px; height: 30px; border-radius: 100%;
                margin: 10px;"><h14 style="width: 50%;"> 4 min read</h14>
                <h3 style="padding: 10px;">If success is fame, Hapiness is the pride</h3>

                <p style="padding:0 10px 10px 10px;">Maybe none. Earning a successful life is what everyone</p>
                <div class="footer" style="text-align: center; float:left; "><a href="/If-success-is-fame-Hapiness-is-the-pride">Read more</a></div>

                <br><br>
        </div> <br>
        </div>



    </div>
<br>
    <!-- <li class="button-item">
        <div class="footer text-center" ><a href="/blogging">Explore More</a></div>
          </li> -->
</div>


<div class="row" style=" width: 100%;padding-left: 5%;" >


    <div class="row" >


        <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%; "><h1 style="text-align: center;">Your App</h1>
            <br>
            <h5 style="text-align: center;">7waves app provide a best mobile experience so counselling will be as easier as playing songs</h5><br>
    </div>

    <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%;"><img alt="image" src="/stylesheets/images/VECTOR_IMAGE_ON_APP@-4.svg"    style="width: 100%;height: 100%;"></div>



</div>
</div>

<div class="row" style="background-image: url(/stylesheets/images/Mask_Group_28.svg); width: 100%;margin-left: 0%;padding: 4%;" >


    <div class="row">


        <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%; "><h1 style="text-align: center;">Let's Stay in Touch</h1>
            <br>
            <!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
#mc_embed_signup{ clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://7waves.us19.list-manage.com/subscribe/post?u=fa7016958f292ac20306dd09a&amp;id=31a48ae68f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
<div id="mc_embed_signup_scroll">
<label for="mce-EMAIL">Subscribe</label>
<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_fa7016958f292ac20306dd09a_31a48ae68f" tabindex="-1" value=""></div>
<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</div>
</form>
</div>

<!--End mc_embed_signup-->
         </div>

    <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%;"><img alt="image" src="/stylesheets/images/Group_1092.svg"    style="width: 100%;height: 100%;"></div>



</div>
</div>


    <script>

        // Wrap every letter in a span
      var textWrapper = document.querySelector('.ml1 .letters');
      textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

      anime.timeline({loop: true})
        .add({
          targets: '.ml1 .letter',
          scale: [0.3,1],
          opacity: [0,1],
          translateZ: 0,
          easing: "easeOutExpo",
          duration: 600,
          delay: (el, i) => 70 * (i+1)
        }).add({
          targets: '.ml1 .line',
          scaleX: [0,1],
          opacity: [0.5,1],
          easing: "easeOutExpo",
          duration: 700,
          offset: '-=875',
          delay: (el, i, l) => 80 * (l - i)
        }).add({
          targets: '.ml1',
          opacity: 0,
          duration: 1000,
          easing: "easeOutExpo",
          delay: 1000
        });


           </script>
<%- include("../partials/footer")  %>

