<!DOCTYPE html>
<html>
    <head>
      <title>what is depression? How to deal with Depression. </title>

        <meta charset="utf-8">
        <head>
          <meta name="description" content="7waves Page.This is an amazing page to get the best consultancy in the world.">
          <meta name="keywords" content="Tough, Depressive, Self love, SelfHate, Anxiety, Revive, Mentalhealth, Mentally Stable, Mind , Mindful, Self Affection, Howtodealwithdepression, TherapyforDepression, Doyouneedtherapy, Depressionfight">
          <meta name="author" content="7 WAVES">
        </head>

      <%- include("../partials/navbar")  %>


<!-- MainSection Srart -->
<section style="height: 100%;padding-bottom: 3%;">
    <div class="container1" style="padding-left: 10%;padding-right: 10%;">
        <!-- <h1 class="ml1">
            <span class="text-wrapper">
              <span class="line line1"></span>
              <span class="letters">7 Wave</span>
              <span class="line line2"></span>
            </span>
          </h1> -->
          <div class="row" style="padding:5% 0px 0% 0px;" >

            <div class="col-lg-12 col-md-12  col-12" ><h1 style=" font-size: 20px;color: #2CAAE1;">DEPRESSION</h1></div>
          <div class="col-lg-12 col-md-12  col-12" ><h1 style=" font-size: 300%; "><strong>DEPRESSION: A PHASE OR ILLNESS</strong></h1></div>






        </div>
        <hr>

        <div class="sharethis-inline-share-buttons"  style="float: left;"></div>
        <br>

        <br>


         <div class="col-lg-12 col-md-12 col-12" style="padding: 0 0 0 0;" >




           <div class="row" >
            <div class="col-lg-6 col-12" style="padding: 0 0 0 0;" >

            </div>
            <div class="col-lg-6 col-12" style="padding: 0 0 0 0;" ></div>
            <div class="col-lg-1 col-md-3 col-12" style="padding: 3% 0 0 3%;" >

                        <img alt="image" src="/stylesheets/images/logo.jpeg" style="width:70px;height: 70px; border-radius: 100%; "  alt="Sample avatar">
                      </div>

                            <div class="col-lg-11 col-md-9 col-12" style="padding: 3% 10% 3% 3%;" >

                               <h4><b>7 Waves</b></h4>
                               <h8>Life Solution Company</h8>
                               <br>
                               <br>
                               <h9 style="font-size: 13px;color: #757575!important;;">September 26, 2020</h9>&nbsp;&nbsp;&nbsp;&nbsp;<h12 style="font-size: 13px;color: #757575!important;;">4 min read</h12><br>
                               <!-- <h9 style="font-size: 13px;color: #757575!important;;">Opinions expressed by Entrepreneur contributors are their own.</h9><br> -->
                               <br>




                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">Did you hear that he/she just came out of Depression!

<br>Oh, my poor child, I had no idea you were suffering. Must have been tough for you.

<br>Oh please, I am okay, why are you overrating it. It's just a phase that keeps hitting us sometimes. Depression is a common illness worldwide, with more than 264 million people affected.

 </p>



 <div class="row" >
  <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
      <img alt="image" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/wavesweb-424c5.appspot.com/o/depression1.png?alt=media&token=98b2c772-0891-43ec-a6d4-6339d118eab1" >
  </div>
  </div>


                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';" ><br><br>Source:<a href=" https://www.who.int/news-room/fact-sheets/detail/depression
                        "> https://www.who.int/news-room/fact-sheets/detail/depression  </a> -

<br><br>Don't you think it's a good test for examining our mental health stability? 
"Depression is a battle for a part of life, not for my entire life. It's estimated that 16.2 million adults in the United States, or 6.7 per cent of American adults, have had at least one major depressive episode in a given year

<br><br>Aren't these words great to be heard from a 19-year-old, who spent almost a full year caught in agony, sorrow, hardships, and sufferings of Depression? Immensely absorbing to feel and understand her Self- love.
<br>But What does be depressive mean?
<br>How do you define Depression?
<br>If you excuse it for a negative explanation or something bad to talk about, then let me correct you by saying, your message portrayal is wrong. 


<br><br>This is the state when you are mentally affected. There are times in life when you feel like things will never get better, and that your feelings of depression will never end. For many, Depression feels like- no end to their suffering, just as drowning and locating no one to catch, self-hate, anxiety over trivial things, blockage of the mind and emotions, not being able to revive oneself, and much more. Depression plays a role in more than one-half of all suicide attempts, whereas the lifetime risk of suicide among patients with untreated depressive disorder is nearly 20%. And thus, leading to suicide being the second leading cause of death in 15-29-year-olds.


<div class="row" >
 <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
     <img alt="image" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/wavesweb-424c5.appspot.com/o/depression2.png?alt=media&token=f11fa52f-0b39-4c36-a954-b1d5489d817a" >
 </div>
</div>
                        </p>
                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';"><a href="https://ourworldindata.org/grapher/share-of-the-population-suffering-from-depression
                        "> Source </a>

<br><br><b>Here are some symptoms of depression-:</b>


<br>• Feeling sad or having a depressed mood
<br>• Loss of interest or pleasure in activities once enjoyed
<br>• Changes in appetite — weight loss or gain unrelated to dieting
<br>• Trouble sleeping or sleeping too much
<br>• Loss of energy or increased fatigue
<br>• Increase in purposeless physical activity or slowed movements and speech 
<br>• Feeling worthless or guilty
<br>• Difficulty thinking, concentrating or making decisions
<br>• Thoughts of death or suicide


<br><br><b>Here are some proven facts about Depression along with ways on 'How to deal with depression'.</b>
<br>
When your stress levels are high, you tend to perform lower than your usual efficiency level. This hampers productivity and makes it problematic to be mentally stable.
<br>"But do you take it as an attempt to avoid performing!"
<br>(Reminder: keep a note of your answers in mind)

<br><br>Boredom causes the mind to overthink. People are less depressed when kept busy.
 <br>"What category are you in?"
<br>Friends are an important part of depression recovery. We are social animals, and we tend to secrete serotonin and other good neurochemicals when we communicate with others. We feel safe in the company of others. Serotonin is found to be at low levels of Depression that causes mood swings.
<br>Serotonin gives the feelings of Self- Affection and love.
<br>"So, have you ever tried talking?"
<br>(That worked)
<br>"Depression is a mental illness; it is a sad plus". But an illness that can be treated, cured with therapies of love, empathy, mindful understanding, tolerance, friendship, familiarity, and belief. 

<br><br>It is just a phase to be dealt with strong will power, more energy, strength, durability, and courage. Take the Depression fight and conquer it. "Don't mistake it for Giving up on life" People have sorrows, that they don't share but, in such cases, it becomes essential to talk because the quality of life depends on your mental health. Darkness cannot be driven out by darkness itself; only light can do that. So, do not suffer in silence. Instead, talk to people because IT IS okay TO TALK.
<br>And if you think, you need therapy for Depression, it is okay. 
<br>Talking to somebody is okay, reaching out for help is okay, don't be scared to be depressed, IT IS ALL okay.

<br><br>You know, there are effective therapies for mental disorders, but still <b></b>'Between 76% and 85% of people receive no treatment and thus leading to the death of close 800,000 people suffering due to these reasons.'</b>



<div class="row" >
 <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
     <img alt="image" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/wavesweb-424c5.appspot.com/o/depression3.png?alt=media&token=1a1cc77b-5dab-4ad7-98cc-0a40c3f07687" >
 </div>
 </div>


                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';"><br><br>Source: <a href="https://www.who.int/news-room/fact-sheets/detail/depression
                        "> https://www.who.int/news-room/fact-sheets/detail/depression  </a>


<br><br>Your family can't afford to see you dying due to these reasons. We can't afford to see you this way. Please, Reach out to us.

<br><br>We understand that Not socializing the pain doesn't mean; it is not there. Some people grieve in silence. 

<br><br>So, if Reaching out is not comfortable to you, then focus on the following- 
<br><b>• Have a Conversation with yourself </b>
<br><b>• Find out yourself</b>
<br><b>• Practice mindful activities</b>
<br><b>• Know who you are, what do you live for</b>
<br><b>• How important you are to people; how essential people are to you.</b>


<br><br>To the people in pain, you will come out stronger; this is an inevitable fact to accept. And remember, 
<br>"You is a gem in someone's life. Don't break this chain."
<br>Do not keep the spaces empty.



<b><br><br>7 Waves
<br>Life Solutions| Connecting Happiness</b>

</p>


















         </div>













</div>




<hr>

</section>

<!-- MainSection End -->








    </div>




    </div>

</div>


<div class="container1" style="padding:2% 5% 5% 5%;">
    <div class="row" >




          <div class="col-lg-12 col-md-12 col-12" ><h1 style="text-align: center; font-size: 200%;padding-bottom: 2%; "><strong>Popular Blogs From us</strong></h1></div>



          <div class="col-lg-6 col-md-6 col-12" ><div class="mg-fluidi img-thumbnail" style="box-shadow: 0 0 20px 0 rgba(0, 0,0, 0.3);"><div class="row" style="padding: 5%;" >
            <div class="col-lg-4 col-md-4 col-12" ><h10 style=" text-align: center;"><b>Leadership</b>
            </h10></div>
            <div class="col-lg-4 col-md-4 col-12" ><h16 style="size: 5%;">07/09/2020</h120></div>
            <div class="col-lg-4 col-md-4 col-12" ><img alt="image" src="stylesheets/images/wavesSymbol.svg"   style="width: 65px;height: 100%;"></div></div>

                <img alt="image" src="https://miro.medium.com/fit/c/1400/420/1*1OSxFYvnpwzBXsaR_nR5pg.jpeg"  class="blogimg" >
                <img src="/stylesheets/images/logo.jpeg" style="width: 30px; height: 30px; border-radius: 100%;
                margin: 10px;"><h14 style="width: 50%;"> 3 min read</h14>
                <h3 style="padding: 10px;">7 unsaid rules of Friendship</h3>
                <p style="padding:0 10px 10px 10px;">You are afraid of waters... but friends will still make you jumpin.. </p>
                <div class="footer" style="text-align: center; float:left; "><a href="/7-unsaid-rules-of-Friendship">Read more</a></div>

                <br><br>
        </div> <br>


        </div>
        <div class="col-lg-6 col-md-6 col-12" ><div class="mg-fluidi img-thumbnail" style="box-shadow: 0 0 20px 0 rgba(0, 0,0, 0.3);"><div class="row" style="padding: 5%;" >
            <div class="col-lg-4 col-md-4 col-12" ><h10 style=" text-align: center;"><b>Leadership</b>
            </h10></div>
            <div class="col-lg-4 col-md-4 col-12" ><h16 style="size: 5%;">06/09/2020</h120></div>
            <div class="col-lg-4 col-md-4 col-12" ><img alt="image" src="stylesheets/images/wavesSymbol.svg"   style="width: 65px;height: 100%;"></div></div>

                <img alt="image" src="https://miro.medium.com/fit/c/1400/420/1*BkynGH35I1uTOqXWA94JHw.jpeg"   class="blogimg">
                <img src="/stylesheets/images/logo.jpeg" style="width: 30px; height: 30px; border-radius: 100%;
                margin: 10px;"><h14 style="width: 50%;"> 4 min read</h14>
                <h3 style="padding: 10px;">If success is fame, Hapiness is the pride</h3>

                <p style="padding:0 10px 10px 10px;">Maybe none. Earning a successful life is what everyone</p>
                <div class="footer" style="text-align: center; float:left; "><a href="/If-success-is-fame-Hapiness-is-the-pride">Read more</a></div>

                <br><br>
        </div> <br>
        </div>



    </div>
<br>
    <!-- <li class="button-item">
        <div class="footer text-center" ><a href="/blogging">Explore More</a></div>
          </li> -->
</div>


<div class="row" style=" width: 100%;padding-left: 5%;" >


    <div class="row" >


        <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%; "><h1 style="text-align: center;">Your App</h1>
            <br>
            <h5 style="text-align: center;">7waves app provide a best mobile experience so counselling will be as easier as playing songs</h5><br>
    </div>

    <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%;"><img alt="image" src="/stylesheets/images/VECTOR_IMAGE_ON_APP@-4.svg"    style="width: 100%;height: 100%;"></div>



</div>
</div>

<div class="row" style="background-image: url(/stylesheets/images/Mask_Group_28.svg); width: 100%;margin-left: 0%;padding: 4%;" >


    <div class="row">


        <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%; "><h1 style="text-align: center;">Let's Stay in Touch</h1>
            <br>
            <!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
#mc_embed_signup{ clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://7waves.us19.list-manage.com/subscribe/post?u=fa7016958f292ac20306dd09a&amp;id=31a48ae68f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
<div id="mc_embed_signup_scroll">
<label for="mce-EMAIL">Subscribe</label>
<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_fa7016958f292ac20306dd09a_31a48ae68f" tabindex="-1" value=""></div>
<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</div>
</form>
</div>

<!--End mc_embed_signup-->
         </div>

    <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%;"><img alt="image" src="/stylesheets/images/Group_1092.svg"    style="width: 100%;height: 100%;"></div>



</div>
</div>


    <script>

        // Wrap every letter in a span
      var textWrapper = document.querySelector('.ml1 .letters');
      textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

      anime.timeline({loop: true})
        .add({
          targets: '.ml1 .letter',
          scale: [0.3,1],
          opacity: [0,1],
          translateZ: 0,
          easing: "easeOutExpo",
          duration: 600,
          delay: (el, i) => 70 * (i+1)
        }).add({
          targets: '.ml1 .line',
          scaleX: [0,1],
          opacity: [0.5,1],
          easing: "easeOutExpo",
          duration: 700,
          offset: '-=875',
          delay: (el, i, l) => 80 * (l - i)
        }).add({
          targets: '.ml1',
          opacity: 0,
          duration: 1000,
          easing: "easeOutExpo",
          delay: 1000
        });


           </script>


