<!DOCTYPE html>
<html>
    <head>
      <title>How to Prevent Sexual Harassment?
    </title>
        
        <meta charset="utf-8">
        <head>
          <meta name="description" content="The typical response that someone gets when they raise their voice against sexual harassment is, It's okay, it happens. We all must unanimously understand that sexual harassment of any sort- is not okay and not acceptable. Children and students are susceptible to falling prey to sexual harassment. It is imperative to be vigilant about harassment and take action to stop it then and there.">
          <meta name="keywords" content="sexual harassment, inappropriate gestures, society, take action, spread awareness, create safe environment, no tolerance policy, talk to trusted adults, keep evidence ready, set boundaries, keep safe distance, don’t succumb, society’s idea of shame, victim, volunteer, form committees, strict measures, student council, seriousness, sensitivity, fear, hesitation, injustice">
          <meta name="author" content="7 WAVES">
        </head>

      <%- include("../partials/navbar")  %>

<!-- MainSection Srart -->
<section style="height: 100%;padding-bottom: 3%;">
    <div class="container1" style="padding-left: 10%;padding-right: 10%;">
        <!-- <h1 class="ml1">
            <span class="text-wrapper">
              <span class="line line1"></span>
              <span class="letters">7 Wave</span>
              <span class="line line2"></span>
            </span>
          </h1> -->
          <div class="row" style="padding:5% 0px 0% 0px;" >

            <div class="col-lg-12 col-md-12  col-12" ><h1 style=" font-size: 20px;color: #59a5c5;">Personal</h1></div>
          <div class="col-lg-12 col-md-12  col-12" ><h1 style=" font-size: 300%; "><strong>How to Prevent Sexual Harassment?
        </strong></h1></div>






        </div>
        <hr>

        <div class="sharethis-inline-share-buttons"  style="float: left;"></div>
        <br>

        <br>


         <div class="col-lg-12 col-md-12 col-12" style="padding: 0 0 0 0;" >




           <div class="row" >
            <div class="col-lg-6 col-12" style="padding: 0 0 0 0;" >

            </div>
            <div class="col-lg-6 col-12" style="padding: 0 0 0 0;" ></div>
            <div class="col-lg-1 col-md-3 col-12" style="padding: 3% 0 0 3%;" >

                        <img alt="image" src="/stylesheets/images/logo.jpeg" style="width:70px;height: 70px; border-radius: 100%; "  alt="Sample avatar">
                      </div>

                            <div class="col-lg-11 col-md-9 col-12" style="padding: 3% 10% 3% 3%;" >

                               <h4><b>Ananya K</b></h4>
                               <h8>Content Team, 7 Waves Life Solutions</h8>
                               <br>
                               <br>
                               <h9 style="font-size: 13px;color: #757575!important;;">June 30, 2022</h9>&nbsp;&nbsp;&nbsp;&nbsp;<h12 style="font-size: 13px;color: #757575!important;;">10 min read</h12><br>
                               <!-- <h9 style="font-size: 13px;color: #757575!important;;">Opinions expressed by Entrepreneur contributors are their own.</h9><br> -->
                              
                              <p>
                                <p style="font-size: 19px; color: black; text-align: center;">
                                    <i>“Never let anyone try and make you into something that you’re not. Remember what it is that you want, and always stay strong in that.”<br>
                                        ~Abigail Breslin 
     
                                     </i>
                                   </p>
                              </p>
                              <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                Unwanted comments, unwelcome stares, inappropriate gestures and behaviour are things that society has normalised for people to accept. The typical response that someone gets when they raise their voice against sexual harassment is, "It's okay, it happens." We all must unanimously understand that sexual harassment of any sort- is not okay and not acceptable. Children and students are susceptible to falling prey to sexual harassment. It is imperative to be vigilant about harassment and take action to stop it then and there. Here are a few factors that you can keep in mind to prevent yourself and others around you from getting sexually harassed:

                                </p>
                                <p>
                                <ul style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';"><li>●	Gain a Realistic Perspective on Self-Love </li>
                                  <li>● Spread Awareness</li>
                                  <li>●	Create a Safe Environment </li>
                                  <li>●	No Tolerance Policy </li>
                                  <li>●	Take Note of Inappropriate Action or Behaviour </li>
                                  <li>●	Talk to a Trusted Adult </li>
                                  <li>●	Inform Someone in a Position of Authority </li>
                                  <li>●	Keep Evidence Ready </li>
                                  <li>●	Set Boundaries </li>
                                  <li>●	Keep a Safe Distance from the Person </li>
                                  <li>●	Don't Succumb to Society's Idea of Shame </li>
                                   
                                  	</ul> 
                                  
                              </p>
                              <div class="row" >
                                <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
                                    <img alt="No means no" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/waves-36bb5.appspot.com/o/How%20to%20Prevent%20Sexual%20Harassment%3F%2F4067645.jpg?alt=media&token=af9dd83a-f36b-4a00-87ae-df993a033348" >
                                </div>
                                </div>     
                             

                        <H3 style=" font-style: underline">1. <u>Spread Awareness: 
                        </u>
                        </H3>
                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                            The prerequisite for preventing sexual harassment is understanding and spreading awareness about it in your surroundings. Understand that anyone can be a victim of sexual harassment (not just females). Take the initiative in school and volunteer to form committees to address such concerns. 
                        </p>
                        <H3 style=" font-style: underline">2. <u> Create a Safe Environment:
                        </u>
                        </H3>
                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                            Creating a safe working and learning environment by ensuring that any concerns surrounding harassment are addressed, and strict measures are taken is a pivotal step to reducing instances of sexual harassment. Talking about such integral concerns with your classmates and deciding to get such issues addressed by the student council or representatives is vital to make people feel safe and secure. 

                        </p>
                   
                       

                            <H3 style=" font-style: underline">3. <u>No Tolerance Policy:
                            </u>
                            </H3>
                            
                            <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                Have a strict 'No Tolerance Policy' towards any form of harassment or inappropriate behaviour. Do not let yourself and people around you dismiss an inappropriate action by considering it small and insignificant. Any form of harassment, from stares and comments to touching someone inappropriately, must be dealt with seriousness and sensitivity. 
                            </p>
                            <div class="row" >
                                <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
                                    <img alt="Crying girl saying STOP" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/waves-36bb5.appspot.com/o/How%20to%20Prevent%20Sexual%20Harassment%3F%2F4003622.jpg?alt=media&token=8dd26a8e-f19c-4e1f-97ab-2a0f16b94d50" >
                                </div>
                                </div> 
                            <H3 style=" font-style: underline">4. <u>Take Note of Inappropriate Action or Behaviour:
                            </u>
                            </H3>
                            <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                Be cautious and aware of people's behaviour towards you and others in your surroundings. If you feel uncomfortable with how someone treats you or others, then take note of it and don't let it slide. Trust your judgement and note any instances of harassment and inappropriate behaviour. 
                            </p>
                         
  <br>
                            <H3 style=" font-style: underline">5. <u>Talk to a Trusted Adult:
                            </u>
                            </H3>
                            <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                If you feel that you or someone around you is being harassed, you should immediately bring it to the notice of a trusted adult. Don't hide or keep such incidents to yourself. Be it your class teacher, coordinator, student representative, parents or any adult you trust, let them know about the situation immediately to prevent things from escalating further.
  </p>

                                <H3 style=" font-style: underline">6. <u>Inform Someone in a Position of Authority:
                                </u>
                                </H3>
                                <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                    Once you have spoken to a trusted adult, ensure that you let someone in a position of authority know about the same. You can either approach someone in a senior position (coordinator/ supervisor/ principal) in your school along with the trusted adult or request them to approach your coordinator/ principal on your behalf. Keeping someone powerful informed would ensure you have backing and support when you need help. 
                                </p>
                                <div class="row" >
                                    <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
                                        <img alt="counselling" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/waves-36bb5.appspot.com/o/How%20to%20Prevent%20Sexual%20Harassment%3F%2F7566.jpg?alt=media&token=86afd491-88ca-4823-a04f-210ea3126e72" >
                                    </div>
                                    </div>
                                <H3 style=" font-style: underline">7. <u>Keep Evidence Ready:
                                </u>
                                
      <br>
                                </H3>
                                <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                    When you approach someone (for example- your principal), ensure that you have enough evidence or backing to provide to them. You can be cautious and remember the incidents that took place, where they took place, the date, the actions and behaviour of the person and other such details. Mention these details and ask them to check security cameras if possible or bring an eye witness (a friend or classmate who witnessed the situation) to support you. Providing backing and evidence would make it easier for you to prove your point.  </p>
                                
                                </p>
                               
                                    <H3 style=" font-style: underline">8. <u>Set Boundaries:
                                </u>
                                </H3>
                                <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                    When you find someone's behaviour making you uncomfortable, set clear boundaries between yourself and the person. For instance, if they keep touching you often or ask you to accompany them to places, tell them that you are busy and cannot make it. Tell them that you prefer communicating verbally and are not very comfortable with them touching you every now and then. It is crucial to break through the initial phase of fear and hesitation and raise your voice. Remember, you have nothing to fear. You have nothing to feel guilty or fearful about. 
  </p>
  <div class="row" >
    <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
        <img alt="Girl Saying NO" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/waves-36bb5.appspot.com/o/How%20to%20Prevent%20Sexual%20Harassment%3F%2F3978729.jpg?alt=media&token=ff1dd21f-a749-461d-bc61-d8cb398ad1f6" >
    </div>
    </div>
  <H3 style=" font-style: underline">9. <u>Keep a Safe Distance from the Person:
</u>
</H3>
<p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
    It is best to avoid being in a person's company who makes you feel uncomfortable and anxious. When you are aware of the ill intentions of the person, try to avoid interacting with them or meeting them as much as possible. If that person constantly surrounds you, then ensure that you inform an adult at the soonest and take action to ensure that the person doesn't remain in your vicinity anymore. 
</p>
<H3 style=" font-style: underline">10. <u>Don't Succumb to Society's Idea of Shame:
</u>
</H3>
<p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
    Most importantly, don't let society's idea of shame and embarrassment stop you from raising your voice and taking action against injustice. Most people suffer from being victims of sexual harassment solely because they fear speaking up against it. If there's anyone who should feel ashamed, it's the accused person and not you. Suffering in silence is equivalent to voluntarily participating in injustice and crime. So, don't let other people's judgements impact you. You need to stand up for your own self-respect and dignity.We hope these tips help you prevent any cases of sexual harassment. We wish for you to be safe and happy. It is important to talk about such concerns and spread awareness. So, talk to your friends about this and help yourself or anyone you know in need. 
    





                        <div style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';" >
<b>7 Waves
<br>Life Solutions| Connecting Happiness</b>







         </div>













</div>




<hr>

</section>

<!-- MainSection End -->








    </div>




    </div>

</div>


<div class="container1" style="padding:2% 5% 5% 5%;">
    <div class="row" >




          <div class="col-lg-12 col-md-12 col-12" ><h1 style="text-align: center; font-size: 200%;padding-bottom: 2%; "><strong>Popular Blogs From us</strong></h1></div>



          <div class="col-lg-6 col-md-6 col-12" ><div class="mg-fluidi img-thumbnail" style="box-shadow: 0 0 20px 0 rgba(0, 0,0, 0.3);"><div class="row" style="padding: 5%;" >
            <div class="col-lg-4 col-md-4 col-12" ><h10 style=" text-align: center;"><b>Leadership</b>
            </h10></div>
            <div class="col-lg-4 col-md-4 col-12" ><h16 style="size: 5%;">07/09/2020</h120></div>
            <div class="col-lg-4 col-md-4 col-12" ><img alt="image" src="stylesheets/images/wavesSymbol.svg"   style="width: 65px;height: 100%;"></div></div>

                <img alt="image" src="https://miro.medium.com/fit/c/1400/420/1*1OSxFYvnpwzBXsaR_nR5pg.jpeg"  class="blogimg" >
                <img src="/stylesheets/images/logo.jpeg" style="width: 30px; height: 30px; border-radius: 100%;
                margin: 10px;"><h14 style="width: 50%;"> 3 min read</h14>
                <h3 style="padding: 10px;">7 unsaid rules of Friendship</h3>
                <p style="padding:0 10px 10px 10px;">You are afraid of waters... but friends will still make you jumpin.. </p>
                <div class="footer" style="text-align: center; float:left; "><a href="/7-unsaid-rules-of-Friendship">Read more</a></div>

                <br><br>
        </div> <br>


        </div>
        <div class="col-lg-6 col-md-6 col-12" ><div class="mg-fluidi img-thumbnail" style="box-shadow: 0 0 20px 0 rgba(0, 0,0, 0.3);"><div class="row" style="padding: 5%;" >
            <div class="col-lg-4 col-md-4 col-12" ><h10 style=" text-align: center;"><b>Leadership</b>
            </h10></div>
            <div class="col-lg-4 col-md-4 col-12" ><h16 style="size: 5%;">06/09/2020</h120></div>
            <div class="col-lg-4 col-md-4 col-12" ><img alt="image" src="stylesheets/images/wavesSymbol.svg"   style="width: 65px;height: 100%;"></div></div>

                <img alt="image" src="https://miro.medium.com/fit/c/1400/420/1*BkynGH35I1uTOqXWA94JHw.jpeg"   class="blogimg">
                <img src="/stylesheets/images/logo.jpeg" style="width: 30px; height: 30px; border-radius: 100%;
                margin: 10px;"><h14 style="width: 50%;"> 4 min read</h14>
                <h3 style="padding: 10px;">If success is fame, Hapiness is the pride</h3>

                <p style="padding:0 10px 10px 10px;">Maybe none. Earning a successful life is what everyone</p>
                <div class="footer" style="text-align: center; float:left; "><a href="/If-success-is-fame-Hapiness-is-the-pride">Read more</a></div>

                <br><br>
        </div> <br>
        </div>



    </div>
<br>
    <!-- <li class="button-item">
        <div class="footer text-center" ><a href="/blogging">Explore More</a></div>
          </li> -->
</div>


<div class="row" style=" width: 100%;padding-left: 5%;" >


    <div class="row" >


        <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%; "><h1 style="text-align: center;">Your App</h1>
            <br>
            <h5 style="text-align: center;">7waves app provide a best mobile experience so counselling will be as easier as playing songs</h5><br>
            <div class="footer" style=" text-align: center; padding-bottom: 5%;padding-top: 5% ; "><a href="https://play.google.com/store/apps/details?id=in.sevenwaves.sevenwavesusers">Download Now</a></div>
        
        </div>

    <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%;"><img alt="image" src="/stylesheets/images/VECTOR_IMAGE_ON_APP@-4.svg"    style="width: 100%;height: 100%;"></div>



</div>
</div>

<div class="row" style="background-image: url(/stylesheets/images/Mask_Group_28.svg); width: 100%;margin-left: 0%;padding: 4%;" >


    <div class="row">


        <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%; "><h1 style="text-align: center;">Let's Stay in Touch</h1>
            <br>
            <!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
#mc_embed_signup{ clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://7waves.us19.list-manage.com/subscribe/post?u=fa7016958f292ac20306dd09a&amp;id=31a48ae68f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
<div id="mc_embed_signup_scroll">
<label for="mce-EMAIL">Subscribe</label>
<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_fa7016958f292ac20306dd09a_31a48ae68f" tabindex="-1" value=""></div>
<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</div>
</form>
</div>

<!--End mc_embed_signup-->
         </div>

    <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%;"><img alt="image" src="/stylesheets/images/Group_1092.svg"    style="width: 100%;height: 100%;"></div>



</div>
</div>


    <script>

        // Wrap every letter in a span
      var textWrapper = document.querySelector('.ml1 .letters');
      textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

      anime.timeline({loop: true})
        .add({
          targets: '.ml1 .letter',
          scale: [0.3,1],
          opacity: [0,1],
          translateZ: 0,
          easing: "easeOutExpo",
          duration: 600,
          delay: (el, i) => 70 * (i+1)
        }).add({
          targets: '.ml1 .line',
          scaleX: [0,1],
          opacity: [0.5,1],
          easing: "easeOutExpo",
          duration: 700,
          offset: '-=875',
          delay: (el, i, l) => 80 * (l - i)
        }).add({
          targets: '.ml1',
          opacity: 0,
          duration: 1000,
          easing: "easeOutExpo",
          delay: 1000
        });


           </script>
<%- include("../partials/footer")  %>

