<!DOCTYPE html>
<html>
    <head>
      <title>How to Overcome Exam Fear?
    </title>
        
        <meta charset="utf-8">
        <head>
          <meta name="description" content="As exams approach us, we usually start overthinking and feel anxious. Our stress levels increase, sleep patterns get disrupted, and we feel restless and nervous. Most of us encounter these feelings, and it is okay to feel a little nervous before exams. However, when our stress levels increase exponentially, it interferes with our functioning and well-being. This is where exam fear becomes detrimental. It is imperative to confront and overcome extreme exam fear. These are a few tips that you can implement to feel confident before giving your exams.">
          <meta name="keywords" content="exam fear, overthinking, stress, anxious, feel confident, consistent with studies, revise, YouTube videos, peer support, express feelings, focus on input, personal satisfaction, unhealthy competition, mock tests, health, larger picture, self-worth, academic validation, skill sets, abilities">
          <meta name="author" content="7 WAVES">
        </head>

      <%- include("../partials/navbar")  %>


<!-- MainSection Srart -->
<section style="height: 100%;padding-bottom: 3%;">
    <div class="container1" style="padding-left: 10%;padding-right: 10%;">
        <!-- <h1 class="ml1">
            <span class="text-wrapper">
              <span class="line line1"></span>
              <span class="letters">7 Wave</span>
              <span class="line line2"></span>
            </span>
          </h1> -->
          <div class="row" style="padding:5% 0px 0% 0px;" >

            <div class="col-lg-12 col-md-12  col-12" ><h1 style=" font-size: 20px;color: #59a5c5;">Career</h1></div>
          <div class="col-lg-12 col-md-12  col-12" ><h1 style=" font-size: 300%; "><strong>How to Overcome Exam Fear?
        </strong></h1></div>






        </div>
        <hr>

        <div class="sharethis-inline-share-buttons"  style="float: left;"></div>
        <br>

        <br>


         <div class="col-lg-12 col-md-12 col-12" style="padding: 0 0 0 0;" >




           <div class="row" >
            <div class="col-lg-6 col-12" style="padding: 0 0 0 0;" >

            </div>
            <div class="col-lg-6 col-12" style="padding: 0 0 0 0;" ></div>
            <div class="col-lg-1 col-md-3 col-12" style="padding: 3% 0 0 3%;" >

                        <img alt="image" src="/stylesheets/images/logo.jpeg" style="width:70px;height: 70px; border-radius: 100%; "  alt="Sample avatar">
                      </div>

                            <div class="col-lg-11 col-md-9 col-12" style="padding: 3% 10% 3% 3%;" >

                               <h4><b>Ananya K</b></h4>
                               <h8>Content Team, 7 Waves Life Solutions</h8>
                               <br>
                               <br>
                               <h9 style="font-size: 13px;color: #757575!important;;">June 28, 2022</h9>&nbsp;&nbsp;&nbsp;&nbsp;<h12 style="font-size: 13px;color: #757575!important;;">10 min read</h12><br>
                               <!-- <h9 style="font-size: 13px;color: #757575!important;;">Opinions expressed by Entrepreneur contributors are their own.</h9><br> -->
                              
                              <p>
                                
                              </p>
                              <p style="font-size: 19px; color: black; font-style: italic;">“Do the thing you fear to do and keep on doing it…that is the quickest and surest way ever yet discovered to conquer fear.”
                                <p style="font-size: 19px; color: black; font-style: italic;">~Dale Carnegie</p> 
                              <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                The exam season often brings a huge load of uncomfortable feelings with it. As exams approach us, we usually start overthinking and feel anxious. Our stress levels increase, sleep patterns get disrupted, and we feel restless and nervous. Most of us encounter these feelings, and it is okay to feel a little nervous before exams. However, when our stress levels increase exponentially, it interferes with our functioning and well-being. This is where exam fear becomes detrimental. It is imperative to confront and overcome extreme exam fear. These are a few tips that you can implement to feel confident before giving your exams. 

                                </p>
                                <p>
                                <ul style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';"><li>●	Exclude Distractions  </li>
                                  <li>●	Be Consistent with Your Studies  </li>
                                  <li>●	Avoid Last-Minute Preparation </li>
                                  <li>●	Revise Beforehand  </li>
                                  <li>●	Watch YouTube Videos </li>
                                  <li>●	Take Peer Support</li>
                                  <li>●	Express Your Feelings </li>
                                  <li>●	Focus on Input Instead of Output </li>
                                  <li>●	Don’t Burden Yourself with Expectations </li>
                                  <li>●	Choose Personal Satisfaction Over Unhealthy Competition</li>
                                  <li>●	Take Mock/Practice Tests </li>
                                  <li>●	Take Care of Your Health</li>
                                  <li>●	Look at the Larger Picture</li>
                                  <li>●	Don’t Associate Your Self-Worth with Academic Validation </li>
                                   
                                  	</ul> 
                                  
                              </p>
                               
                              <div class="row" >
                                <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
                                    <img alt="Student in exam fear" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/waves-36bb5.appspot.com/o/website%20blog%20photos%2FHow%20to%20Overcome%20Exam%20Fear%2F1379.jpg?alt=media&token=ba4a3950-47c4-4877-8575-98a5ce840a76" >
                                </div>
                                </div>
    <br>

                        <H3 style=" font-style: underline">1. <u>Be Consistent with Your Studies:
                        </u>
                        </H3>
                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                          You must have heard your teachers and parents say this quite often, and we are reinstating the same point since it is one of the most important practices you need to inculcate. Studying fewer portions regularly will help you cover your entire syllabus on time without exhausting yourself under stress. It is best to come home and revise what you learned in school to refresh your memory and remember information.  
                        </p>
                        <H3 style=" font-style: underline">2. <u>Avoid Last-Minute Preparation:
                        </u>
                        </H3>
                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                          Extending the first point, it is essential to ensure that you don’t indulge in the habit of studying a day before the exam. Piling up stress and syllabus for a day before the exam will only make you fear exams all the more. 

                        </p>
                   

                            <H3 style=" font-style: underline">3. <u>Understand Instead of Cramming:
                            </u>
                            </H3>
                            
                            <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                              Rote-learning and cramming concepts will make you forget them soon. Try understanding the concepts in your own words to remember them for longer during your exams. Teach the concepts to someone or break them down into simple words to understand the topic clearly. 
                            </p>

                            <div class="row" >
                              <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
                                  <img alt="Girl overthinking" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/waves-36bb5.appspot.com/o/website%20blog%20photos%2FHow%20to%20Overcome%20Exam%20Fear%2F4549495.jpg?alt=media&token=c9471b1f-0136-4e7e-9e40-e21c58c8cdcc" >
                              </div>
                              </div>
                            <H3 style=" font-style: underline">4. <u>Revise Beforehand: 
                            </u>
                            </H3>
                            <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                              Revising concepts multiple times before your exam would help you remember everything you learned. Schedule short revision sessions where you brush through the crucial points of concepts to refresh your memory before your exam
                            </p>
                            
  <br>
                            <H3 style=" font-style: underline">5. <u>Watch YouTube Videos:
                            </u>
                            </H3>
                            <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                              YouTube is a great tool to understand complex concepts easily when you can’t comprehend the content in your textbook. Understanding concepts becomes easier when presented in an audio-visual format. So, watch videos about the topic you are struggling with and better understand it. 
  </p>

                                <H3 style=" font-style: underline">6. <u>Take Peer Support:
                                </u>
                                </H3>
                                <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                  Participating in group study sessions regularly ensures that you can learn concepts easily by interacting with your peers and solving each other’s doubts. Not only can you get your doubts clarified but also revise concepts while explaining them to your friends. 
                                </p>
                                <div class="row" >
                                  <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
                                      <img alt="step by step success" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/waves-36bb5.appspot.com/o/website%20blog%20photos%2FHow%20to%20Overcome%20Exam%20Fear%2F5236.jpg?alt=media&token=0762456c-6cae-4eca-97a0-de594eb58d10" >
                                  </div>
                                  </div>
                                <H3 style=" font-style: underline">7. <u>Express Your Feelings:
                                </u>
                                
      <br>
                                </H3>
                                <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                  Be it nervousness, anxiety or fear- bottling up feelings will do you more harm than good. Talk to your parents or a close friend and tell them what you feel. Expressing your concerns will provide considerable relief, and you can even work out solutions with your parents and friends. </p>
                                
                                </p>
                               
                                    <H3 style=" font-style: underline">8. <u>Focus on Input Instead of Output:
                                </u>
                                </H3>
                                <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                  Divert the direction of your thoughts from worrying about the result to focusing on your preparation. When you focus on the input, the output will automatically be great. So don’t stress about your result and just focus on giving your best shot while preparing. 
  </p>
 
  <H3 style=" font-style: underline">9. <u>Don’t Burden Yourself with Expectations:</u>
</H3>
<p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
  Academic pressure is real, and it gets worse with people’s expectations. Your teachers, parents, friends, and you might have high expectations from yourself. Though it’s easier said than done, try not to get trampled under everyone’s expectations. Eliminate the thought of matching up to everyone’s expectations to relieve yourself from unnecessary stress. 
</p>
<div class="row" >
  <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
      <img alt="girl under exam stress" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/waves-36bb5.appspot.com/o/website%20blog%20photos%2FHow%20to%20Overcome%20Exam%20Fear%2FWork_5.jpg?alt=media&token=b7587912-9dc7-4c8c-ba02-54e13466dce6" >
  </div>
  </div>
<H3 style=" font-style: underline">10. <u>Choose Personal Satisfaction Over Unhealthy Competition:
</u>
</H3>
<p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
  Approach your exams with the mindset of giving your best attempt. Everyone’s best attempt and 100% effort look different. Do not get into the trap of comparing your performance with anyone else’s. Instead, be content with the fact that you are giving your best and doing everything you can. 
</p>
<H3 style=" font-style: underline">11. <u>Take Mock/Practice Tests:
</u>
</H3>
<p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
  Solve sample papers and practise mock tests before your exam by setting a timer and creating an exam-like environment with silence and no disturbance. Solving practice questions would not only make you feel more confident for your exam but also ensure that you don’t feel overwhelmed in the exam hall environment.
</p>
<H3 style=" font-style: underline">12. <u>Take Care of Your Health:
</u>
</H3>
<p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
  Being physically fit and healthy is pivotal to ensuring you have sufficient energy to study well throughout your exams. Eat healthy and nutritious food, drink ample water and get enough sleep and rest. Lack of sleep and nutrition will only make you feel exhausted. 
</p>
<div class="row" >
  <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
      <img alt="healthy lifestyle" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/waves-36bb5.appspot.com/o/website%20blog%20photos%2FHow%20to%20Overcome%20Exam%20Fear%2F44073.jpg?alt=media&token=1718b574-4a64-4ba1-b205-71d8030d582d" >
  </div>
  </div>
<H3 style=" font-style: underline">13. <u>Look at the Larger Picture: 
</u>
</H3>
<p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
  When you feel too overwhelmed and panicky about upcoming exams, tell yourself, “It’s just an exam, not a life-threatening situation.” Ask yourself how much this exam really matters? Does your life depend on it? Rationalise with yourself and understand that an exam cannot determine whether you will be successful in life. Life has its own challenges and lessons to teach. 
</p>
<H3 style=" font-style: underline">14. <u>Don’t Associate Your Self Worth with Academic Validation:
</u>
</H3>
<p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
  Most of us rely on academic validation and internally pressurise ourselves to perform better since it feeds our self-esteem and makes us feel good about ourselves. However, this is an extremely wrong way to visualise your self-worth. You are way more than what your scores say about you. Your communication skills, etiquettes, strengths, emotional intelligence, empathy and other abilities combine to make you a whole individual. So, don’t seek validation from academic performance. Rather hone your abilities and skill sets. 
</p>
<div class="row" >
  <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
      <img alt="Girl with heart" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/waves-36bb5.appspot.com/o/website%20blog%20photos%2FHow%20to%20Overcome%20Exam%20Fear%2F3771650.jpg?alt=media&token=1cd9f14d-64e8-481f-b542-e488c7fc0fd5" >
  </div>
  </div>




                        <div style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';" >
<b>7 Waves
<br>Life Solutions| Connecting Happiness</b>







         </div>













</div>




<hr>

</section>

<!-- MainSection End -->








    </div>




    </div>

</div>


<div class="container1" style="padding:2% 5% 5% 5%;">
    <div class="row" >




          <div class="col-lg-12 col-md-12 col-12" ><h1 style="text-align: center; font-size: 200%;padding-bottom: 2%; "><strong>Popular Blogs From us</strong></h1></div>



          <div class="col-lg-6 col-md-6 col-12" ><div class="mg-fluidi img-thumbnail" style="box-shadow: 0 0 20px 0 rgba(0, 0,0, 0.3);"><div class="row" style="padding: 5%;" >
            <div class="col-lg-4 col-md-4 col-12" ><h10 style=" text-align: center;"><b>Leadership</b>
            </h10></div>
            <div class="col-lg-4 col-md-4 col-12" ><h16 style="size: 5%;">07/09/2020</h120></div>
            <div class="col-lg-4 col-md-4 col-12" ><img alt="image" src="stylesheets/images/wavesSymbol.svg"   style="width: 65px;height: 100%;"></div></div>

                <img alt="image" src="https://miro.medium.com/fit/c/1400/420/1*1OSxFYvnpwzBXsaR_nR5pg.jpeg"  class="blogimg" >
                <img src="/stylesheets/images/logo.jpeg" style="width: 30px; height: 30px; border-radius: 100%;
                margin: 10px;"><h14 style="width: 50%;"> 3 min read</h14>
                <h3 style="padding: 10px;">7 unsaid rules of Friendship</h3>
                <p style="padding:0 10px 10px 10px;">You are afraid of waters... but friends will still make you jumpin.. </p>
                <div class="footer" style="text-align: center; float:left; "><a href="/7-unsaid-rules-of-Friendship">Read more</a></div>

                <br><br>
        </div> <br>


        </div>
        <div class="col-lg-6 col-md-6 col-12" ><div class="mg-fluidi img-thumbnail" style="box-shadow: 0 0 20px 0 rgba(0, 0,0, 0.3);"><div class="row" style="padding: 5%;" >
            <div class="col-lg-4 col-md-4 col-12" ><h10 style=" text-align: center;"><b>Leadership</b>
            </h10></div>
            <div class="col-lg-4 col-md-4 col-12" ><h16 style="size: 5%;">06/09/2020</h120></div>
            <div class="col-lg-4 col-md-4 col-12" ><img alt="image" src="stylesheets/images/wavesSymbol.svg"   style="width: 65px;height: 100%;"></div></div>

                <img alt="image" src="https://miro.medium.com/fit/c/1400/420/1*BkynGH35I1uTOqXWA94JHw.jpeg"   class="blogimg">
                <img src="/stylesheets/images/logo.jpeg" style="width: 30px; height: 30px; border-radius: 100%;
                margin: 10px;"><h14 style="width: 50%;"> 4 min read</h14>
                <h3 style="padding: 10px;">If success is fame, Hapiness is the pride</h3>

                <p style="padding:0 10px 10px 10px;">Maybe none. Earning a successful life is what everyone</p>
                <div class="footer" style="text-align: center; float:left; "><a href="/If-success-is-fame-Hapiness-is-the-pride">Read more</a></div>

                <br><br>
        </div> <br>
        </div>



    </div>
<br>
    <!-- <li class="button-item">
        <div class="footer text-center" ><a href="/blogging">Explore More</a></div>
          </li> -->
</div>


<div class="row" style=" width: 100%;padding-left: 5%;" >


    <div class="row" >


        <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%; "><h1 style="text-align: center;">Your App</h1>
            <br>
            <h5 style="text-align: center;">7waves app provide a best mobile experience so counselling will be as easier as playing songs</h5><br>
            <div class="footer" style=" text-align: center; padding-bottom: 5%;padding-top: 5% ; "><a href="https://play.google.com/store/apps/details?id=in.sevenwaves.sevenwavesusers">Download Now</a></div>
        
        </div>

    <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%;"><img alt="image" src="/stylesheets/images/VECTOR_IMAGE_ON_APP@-4.svg"    style="width: 100%;height: 100%;"></div>



</div>
</div>

<div class="row" style="background-image: url(/stylesheets/images/Mask_Group_28.svg); width: 100%;margin-left: 0%;padding: 4%;" >


    <div class="row">


        <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%; "><h1 style="text-align: center;">Let's Stay in Touch</h1>
            <br>
            <!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
#mc_embed_signup{ clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://7waves.us19.list-manage.com/subscribe/post?u=fa7016958f292ac20306dd09a&amp;id=31a48ae68f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
<div id="mc_embed_signup_scroll">
<label for="mce-EMAIL">Subscribe</label>
<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_fa7016958f292ac20306dd09a_31a48ae68f" tabindex="-1" value=""></div>
<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</div>
</form>
</div>

<!--End mc_embed_signup-->
         </div>

    <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%;"><img alt="image" src="/stylesheets/images/Group_1092.svg"    style="width: 100%;height: 100%;"></div>



</div>
</div>


    <script>

        // Wrap every letter in a span
      var textWrapper = document.querySelector('.ml1 .letters');
      textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

      anime.timeline({loop: true})
        .add({
          targets: '.ml1 .letter',
          scale: [0.3,1],
          opacity: [0,1],
          translateZ: 0,
          easing: "easeOutExpo",
          duration: 600,
          delay: (el, i) => 70 * (i+1)
        }).add({
          targets: '.ml1 .line',
          scaleX: [0,1],
          opacity: [0.5,1],
          easing: "easeOutExpo",
          duration: 700,
          offset: '-=875',
          delay: (el, i, l) => 80 * (l - i)
        }).add({
          targets: '.ml1',
          opacity: 0,
          duration: 1000,
          easing: "easeOutExpo",
          delay: 1000
        });


           </script>

<%- include("../partials/footer")  %>
