<!DOCTYPE html>
<html>
    <head>
      <title>How to Be Content with What You Have?
    </title>
        
        <meta charset="utf-8">
        <head>
          <meta name="description" content="Capitalism and constant competition has engulfed our lives in more ways than we can imagine. In this fast-paced and constantly changing modern world, we are constantly seeking something more, something better. Big dreams, inspiring ambitions and great destinations cloud our minds. There is nothing wrong with hoping for a better future. But you know it’s time to pause and reflect when you start living for the future and forget to enjoy the present. Contentment is a gift that you can cultivate to be at peace with what you have">
          <meta name="keywords" content="contentment, peace, happiness, reflect, progress, gratitude, ambition, greed, rejoice, little things, don’t compare, blessings, struggles, live in the present, life, battles, precious little moments, competition, rat race, successful, strengths, weaknesses, insecurities">
          <meta name="author" content="7 WAVES">
        </head>

      <%- include("../partials/navbar")  %>


<!-- MainSection Srart -->
<section style="height: 100%;padding-bottom: 3%;">
    <div class="container1" style="padding-left: 10%;padding-right: 10%;">
        <!-- <h1 class="ml1">
            <span class="text-wrapper">
              <span class="line line1"></span>
              <span class="letters">7 Wave</span>
              <span class="line line2"></span>
            </span>
          </h1> -->
          <div class="row" style="padding:5% 0px 0% 0px;" >

            <div class="col-lg-12 col-md-12  col-12" ><h1 style=" font-size: 20px;color: #59a5c5;">Personal</h1></div>
          <div class="col-lg-12 col-md-12  col-12" ><h1 style=" font-size: 300%; "><strong>How to Be Content with What You Have?
        </strong></h1></div>






        </div>
        <hr>

        <div class="sharethis-inline-share-buttons"  style="float: left;"></div>
        <br>

        <br>


         <div class="col-lg-12 col-md-12 col-12" style="padding: 0 0 0 0;" >




           <div class="row" >
            <div class="col-lg-6 col-12" style="padding: 0 0 0 0;" >

            </div>
            <div class="col-lg-6 col-12" style="padding: 0 0 0 0;" ></div>
            <div class="col-lg-1 col-md-3 col-12" style="padding: 3% 0 0 3%;" >

                        <img alt="image" src="/stylesheets/images/logo.jpeg" style="width:70px;height: 70px; border-radius: 100%; "  alt="Sample avatar">
                      </div>

                            <div class="col-lg-11 col-md-9 col-12" style="padding: 3% 10% 3% 3%;" >

                               <h4><b>Ananya K</b></h4>
                               <h8>Content Team, 7 Waves Life Solutions</h8>
                               <br>
                               <br>
                               <h9 style="font-size: 13px;color: #757575!important;;">July 6, 2022</h9>&nbsp;&nbsp;&nbsp;&nbsp;<h12 style="font-size: 13px;color: #757575!important;;">10 min read</h12><br>
                               <!-- <h9 style="font-size: 13px;color: #757575!important;;">Opinions expressed by Entrepreneur contributors are their own.</h9><br> -->
                              
                              <p>
                                <p style="font-size: 19px; color: black; text-align: center;">
                                    <i>“Do not spoil what you have by desiring what you have not; remember that what you now have was once among the things you only hoped for.”<br>
                                        ~Epicurus 
     
                                     </i>
                                   </p>
                              </p>
                              <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                Capitalism and constant competition has engulfed our lives in more ways than we can imagine. In this fast-paced and constantly changing modern world, we are constantly seeking something more, something better. Big dreams, inspiring ambitions and great destinations cloud our minds. There is nothing wrong with hoping for a better future. But you know it’s time to pause and reflect when you start living for the future and forget to enjoy the present. Contentment is a gift that you can cultivate to be at peace with what you have. Here are a few things that you can do to be content with your life and find happiness in the little things:

                                </p>
                                <p>
                                <ul style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';"><li>●	Gain a Realistic Perspective on Self-Love </li>
                                  <li>●	Reflect on Your Progress</li>
                                  <li>●	Keep a Gratitude Box</li>
                                  <li>●	Differentiate between Ambition and Greed </li>
                                  <li>●	Don’t Compare Yourself to Others </li>
                                  <li>●	Rejoice in the Little Things /li>
                                  <li>●	Count Your Blessings </li>
                                  <li>●	Remind Yourself of the Struggles of Others </li>
                                  <li>● Don’t Postpone Happiness  </li>
                                  <li>●	Live in the Present </li>
                              
                                  
                                  
                                  	</ul> 
                                  
                              </p>
                              <div class="row" >
                                <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
                                    <img alt="Girl and boy celebrating together" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/waves-36bb5.appspot.com/o/How%20to%20Be%20Content%20with%20What%20You%20Have%3F%2F10820.jpg?alt=media&token=60506043-b88f-4d4f-9fa8-7c902650a9d7" >
                                </div>
                                </div>     
                             

                        <H3 style=" font-style: underline">1. <u>Reflect on Your Progress:
                        </u>
                        </H3>
                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                            We often get so busy thinking about what we want that we forget to count what we have already gained and achieved. It is important to reflect on your current life and circumstances and realise how far you have come. How many battles you have successfully fought, and how many achievements you have bagged so far. Remember, the things you have now were once a part of your previous ambitions. So be grateful for it.
                        </p>
                      
                        <H3 style=" font-style: underline">2. <u>Keep a Gratitude Box:
                        </u>
                        </H3>
                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                            A little fun thing you can do is keep a gratitude box. Each day you write something that made you feel happy, even if it was for a brief moment on a chit. Then you place this chit in the box. Even the littlest things count, be it playing with your pet, laughing at a meme or cherishing the blissful taste of a warm cup of coffee. Write it all down and collect these chits. You will soon realise your life is filled with precious little moments you often overlook and fail to notice.

                        </p>
                   
                        <div class="row" >
                            <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
                                <img alt="Give yourself present" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/waves-36bb5.appspot.com/o/How%20to%20Be%20Content%20with%20What%20You%20Have%3F%2F08.jpg?alt=media&token=10b2b3eb-685d-4a24-94a7-7fdd454ffe61" >
                            </div>
                            </div>   

                            <H3 style=" font-style: underline">3. <u>Put a Break to the Race:
                            </u>
                            </H3>
                            
                            <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                School work, ranks, marks and competitions fuel the urge to compete, and we get entangled in a rat race even before we realise it. Putting a pause and taking a moment to stop yourself from blindly running in the race is necessary so that you don’t compromise on living your life in the present. Don’t let the competition overwhelm you, work and rest at your own pace. Achieving what you want doesn’t necessarily need you to compromise on living your life at the moment. 
                            </p>
                            
                            <H3 style=" font-style: underline">4. <u>Differentiate between Ambition and Greed:
                            </u>
                            </H3>
                            <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                We get so engrossed in working towards our goals and fulfilling our dreams that we often don’t realise when our ambitions turn into never-ending greed. Being successful and well-settled in life is an ambition but waiting to own every luxurious item you land your eyes on is greed, and you must beware of it. Don’t let greed consume you in the trap of being forever unhappy with what you have. Greed always works against contentment. 
                            </p>
                            <div class="row" >
                                <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
                                    <img alt="Boy moving towards success" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/waves-36bb5.appspot.com/o/How%20to%20Be%20Content%20with%20What%20You%20Have%3F%2F19197475.jpg?alt=media&token=09dffaa9-134a-47b5-9fa2-b8e380df42da" >
                                </div>
                                </div> 
  <br>
                            <H3 style=" font-style: underline">5. <u>Don’t Compare Yourself to Others:
                            </u>
                            </H3>
                            <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                Stopping the vicious cycle of comparing yourself to others is easier said than done, but you need to work on your mindset and make an effort to push away such thoughts. We all have our own strengths and weaknesses, and all of us are battling with insecurities. Every time you compare yourself to others, remind yourself that they have weaknesses you are unaware of. No one is perfect, and yet all of us are unique. You are where you need to be in your journey, so don’t compare your journey with others.
  </p>

                                <H3 style=" font-style: underline">6. <u>Rejoice in the Little Things:
                                </u>
                                </H3>
                                <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                    The little things in our lives that we often overlook matter a lot more than we think they do. When seen from afar, you may feel you rarely have special moments in your life. However, it is only when you pay attention to the little things and find joy in them that you realise how much these little moments matter. Be it the time you spend chatting with your friend, your pet performing funny tricks, relishing a delicious meal or watching your favourite movie with good old popcorn- these are precious little moments that you must live to the fullest.
                                </p>
                                <div class="row" >
                                    <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
                                        <img alt="Enjoy the little things poster" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/waves-36bb5.appspot.com/o/How%20to%20Be%20Content%20with%20What%20You%20Have%3F%2F3012010.jpg?alt=media&token=22da9414-3188-4757-a991-50ac2662e28f" >
                                    </div>
                                    </div>
                                <H3 style=" font-style: underline">7. <u>Count Your Blessings:
                                </u>
                                
      <br>
                                </H3>
                                <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                    Instead of counting everything that didn’t go as per your plan and made you upset and unhappy, divert your attention to the things you are grateful for. Count the blessings in your life. If you have a roof over your head, a family who loves you, friends whom you can talk to, and access to education and food- you are truly blessed. The life you are leading right now is a dream for many. So cherish it and be grateful for all the blessings in your life.   </p>
                                
                                </p>
                               
                                    <H3 style=" font-style: underline">8. <u>Remind Yourself of the Struggles of Others:
                                </u>
                                </H3>
                                <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                    Whenever you feel life is getting too hard, remind yourself that you are not alone. Everyone is fighting their own battles and has problems to deal with. When you feel unlucky and upset, remind yourself that there are people undergoing problems that are way more serious. The idea is not to belittle your problems but to understand that everyone encounters problems since it’s a part of life.
  </p>
  <div class="row" >
    <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
        <img alt="Boy standing in rain alone" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/waves-36bb5.appspot.com/o/How%20to%20Be%20Content%20with%20What%20You%20Have%3F%2F648.jpg?alt=media&token=fdf588f5-c027-4b2e-87b0-8d1de431bcc7" >
    </div>
    </div>
    
  <H3 style=" font-style: underline">9. <u>Don’t Postpone Happiness:
</u>
</H3>
<p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
    We often wait for big moments and special events to be happy. The usual pattern is to think, “I’ll be so happy when I score the best marks in class”, “I’ll be happy when my birthday arrives”, and so on. Don’t postpone the feeling of being happy to the future and instead find it in the present. Find happiness in talking to the people you cherish, watching the shows you love and eating the delicacies you crave. There is no limit to finding happiness as long as you are willing to search for it. 
</p>

<H3 style=" font-style: underline">10. <u>Live in the Present:
</u>
</H3>
<p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
    I saved the most crucial point for the end, living in the present moment. Don’t dwell on worrying about the past since it’s gone or the future since no one knows how it will unfold. Live not for the future but for yourself in the present. When you learn to live in the present, you learn to find a new zeal in the things surrounding you rather than being anxious about things that are not in your control. </p>
    <div class="row" >
        <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
            <img alt="Live in the moment poster" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/waves-36bb5.appspot.com/o/How%20to%20Be%20Content%20with%20What%20You%20Have%3F%2Fv1070-hdwallpaper-01.jpg?alt=media&token=8d5ef148-e7fa-4f08-8c15-25b6c5dcd9a9" >
        </div>
        </div>

      




                        <div style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';" >
<b>7 Waves
<br>Life Solutions| Connecting Happiness</b>







         </div>













</div>




<hr>

</section>

<!-- MainSection End -->








    </div>




    </div>

</div>


<div class="container1" style="padding:2% 5% 5% 5%;">
    <div class="row" >




          <div class="col-lg-12 col-md-12 col-12" ><h1 style="text-align: center; font-size: 200%;padding-bottom: 2%; "><strong>Popular Blogs From us</strong></h1></div>



          <div class="col-lg-6 col-md-6 col-12" ><div class="mg-fluidi img-thumbnail" style="box-shadow: 0 0 20px 0 rgba(0, 0,0, 0.3);"><div class="row" style="padding: 5%;" >
            <div class="col-lg-4 col-md-4 col-12" ><h10 style=" text-align: center;"><b>Leadership</b>
            </h10></div>
            <div class="col-lg-4 col-md-4 col-12" ><h16 style="size: 5%;">07/09/2020</h120></div>
            <div class="col-lg-4 col-md-4 col-12" ><img alt="image" src="stylesheets/images/wavesSymbol.svg"   style="width: 65px;height: 100%;"></div></div>

                <img alt="image" src="https://miro.medium.com/fit/c/1400/420/1*1OSxFYvnpwzBXsaR_nR5pg.jpeg"  class="blogimg" >
                <img src="/stylesheets/images/logo.jpeg" style="width: 30px; height: 30px; border-radius: 100%;
                margin: 10px;"><h14 style="width: 50%;"> 3 min read</h14>
                <h3 style="padding: 10px;">7 unsaid rules of Friendship</h3>
                <p style="padding:0 10px 10px 10px;">You are afraid of waters... but friends will still make you jumpin.. </p>
                <div class="footer" style="text-align: center; float:left; "><a href="/7-unsaid-rules-of-Friendship">Read more</a></div>

                <br><br>
        </div> <br>


        </div>
        <div class="col-lg-6 col-md-6 col-12" ><div class="mg-fluidi img-thumbnail" style="box-shadow: 0 0 20px 0 rgba(0, 0,0, 0.3);"><div class="row" style="padding: 5%;" >
            <div class="col-lg-4 col-md-4 col-12" ><h10 style=" text-align: center;"><b>Leadership</b>
            </h10></div>
            <div class="col-lg-4 col-md-4 col-12" ><h16 style="size: 5%;">06/09/2020</h120></div>
            <div class="col-lg-4 col-md-4 col-12" ><img alt="image" src="stylesheets/images/wavesSymbol.svg"   style="width: 65px;height: 100%;"></div></div>

                <img alt="image" src="https://miro.medium.com/fit/c/1400/420/1*BkynGH35I1uTOqXWA94JHw.jpeg"   class="blogimg">
                <img src="/stylesheets/images/logo.jpeg" style="width: 30px; height: 30px; border-radius: 100%;
                margin: 10px;"><h14 style="width: 50%;"> 4 min read</h14>
                <h3 style="padding: 10px;">If success is fame, Hapiness is the pride</h3>

                <p style="padding:0 10px 10px 10px;">Maybe none. Earning a successful life is what everyone</p>
                <div class="footer" style="text-align: center; float:left; "><a href="/If-success-is-fame-Hapiness-is-the-pride">Read more</a></div>

                <br><br>
        </div> <br>
        </div>



    </div>
<br>
    <!-- <li class="button-item">
        <div class="footer text-center" ><a href="/blogging">Explore More</a></div>
          </li> -->
</div>


<div class="row" style=" width: 100%;padding-left: 5%;" >


    <div class="row" >


        <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%; "><h1 style="text-align: center;">Your App</h1>
            <br>
            <h5 style="text-align: center;">7waves app provide a best mobile experience so counselling will be as easier as playing songs</h5><br>
            <div class="footer" style=" text-align: center; padding-bottom: 5%;padding-top: 5% ; "><a href="https://play.google.com/store/apps/details?id=in.sevenwaves.sevenwavesusers">Download Now</a></div>
        
        </div>

    <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%;"><img alt="image" src="/stylesheets/images/VECTOR_IMAGE_ON_APP@-4.svg"    style="width: 100%;height: 100%;"></div>



</div>
</div>

<div class="row" style="background-image: url(/stylesheets/images/Mask_Group_28.svg); width: 100%;margin-left: 0%;padding: 4%;" >


    <div class="row">


        <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%; "><h1 style="text-align: center;">Let's Stay in Touch</h1>
            <br>
            <!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
#mc_embed_signup{ clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://7waves.us19.list-manage.com/subscribe/post?u=fa7016958f292ac20306dd09a&amp;id=31a48ae68f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
<div id="mc_embed_signup_scroll">
<label for="mce-EMAIL">Subscribe</label>
<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_fa7016958f292ac20306dd09a_31a48ae68f" tabindex="-1" value=""></div>
<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</div>
</form>
</div>

<!--End mc_embed_signup-->
         </div>

    <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%;"><img alt="image" src="/stylesheets/images/Group_1092.svg"    style="width: 100%;height: 100%;"></div>



</div>
</div>


    <script>

        // Wrap every letter in a span
      var textWrapper = document.querySelector('.ml1 .letters');
      textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

      anime.timeline({loop: true})
        .add({
          targets: '.ml1 .letter',
          scale: [0.3,1],
          opacity: [0,1],
          translateZ: 0,
          easing: "easeOutExpo",
          duration: 600,
          delay: (el, i) => 70 * (i+1)
        }).add({
          targets: '.ml1 .line',
          scaleX: [0,1],
          opacity: [0.5,1],
          easing: "easeOutExpo",
          duration: 700,
          offset: '-=875',
          delay: (el, i, l) => 80 * (l - i)
        }).add({
          targets: '.ml1',
          opacity: 0,
          duration: 1000,
          easing: "easeOutExpo",
          delay: 1000
        });


           </script>


<%- include("../partials/footer")  %>

