<!DOCTYPE html>
<html>
    <head>
      <title>How to Recover from Burnout?
    </title>
        
        <meta charset="utf-8">
        <head>
          <meta name="description" content="Tiredness is one thing, and burnout is another. There are times when we feel tired. We take a break, rejuvenate ourselves and get back to work. But burnout lasts longer, feels like an eternity and seems like being locked up in a dark and dingy place with little scope to see a ray of light. Put simply; burnout is a state of complete physical, mental and emotional drainage or exhaustion. Burnout can occur due to prolonged periods of stress, constant pressure and being trampled under an excessive workload. Though it may seem difficult to recover when you face burnout, it is not impossible to do so. ">
          <meta name="keywords" content="burnout, exhaustion, recover, rest, break, nutrition, sleep, pressure, stress, anxiety, well-being, excessive workload, signs of burnout, address symptoms, root cause, log off from devices, hard work, excessive labour, meditation, fuel your energy, get rid of guilt">
          <meta name="author" content="7 WAVES">
        <link rel="stylesheet" href="../../public/stylesheets/main.css">
  <link rel="stylesheet" href="../../public/stylesheets/style.css">
        <link rel="shortcut icon" href="../../public/stylesheets/images/logo.jpeg" />
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../public/stylesheets/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<!-- ====== Navbar Start ====== -->
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black;">
            <div class="container text-uppercase p-2">
            <a class="navbar-brand font-weight-bold text-white" href="../../index.html"><img src="../../public/stylesheets/images/white logo resized 2.svg" style="height: 50px;width: 100px; border-radius: 100%;"> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-auto text-uppercase">
                    <li class="nav-item active">
                      <a class="nav-link" href="../../index.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" href="../../About.html">About Us</a>
                    </li>
        
        
                
                        <li class="nav-item">
                          <a class="nav-link"  href="../appreferal.html">Reach Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"  href="../blogs.html">Blogs</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link"  href="../googleFormsPages/Internship.html">Career</a>
                          </li>
                  
                              </ul>
                            </li>
                   
                  </ul>
        
                </div>
            </div>
              </nav>


<!-- MainSection Srart -->
<section style="height: 100%;padding-bottom: 3%;">
    <div class="container1" style="padding-left: 10%;padding-right: 10%;">
        <!-- <h1 class="ml1">
            <span class="text-wrapper">
              <span class="line line1"></span>
              <span class="letters">7 Wave</span>
              <span class="line line2"></span>
            </span>
          </h1> -->
          <div class="row" style="padding:5% 0px 0% 0px;" >

            <div class="col-lg-12 col-md-12  col-12" ><h1 style=" font-size: 20px;color: #59a5c5;">Personal</h1></div>
          <div class="col-lg-12 col-md-12  col-12" ><h1 style=" font-size: 300%; "><strong>How to Recover from Burnout?
        </strong></h1></div>






        </div>
        <hr>

        <div class="sharethis-inline-share-buttons"  style="float: left;"></div>
        <br>

        <br>


         <div class="col-lg-12 col-md-12 col-12" style="padding: 0 0 0 0;" >




           <div class="row" >
            <div class="col-lg-6 col-12" style="padding: 0 0 0 0;" >

            </div>
            <div class="col-lg-6 col-12" style="padding: 0 0 0 0;" ></div>
            <div class="col-lg-1 col-md-3 col-12" style="padding: 3% 0 0 3%;" >

                        <img alt="image" src="/stylesheets/images/logo.jpeg" style="width:70px;height: 70px; border-radius: 100%; "  alt="Sample avatar">
                      </div>

                            <div class="col-lg-11 col-md-9 col-12" style="padding: 3% 10% 3% 3%;" >

                               <h4><b>Ananya K</b></h4>
                               <h8>Content Team, 7 Waves Life Solutions</h8>
                               <br>
                               <br>
                               <h9 style="font-size: 13px;color: #757575!important;;">July 5, 2022</h9>&nbsp;&nbsp;&nbsp;&nbsp;<h12 style="font-size: 13px;color: #757575!important;;">10 min read</h12><br>
                               <!-- <h9 style="font-size: 13px;color: #757575!important;;">Opinions expressed by Entrepreneur contributors are their own.</h9><br> -->
                              
                              <p>
                                <p style="font-size: 19px; color: black; text-align: center;">
                                    <i>“If you feel burnout setting in, if you feel demoralised and exhausted, it is best for the sake of everyone, to withdraw and restore yourself.”<br>
                                        ~Dalai Lama
     
                                     </i>
                                   </p>
                              </p>
                              <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                Tiredness is one thing, and burnout is another. There are times when we feel tired. We take a break, rejuvenate ourselves and get back to work. But burnout lasts longer, feels like an eternity and seems like being locked up in a dark and dingy place with little scope to see a ray of light. Put simply; burnout is a state of complete physical, mental and emotional drainage or exhaustion. Burnout can occur due to prolonged periods of stress, constant pressure and being trampled under an excessive workload. Though it may seem difficult to recover when you face burnout, it is not impossible to do so. A few steps that you can follow to recover from burnout gradually are:

                                </p>
                                <p>
                                <ul style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';"><li>●	Gain a Realistic Perspective on Self-Love </li>
                                  <li>●	Recognise the Signs of Burnout </li>
                                  <li>●	Address All the Symptoms</li>
                                  <li>●	Recognise the Root Cause </li>
                                  <li>●	Take Frequent Breaks </li>
                                  <li>●	Do Not Push Your Limits </li>
                                  <li>●	Log Off from Devices </li>
                                  <li>●	Differentiate Between Hard Work and Excessive Labour </li>
                                  <li>●	Practice Meditation  </li>
                                  <li>●	Do Things That Fuel Your Energy</li>
                                  <li>●	Get Rid of Guilt </li>
                                
                                  
                                  	</ul> 
                                  
                              </p>
                              <div class="row" >
                                <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
                                    <img alt="Girl feeling symptoms of burnout" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/waves-36bb5.appspot.com/o/How%20to%20Recover%20from%20Burnout%3F%2FJuly06-mui.jpg?alt=media&token=7d30f8a5-b594-4dba-8e85-14946a9f0697" >
                                </div>
                                </div>     
                             

                        <H3 style=" font-style: underline">1. <u>Recognise the Signs of Burnout:
                        </u>
                        </H3>
                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                            The first step to recovering from a stage of burnout is acknowledging that you have exhausted all your resources and are undergoing the burnout phase. Take note of your physical, emotional and mental state and ascertain whether you are experiencing signs of burnout. Some signs of burnout include disinterestedness, no motivation, no energy, a pessimistic attitude, self-doubt, extreme exhaustion, purposelessness, and emotional instability.
                        </p>
                      
                        <H3 style=" font-style: underline">2. <u>Address All the Symptoms:
                        </u>
                        </H3>
                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                            Once you have ascertained that you are undergoing a burnout phase, you need to start addressing the symptoms you experience. For instance, physical symptoms like headaches, body aches and fatigue need to be addressed by taking proper rest, nutrition and getting eight hours of sleep. Mental exhaustion and stress must be addressed by talking to a close friend or consulting a psychologist. Emotional instability and anxiety need to be addressed by practising meditation and breathing exercises. 

                        </p>
                   
                        <div class="row" >
                            <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
                                <img alt="Girl feeling burnout" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/waves-36bb5.appspot.com/o/How%20to%20Recover%20from%20Burnout%3F%2F6428539.jpg?alt=media&token=b2901f6c-7b1b-4802-8b79-bd9cbac83aca" >
                            </div>
                            </div>   

                            <H3 style=" font-style: underline">3. <u>Recognise the Root Cause:
                            </u>
                            </H3>
                            
                            <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                Burnouts occur for a reason, and they must be detected. Solely working on addressing the symptoms of burnout without addressing the root cause will render all your efforts futile. So contemplate what caused you to experience burnout in the first place? Is it exam stress and pressure? Excessive school workload? Family problems? Or a combination of all these factors? Recognising the root cause behind your burnout will help you become more self-aware and let you gradually let go of the things that push you to a state of extreme exhaustion.
                            </p>
                            <div class="row" >
                                <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
                                    <img alt="Myths vs facts about menstruation" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/waves-36bb5.appspot.com/o/The%20Importance%20of%20Destigmatising%20Menstruation%2F61Z_2112.w009.n001.65B.p14.65.jpg?alt=media&token=17558810-44b2-4bdb-8b44-a13ec8508be0" >
                                </div>
                                </div> 
                            <H3 style=" font-style: underline">4. <u>Take Frequent Breaks:
                            </u>
                            </H3>
                            <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                During burnout, one is already low on energy. So, working monotonously for prolonged hours will only worsen your exhaustion. Instead, when you need to work during a burnout phase, you must ensure that you get the work done without worsening your condition. So take frequent breaks between your work sessions. Keep a slot of the day all to yourself. For instance, you can keep the evenings or mornings completely free and devote time to yourself and your well-being. 
                            </p>
                            <div class="row" >
                                <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
                                    <img alt="Take frequent breaks while working" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/waves-36bb5.appspot.com/o/How%20to%20Recover%20from%20Burnout%3F%2F9850.jpg?alt=media&token=2332cfc8-1b90-49e3-91ea-cc2fec6489cf" >
                                </div>
                                </div> 
  <br>
                            <H3 style=" font-style: underline">5. <u>Do Not Push Your Limits:
                            </u>
                            </H3>
                            <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                Enduring burnout almost feels like hanging on the edge of a cliff. Any extra pressure other than what you are already enduring will push you off the cliff and lead you to hit rock bottom in no time. And we surely don’t want that to happen. Pushing yourself to work/study more or challenging your limits is not a great idea during burnout. This is a time when you need to recover and be gentle with yourself. 
  </p>

                                <H3 style=" font-style: underline">6. <u>Log Off from Devices:
                                </u>
                                </H3>
                                <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                    Constantly being surrounded by laptops and smartphones that keep buzzing with text and email notifications can definitely add to piling stress and anxiety. You need to take some time off, log off from all devices around you, and spend some time in their absence. Disconnecting from devices for some time during the day will allow you to recharge from exhaustion and stress. 
                                </p>
                                <div class="row" >
                                    <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
                                        <img alt="Take a break from social media" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/waves-36bb5.appspot.com/o/How%20to%20Recover%20from%20Burnout%3F%2F6894423.jpg?alt=media&token=cffedf47-8f7e-4936-99e5-c6069d5a1c33" >
                                    </div>
                                    </div>
                                <H3 style=" font-style: underline">7. <u>Differentiate Between Hard Work and Excessive Labour:
                                </u>
                                
      <br>
                                </H3>
                                <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                    Most people fail to differentiate between hard work and excessive labour that works counterproductively and leads one to fall into the pit of shattering exhaustion. Working hard doesn’t imply overworking yourself to a point where you lose all your energy to work and collapse on your bed, not wanting to get up again. Anything in excess is detrimental to one’s well-being. Maintaining a balance between work/studies and rest or leisure is a necessity. </p>
                                
                                </p>
                               
                                    <H3 style=" font-style: underline">8. <u>Practise Meditation:
                                </u>
                                </H3>
                                <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                    Though you may feel extremely listless and lethargic to do anything during a burnout phase, you need to gather some energy to meditate. It might take a lot of willpower and determination to make up your mind to meditate when you are completely exhausted. But meditating will only work in your favour. Practising meditation and breathing exercises for just 15 minutes each day is all you need to provide your mind with some peace and restore your lost energy. 
  </p>
  <div class="row" >
    <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
        <img alt="Girl doing meditation" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/waves-36bb5.appspot.com/o/How%20to%20Recover%20from%20Burnout%3F%2F5184243.jpg?alt=media&token=ccfb1564-cc71-468f-bf93-902a37a3a513" >
    </div>
    </div>
    
  <H3 style=" font-style: underline">9. <u>Do Things That Fuel Your Energy:
</u>
</H3>
<p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
    During your breaks, take some time to do things you enjoy doing. Avoid activities that require a lot of physical and mental effort and resort to simple activities like listening to music, watching a movie in bed, reading your favourite novel, doodling, sketching or anything you like. If all you want to do is sleep during your break, then go ahead and provide yourself with the rest you need. 
</p>

<H3 style=" font-style: underline">10. <u> Get Rid of Guilt:
</u>
</H3>
<p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
    Most importantly, understand that taking a rest or giving yourself a break is not a waste of time. Do not fall into the trap of obsessing over toxic productivity where you compromise your health and well-being for work and studies. Taking a break is productive as it helps you restore your energy and recover so that you can get back to work once you heal and give your best. So, please do not feel guilty for resting or taking a break when you need and deserve it.  
    <div class="row" >
        <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
            <img alt="Feeling of guilt due to burnout" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/waves-36bb5.appspot.com/o/How%20to%20Recover%20from%20Burnout%3F%2F6425304.jpg?alt=media&token=83491ae2-c3b4-4fba-be1c-1d9c5ffded3c" >
        </div>
        </div>

      




                        <div style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';" >
<b>7 Waves
<br>Life Solutions| Connecting Happiness</b>







         </div>













</div>




<hr>

</section>

<!-- MainSection End -->








    </div>




    </div>

</div>


<div class="container1" style="padding:2% 5% 5% 5%;">
    <div class="row" >




          <div class="col-lg-12 col-md-12 col-12" ><h1 style="text-align: center; font-size: 200%;padding-bottom: 2%; "><strong>Popular Blogs From us</strong></h1></div>



          <div class="col-lg-6 col-md-6 col-12" ><div class="mg-fluidi img-thumbnail" style="box-shadow: 0 0 20px 0 rgba(0, 0,0, 0.3);"><div class="row" style="padding: 5%;" >
            <div class="col-lg-4 col-md-4 col-12" ><h10 style=" text-align: center;"><b>Leadership</b>
            </h10></div>
            <div class="col-lg-4 col-md-4 col-12" ><h16 style="size: 5%;">07/09/2020</h120></div>
            <div class="col-lg-4 col-md-4 col-12" ><img alt="image" src="stylesheets/images/wavesSymbol.svg"   style="width: 65px;height: 100%;"></div></div>

                <img alt="image" src="https://miro.medium.com/fit/c/1400/420/1*1OSxFYvnpwzBXsaR_nR5pg.jpeg"  class="blogimg" >
                <img src="/stylesheets/images/logo.jpeg" style="width: 30px; height: 30px; border-radius: 100%;
                margin: 10px;"><h14 style="width: 50%;"> 3 min read</h14>
                <h3 style="padding: 10px;">7 unsaid rules of Friendship</h3>
                <p style="padding:0 10px 10px 10px;">You are afraid of waters... but friends will still make you jumpin.. </p>
                <div class="footer" style="text-align: center; float:left; "><a href="7 unsaid rules of Friendship.html">Read more</a></div>

                <br><br>
        </div> <br>


        </div>
        <div class="col-lg-6 col-md-6 col-12" ><div class="mg-fluidi img-thumbnail" style="box-shadow: 0 0 20px 0 rgba(0, 0,0, 0.3);"><div class="row" style="padding: 5%;" >
            <div class="col-lg-4 col-md-4 col-12" ><h10 style=" text-align: center;"><b>Leadership</b>
            </h10></div>
            <div class="col-lg-4 col-md-4 col-12" ><h16 style="size: 5%;">06/09/2020</h120></div>
            <div class="col-lg-4 col-md-4 col-12" ><img alt="image" src="stylesheets/images/wavesSymbol.svg"   style="width: 65px;height: 100%;"></div></div>

                <img alt="image" src="https://miro.medium.com/fit/c/1400/420/1*BkynGH35I1uTOqXWA94JHw.jpeg"   class="blogimg">
                <img src="/stylesheets/images/logo.jpeg" style="width: 30px; height: 30px; border-radius: 100%;
                margin: 10px;"><h14 style="width: 50%;"> 4 min read</h14>
                <h3 style="padding: 10px;">If success is fame, Hapiness is the pride</h3>

                <p style="padding:0 10px 10px 10px;">Maybe none. Earning a successful life is what everyone</p>
                <div class="footer" style="text-align: center; float:left; "><a href="If success is fame, Hapiness is the pride.html">Read more</a></div>

                <br><br>
        </div> <br>
        </div>



    </div>
<br>
    <!-- <li class="button-item">
        <div class="footer text-center" ><a href="/blogging">Explore More</a></div>
          </li> -->
</div>


<div class="row" style=" width: 100%;padding-left: 5%;" >


    <div class="row" >


        <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%; "><h1 style="text-align: center;">Your App</h1>
            <br>
            <h5 style="text-align: center;">7waves app provide a best mobile experience so counselling will be as easier as playing songs</h5><br>
            <div class="footer" style=" text-align: center; padding-bottom: 5%;padding-top: 5% ; "><a href="https://play.google.com/store/apps/details?id=in.sevenwaves.sevenwavesusers">Download Now</a></div>
        
        </div>

    <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%;"><img alt="image" src="/stylesheets/images/VECTOR_IMAGE_ON_APP@-4.svg"    style="width: 100%;height: 100%;"></div>



</div>
</div>

<div class="row" style="background-image: url(/stylesheets/images/Mask_Group_28.svg); width: 100%;margin-left: 0%;padding: 4%;" >


    <div class="row">


        <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%; "><h1 style="text-align: center;">Let's Stay in Touch</h1>
            <br>
            <!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
#mc_embed_signup{ clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://7waves.us19.list-manage.com/subscribe/post?u=fa7016958f292ac20306dd09a&amp;id=31a48ae68f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
<div id="mc_embed_signup_scroll">
<label for="mce-EMAIL">Subscribe</label>
<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_fa7016958f292ac20306dd09a_31a48ae68f" tabindex="-1" value=""></div>
<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</div>
</form>
</div>

<!--End mc_embed_signup-->
         </div>

    <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%;"><img alt="image" src="/stylesheets/images/Group_1092.svg"    style="width: 100%;height: 100%;"></div>



</div>
</div>


    <script>

        // Wrap every letter in a span
      var textWrapper = document.querySelector('.ml1 .letters');
      textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

      anime.timeline({loop: true})
        .add({
          targets: '.ml1 .letter',
          scale: [0.3,1],
          opacity: [0,1],
          translateZ: 0,
          easing: "easeOutExpo",
          duration: 600,
          delay: (el, i) => 70 * (i+1)
        }).add({
          targets: '.ml1 .line',
          scaleX: [0,1],
          opacity: [0.5,1],
          easing: "easeOutExpo",
          duration: 700,
          offset: '-=875',
          delay: (el, i, l) => 80 * (l - i)
        }).add({
          targets: '.ml1',
          opacity: 0,
          duration: 1000,
          easing: "easeOutExpo",
          delay: 1000
        });


           </script>

<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-md-3">
        <ul class="footer-links">
          <li><a href="../introspectionn.html">Introspection</a></li>
          <li><a href="../motivationBlogPage.html">Motivation</a></li>
          <li><a href="../RelationshipBlogPage.html">Relationship</a></li>
          <li><a href="../CareerBlogPage.html">Career</a></li>
          <li><a href="../BussinessBlogPage.html">Business</a></li>
          <li><a href="../Mentorship.html">Mentorship</a></li>
          <li><a href="#">Personal</a></li>
        </ul>
      </div>
      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a href="../../About.html">About Us</a></li>
          <li><a href="../contactus.html">Contact Us</a></li>
          <li><a href="../termsandcondition.html">Terms And Conditions</a></li>
          <li><a href="../privacypolicy.html">Privacy Policy</a></li>
          <li><a href="../refundandcancellation.html">Refund And Cancellation</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by
          <a href="/">7Waves Life Solutions Pvt. Ltd.</a>.
        </p>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="https://www.facebook.com/7waves-102331067869510/?ti=as"><i class="fa fa-facebook"></i></a></li>
          <li><a class="twitter" href="https://twitter.com/official7waves?s=08"><i class="fa fa-twitter"></i></a></li>
          <li><a class="instagram" href="https://instagram.com/official7waves?igshid=yzfg5tdez7s4"><i class="fa fa-instagram"></i></a></li>
          <li><a class="youtube" href="https://www.youtube.com/channel/UC1UlPjbnqmJbR4tnG0pv5Og"><i class="fa fa-youtube"></i></a></li>
          <li><a class="linkedin" href="https://www.linkedin.com/in/7-waves-89604b196"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- ====== Footer End ====== -->

</body>
</html>

