<!DOCTYPE html>
<html>
    <head>
      <title>How to Confront Bullying?
    </title>
        
        <meta charset="utf-8">
        <head>
          <meta name="description" content="Sometimes, someone’s words or actions may seem trivial to them, but it scars our minds and soul forever. Harsh words once spewed and wrong actions once performed cannot be retrieved and remain part of an individual’s traumatic memory. Not only is it pivotal to control our words and actions, but it is equally essential to ensure that others’ actions do not mar our self-esteem and dignity. Bullying is one of the manifestations of such detrimental behaviour. Most of us encounter bullying in school and in our surroundings, but very few stand against it. Bullying in any form is wrong and must not be tolerated. Here are a few factors that you can take into account while confronting bullying">
          <meta name="keywords" content="bullying, self-esteem, dignity, friendly banter, nature of bullying, perpetrator, confront, garner support, instances of bullying, victim, helping hand, neutral responses, inform parents, report violence, anti-bullying committees, abusive language, derogatory name-calling, mocking, passing comments">
          <meta name="author" content="7 WAVES">
        </head>

      <%- include("../partials/navbar")  %>


<!-- MainSection Srart -->
<section style="height: 100%;padding-bottom: 3%;">
    <div class="container1" style="padding-left: 10%;padding-right: 10%;">
        <!-- <h1 class="ml1">
            <span class="text-wrapper">
              <span class="line line1"></span>
              <span class="letters">7 Wave</span>
              <span class="line line2"></span>
            </span>
          </h1> -->
          <div class="row" style="padding:5% 0px 0% 0px;" >

            <div class="col-lg-12 col-md-12  col-12" ><h1 style=" font-size: 20px;color: #59a5c5;">Personal</h1></div>
          <div class="col-lg-12 col-md-12  col-12" ><h1 style=" font-size: 300%; "><strong>How to Confront Bullying?
        </strong></h1></div>






        </div>
        <hr>

        <div class="sharethis-inline-share-buttons"  style="float: left;"></div>
        <br>

        <br>


         <div class="col-lg-12 col-md-12 col-12" style="padding: 0 0 0 0;" >




           <div class="row" >
            <div class="col-lg-6 col-12" style="padding: 0 0 0 0;" >

            </div>
            <div class="col-lg-6 col-12" style="padding: 0 0 0 0;" ></div>
            <div class="col-lg-1 col-md-3 col-12" style="padding: 3% 0 0 3%;" >

                        <img alt="image" src="/stylesheets/images/logo.jpeg" style="width:70px;height: 70px; border-radius: 100%; "  alt="Sample avatar">
                      </div>

                            <div class="col-lg-11 col-md-9 col-12" style="padding: 3% 10% 3% 3%;" >

                               <h4><b>Ananya K</b></h4>
                               <h8>Content Team, 7 Waves Life Solutions</h8>
                               <br>
                               <br>
                               <h9 style="font-size: 13px;color: #757575!important;;">July 2, 2022</h9>&nbsp;&nbsp;&nbsp;&nbsp;<h12 style="font-size: 13px;color: #757575!important;;">10 min read</h12><br>
                               <!-- <h9 style="font-size: 13px;color: #757575!important;;">Opinions expressed by Entrepreneur contributors are their own.</h9><br> -->
                              
                              <p>
                                <p style="font-size: 19px; color: black; text-align: center;">
                                    <i>“Injustice anywhere is a threat to justice everywhere.”<br>
                                        ~Martin Luther King, Jr. 
     
                                     </i>
                                   </p>
                              </p>
                              <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                Sometimes, someone’s words or actions may seem trivial to them, but it scars our minds and soul forever. Harsh words once spewed and wrong actions once performed cannot be retrieved and remain part of an individual’s traumatic memory. Not only is it pivotal to control our words and actions, but it is equally essential to ensure that others’ actions do not mar our self-esteem and dignity. Bullying is one of the manifestations of such detrimental behaviour. Most of us encounter bullying in school and in our surroundings, but very few stand against it. Bullying in any form is wrong and must not be tolerated. Here are a few factors that you can take into account while confronting bullying:

                                </p>
                                <p>
                                <ul style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';"><li>●	Gain a Realistic Perspective on Self-Love </li>
                                  <li>● Differentiate Between Friendly Banter and Bullying </li>
                                  <li>●	Understand the Nature of Bullying </li>
                                  <li>●	Address the Issue by Talking to the Perpetrator </li>
                                  <li>●	Confront the Perpetrator in Other’s Presence  </li>
                                  <li>●	Garner Support from Friends</li>
                                  <li>●	Note Down the Instances of Bullying </li>
                                  <li>●	Subtly Extend a Helping Hand to a Victim </li>
                                  <li>●	Give Neutral Responses to Taunts </li>
                                  <li>●	Inform your Parents and a Teacher </li>
                                  <li>● Report Any Form of Violence Immediately </li>
                                  <li>●	Form Anti-Bullying Committees</li>
                                   
                                  	</ul> 
                                  
                              </p>
                              <div class="row" >
                                <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
                                    <img alt="Student saying stop bullying" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/waves-36bb5.appspot.com/o/How%20to%20Confront%20Bullying%3F%2F4040481.jpg?alt=media&token=067365a1-384f-4dc9-b4fe-100eddcbef9c" >
                                </div>
                                </div>     
                             

                        <H3 style=" font-style: underline">1. <u>Differentiate Between Friendly Banter and Bullying:
                        </u>
                        </H3>
                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                            Little arguments and quarrels are common occurrences between friends. Most friends argue or tease one another. That is fine as long as it is done in the right spirit and not to hurt someone’s feelings. However, in some instances, arguments can take unexpected turns and can end up in one person bullying the other. It is important to differentiate bullying from friendly banter. A few instances that classify as bullying include:
                        </p>
                        <p>
                            <ul style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';"><li>●	Gain a Realistic Perspective on Self-Love </li>
                              <li>● Passing comments based on a person’s physical appearance or weaknesses </li>
                              <li>●	Derogatory name-calling </li>
                              <li>●	Using abusive or curse words </li>
                              <li>●	Humiliating someone or pulling them down </li>
                              <li>●	Mocking people</li>
                              <li>●	Raising hands and getting physically violent  </li>
                              <li>●	Any behaviour that makes a person uncomfortable </li>
                             
                              
                              
                                  </ul> 
                              
                          </p>
                        <H3 style=" font-style: underline">2. <u>Understand the Nature of Bullying:
                        </u>
                        </H3>
                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                            Once you have understood that you or someone in your surroundings is being bullied, the next step is to identify the nature and severity of the bullying. Examine whether the bully is resorting to verbal forms of bullying like mocking, passing comments or using abusive language or using physical violence as well. Take action in accordance with the nature and severity of the bully’s behaviour. Initial phases of verbal bullying, like teasing can be dealt with by talking to the bully and sorting the issue. However, more physical and violent forms of bullying need strict and immediate action and must be reported at the earliest. 

                        </p>
                   
                        <div class="row" >
                            <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
                                <img alt="Boy and girl bulling other girl" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/waves-36bb5.appspot.com/o/How%20to%20Confront%20Bullying%3F%2F4029055.jpg?alt=media&token=28982f6a-5564-4cd8-b94f-b2fe026a56d3" >
                            </div>
                            </div>   

                            <H3 style=" font-style: underline">3. <u> Address the Issue by Talking to the Perpetrator:
                            </u>
                            </H3>
                            
                            <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                Sometimes, the person bullying you or another individual may be unaware that their actions make someone uncomfortable, and they continue with the same behaviour. In such cases, it is crucial to address the issue by talking to the person privately and letting them know their behaviour is making others uncomfortable. It’s great if the person understands and is willing to rectify their mistakes and apologise to the person they hurt. 
                            </p>
                            <div class="row" >
                                <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
                                    <img alt="Myths vs facts about menstruation" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/waves-36bb5.appspot.com/o/The%20Importance%20of%20Destigmatising%20Menstruation%2F61Z_2112.w009.n001.65B.p14.65.jpg?alt=media&token=17558810-44b2-4bdb-8b44-a13ec8508be0" >
                                </div>
                                </div> 
                            <H3 style=" font-style: underline">4. <u>Confront the Perpetrator in Other’s Presence:
                            </u>
                            </H3>
                            <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                If the person does not admit their mistake and continues bullying and troubling you or others, you must confront the person in other people’s presence to catch the person off-guard. When you highlight their inappropriate behaviour in front of others, it will add social pressure on the person since they are being called out in public. You would also have several eyewitnesses who could support you in confronting the bully. 
                            </p>
                            <div class="row" >
                                <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
                                    <img alt="School students enjoying together" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/waves-36bb5.appspot.com/o/How%20to%20Confront%20Bullying%3F%2F4293766.jpg?alt=media&token=18763603-c9d2-4b09-b504-608333c36a24" >
                                </div>
                                </div> 
  <br>
                            <H3 style=" font-style: underline">5. <u>Garner Support from Friends:
                            </u>
                            </H3>
                            <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                Confronting people alone can be daunting and intimidating. Therefore, you can garner support from your friends and ask them to accompany you for the right cause. Whether you are being bullied or someone else, you can confront the bully in a group. Having people by your side who can support you and question the person’s immoral acts will have a greater effect on stopping the person from continuing with the same behaviour. 
  </p>

                                <H3 style=" font-style: underline">6. <u>Note Down the Instances of Bullying:
                                </u>
                                </H3>
                                <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                    Whenever you encounter yourself or someone else being bullied, don’t turn an ignorant eye toward the situation. Note the details of each incident and remember the words and actions of the bully and what impact they had on the victim. Remember the place, the date and what triggered the situation to escalate. Noting such details would help you be an informed eyewitness so that you can provide sufficient evidence against the perpetrator when needed. 
                                </p>
                                <div class="row" >
                                    <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
                                        <img alt="Student bullying each other poster" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/waves-36bb5.appspot.com/o/How%20to%20Confront%20Bullying%3F%2Fkids_boy_girl_agression.jpg?alt=media&token=26daf563-6717-4269-bb62-bbecf38eba32" >
                                    </div>
                                    </div>
                                <H3 style=" font-style: underline">7. <u>Subtly Extend a Helping Hand to a Victim:
                                </u>
                                
      <br>
                                </H3>
                                <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                    Whenever you observe someone around you being bullied or feeling uncomfortable, approach them and subtly drop hints asking if they need help. Asking the victim if they need help in front of the bully would put them on the spot. Instead, you can walk over to the victim and say, “Hi! How are you doing?” and hug them. While hugging them, whisper and ask if they need help. If they say yes, come up with an excuse like “I need your help finding my math notebook” and take them out of the situation along with you.   </p>
                                
                                </p>
                               
                                    <H3 style=" font-style: underline">8. <u>Give Neutral Responses to Taunts:
                                </u>
                                </H3>
                                <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                    When someone taunts you in an attempt to bully you, the best response is to keep silent and ignore them. Though continuous taunts can be frustrating, you must understand that the bully intends to elicit a response from you. The more frustratingly you respond, the more they will continue to bully you. Being neutral and showing that their words don’t matter to you will discourage them from bullying you. However, if the person’s actions exceed an acceptable limit, you must raise your voice and not remain silent. 
  </p>
  <div class="row" >
    <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
        <img alt="Students getting angry on each other" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/waves-36bb5.appspot.com/o/How%20to%20Confront%20Bullying%3F%2F4010544.jpg?alt=media&token=74be7f9b-ecb6-49c1-9dec-965fa6747b5b" >
    </div>
    </div>
    
  <H3 style=" font-style: underline">9. <u>Inform your Parents and a Teacher:
</u>
</H3>
<p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
    Informing adults about such situations is extremely important since you will need adult intervention to control and prevent such behaviour from occurring. So, tell your parents if you are being bullied by someone and don’t hide it from them. They will help you approach the school authorities and take action. Moreover, keep a trusted teacher informed if you or anyone else is being bullied and ask for their help in controlling the situation. 
</p>

<H3 style=" font-style: underline">10. <u>Report Any Form of Violence Immediately:
</u>
</H3>
<p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
    Minor instances like taunting and comments can be handled through ignorance. But when teasing or humiliation takes violent forms, they must be reported immediately. Not just physical violence but verbal violence in the form of derogatory abuses, yelling, and shouting must be reported to school authorities or adults immediately. 
    <div class="row" >
        <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
            <img alt="bullying poster" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/waves-36bb5.appspot.com/o/How%20to%20Confront%20Bullying%3F%2F4015513.jpg?alt=media&token=ac7abb7a-534f-4a4a-b776-cd05ac9ae3ee" >
        </div>
        </div>

        <H3 style=" font-style: underline">11. <u>Form Anti-Bullying Committees:
        </u>
        </H3>
        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
            All schools must have anti-bullying committees where students can report any instances of bullying or violence and get it addressed at the earliest. Talk to your classmates and approach your teachers to help you form such a committee if your school doesn’t already have one. You can hold regular meetings under this committee to check any bullying cases and address them sensibly. 
        </p>
        




                        <div style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';" >
<b>7 Waves
<br>Life Solutions| Connecting Happiness</b>







         </div>













</div>




<hr>

</section>

<!-- MainSection End -->








    </div>




    </div>

</div>


<div class="container1" style="padding:2% 5% 5% 5%;">
    <div class="row" >




          <div class="col-lg-12 col-md-12 col-12" ><h1 style="text-align: center; font-size: 200%;padding-bottom: 2%; "><strong>Popular Blogs From us</strong></h1></div>



          <div class="col-lg-6 col-md-6 col-12" ><div class="mg-fluidi img-thumbnail" style="box-shadow: 0 0 20px 0 rgba(0, 0,0, 0.3);"><div class="row" style="padding: 5%;" >
            <div class="col-lg-4 col-md-4 col-12" ><h10 style=" text-align: center;"><b>Leadership</b>
            </h10></div>
            <div class="col-lg-4 col-md-4 col-12" ><h16 style="size: 5%;">07/09/2020</h120></div>
            <div class="col-lg-4 col-md-4 col-12" ><img alt="image" src="stylesheets/images/wavesSymbol.svg"   style="width: 65px;height: 100%;"></div></div>

                <img alt="image" src="https://miro.medium.com/fit/c/1400/420/1*1OSxFYvnpwzBXsaR_nR5pg.jpeg"  class="blogimg" >
                <img src="/stylesheets/images/logo.jpeg" style="width: 30px; height: 30px; border-radius: 100%;
                margin: 10px;"><h14 style="width: 50%;"> 3 min read</h14>
                <h3 style="padding: 10px;">7 unsaid rules of Friendship</h3>
                <p style="padding:0 10px 10px 10px;">You are afraid of waters... but friends will still make you jumpin.. </p>
                <div class="footer" style="text-align: center; float:left; "><a href="/7-unsaid-rules-of-Friendship">Read more</a></div>

                <br><br>
        </div> <br>


        </div>
        <div class="col-lg-6 col-md-6 col-12" ><div class="mg-fluidi img-thumbnail" style="box-shadow: 0 0 20px 0 rgba(0, 0,0, 0.3);"><div class="row" style="padding: 5%;" >
            <div class="col-lg-4 col-md-4 col-12" ><h10 style=" text-align: center;"><b>Leadership</b>
            </h10></div>
            <div class="col-lg-4 col-md-4 col-12" ><h16 style="size: 5%;">06/09/2020</h120></div>
            <div class="col-lg-4 col-md-4 col-12" ><img alt="image" src="stylesheets/images/wavesSymbol.svg"   style="width: 65px;height: 100%;"></div></div>

                <img alt="image" src="https://miro.medium.com/fit/c/1400/420/1*BkynGH35I1uTOqXWA94JHw.jpeg"   class="blogimg">
                <img src="/stylesheets/images/logo.jpeg" style="width: 30px; height: 30px; border-radius: 100%;
                margin: 10px;"><h14 style="width: 50%;"> 4 min read</h14>
                <h3 style="padding: 10px;">If success is fame, Hapiness is the pride</h3>

                <p style="padding:0 10px 10px 10px;">Maybe none. Earning a successful life is what everyone</p>
                <div class="footer" style="text-align: center; float:left; "><a href="/If-success-is-fame-Hapiness-is-the-pride">Read more</a></div>

                <br><br>
        </div> <br>
        </div>



    </div>
<br>
    <!-- <li class="button-item">
        <div class="footer text-center" ><a href="/blogging">Explore More</a></div>
          </li> -->
</div>


<div class="row" style=" width: 100%;padding-left: 5%;" >


    <div class="row" >


        <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%; "><h1 style="text-align: center;">Your App</h1>
            <br>
            <h5 style="text-align: center;">7waves app provide a best mobile experience so counselling will be as easier as playing songs</h5><br>
            <div class="footer" style=" text-align: center; padding-bottom: 5%;padding-top: 5% ; "><a href="https://play.google.com/store/apps/details?id=in.sevenwaves.sevenwavesusers">Download Now</a></div>
        
        </div>

    <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%;"><img alt="image" src="/stylesheets/images/VECTOR_IMAGE_ON_APP@-4.svg"    style="width: 100%;height: 100%;"></div>



</div>
</div>

<div class="row" style="background-image: url(/stylesheets/images/Mask_Group_28.svg); width: 100%;margin-left: 0%;padding: 4%;" >


    <div class="row">


        <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%; "><h1 style="text-align: center;">Let's Stay in Touch</h1>
            <br>
            <!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
#mc_embed_signup{ clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://7waves.us19.list-manage.com/subscribe/post?u=fa7016958f292ac20306dd09a&amp;id=31a48ae68f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
<div id="mc_embed_signup_scroll">
<label for="mce-EMAIL">Subscribe</label>
<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_fa7016958f292ac20306dd09a_31a48ae68f" tabindex="-1" value=""></div>
<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</div>
</form>
</div>

<!--End mc_embed_signup-->
         </div>

    <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%;"><img alt="image" src="/stylesheets/images/Group_1092.svg"    style="width: 100%;height: 100%;"></div>



</div>
</div>


    <script>

        // Wrap every letter in a span
      var textWrapper = document.querySelector('.ml1 .letters');
      textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

      anime.timeline({loop: true})
        .add({
          targets: '.ml1 .letter',
          scale: [0.3,1],
          opacity: [0,1],
          translateZ: 0,
          easing: "easeOutExpo",
          duration: 600,
          delay: (el, i) => 70 * (i+1)
        }).add({
          targets: '.ml1 .line',
          scaleX: [0,1],
          opacity: [0.5,1],
          easing: "easeOutExpo",
          duration: 700,
          offset: '-=875',
          delay: (el, i, l) => 80 * (l - i)
        }).add({
          targets: '.ml1',
          opacity: 0,
          duration: 1000,
          easing: "easeOutExpo",
          delay: 1000
        });


           </script>

<%- include("../partials/footer")  %>

