<!DOCTYPE html>
<html>
    <head>
      <title>How to Increase Concentration?
    </title>
        
        <meta charset="utf-8">
        <head>
          <meta name="description" content="Maintaining concentration while studying is challenging, especially when distractions constantly surround us and our minds wander off to different thoughts. We are here to tell you that it’s not impossible to cultivate and develop concentration. You can improve your concentration abilities with practice and a little patience">
          <meta name="keywords" content="increase concentration, knowledge, determination, distractions, practice, patience, write down tasks, peaceful environment, read novels, plan time for distractions, meditation, rest, mind-stimulating activities, study music, concentration levels, focus, schedule, incentive, reward, mental health, breathing exercises, rejuvenate, puzzles, riddles, short study sessions, soothing music, enhance your mood">
          <meta name="author" content="7 WAVES">
        <link rel="stylesheet" href="../../public/stylesheets/main.css">
  <link rel="stylesheet" href="../../public/stylesheets/style.css">
        <link rel="shortcut icon" href="../../public/stylesheets/images/logo.jpeg" />
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../public/stylesheets/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<!-- ====== Navbar Start ====== -->
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black;">
            <div class="container text-uppercase p-2">
            <a class="navbar-brand font-weight-bold text-white" href="../../index.html"><img src="../../public/stylesheets/images/white logo resized 2.svg" style="height: 50px;width: 100px; border-radius: 100%;"> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-auto text-uppercase">
                    <li class="nav-item active">
                      <a class="nav-link" href="../../index.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" href="../../About.html">About Us</a>
                    </li>
        
        
                
                        <li class="nav-item">
                          <a class="nav-link"  href="../appreferal.html">Reach Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"  href="../blogs.html">Blogs</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link"  href="../googleFormsPages/Internship.html">Career</a>
                          </li>
                  
                              </ul>
                            </li>
                   
                  </ul>
        
                </div>
            </div>
              </nav>


<!-- MainSection Srart -->
<section style="height: 100%;padding-bottom: 3%;">
    <div class="container1" style="padding-left: 10%;padding-right: 10%;">
        <!-- <h1 class="ml1">
            <span class="text-wrapper">
              <span class="line line1"></span>
              <span class="letters">7 Wave</span>
              <span class="line line2"></span>
            </span>
          </h1> -->
          <div class="row" style="padding:5% 0px 0% 0px;" >

            <div class="col-lg-12 col-md-12  col-12" ><h1 style=" font-size: 20px;color: #59a5c5;">Career</h1></div>
          <div class="col-lg-12 col-md-12  col-12" ><h1 style=" font-size: 300%; "><strong>How to Increase Concentration?
        </strong></h1></div>






        </div>
        <hr>

        <div class="sharethis-inline-share-buttons"  style="float: left;"></div>
        <br>

        <br>


         <div class="col-lg-12 col-md-12 col-12" style="padding: 0 0 0 0;" >




           <div class="row" >
            <div class="col-lg-6 col-12" style="padding: 0 0 0 0;" >

            </div>
            <div class="col-lg-6 col-12" style="padding: 0 0 0 0;" ></div>
            <div class="col-lg-1 col-md-3 col-12" style="padding: 3% 0 0 3%;" >

                        <img alt="image" src="/stylesheets/images/logo.jpeg" style="width:70px;height: 70px; border-radius: 100%; "  alt="Sample avatar">
                      </div>

                            <div class="col-lg-11 col-md-9 col-12" style="padding: 3% 10% 3% 3%;" >

                               <h4><b>Ananya K</b></h4>
                               <h8>Content Team, 7 Waves Life Solutions</h8>
                               <br>
                               <br>
                               <h9 style="font-size: 13px;color: #757575!important;;">June 27, 2022</h9>&nbsp;&nbsp;&nbsp;&nbsp;<h12 style="font-size: 13px;color: #757575!important;;">10 min read</h12><br>
                               <!-- <h9 style="font-size: 13px;color: #757575!important;;">Opinions expressed by Entrepreneur contributors are their own.</h9><br> -->
                              
                              <p>
                                
                              </p>
                              <p style="font-size: 19px; color: black; font-style: italic;">“The power of concentration is the only key to the treasure-house of knowledge.”
                                <p style="font-size: 19px; color: black; font-style: italic;">~Swami Vivekananda</p> 
                              <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                Finally making up your mind to study, you sit on your desk with great determination to complete your studies only to find yourself scrolling through your phone a few minutes later. Maintaining concentration while studying is challenging, especially when distractions constantly surround us and our minds wander off to different thoughts. We are here to tell you that it’s not impossible to cultivate and develop concentration. You can improve your concentration abilities with practice and a little patience. Here are a few tips for you to follow:

                                </p>
                                <p>
                                <ul style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';"><li>●	Exclude Distractions  </li>
                                  <li>●	Write Down Your Tasks </li>
                                  <li>●	Study in a Peaceful Environment </li>
                                  <li>●	Read Novels/Stories  </li>
                                  <li>●	Plan a Time for Distractions </li>
                                  <li>●	Practice Meditation </li>
                                  <li>●	Take Rest </li>
                                  <li>●	Engage in Mind-Stimulating Activities </li>
                                  <li>●	Study for Short Intervals  </li>
                                  <li>●	Listen to Study Music  </li>
                                   
                                  	</ul> 
                                  
                              </p>
                               
                              <div class="row" >
                                <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
                                    <img alt="Meditation" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/waves-36bb5.appspot.com/o/website%20blog%20photos%2FHow%20to%20Increase%20Concentration-%2027th%20June%20(Mon)%2F5218014.jpg?alt=media&token=fc4e84ed-a775-45d6-89ea-9457cc7a82b1" >
                                </div>
                                </div>
    <br>

                        <H3 style=" font-style: underline">1. <u>Exclude Distractions:
                        </u>
                        </H3>
                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                          The most important hurdle that needs to be crossed to remain concentrated is to exclude all distractions from your surroundings. So, put your phone on silent or ‘Do Not Disturb’ and keep it away from your sight. A study conducted at the University of California revealed that people usually return to their original task 23 minutes after being disturbed by a notification. Moreover, most people check their phones every 47 seconds, which hampers their productivity immensely (GeekBox IT). Notifications, social media and friends’ texts can wait, but your time can’t. 
                        </p>
                        <H3 style=" font-style: underline">2. <u>Write Down Your Tasks: 
                        </u>
                        </H3>
                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                          When you write your tasks down on paper, you are more likely to get them done. Juggling with the thought of completing several tasks in your mind would only lead you to get distracted. Writing your tasks down in a ‘To-Do’ list would take this mental load off your mind enabling you to concentrate and complete your tasks. 

                        </p>
                   
                        <div class="row" >
                            <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
                                <img alt="Self journal" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/waves-36bb5.appspot.com/o/website%20blog%20photos%2FHow%20to%20Increase%20Concentration-%2027th%20June%20(Mon)%2F5272.jpg?alt=media&token=1cf7f9de-6883-4963-84f1-1e030c350abd" >
                            </div>
                            </div>

                            <H3 style=" font-style: underline">3. <u>Study in a Peaceful Environment:
                            </u>
                            </H3>
                            
                            <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                              The environment we study in has a significant impact on our concentration levels. Studying in a room amidst people and noise will be more distracting than studying in a calm and peaceful environment like a library. So, choose a spot in your home which is relatively quiet with little to no people around. This would allow you to concentrate better without getting disturbed by your surroundings. 
                            </p>

                            <H3 style=" font-style: underline">4. <u>Read Novels/Stories: 
                            </u>
                            </H3>
                            <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                              Most people complain about not being able to retain their concentration while reading. The best way to develop the habit of concentrating while reading is to read non-academic texts in your free time. You can start by reading short stories, poems or any genre of novel you like. Once you develop the ability to remain focused while reading non-academic texts, you will also use that ability to focus while reading during your study sessions. 
                            </p>
                            <div class="row" >
                              <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
                                  <img alt="Book reading" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/waves-36bb5.appspot.com/o/website%20blog%20photos%2FHow%20to%20Increase%20Concentration-%2027th%20June%20(Mon)%2F5836.jpg?alt=media&token=f66a00f8-76d2-45cd-8baa-51d19d33caa5" >
                              </div>
                              </div>
  <br>
                            <H3 style=" font-style: underline">5. <u>Plan a Time for Distractions:
                            </u>
                            </H3>
                            <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                              Though it is important to eliminate distractions while studying, it is nearly impossible to eliminate distractions from your schedule completely. Doing this would only make you crave to check your phone or scroll through social media all the more. Therefore, it is also better to schedule a time for your distractions. Plan a time in your schedule where you can reply to all of your friends’ texts, chat with them, check notifications and open social media apps. This would work as an incentive or reward after a productive study session and motivate you to concentrate while studying so that you can enjoy your ‘distraction’ time later. 
  </p>

                                <H3 style=" font-style: underline">6. <u>Practice Meditation:
                                </u>
                                </H3>
                                <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                  Meditation is a practice that helps one increase their ability to concentrate in the long run. Though you might not notice the benefits of meditating immediately, you will definitely feel a difference in your concentration levels and overall mental health in due course of time. You can start with simple pranayama, breathing exercises or even focus your attention on all five senses while meditating. 
                                </p>
                                <div class="row" >
                                  <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
                                      <img alt="keep calm" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/waves-36bb5.appspot.com/o/website%20blog%20photos%2FHow%20to%20Increase%20Concentration-%2027th%20June%20(Mon)%2F5184243.jpg?alt=media&token=72b2e8af-504b-4816-927b-c964a4956c0e" >
                                  </div>
                                  </div>
                                <H3 style=" font-style: underline">7. <u>Take Rest: 
                                </u>
                                
      <br>
                                </H3>
                                <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                  Lack of sleep, exhaustion and a burnt-out state are often reasons behind one’s inability to concentrate. You can concentrate well on your studies only when you are physically, mentally and emotionally healthy. So, ensure to rest whenever you feel exhausted, get eight hours of sleep and even keep free days in your schedule where all you do is relax. This would rejuvenate your mind and body to function productively while studying.  </p>
                                
                                </p>
                               
                                    <H3 style=" font-style: underline">8. <u>Engage in Mind-Stimulating Activities:
                                </u>
                                </H3>
                                <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                  For those of you who like playing games and engaging in activities, try your hands on performing activities that require some brain work. Try solving riddles, puzzles, sudoku or even playing chess. You can even play other number games or word games with your friends (ATLAS, for example). Activities that stimulate your brain and push it to think in innovative ways are a great way to enhance your concentration abilities. 
  </p>
  <div class="row" >
    <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
        <img alt="people solving problems" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/waves-36bb5.appspot.com/o/website%20blog%20photos%2FHow%20to%20Increase%20Concentration-%2027th%20June%20(Mon)%2F2114362.jpg?alt=media&token=32be8f2b-6b78-4415-b212-0661f3318dc9" >
    </div>
    </div>
  <H3 style=" font-style: underline">9. <u>Study for Short Intervals:
</u>
</H3>
<p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
  Studying for long hours would only be detrimental if you aim to improve your concentration. The key is to start with short study sessions and gradually increase your concentration over time. Start with 20-minute (or maximum 30-minute) study sessions where you solely focus on studying and think of nothing else. Take a 5 to 10-minute break after your study session gets over and start another cycle likewise. You can use a timer to help you keep track of the time. 
</p>
<H3 style=" font-style: underline">10. <u>Listen to Study Music:
</u>
</H3>
<p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
  Music is an instant mood-uplifting tool that calms your mind. However, study music is slightly different from the music you listen to during your break. It is essential to listen to soft and soothing music with no lyrics while studying. Heavy beats or lyrics might distract your mind, so it is better to avoid them while studying. You can find innumerable study music playlists on YouTube. Listening to soothing and relaxing music while studying will not only enhance your mood but will also help you focus on concentrating on your work. 
</p>
<div class="row" >
  <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
      <img alt="Happy girl with headphones" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/waves-36bb5.appspot.com/o/website%20blog%20photos%2FHow%20to%20Increase%20Concentration-%2027th%20June%20(Mon)%2FHappy%20girl%20wearing%20headphones.jpg?alt=media&token=3c563d72-d74a-4838-b2f8-c1aa0ea293a1" >
  </div>
  </div>




                        <div style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';" >
<b>7 Waves
<br>Life Solutions| Connecting Happiness</b>







         </div>













</div>




<hr>

</section>

<!-- MainSection End -->








    </div>




    </div>

</div>


<div class="container1" style="padding:2% 5% 5% 5%;">
    <div class="row" >




          <div class="col-lg-12 col-md-12 col-12" ><h1 style="text-align: center; font-size: 200%;padding-bottom: 2%; "><strong>Popular Blogs From us</strong></h1></div>



          <div class="col-lg-6 col-md-6 col-12" ><div class="mg-fluidi img-thumbnail" style="box-shadow: 0 0 20px 0 rgba(0, 0,0, 0.3);"><div class="row" style="padding: 5%;" >
            <div class="col-lg-4 col-md-4 col-12" ><h10 style=" text-align: center;"><b>Leadership</b>
            </h10></div>
            <div class="col-lg-4 col-md-4 col-12" ><h16 style="size: 5%;">07/09/2020</h120></div>
            <div class="col-lg-4 col-md-4 col-12" ><img alt="image" src="stylesheets/images/wavesSymbol.svg"   style="width: 65px;height: 100%;"></div></div>

                <img alt="image" src="https://miro.medium.com/fit/c/1400/420/1*1OSxFYvnpwzBXsaR_nR5pg.jpeg"  class="blogimg" >
                <img src="/stylesheets/images/logo.jpeg" style="width: 30px; height: 30px; border-radius: 100%;
                margin: 10px;"><h14 style="width: 50%;"> 3 min read</h14>
                <h3 style="padding: 10px;">7 unsaid rules of Friendship</h3>
                <p style="padding:0 10px 10px 10px;">You are afraid of waters... but friends will still make you jumpin.. </p>
                <div class="footer" style="text-align: center; float:left; "><a href="7 unsaid rules of Friendship.html">Read more</a></div>

                <br><br>
        </div> <br>


        </div>
        <div class="col-lg-6 col-md-6 col-12" ><div class="mg-fluidi img-thumbnail" style="box-shadow: 0 0 20px 0 rgba(0, 0,0, 0.3);"><div class="row" style="padding: 5%;" >
            <div class="col-lg-4 col-md-4 col-12" ><h10 style=" text-align: center;"><b>Leadership</b>
            </h10></div>
            <div class="col-lg-4 col-md-4 col-12" ><h16 style="size: 5%;">06/09/2020</h120></div>
            <div class="col-lg-4 col-md-4 col-12" ><img alt="image" src="stylesheets/images/wavesSymbol.svg"   style="width: 65px;height: 100%;"></div></div>

                <img alt="image" src="https://miro.medium.com/fit/c/1400/420/1*BkynGH35I1uTOqXWA94JHw.jpeg"   class="blogimg">
                <img src="/stylesheets/images/logo.jpeg" style="width: 30px; height: 30px; border-radius: 100%;
                margin: 10px;"><h14 style="width: 50%;"> 4 min read</h14>
                <h3 style="padding: 10px;">If success is fame, Hapiness is the pride</h3>

                <p style="padding:0 10px 10px 10px;">Maybe none. Earning a successful life is what everyone</p>
                <div class="footer" style="text-align: center; float:left; "><a href="If success is fame, Hapiness is the pride.html">Read more</a></div>

                <br><br>
        </div> <br>
        </div>



    </div>
<br>
    <!-- <li class="button-item">
        <div class="footer text-center" ><a href="/blogging">Explore More</a></div>
          </li> -->
</div>


<div class="row" style=" width: 100%;padding-left: 5%;" >


    <div class="row" >


        <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%; "><h1 style="text-align: center;">Your App</h1>
            <br>
            <h5 style="text-align: center;">7waves app provide a best mobile experience so counselling will be as easier as playing songs</h5><br>
            <div class="footer" style=" text-align: center; padding-bottom: 5%;padding-top: 5% ; "><a href="https://play.google.com/store/apps/details?id=in.sevenwaves.sevenwavesusers">Download Now</a></div>
        
        </div>

    <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%;"><img alt="image" src="/stylesheets/images/VECTOR_IMAGE_ON_APP@-4.svg"    style="width: 100%;height: 100%;"></div>



</div>
</div>

<div class="row" style="background-image: url(/stylesheets/images/Mask_Group_28.svg); width: 100%;margin-left: 0%;padding: 4%;" >


    <div class="row">


        <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%; "><h1 style="text-align: center;">Let's Stay in Touch</h1>
            <br>
            <!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
#mc_embed_signup{ clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://7waves.us19.list-manage.com/subscribe/post?u=fa7016958f292ac20306dd09a&amp;id=31a48ae68f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
<div id="mc_embed_signup_scroll">
<label for="mce-EMAIL">Subscribe</label>
<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_fa7016958f292ac20306dd09a_31a48ae68f" tabindex="-1" value=""></div>
<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</div>
</form>
</div>

<!--End mc_embed_signup-->
         </div>

    <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%;"><img alt="image" src="/stylesheets/images/Group_1092.svg"    style="width: 100%;height: 100%;"></div>



</div>
</div>


    <script>

        // Wrap every letter in a span
      var textWrapper = document.querySelector('.ml1 .letters');
      textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

      anime.timeline({loop: true})
        .add({
          targets: '.ml1 .letter',
          scale: [0.3,1],
          opacity: [0,1],
          translateZ: 0,
          easing: "easeOutExpo",
          duration: 600,
          delay: (el, i) => 70 * (i+1)
        }).add({
          targets: '.ml1 .line',
          scaleX: [0,1],
          opacity: [0.5,1],
          easing: "easeOutExpo",
          duration: 700,
          offset: '-=875',
          delay: (el, i, l) => 80 * (l - i)
        }).add({
          targets: '.ml1',
          opacity: 0,
          duration: 1000,
          easing: "easeOutExpo",
          delay: 1000
        });


           </script>


<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-md-3">
        <ul class="footer-links">
          <li><a href="../introspectionn.html">Introspection</a></li>
          <li><a href="../motivationBlogPage.html">Motivation</a></li>
          <li><a href="../RelationshipBlogPage.html">Relationship</a></li>
          <li><a href="../CareerBlogPage.html">Career</a></li>
          <li><a href="../BussinessBlogPage.html">Business</a></li>
          <li><a href="../Mentorship.html">Mentorship</a></li>
          <li><a href="#">Personal</a></li>
        </ul>
      </div>
      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a href="../../About.html">About Us</a></li>
          <li><a href="../contactus.html">Contact Us</a></li>
          <li><a href="../termsandcondition.html">Terms And Conditions</a></li>
          <li><a href="../privacypolicy.html">Privacy Policy</a></li>
          <li><a href="../refundandcancellation.html">Refund And Cancellation</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by
          <a href="/">7Waves Life Solutions Pvt. Ltd.</a>.
        </p>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="https://www.facebook.com/7waves-102331067869510/?ti=as"><i class="fa fa-facebook"></i></a></li>
          <li><a class="twitter" href="https://twitter.com/official7waves?s=08"><i class="fa fa-twitter"></i></a></li>
          <li><a class="instagram" href="https://instagram.com/official7waves?igshid=yzfg5tdez7s4"><i class="fa fa-instagram"></i></a></li>
          <li><a class="youtube" href="https://www.youtube.com/channel/UC1UlPjbnqmJbR4tnG0pv5Og"><i class="fa fa-youtube"></i></a></li>
          <li><a class="linkedin" href="https://www.linkedin.com/in/7-waves-89604b196"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- ====== Footer End ====== -->

</body>
</html>