<!DOCTYPE html>
<html>
    <head>
      <title>How To Stop Overthinking    </title>
        
        <meta charset="utf-8">
        <head>
          <meta name="description" content="In life, you face many hardships, struggles. It would be best if you found a way to cross each one of them. And all the Mystery lies within you.">
          <meta name="keywords" content="how to become the person you always wanted to be, Willing, Love for work, Live your dream, Dream, Passionate, Rage, Dispassionate, Affection, pathy, Passioning ">
          <meta name="author" content="7 WAVES">
        </head>

      <%- include("../partials/navbar")  %>



<!-- MainSection Srart -->
<section style="height: 100%;padding-bottom: 3%;">
    <div class="container1" style="padding-left: 10%;padding-right: 10%;">
        <!-- <h1 class="ml1">
            <span class="text-wrapper">
              <span class="line line1"></span>
              <span class="letters">7 Wave</span>
              <span class="line line2"></span>
            </span>
          </h1> -->
          <div class="row" style="padding:5% 0px 0% 0px;" >

            <div class="col-lg-12 col-md-12  col-12" ><h1 style=" font-size: 20px;color: #59a5c5;">Career</h1></div>
          <div class="col-lg-12 col-md-12  col-12" ><h1 style=" font-size: 300%; "><strong>How To Stop Overthinking
        </strong></h1></div>






        </div>
        <hr>

        <div class="sharethis-inline-share-buttons"  style="float: left;"></div>
        <br>

        <br>


         <div class="col-lg-12 col-md-12 col-12" style="padding: 0 0 0 0;" >




           <div class="row" >
            <div class="col-lg-6 col-12" style="padding: 0 0 0 0;" >

            </div>
            <div class="col-lg-6 col-12" style="padding: 0 0 0 0;" ></div>
            <div class="col-lg-1 col-md-3 col-12" style="padding: 3% 0 0 3%;" >

                        <img alt="image" src="/stylesheets/images/logo.jpeg" style="width:70px;height: 70px; border-radius: 100%; "  alt="Sample avatar">
                      </div>

                            <div class="col-lg-11 col-md-9 col-12" style="padding: 3% 10% 3% 3%;" >

                               <h4><b>Ananya K</b></h4>
                               <h8>Content Team, 7 Waves Life Solutions</h8>
                               <br>
                               <br>
                               <h9 style="font-size: 13px;color: #757575!important;;">June 03, 2022</h9>&nbsp;&nbsp;&nbsp;&nbsp;<h12 style="font-size: 13px;color: #757575!important;;">4 min read</h12><br>
                               <!-- <h9 style="font-size: 13px;color: #757575!important;;">Opinions expressed by Entrepreneur contributors are their own.</h9><br> -->
                               <br>
                               <p style="font-size: 19px; color: black; text-align: center;">
                               <i>"Overthinking is the art of creating problems that weren't even there."<br>
                                ~Anonymous 

                                </i>
                              </p>
                              
                              <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                Do you often find yourself over analysing every single thing in your mind? I have had the habit of overthinking everything, literally everything. Sometimes, I would feel like my mind would burst like a pressure cooker waiting to explode at any moment ;) Based on my experiences and personal research, I have curated a few techniques that can help you get better at breaking the loop of intrusive thoughts. These steps include: practicing mindfulness, analysing your thoughts, following the "control chart", excellence over perfection, drawing the "yes or no" grid, diverting your thoughts, allotting a "worry time", and seeking professional help.

                                </p>
                               

                             
<br>
                        <H3 style=" font-style: underline">1. <u>Practice Mindfulness: 
                        </u>
                        </H3>

                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                        
                            To be mindful, eliminate unnecessary thoughts and live in the present moment. Here's a quick and simple exercise that you can practice every day to practice mindfulness. All it takes is 5 minutes of your time. Repeat this cycle 5 to 6 times. During this process, you will reduce a thousand thoughts into two- 'inhale' and 'exhale'.
                        </p>
                        <p style="padding: 0px 0px 1% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                            <b>Step 1: Inhale for 5 seconds
                            </b>
                        </p>
                        <p style="padding: 0px 0px 1% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                            <b>Step 2: Hold your breath for 5 seconds

                            </b>
                        </p>
                        <p style="padding: 0px 0px 1% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                            <b>Step 3: Exhale slowly for 5 seconds

                            </b>
                        </p>
                        <div class="row" >
                            <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
                                <img alt="image" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/waves-36bb5.appspot.com/o/6.jpg?alt=media&token=e4297269-193f-409e-9033-993c8959f730" >
                            </div>
                            </div>
                        <br>
                        <H3 style="font-style: underline">2. <u>Analyse your thoughts: 

                        </u>
                        </H3>

                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                            Since dealing with the habit of overthinking is a mind game, you need to observe the nature of your thoughts to combat the habit of overthinking. This involves a few simple steps:

                            <br>
                            a. <b>Recognise your thought patterns: </b>Understand how and why one thought leads to another? Does one thought instigate similar thoughts or different ones? Take note of these details to become more aware of your cognitive process.

                            <br>
                            b. <b>Recognise anxiety-provoking stimuli: </b>Certain stimuli in our environment act as stressors and provoke anxiety-inducing thoughts. It is crucial to recognise such triggers and eliminate them as much as possible. For example, social media apps like Instagram and talking to certain people can promote overthinking. It is best to cut down your exposure to such stimuli.

                            <br>
                            c. <b>Assess the rationality of your thought:</b>Most of the thoughts that cross our minds are highly irrational and unlikely to come true. So, it is essential to assess the rationality or practicality of your thoughts. For example: If you feel anxious about an exam and think, "I will fail", then challenge this irrational thought. Reason with your mind and say, "It is less likely that I will fail. I might get a mediocre grade, but I will pass for sure". Here, the key is to substitute irrational thoughts with more rational ones. 

                        </p>
                       

                        <div class="row" >
                            <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
                                <img alt="image" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/waves-36bb5.appspot.com/o/7.jpg?alt=media&token=4eb12dc7-3c4f-4bdc-b649-c1347a335dfb" >
                            </div>
                            </div>
                        <br>
                        <H3 style="font-style: underline">3. <u>Follow the "Control Chart": 


                        
                        </u>
                        </H3>

                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                            The control chart involves listing down things that you can change and control and those that lie outside your control scope. Whenever you find yourself overthinking, draw this chart and focus your attention solely on those aspects that are under your control. For example, while preparing for an exam, you could draw a control chart as provided below:
  </p>


  <div class="row" >
    <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
        <img alt="image" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/waves-36bb5.appspot.com/o/8.png?alt=media&token=195d598a-c3e9-477f-abe4-f29adc4c203b" >
    </div>
    </div>
<br>


                        <br>
                        <H3 style=" font-style: underline">4. <u>Excellence over Perfection: </u>

                        </H3>

                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                            Perfectionism often becomes an obstacle in completing tasks and can lead to overthinking. Change your aim from completing tasks perfectly to getting the job done first. For example, while learning a chapter, instead of focusing on one section perfectly, focus on completing the entire chapter first and then revising. This will help prevent further worries about finishing the chapter. 
                        </p>

                        <br>
                        <H3 style=" font-style: underline">5. <u>The "Yes or No" Grid: 


                        </u>
                        </H3>

                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                            This grid is a great tool to sort out the problems you need to stop worrying about and help you narrow down your concerns. You can tick down the yes or no columns and eliminate all unnecessary thoughts. 
                            <table border = "1" cellpadding = "51" cellspacing = "5" >
                                <tr>
                                  <th>Concern</th>
                                  <th>Yes </th>
                                  <th>No </th>
                                 
                                </tr>
                                <tr>
                                  
                                  <td>1.Does this problem need immediate attention? </td>
                                 
                                </tr>
                                <tr>
                                  
                                    <td>2.Will this test have any impact on my life in the long run?</td>
                                  
                                </tr>
                                <tr>
                                    <td>3.Can I find a solution to this problem?</td>
                                </tr>
                                <tr>

                                  
                                    <td>4.Is this a rational thought that is likely to happen?</td>
                                </tr>
                              </table>
                        </p>
 <br>
                        <H3 style=" font-style: underline">6. <u>Divert your Thoughts: 


                        </u>
                        </H3>

                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                            Diverting your thoughts by distracting your mind to another task is a good coping strategy to channelise your energy to do something interesting. You can do this by exercising or jogging outside, cooking up a delicious meal, painting, listening to music or following your hobbies. This will shift your concentration on the task at hand, leaving you little time to worry and overthink.
  </p>

  <div class="row" >
    <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
        <img alt="image" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/waves-36bb5.appspot.com/o/9.jpg?alt=media&token=f642229a-65b4-42bf-9619-ce32133f37db" >
    </div>
    </div>
<br>

<br>
                        <H3 style=" font-style: underline">7. <u>Allot a "Worry Time":



                        </u>
                        </H3>

                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                            Some scholars have suggested an effective method of allotting a specific time to worry in your day (Howley and Miller). For instance, you assign yourself 10 to 15 minutes in a day to worry as much as you want. Whenever you find yourself worrying about a thought outside of this allotted time, tell yourself that you will think about it in the designated time. This will prevent you from overthinking throughout the day and reduce the time spent worrying. 
                        </p>

  <br>
                        <H3 style=" font-style: underline">8. <u>Seek Professional Help:

                            
                        </u>
                        </H3>

                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                            It's great if these strategies work out for you. If they don't and you feel like your problems are getting out of your hand, seek a psychologist and undertake therapy (Howley and Mirror). A psychologist is professionally trained to guide individuals in solving their problems. Therefore, it is advisable to seek professional help and guidance when needed. 

                        </p>

<p>Work Cited 
    Howley K., Elaine and Miller Medaris, Anna. “12 Proven Strategies to Stop Overthinking and Ease Anxiety Now”. Health. US News, July 12. 2021, https://health.usnews.com/wellness/mind/slideshows/proven-strategies-to-stop-overthinking-and-ease-anxiety-now?slide=14
    </p>



                        <div style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';" >
<b>7 Waves
<br>Life Solutions| Connecting Happiness</b>







         </div>













</div>




<hr>

</section>

<!-- MainSection End -->








    </div>




    </div>

</div>


<div class="container1" style="padding:2% 5% 5% 5%;">
    <div class="row" >




          <div class="col-lg-12 col-md-12 col-12" ><h1 style="text-align: center; font-size: 200%;padding-bottom: 2%; "><strong>Popular Blogs From us</strong></h1></div>



          <div class="col-lg-6 col-md-6 col-12" ><div class="mg-fluidi img-thumbnail" style="box-shadow: 0 0 20px 0 rgba(0, 0,0, 0.3);"><div class="row" style="padding: 5%;" >
            <div class="col-lg-4 col-md-4 col-12" ><h10 style=" text-align: center;"><b>Leadership</b>
            </h10></div>
            <div class="col-lg-4 col-md-4 col-12" ><h16 style="size: 5%;">07/09/2020</h120></div>
            <div class="col-lg-4 col-md-4 col-12" ><img alt="image" src="stylesheets/images/wavesSymbol.svg"   style="width: 65px;height: 100%;"></div></div>

                <img alt="image" src="https://miro.medium.com/fit/c/1400/420/1*1OSxFYvnpwzBXsaR_nR5pg.jpeg"  class="blogimg" >
                <img src="/stylesheets/images/logo.jpeg" style="width: 30px; height: 30px; border-radius: 100%;
                margin: 10px;"><h14 style="width: 50%;"> 3 min read</h14>
                <h3 style="padding: 10px;">7 unsaid rules of Friendship</h3>
                <p style="padding:0 10px 10px 10px;">You are afraid of waters... but friends will still make you jumpin.. </p>
                <div class="footer" style="text-align: center; float:left; "><a href="/7-unsaid-rules-of-Friendship">Read more</a></div>

                <br><br>
        </div> <br>


        </div>
        <div class="col-lg-6 col-md-6 col-12" ><div class="mg-fluidi img-thumbnail" style="box-shadow: 0 0 20px 0 rgba(0, 0,0, 0.3);"><div class="row" style="padding: 5%;" >
            <div class="col-lg-4 col-md-4 col-12" ><h10 style=" text-align: center;"><b>Leadership</b>
            </h10></div>
            <div class="col-lg-4 col-md-4 col-12" ><h16 style="size: 5%;">06/09/2020</h120></div>
            <div class="col-lg-4 col-md-4 col-12" ><img alt="image" src="stylesheets/images/wavesSymbol.svg"   style="width: 65px;height: 100%;"></div></div>

                <img alt="image" src="https://miro.medium.com/fit/c/1400/420/1*BkynGH35I1uTOqXWA94JHw.jpeg"   class="blogimg">
                <img src="/stylesheets/images/logo.jpeg" style="width: 30px; height: 30px; border-radius: 100%;
                margin: 10px;"><h14 style="width: 50%;"> 4 min read</h14>
                <h3 style="padding: 10px;">If success is fame, Hapiness is the pride</h3>

                <p style="padding:0 10px 10px 10px;">Maybe none. Earning a successful life is what everyone</p>
                <div class="footer" style="text-align: center; float:left; "><a href="/If-success-is-fame-Hapiness-is-the-pride">Read more</a></div>

                <br><br>
        </div> <br>
        </div>



    </div>
<br>
    <!-- <li class="button-item">
        <div class="footer text-center" ><a href="/blogging">Explore More</a></div>
          </li> -->
</div>


<div class="row" style=" width: 100%;padding-left: 5%;" >


    <div class="row" >


        <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%; "><h1 style="text-align: center;">Your App</h1>
            <br>
            <h5 style="text-align: center;">7waves app provide a best mobile experience so counselling will be as easier as playing songs</h5><br>
            <div class="footer" style=" text-align: center; padding-bottom: 5%;padding-top: 5% ; "><a href="https://play.google.com/store/apps/details?id=in.sevenwaves.sevenwavesusers">Download Now</a></div>
        
        </div>

    <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%;"><img alt="image" src="/stylesheets/images/VECTOR_IMAGE_ON_APP@-4.svg"    style="width: 100%;height: 100%;"></div>



</div>
</div>

<div class="row" style="background-image: url(/stylesheets/images/Mask_Group_28.svg); width: 100%;margin-left: 0%;padding: 4%;" >


    <div class="row">


        <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%; "><h1 style="text-align: center;">Let's Stay in Touch</h1>
            <br>
            <!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
#mc_embed_signup{ clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://7waves.us19.list-manage.com/subscribe/post?u=fa7016958f292ac20306dd09a&amp;id=31a48ae68f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
<div id="mc_embed_signup_scroll">
<label for="mce-EMAIL">Subscribe</label>
<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_fa7016958f292ac20306dd09a_31a48ae68f" tabindex="-1" value=""></div>
<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</div>
</form>
</div>

<!--End mc_embed_signup-->
         </div>

    <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%;"><img alt="image" src="/stylesheets/images/Group_1092.svg"    style="width: 100%;height: 100%;"></div>



</div>
</div>


    <script>

        // Wrap every letter in a span
      var textWrapper = document.querySelector('.ml1 .letters');
      textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

      anime.timeline({loop: true})
        .add({
          targets: '.ml1 .letter',
          scale: [0.3,1],
          opacity: [0,1],
          translateZ: 0,
          easing: "easeOutExpo",
          duration: 600,
          delay: (el, i) => 70 * (i+1)
        }).add({
          targets: '.ml1 .line',
          scaleX: [0,1],
          opacity: [0.5,1],
          easing: "easeOutExpo",
          duration: 700,
          offset: '-=875',
          delay: (el, i, l) => 80 * (l - i)
        }).add({
          targets: '.ml1',
          opacity: 0,
          duration: 1000,
          easing: "easeOutExpo",
          delay: 1000
        });


           </script>


