<!DOCTYPE html>
<html>
    <head>
      <title>How To Build Healthy Relationships 
    </title>
        
        <meta charset="utf-8">
        <head>
          <meta name="description" content="In life, you face many hardships, struggles. It would be best if you found a way to cross each one of them. And all the Mystery lies within you.">
          <meta name="keywords" content="how to become the person you always wanted to be, Willing, Love for work, Live your dream, Dream, Passionate, Rage, Dispassionate, Affection, pathy, Passioning ">
          <meta name="author" content="7 WAVES">
        </head>

      <%- include("../partials/navbar")  %>



<!-- MainSection Srart -->
<section style="height: 100%;padding-bottom: 3%;">
    <div class="container1" style="padding-left: 10%;padding-right: 10%;">
        <!-- <h1 class="ml1">
            <span class="text-wrapper">
              <span class="line line1"></span>
              <span class="letters">7 Wave</span>
              <span class="line line2"></span>
            </span>
          </h1> -->
          <div class="row" style="padding:5% 0px 0% 0px;" >

            <div class="col-lg-12 col-md-12  col-12" ><h1 style=" font-size: 20px;color: #59a5c5;">Career</h1></div>
          <div class="col-lg-12 col-md-12  col-12" ><h1 style=" font-size: 300%; "><strong>How To Build Healthy Relationships
        </strong></h1></div>






        </div>
        <hr>

        <div class="sharethis-inline-share-buttons"  style="float: left;"></div>
        <br>

        <br>


         <div class="col-lg-12 col-md-12 col-12" style="padding: 0 0 0 0;" >




           <div class="row" >
            <div class="col-lg-6 col-12" style="padding: 0 0 0 0;" >

            </div>
            <div class="col-lg-6 col-12" style="padding: 0 0 0 0;" ></div>
            <div class="col-lg-1 col-md-3 col-12" style="padding: 3% 0 0 3%;" >

                        <img alt="image" src="/stylesheets/images/logo.jpeg" style="width:70px;height: 70px; border-radius: 100%; "  alt="Sample avatar">
                      </div>

                            <div class="col-lg-11 col-md-9 col-12" style="padding: 3% 10% 3% 3%;" >

                               <h4><b>Ananya K</b></h4>
                               <h8>Content Team, 7 Waves Life Solutions</h8>
                               <br>
                               <br>
                               <h9 style="font-size: 13px;color: #757575!important;;">June 15, 2022</h9>&nbsp;&nbsp;&nbsp;&nbsp;<h12 style="font-size: 13px;color: #757575!important;;">4 min read</h12><br>
                               <!-- <h9 style="font-size: 13px;color: #757575!important;;">Opinions expressed by Entrepreneur contributors are their own.</h9><br> -->
                               <br>
                               <p style="font-size: 19px; color: black; text-align: center;">
                               <i>"A healthy relationship is a feast of affection/giving for both people; not one receiving crumbs and trying to convince themselves it's enough."
                                <br>
                                ~Shannon Thomas 

                                </i>
                              </p>
                              
                              <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                Our fast-paced and mechanical lifestyle has entangled us in a rat race. The farther we run, the more we leave behind our loved ones. We forget that despite all our successes, we still need someone to share our feelings with, someone to come back home to, someone who occupies a warm place in our hearts and makes us realise how loved we are. Be it with our parents, friends, peers, colleagues or partners– maintaining healthy relationships with people around us is an absolute necessity. Keeping this in mind, we have curated a few pieces of advice that you can follow to maintain healthy relationships with people around you:
<br>
1. Communicate to Clarify Misunderstandings
<br>
2. Accept that People Can Have Flaws
<br>
3. Eliminate Toxic Relationships
<br>
4. Focus on the Good in the Other Person
<br>
5. Develop Trust, Honesty and Transparency 
<br>
6. Realise the Importance of Personal Space 
<br>
7. Be in Charge of Your Own Happiness 
<br>
8. Resolve Conflicts 
<br>
9. Understand the Other Person's Perspective 
<br>
10. Embrace Change.


                                </p>
                               

                             

                        <H3 style=" font-style: underline">1. <u>Communicate to Clarify Misunderstandings: 
                        </u>
                        </H3>
                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                            It's a commonly known fact that communication is the key to maintaining healthy relationships with people. Effective communication is necessary to convey your feelings and clarify misunderstandings that may occasionally arise in your relationships with other people. 
                        </p>
                        <H3 style=" font-style: underline">2. <u>Accept that People Can Have Flaws:
                        </u>
                        </H3>
                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                            No one is perfect. All humans have flaws and can make mistakes. Accepting this fact will permit you to understand the other person and forgive them for their mistakes or for the shortcomings they possess. If someone is ready to mend and maintain their relationship with you despite having flaws, it's a good enough reason to accept that person for who they are- including their attributes and flaws. 

                        </p>
                   
                        <div class="row" >
                            <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
                                <img alt="image" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/waves-36bb5.appspot.com/o/10.jpg?alt=media&token=e8a9c6b6-9e3a-4e98-b728-c1120f628927" >
                            </div>
                            </div>

                            <H3 style=" font-style: underline">3. <u>Eliminate Toxic Relationships:
                            </u>
                            </H3>
                            
                            <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                It is essential to accept a person and their flaws, but it is also pivotal to recognise if the person's actions are detrimental to your well-being. A person can be forgiven for committing mistakes if they are willing to rectify them. However, people who do not acknowledge their mistakes and hurt your mental and emotional well-being must be eliminated and kept at a safe distance for your peace of mind. 
                            </p>

                            <H3 style=" font-style: underline">4. <u>Focus on the Good in the Other Person:
                            </u>
                            </H3>
                            <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                Our opinion of people can often be overshadowed by their shortcomings. It is essential to understand that we all are morally grey beings- it is difficult to categorise people along well-demarcated lines of black and white. Amidst the grey hues in a person, your effort lies in focusing on the positive attributes in a person and appreciating them. 
                            </p>
                            <div class="row" >
                              <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
                                  <img alt="image" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/waves-36bb5.appspot.com/o/11.jpg?alt=media&token=d0526573-6b17-4fd7-ad39-c874d754fd19" >
                              </div>
                              </div>
  <br>
                            <H3 style=" font-style: underline">5. <u>Develop Trust, Honesty and Transparency:
                            </u>
                            </H3>
                            <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                Every healthy relationship is built on the foundation of developing trust, honesty and transparency. The relationship you share with a person becomes meaningful only when you trust each other and display honesty and transparency with one another in equal measure. 
  </p>

                                <H3 style=" font-style: underline">6. <u>Realise the Importance of Personal Space:
                                </u>
                                </H3>
                                <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                    It is important to be wholly involved in a relationship but equally important for both people involved to respect each other's personal space. It is great to provide the other person with the space to pursue their interests and personal growth. Spending optimal time separately allows more room for the two people to come back together and share their experiences and learnings. 
                                </p>
                                <H3 style=" font-style: underline">7. <u>Be in Charge of Your Own Happiness:
                                </u>
                                
      <br>
                                </H3>
                                <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                    Although other people's actions have a significant impact on our mood, we must make a conscious effort to hold the key to our happiness in our own hands. Shifting the cause of your happiness as a responsibility on the other person's shoulder is unfair. The other person has their own struggles and circumstances to handle. Therefore, it is only fair that both people involved keep themselves responsible for their own happiness. </p>
                                
                                </p>
                                <div class="row" >
                                  <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
                                      <img alt="image" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/waves-36bb5.appspot.com/o/12.jpg?alt=media&token=87dd20c4-c8e9-4441-a69c-e0913ce29cc1" >
                                  </div>
                                  </div>
                                    <H3 style=" font-style: underline">8. <u>Resolve Conflicts:
                                </u>
                                </H3>
                                <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                    Quarrels, arguments and conflicts can arise in any relationship. It's only normal for disagreements to occur. Resolving such differences and reaching a common ground is what makes a difference and creates space for a healthy relationship ladled with maturity and mutual respect to develop. 
  </p>

  <H3 style=" font-style: underline">9. <u>Understand the Other Person's Perspective:
</u>
</H3>
<p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
    When in a misunderstanding, we often look at the situation from our perspective and fail to view the situation by placing ourselves in the other person's shoes. In most cases, neither of the people is in the wrong. They just share different perspectives. To gain a holistic view, you need to put yourself in the other person's position to understand them and resolve the misunderstanding. 
</p>

<H3 style=" font-style: underline">10. <u>Embrace Change
</u>
</H3>
<p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
    Change is the only constant in our life. People change, and so do circumstances and relationships. It's okay and absolutely normal for two people to change as they grow and mature. It is also normal for the nature of the relationship to change over time. As long as you can embrace these changes along with the other person and continue to live and grow together, that's all that matters!
</p>
<p>We hope these tips help you build healthy and fruitful relationships with people around you. Until next time, keep mingling, exploring and interacting with people. See you soon :)
</p>




                        <div style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';" >
<b>7 Waves
<br>Life Solutions| Connecting Happiness</b>







         </div>













</div>




<hr>

</section>

<!-- MainSection End -->








    </div>




    </div>

</div>


<div class="container1" style="padding:2% 5% 5% 5%;">
    <div class="row" >




          <div class="col-lg-12 col-md-12 col-12" ><h1 style="text-align: center; font-size: 200%;padding-bottom: 2%; "><strong>Popular Blogs From us</strong></h1></div>



          <div class="col-lg-6 col-md-6 col-12" ><div class="mg-fluidi img-thumbnail" style="box-shadow: 0 0 20px 0 rgba(0, 0,0, 0.3);"><div class="row" style="padding: 5%;" >
            <div class="col-lg-4 col-md-4 col-12" ><h10 style=" text-align: center;"><b>Leadership</b>
            </h10></div>
            <div class="col-lg-4 col-md-4 col-12" ><h16 style="size: 5%;">07/09/2020</h120></div>
            <div class="col-lg-4 col-md-4 col-12" ><img alt="image" src="stylesheets/images/wavesSymbol.svg"   style="width: 65px;height: 100%;"></div></div>

                <img alt="image" src="https://miro.medium.com/fit/c/1400/420/1*1OSxFYvnpwzBXsaR_nR5pg.jpeg"  class="blogimg" >
                <img src="/stylesheets/images/logo.jpeg" style="width: 30px; height: 30px; border-radius: 100%;
                margin: 10px;"><h14 style="width: 50%;"> 3 min read</h14>
                <h3 style="padding: 10px;">7 unsaid rules of Friendship</h3>
                <p style="padding:0 10px 10px 10px;">You are afraid of waters... but friends will still make you jumpin.. </p>
                <div class="footer" style="text-align: center; float:left; "><a href="/7-unsaid-rules-of-Friendship">Read more</a></div>

                <br><br>
        </div> <br>


        </div>
        <div class="col-lg-6 col-md-6 col-12" ><div class="mg-fluidi img-thumbnail" style="box-shadow: 0 0 20px 0 rgba(0, 0,0, 0.3);"><div class="row" style="padding: 5%;" >
            <div class="col-lg-4 col-md-4 col-12" ><h10 style=" text-align: center;"><b>Leadership</b>
            </h10></div>
            <div class="col-lg-4 col-md-4 col-12" ><h16 style="size: 5%;">06/09/2020</h120></div>
            <div class="col-lg-4 col-md-4 col-12" ><img alt="image" src="stylesheets/images/wavesSymbol.svg"   style="width: 65px;height: 100%;"></div></div>

                <img alt="image" src="https://miro.medium.com/fit/c/1400/420/1*BkynGH35I1uTOqXWA94JHw.jpeg"   class="blogimg">
                <img src="/stylesheets/images/logo.jpeg" style="width: 30px; height: 30px; border-radius: 100%;
                margin: 10px;"><h14 style="width: 50%;"> 4 min read</h14>
                <h3 style="padding: 10px;">If success is fame, Hapiness is the pride</h3>

                <p style="padding:0 10px 10px 10px;">Maybe none. Earning a successful life is what everyone</p>
                <div class="footer" style="text-align: center; float:left; "><a href="/If-success-is-fame-Hapiness-is-the-pride">Read more</a></div>

                <br><br>
        </div> <br>
        </div>



    </div>
<br>
    <!-- <li class="button-item">
        <div class="footer text-center" ><a href="/blogging">Explore More</a></div>
          </li> -->
</div>


<div class="row" style=" width: 100%;padding-left: 5%;" >


    <div class="row" >


        <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%; "><h1 style="text-align: center;">Your App</h1>
            <br>
            <h5 style="text-align: center;">7waves app provide a best mobile experience so counselling will be as easier as playing songs</h5><br>
            <div class="footer" style=" text-align: center; padding-bottom: 5%;padding-top: 5% ; "><a href="https://play.google.com/store/apps/details?id=in.sevenwaves.sevenwavesusers">Download Now</a></div>
        
        </div>

    <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%;"><img alt="image" src="/stylesheets/images/VECTOR_IMAGE_ON_APP@-4.svg"    style="width: 100%;height: 100%;"></div>



</div>
</div>

<div class="row" style="background-image: url(/stylesheets/images/Mask_Group_28.svg); width: 100%;margin-left: 0%;padding: 4%;" >


    <div class="row">


        <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%; "><h1 style="text-align: center;">Let's Stay in Touch</h1>
            <br>
            <!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
#mc_embed_signup{ clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://7waves.us19.list-manage.com/subscribe/post?u=fa7016958f292ac20306dd09a&amp;id=31a48ae68f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
<div id="mc_embed_signup_scroll">
<label for="mce-EMAIL">Subscribe</label>
<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_fa7016958f292ac20306dd09a_31a48ae68f" tabindex="-1" value=""></div>
<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</div>
</form>
</div>

<!--End mc_embed_signup-->
         </div>

    <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%;"><img alt="image" src="/stylesheets/images/Group_1092.svg"    style="width: 100%;height: 100%;"></div>



</div>
</div>


    <script>

        // Wrap every letter in a span
      var textWrapper = document.querySelector('.ml1 .letters');
      textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

      anime.timeline({loop: true})
        .add({
          targets: '.ml1 .letter',
          scale: [0.3,1],
          opacity: [0,1],
          translateZ: 0,
          easing: "easeOutExpo",
          duration: 600,
          delay: (el, i) => 70 * (i+1)
        }).add({
          targets: '.ml1 .line',
          scaleX: [0,1],
          opacity: [0.5,1],
          easing: "easeOutExpo",
          duration: 700,
          offset: '-=875',
          delay: (el, i, l) => 80 * (l - i)
        }).add({
          targets: '.ml1',
          opacity: 0,
          duration: 1000,
          easing: "easeOutExpo",
          delay: 1000
        });


           </script>


<%- include("../partials/footer")  %>

