<!DOCTYPE html>
<html>
    <head>
      <title>How to Choose Your Career? (Part 2)      </title>
        
        <meta charset="utf-8">
        <head>
          <meta name="description" content="In life, you face many hardships, struggles. It would be best if you found a way to cross each one of them. And all the Mystery lies within you.">
          <meta name="keywords" content="how to become the person you always wanted to be, Willing, Love for work, Live your dream, Dream, Passionate, Rage, Dispassionate, Affection, pathy, Passioning ">
          <meta name="author" content="7 WAVES">
        </head>

      <%- include("../partials/navbar")  %>


<!-- MainSection Srart -->
<section style="height: 100%;padding-bottom: 3%;">
    <div class="container1" style="padding-left: 10%;padding-right: 10%;">
        <!-- <h1 class="ml1">
            <span class="text-wrapper">
              <span class="line line1"></span>
              <span class="letters">7 Wave</span>
              <span class="line line2"></span>
            </span>
          </h1> -->
          <div class="row" style="padding:5% 0px 0% 0px;" >

            <div class="col-lg-12 col-md-12  col-12" ><h1 style=" font-size: 20px;color: #59a5c5;">Career</h1></div>
          <div class="col-lg-12 col-md-12  col-12" ><h1 style=" font-size: 300%; "><strong>How To Choose Your Career (Part 2)</strong></h1></div>






        </div>
        <hr>

        <div class="sharethis-inline-share-buttons"  style="float: left;"></div>
        <br>

        <br>


         <div class="col-lg-12 col-md-12 col-12" style="padding: 0 0 0 0;" >




           <div class="row" >
            <div class="col-lg-6 col-12" style="padding: 0 0 0 0;" >

            </div>
            <div class="col-lg-6 col-12" style="padding: 0 0 0 0;" ></div>
            <div class="col-lg-1 col-md-3 col-12" style="padding: 3% 0 0 3%;" >

                        <img alt="image" src="/stylesheets/images/logo.jpeg" style="width:70px;height: 70px; border-radius: 100%; "  alt="Sample avatar">
                      </div>

                            <div class="col-lg-11 col-md-9 col-12" style="padding: 3% 10% 3% 3%;" >

                               <h4><b>Ananya K</b></h4>
                               <h8>Content Team, 7 Waves Life Solutions</h8>
                               <br>
                               <br>
                               <h9 style="font-size: 13px;color: #757575!important;;">June 04, 2022</h9>&nbsp;&nbsp;&nbsp;&nbsp;<h12 style="font-size: 13px;color: #757575!important;;">4 min read</h12><br>
                               <!-- <h9 style="font-size: 13px;color: #757575!important;;">Opinions expressed by Entrepreneur contributors are their own.</h9><br> -->
                               <br>
                               <p style="font-size: 19px; color: black; font-style: italic;">"The best brains of the nation may be found on the last benches of the classrooms."
                                ~Dr. APJ Abdul Kalam
                              </p>



                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                          It's been a while since we connected with you in the last blog. We hope it provided you with some clarity on how you can choose a career for yourself. This time, let's take an example closer to home. Amitabh Bachchan, one of the most renowned veteran actors in the Bollywood industry, faced several rejections in the initial phase of his career. People mocked him for his height only to view him with reverence and respect later. What's noteworthy here is that people who follow their passion carve a career out of it and do not give up. On that note, we have lined up more valuable tips for you to decide on a career. These include: tallying the job's requirements with your needs, job to course approach, reflecting to gain clarity, analysing your personality traits, visualising your future, thinking of the long run, and giving time and patience. 

                        </p>

                       
                        <div class="row" >
                            <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
                                <img alt="image" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/waves-36bb5.appspot.com/o/website%20blog%20photos%2FTiny%20people%20searching%20for%20business%20opportunities.jpg?alt=media&token=5a6f2426-ef70-4058-9904-69c5c624a9c2" >
                            </div>
                            </div>
<br><br>
                        <H3 style=" font-style: underline">1. <u>Tally the job's requirements with your needs:
                        </u>
                        </H3>

                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                          To get a more realistic perspective on the career path or job you seek, it is imperative to compare your needs and expectations with their requirements. Preferably, your needs and expectations should overlap with the job's requirements. For instance, if you are an aspiring pilot who wishes to work for an esteemed airline, you need to know that this job requires frequent travelling. If frequent travelling and longer working hours are not your cups of tea, you would have to reconsider your job options. 

                            
                        
                        </p>

                        <br>
                        <H3 style="font-style: underline">2.<u> Job to course approach:
                        </u>
                        </H3>

                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                          Most people often progress from short term to long term goals. They first choose a course they wish to pursue and then proceed to search for the job opportunities available under the scope of that course. Instead, it is advisable that you progress from long term to short term goals. Try gaining clarity on what profession you want to pursue, and then opt for courses that would provide you with the required qualifications to pursue your dream job. 

                        </p>

                        <div class="row" >
                            <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
                                <img alt="image" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/waves-36bb5.appspot.com/o/website%20blog%20photos%2F5293.jpg?alt=media&token=4d6d0a69-b3a1-45ab-b9bc-76985bd2345a" >
                            </div>
                            </div>
                        <br>
                        <H3 style="font-style: underline">3.<u> Reflect to gain clarity:

                        </u>
                        </H3>

                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                          Inability to decide on one particular job option and fluctuating between multiple options every now and then is a common concern among many students. To address this concern, we suggest you reflect on the factors mentioned below:
<br>
                          1. <b>Skill set :</b> Ascertain whether you possess the required skills to pursue the career options you are considering. Let's take an example, if you aim to become a fashion designer, consider whether you know the basics of stitching, sketching, and creating aesthetic outfit designs.
                          <br>
                          2. <b>Knowledge :</b> Examine whether you possess a basic knowledge of the field. An aspiring fashion designer should have some basic knowledge about silhouettes, cloth materials, aesthetic and appealing designs, complementing colour palettes, and the latest trends in the fashion market. 
                            <br>
                          3. <b>Resources :</b> Check if you have ample financial resources to pursue the job of your choice. For instance, ascertain if you have enough financial resources to undertake preparation classes for a NIFT (National Institute of Fashion Technology) entrance exam and pay for a course in this institution. You can also check for scholarship opportunities offered in such esteemed institutes.
                          <br>
                          4. <b>Passion :</b> Reflect on how passionate and dedicated you are to pursuing a particular job and learning about the same. You should be passionately interested in learning about fashion and exploring new ideas in this domain to become a successful fashion designer.
                          
                        </p>

                        <br>
                        <H3 style=" font-style: underline">4.<u> Analyse your personality traits:
                        </u>
                        </H3>

                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                          Every job requires a set of soft skills or personality factors best suited for the profession. It is crucial to assess your personality traits and emotional intelligence to verify whether you are fit for the job. For instance, if you aspire to become a psychologist, you need to possess interpersonal skills, communication skills, empathy and a substantial level of emotional intelligence and stability to pursue this profession. 

                        </p>
                        

                        <div class="row" >
                          <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
                              <img alt="image" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/waves-36bb5.appspot.com/o/website%20blog%20photos%2F6887196.jpg?alt=media&token=d909a4a4-a0ea-4256-bf9c-88dd617c8e1c" >
                          </div>
                          </div>
                      <br>
                        <H3 style="font-style: underline">5.<u> Visualise and conceptualise your future:


                        </u>
                        </H3>

                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                          Most people create a vision board to keep themselves motivated and focused on who they want to become. You can create a vision board for yourself by pasting quotes, articles, pictures, slogans or any material that inspires you to pursue your dream job. This board would be a great tool in helping you visualise your future and act as a reminder of who you want to be in the future. You can also create a vision diary where you put all your desired articles and materials and glance through them regularly. 
    
                        </p>
                        <div class="row" >
                            <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
                                <img alt="image" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/waves-36bb5.appspot.com/o/website%20blog%20photos%2F5899209.jpg?alt=media&token=946533f6-edd8-4beb-8188-b36782471697" >
                            </div>
                            </div>
                        <br>
                        <H3 style="font-style: underline">6.<u> Think of the long run: 


                        </u>
                        </H3>

                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                          Deciding a suitable career for yourself is a choice that will impact your life in the long run. Keeping this in mind, when you choose a career path, remember that you will have to pursue this path for the next forty to fifty years. Although there are cases where people switch their professions and change their fields during their careers, this process takes time and has its own challenges. Therefore, it is advisable to make an informed and well-contemplated decision right from the beginning.
    
                        </p>

  <br>
                        <H3 style=" font-style: underline">7.<u> Give time and practice patience: 
                        </u>
                        </H3>

                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                          Most importantly, figuring out a career for yourself is a process that will take some time. You may not be able to choose overnight; however, conducting research and paying close attention to your interests, needs, skills, and qualities will lead you to figure out what you want to do. It is pivotal to stay patient and trust this process. Taking a crucial decision about your career may take time, and the process may be a bit long, but it's worth the wait and effort!
                        </p>
                       
                        <div class="row" >
                          <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
                              <img alt="image" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/waves-36bb5.appspot.com/o/website%20blog%20photos%2F5184247.jpg?alt=media&token=ca1d21ee-2d80-4364-94f7-bc0ba97867a2" >
                          </div>
                          </div>
                      <br>




                        <div style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';" >
<b>7 Waves
<br>Life Solutions| Connecting Happiness</b>







         </div>













</div>




<hr>

</section>

<!-- MainSection End -->








    </div>




    </div>

</div>


<div class="container1" style="padding:2% 5% 5% 5%;">
    <div class="row" >




          <div class="col-lg-12 col-md-12 col-12" ><h1 style="text-align: center; font-size: 200%;padding-bottom: 2%; "><strong>Popular Blogs From us</strong></h1></div>



          <div class="col-lg-6 col-md-6 col-12" ><div class="mg-fluidi img-thumbnail" style="box-shadow: 0 0 20px 0 rgba(0, 0,0, 0.3);"><div class="row" style="padding: 5%;" >
            <div class="col-lg-4 col-md-4 col-12" ><h10 style=" text-align: center;"><b>Career</b>
            </h10></div>
            <div class="col-lg-4 col-md-4 col-12" ><h16 style="size: 5%;">06/06/2022</h120></div>
            <div class="col-lg-4 col-md-4 col-12" ><img alt="image" src="stylesheets/images/wavesSymbol.svg"   style="width: 65px;height: 100%;"></div></div>

                <img alt="image" src="https://miro.medium.com/fit/c/1400/420/1*1OSxFYvnpwzBXsaR_nR5pg.jpeg"  class="blogimg" >
                <img src="/stylesheets/images/logo.jpeg" style="width: 30px; height: 30px; border-radius: 100%;
                margin: 10px;"><h14 style="width: 50%;"> 3 min read</h14>
                <h3 style="padding: 10px;">How to choose your career</h3>
                <p style="padding:0 10px 10px 10px;"> Christian Dior, a globally renowned fashion designer, has a luxury fashion brand.. </p>
                <div class="footer" style="text-align: center; float:left; "><a href="/How-To-Choose-Your-Career">Read more</a></div>

                <br><br>
        </div> <br>


        </div>
        <div class="col-lg-6 col-md-6 col-12" ><div class="mg-fluidi img-thumbnail" style="box-shadow: 0 0 20px 0 rgba(0, 0,0, 0.3);"><div class="row" style="padding: 5%;" >
            <div class="col-lg-4 col-md-4 col-12" ><h10 style=" text-align: center;"><b>Leadership</b>
            </h10></div>
            <div class="col-lg-4 col-md-4 col-12" ><h16 style="size: 5%;">06/09/2020</h120></div>
            <div class="col-lg-4 col-md-4 col-12" ><img alt="image" src="stylesheets/images/wavesSymbol.svg"   style="width: 65px;height: 100%;"></div></div>

                <img alt="image" src="https://miro.medium.com/fit/c/1400/420/1*BkynGH35I1uTOqXWA94JHw.jpeg"   class="blogimg">
                <img src="/stylesheets/images/logo.jpeg" style="width: 30px; height: 30px; border-radius: 100%;
                margin: 10px;"><h14 style="width: 50%;"> 4 min read</h14>
                <h3 style="padding: 10px;">If success is fame, Hapiness is the pride</h3>

                <p style="padding:0 10px 10px 10px;">Maybe none. Earning a successful life is what everyone</p>
                <div class="footer" style="text-align: center; float:left; "><a href="/If-success-is-fame-Hapiness-is-the-pride">Read more</a></div>

                <br><br>
        </div> <br>
        </div>



    </div>
<br>
    <!-- <li class="button-item">
        <div class="footer text-center" ><a href="/blogging">Explore More</a></div>
          </li> -->
</div>


<div class="row" style=" width: 100%;padding-left: 5%;" >


    <div class="row" >


        <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%; "><h1 style="text-align: center;">Your App</h1>
            <br>
            <h5 style="text-align: center;">7waves app provide a best mobile experience so counselling will be as easier as playing songs</h5><br>
            <div class="footer" style=" text-align: center; padding-bottom: 5%;padding-top: 5% ; "><a href="https://play.google.com/store/apps/details?id=in.sevenwaves.sevenwavesusers">Download Now</a></div>
        
        </div>

    <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%;"><img alt="image" src="/stylesheets/images/VECTOR_IMAGE_ON_APP@-4.svg"    style="width: 100%;height: 100%;"></div>



</div>
</div>

<div class="row" style="background-image: url(/stylesheets/images/Mask_Group_28.svg); width: 100%;margin-left: 0%;padding: 4%;" >


    <div class="row">


        <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%; "><h1 style="text-align: center;">Let's Stay in Touch</h1>
            <br>
            <!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
#mc_embed_signup{ clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://7waves.us19.list-manage.com/subscribe/post?u=fa7016958f292ac20306dd09a&amp;id=31a48ae68f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
<div id="mc_embed_signup_scroll">
<label for="mce-EMAIL">Subscribe</label>
<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_fa7016958f292ac20306dd09a_31a48ae68f" tabindex="-1" value=""></div>
<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</div>
</form>
</div>

<!--End mc_embed_signup-->
         </div>

    <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%;"><img alt="image" src="/stylesheets/images/Group_1092.svg"    style="width: 100%;height: 100%;"></div>



</div>
</div>


    <script>

        // Wrap every letter in a span
      var textWrapper = document.querySelector('.ml1 .letters');
      textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

      anime.timeline({loop: true})
        .add({
          targets: '.ml1 .letter',
          scale: [0.3,1],
          opacity: [0,1],
          translateZ: 0,
          easing: "easeOutExpo",
          duration: 600,
          delay: (el, i) => 70 * (i+1)
        }).add({
          targets: '.ml1 .line',
          scaleX: [0,1],
          opacity: [0.5,1],
          easing: "easeOutExpo",
          duration: 700,
          offset: '-=875',
          delay: (el, i, l) => 80 * (l - i)
        }).add({
          targets: '.ml1',
          opacity: 0,
          duration: 1000,
          easing: "easeOutExpo",
          delay: 1000
        });


           </script>


