<!DOCTYPE html>
<html>
    <head>
      <title>How to Avoid Negative Peer Pressure?
    </title>
        
        <meta charset="utf-8">
        <head>
          <meta name="description" content="The people who genuinely consider you their friend and vice versa will cherish you for who you are and take you towards a better life along with them. But what about those instances when the people you thought of as friends don’t seem like friends anymore. When they push you to do things that you don’t like. When you feel uncomfortable in their company. You must acknowledge the influence and impact that your company has on you and be firm to avoid negative peer pressure. ">
          <meta name="keywords" content="negative peer pressure, friends, peer circle, influence, conviction, consent, morals, principles, take your stand, say no, plan excuses, create gradual distance, confront, interact, trustworthy, toxic relations, conscience, stress, mental health, like-minded people, share your feelings">
          <meta name="author" content="7 WAVES">
        <link rel="stylesheet" href="../../public/stylesheets/main.css">
  <link rel="stylesheet" href="../../public/stylesheets/style.css">
        <link rel="shortcut icon" href="../../public/stylesheets/images/logo.jpeg" />
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../public/stylesheets/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<!-- ====== Navbar Start ====== -->
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black;">
            <div class="container text-uppercase p-2">
            <a class="navbar-brand font-weight-bold text-white" href="../../index.html"><img src="../../public/stylesheets/images/white logo resized 2.svg" style="height: 50px;width: 100px; border-radius: 100%;"> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-auto text-uppercase">
                    <li class="nav-item active">
                      <a class="nav-link" href="../../index.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" href="../../About.html">About Us</a>
                    </li>
        
        
                
                        <li class="nav-item">
                          <a class="nav-link"  href="../appreferal.html">Reach Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"  href="../blogs.html">Blogs</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link"  href="../googleFormsPages/Internship.html">Career</a>
                          </li>
                  
                              </ul>
                            </li>
                   
                  </ul>
        
                </div>
            </div>
              </nav>



<!-- MainSection Srart -->
<section style="height: 100%;padding-bottom: 3%;">
    <div class="container1" style="padding-left: 10%;padding-right: 10%;">
        <!-- <h1 class="ml1">
            <span class="text-wrapper">
              <span class="line line1"></span>
              <span class="letters">7 Wave</span>
              <span class="line line2"></span>
            </span>
          </h1> -->
          <div class="row" style="padding:5% 0px 0% 0px;" >

            <div class="col-lg-12 col-md-12  col-12" ><h1 style=" font-size: 20px;color: #59a5c5;">Personal</h1></div>
          <div class="col-lg-12 col-md-12  col-12" ><h1 style=" font-size: 300%; "><strong>How to Avoid Negative Peer Pressure?
        </strong></h1></div>






        </div>
        <hr>

        <div class="sharethis-inline-share-buttons"  style="float: left;"></div>
        <br>

        <br>


         <div class="col-lg-12 col-md-12 col-12" style="padding: 0 0 0 0;" >




           <div class="row" >
            <div class="col-lg-6 col-12" style="padding: 0 0 0 0;" >

            </div>
            <div class="col-lg-6 col-12" style="padding: 0 0 0 0;" ></div>
            <div class="col-lg-1 col-md-3 col-12" style="padding: 3% 0 0 3%;" >

                        <img alt="image" src="/stylesheets/images/logo.jpeg" style="width:70px;height: 70px; border-radius: 100%; "  alt="Sample avatar">
                      </div>

                            <div class="col-lg-11 col-md-9 col-12" style="padding: 3% 10% 3% 3%;" >

                               <h4><b>Ananya K</b></h4>
                               <h8>Content Team, 7 Waves Life Solutions</h8>
                               <br>
                               <br>
                               <h9 style="font-size: 13px;color: #757575!important;;">June 29, 2022</h9>&nbsp;&nbsp;&nbsp;&nbsp;<h12 style="font-size: 13px;color: #757575!important;;">10 min read</h12><br>
                               <!-- <h9 style="font-size: 13px;color: #757575!important;;">Opinions expressed by Entrepreneur contributors are their own.</h9><br> -->
                              
                              <p>

                              </p>
                              <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                Good friends make our lives so much better, don’t they? We look forward to going to school just so we can meet them and talk our hearts out. The people who genuinely consider you their friend and vice versa will cherish you for who you are and take you towards a better life along with them. But what about those instances when the people you thought of as friends don’t seem like friends anymore. When they push you to do things that you don’t like. When you feel uncomfortable in their company. You must acknowledge the influence and impact that your company has on you and be firm to avoid negative peer pressure. On that note, we have curated a few tips that will help you in avoiding negative peer pressure:
                                

                                </p>
                                <p>
                                <ul style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';"><li>●	Gain a Realistic Perspective on Self-Love </li>
                                  <li>● Trust your Conviction </li>
                                  <li>●	Don’t Consent to Things That Seem Uncomfortable t </li>
                                  <li>●	Stick to Your Morals and Principles </li>
                                  <li>●	Don’t Feel Pressured to Fit in and Impress </li>
                                  <li>●	Say “No” When Required </li>
                                  <li>●	Take Your Stand  </li>
                                  <li>●	Plan a Few Excuses  </li>
                                  <li>●	Create a Gradual Distance  </li>
                                  <li>●	Confront Your Peer Group If Needed </li>
                                  <li>●	Talk to Someone Trustworthy </li>
                                  <li>●	Interact with More People </li>
                                   
                                  	</ul> 
                                  
                              </p>
                              <div class="row" >
                                <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
                                    <img alt="Friendship pressure" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/waves-36bb5.appspot.com/o/How%20to%20Avoid%20Negative%20Peer%20Pressure%3F%2F3987735.jpg?alt=media&token=b04e1daf-941c-4c46-ac0f-58bb624941f0" >
                                </div>
                                </div>     
                             

                        <H3 style=" font-style: underline">1. <u>Trust your Conviction: 
                        </u>
                        </H3>
                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                            Listen to your inner voice and pay attention to what it says. Understand how your friend circle makes you feel and how they treat you. Analyse if they are your true friends or not. If you feel something is wrong, then it is. And you should get yourself out of a toxic and unhealthy friend circle.  
                        </p>
                        <H3 style=" font-style: underline">2. <u> Don’t Consent to Things That Seem Uncomfortable: 
                        </u>
                        </H3>
                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                            Peer pressure takes a highly negative form when it pushes you to do things you are uncomfortable with. Ensure that you don’t let yourself give in to peer pressure and do something you don’t like. So don’t consent to do things that don’t seem right to you. 

                        </p>
                   
                       

                            <H3 style=" font-style: underline">3. <u>Stick to Your Morals and Principles:
                            </u>
                            </H3>
                            
                            <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                Be true to your conscience and analyse if your friends are right or wrong. Don’t compromise on your morals to fulfil your friends’ demands. Be it consuming alcohol, drugs, smoking or anything else. Avoid doing anything that stands against your conscience and morals. 
                            </p>
                            <div class="row" >
                                <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
                                    <img alt="Easy Vs Right" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/waves-36bb5.appspot.com/o/How%20to%20Avoid%20Negative%20Peer%20Pressure%3F%2F4635305.jpg?alt=media&token=c72f216c-817e-4bc8-bc63-18010effbff1" >
                                </div>
                                </div> 
                            <H3 style=" font-style: underline">4. <u>Don’t Feel Pressured to Fit in and Impress:
                            </u>
                            </H3>
                            <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                Remember, you are not obligated to impress your friend circle, match up to their standard of being “cool”, or seek approval from them. Don’t push yourself to do things that are not your cup of tea or become someone you are not solely because you want to fit and impress. 
                            </p>
                         
  <br>
                            <H3 style=" font-style: underline">5. <u>Say “No” When Required: 
                            </u>
                            </H3>
                            <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                It takes courage, and not everyone is comfortable with saying an upfront “No”. But if the situation requires and your friend circle’s behaviour impacts you adversely, you need to be firm in saying “No”. Conveying the fact that you are not okay with their behaviour and approach is a crucial step in ensuring that they don’t continue with the same behaviour.
  </p>

                                <H3 style=" font-style: underline">6. <u>Take Your Stand:
                                </u>
                                </H3>
                                <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                    Distinguish your opinions from that of your friend circle. Don’t take a decision in favour of your friends’ opinions if it’s detrimental to you and your wellness. Take your stand, stick to your decisions, and choose what you feel is right regardless of how much your peer circle pressurises you to give in. 
                                </p>
                                <div class="row" >
                                    <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
                                        <img alt="Yes Vs No" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/waves-36bb5.appspot.com/o/How%20to%20Avoid%20Negative%20Peer%20Pressure%3F%2F6195401.jpg?alt=media&token=6cc2d65b-9090-4f1d-882e-ee429fb445b6" >
                                    </div>
                                    </div>
                                <H3 style=" font-style: underline">7. <u>Plan a Few Excuses:
                                </u>
                                
      <br>
                                </H3>
                                <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                    When you have recognised the pattern of your peer circle’s behaviour and understood the things they pressurise you to do, plan a few excuses beforehand to save yourself from those situations. For instance, if you know that your peers usually force you to splurge money on outings or consume alcohol, you can keep a few excuses ready beforehand. Such as– you have other commitments or classes, or you’re not feeling well, so you won’t be able to join them.  </p>
                                
                                </p>
                               
                                    <H3 style=" font-style: underline">8. <u>Create a Gradual Distance:
                                </u>
                                </H3>
                                <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                    When your peer circle becomes a source of stress and discomfort, it’s high time for you to keep a safe distance from them and stay away from their company. The best way to do this is to gradually distance yourself from them over time. You can start by spending a little less time with them, interacting less and responding less to their demands. 
  </p>
  <div class="row" >
    <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
        <img alt="Girl and Boy wtih stop sign" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/waves-36bb5.appspot.com/o/How%20to%20Avoid%20Negative%20Peer%20Pressure%3F%2F11132.jpg?alt=media&token=d65d330b-a0a4-43ea-abaa-63bf07faac0d" >
    </div>
    </div>
  <H3 style=" font-style: underline">9. <u>Confront Your Peer Group If Needed:
</u>
</H3>
<p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
    If your peer circle’s actions and behaviour towards you are intolerable and take more severe forms (like bullying), impacting your mental health, confront them immediately. Tell them you are not okay with their behaviour and snap ties with them. It’s better to end toxic relations than to suffer while surviving amidst them. 
</p>
<H3 style=" font-style: underline">10. <u>Talk to Someone Trustworthy:
</u>
</H3>
<p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
    Keeping a trustworthy and reliable person informed of your situation is essential so that someone has your back in case things go out of hand. Whether it’s your school teachers, parents, a close friend or a relative- pick someone you trust and tell them about your circumstances. Take their advice and share your feelings with them. Getting out of an unhealthy peer circle will be easier when you have someone to support you.
    <div class="row" >
        <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
            <img alt="Girls sharing thoughts with each other" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/waves-36bb5.appspot.com/o/How%20to%20Avoid%20Negative%20Peer%20Pressure%3F%2F3288524.jpg?alt=media&token=d7bfc688-7560-4210-a4a3-f5b107f6ce14" >
        </div>
        </div><H3 style=" font-style: underline">11. <u>Interact with More People:
    </u>
    </H3>
    <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
        Just because one friend circle turned out to be detrimental for you doesn’t necessarily mean that all peer circles would impact you the same way. Explore your options and interact with new people and befriend those who share the same interests as you. Be in the company of like-minded people who support you and accept you for who you are. 
    </p>





                        <div style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';" >
<b>7 Waves
<br>Life Solutions| Connecting Happiness</b>







         </div>













</div>




<hr>

</section>

<!-- MainSection End -->








    </div>




    </div>

</div>


<div class="container1" style="padding:2% 5% 5% 5%;">
    <div class="row" >




          <div class="col-lg-12 col-md-12 col-12" ><h1 style="text-align: center; font-size: 200%;padding-bottom: 2%; "><strong>Popular Blogs From us</strong></h1></div>



          <div class="col-lg-6 col-md-6 col-12" ><div class="mg-fluidi img-thumbnail" style="box-shadow: 0 0 20px 0 rgba(0, 0,0, 0.3);"><div class="row" style="padding: 5%;" >
            <div class="col-lg-4 col-md-4 col-12" ><h10 style=" text-align: center;"><b>Leadership</b>
            </h10></div>
            <div class="col-lg-4 col-md-4 col-12" ><h16 style="size: 5%;">07/09/2020</h120></div>
            <div class="col-lg-4 col-md-4 col-12" ><img alt="image" src="stylesheets/images/wavesSymbol.svg"   style="width: 65px;height: 100%;"></div></div>

                <img alt="image" src="https://miro.medium.com/fit/c/1400/420/1*1OSxFYvnpwzBXsaR_nR5pg.jpeg"  class="blogimg" >
                <img src="/stylesheets/images/logo.jpeg" style="width: 30px; height: 30px; border-radius: 100%;
                margin: 10px;"><h14 style="width: 50%;"> 3 min read</h14>
                <h3 style="padding: 10px;">7 unsaid rules of Friendship</h3>
                <p style="padding:0 10px 10px 10px;">You are afraid of waters... but friends will still make you jumpin.. </p>
                <div class="footer" style="text-align: center; float:left; "><a href="7 unsaid rules of Friendship.html">Read more</a></div>

                <br><br>
        </div> <br>


        </div>
        <div class="col-lg-6 col-md-6 col-12" ><div class="mg-fluidi img-thumbnail" style="box-shadow: 0 0 20px 0 rgba(0, 0,0, 0.3);"><div class="row" style="padding: 5%;" >
            <div class="col-lg-4 col-md-4 col-12" ><h10 style=" text-align: center;"><b>Leadership</b>
            </h10></div>
            <div class="col-lg-4 col-md-4 col-12" ><h16 style="size: 5%;">06/09/2020</h120></div>
            <div class="col-lg-4 col-md-4 col-12" ><img alt="image" src="stylesheets/images/wavesSymbol.svg"   style="width: 65px;height: 100%;"></div></div>

                <img alt="image" src="https://miro.medium.com/fit/c/1400/420/1*BkynGH35I1uTOqXWA94JHw.jpeg"   class="blogimg">
                <img src="/stylesheets/images/logo.jpeg" style="width: 30px; height: 30px; border-radius: 100%;
                margin: 10px;"><h14 style="width: 50%;"> 4 min read</h14>
                <h3 style="padding: 10px;">If success is fame, Hapiness is the pride</h3>

                <p style="padding:0 10px 10px 10px;">Maybe none. Earning a successful life is what everyone</p>
                <div class="footer" style="text-align: center; float:left; "><a href="If success is fame, Hapiness is the pride.html">Read more</a></div>

                <br><br>
        </div> <br>
        </div>



    </div>
<br>
    <!-- <li class="button-item">
        <div class="footer text-center" ><a href="/blogging">Explore More</a></div>
          </li> -->
</div>


<div class="row" style=" width: 100%;padding-left: 5%;" >


    <div class="row" >


        <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%; "><h1 style="text-align: center;">Your App</h1>
            <br>
            <h5 style="text-align: center;">7waves app provide a best mobile experience so counselling will be as easier as playing songs</h5><br>
            <div class="footer" style=" text-align: center; padding-bottom: 5%;padding-top: 5% ; "><a href="https://play.google.com/store/apps/details?id=in.sevenwaves.sevenwavesusers">Download Now</a></div>
        
        </div>

    <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%;"><img alt="image" src="/stylesheets/images/VECTOR_IMAGE_ON_APP@-4.svg"    style="width: 100%;height: 100%;"></div>



</div>
</div>

<div class="row" style="background-image: url(/stylesheets/images/Mask_Group_28.svg); width: 100%;margin-left: 0%;padding: 4%;" >


    <div class="row">


        <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%; "><h1 style="text-align: center;">Let's Stay in Touch</h1>
            <br>
            <!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
#mc_embed_signup{ clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://7waves.us19.list-manage.com/subscribe/post?u=fa7016958f292ac20306dd09a&amp;id=31a48ae68f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
<div id="mc_embed_signup_scroll">
<label for="mce-EMAIL">Subscribe</label>
<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_fa7016958f292ac20306dd09a_31a48ae68f" tabindex="-1" value=""></div>
<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</div>
</form>
</div>

<!--End mc_embed_signup-->
         </div>

    <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%;"><img alt="image" src="/stylesheets/images/Group_1092.svg"    style="width: 100%;height: 100%;"></div>



</div>
</div>


    <script>

        // Wrap every letter in a span
      var textWrapper = document.querySelector('.ml1 .letters');
      textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

      anime.timeline({loop: true})
        .add({
          targets: '.ml1 .letter',
          scale: [0.3,1],
          opacity: [0,1],
          translateZ: 0,
          easing: "easeOutExpo",
          duration: 600,
          delay: (el, i) => 70 * (i+1)
        }).add({
          targets: '.ml1 .line',
          scaleX: [0,1],
          opacity: [0.5,1],
          easing: "easeOutExpo",
          duration: 700,
          offset: '-=875',
          delay: (el, i, l) => 80 * (l - i)
        }).add({
          targets: '.ml1',
          opacity: 0,
          duration: 1000,
          easing: "easeOutExpo",
          delay: 1000
        });


           </script>
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-md-3">
        <ul class="footer-links">
          <li><a href="../introspectionn.html">Introspection</a></li>
          <li><a href="../motivationBlogPage.html">Motivation</a></li>
          <li><a href="../RelationshipBlogPage.html">Relationship</a></li>
          <li><a href="../CareerBlogPage.html">Career</a></li>
          <li><a href="../BussinessBlogPage.html">Business</a></li>
          <li><a href="../Mentorship.html">Mentorship</a></li>
          <li><a href="#">Personal</a></li>
        </ul>
      </div>
      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a href="../../About.html">About Us</a></li>
          <li><a href="../contactus.html">Contact Us</a></li>
          <li><a href="../termsandcondition.html">Terms And Conditions</a></li>
          <li><a href="../privacypolicy.html">Privacy Policy</a></li>
          <li><a href="../refundandcancellation.html">Refund And Cancellation</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by
          <a href="/">7Waves Life Solutions Pvt. Ltd.</a>.
        </p>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="https://www.facebook.com/7waves-102331067869510/?ti=as"><i class="fa fa-facebook"></i></a></li>
          <li><a class="twitter" href="https://twitter.com/official7waves?s=08"><i class="fa fa-twitter"></i></a></li>
          <li><a class="instagram" href="https://instagram.com/official7waves?igshid=yzfg5tdez7s4"><i class="fa fa-instagram"></i></a></li>
          <li><a class="youtube" href="https://www.youtube.com/channel/UC1UlPjbnqmJbR4tnG0pv5Og"><i class="fa fa-youtube"></i></a></li>
          <li><a class="linkedin" href="https://www.linkedin.com/in/7-waves-89604b196"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- ====== Footer End ====== -->

</body>
</html>

