<!DOCTYPE html>
<html>
    <head>
      <title>How to Develop Self-Confidence?    </title>
        
        <meta charset="utf-8">
        <head>
          <meta name="description" content="In life, you face many hardships, struggles. It would be best if you found a way to cross each one of them. And all the Mystery lies within you.">
          <meta name="keywords" content="how to become the person you always wanted to be, Willing, Love for work, Live your dream, Dream, Passionate, Rage, Dispassionate, Affection, pathy, Passioning ">
          <meta name="author" content="7 WAVES">
        </head>

      <%- include("../partials/navbar")  %>



<!-- MainSection Srart -->
<section style="height: 100%;padding-bottom: 3%;">
    <div class="container1" style="padding-left: 10%;padding-right: 10%;">
        <!-- <h1 class="ml1">
            <span class="text-wrapper">
              <span class="line line1"></span>
              <span class="letters">7 Wave</span>
              <span class="line line2"></span>
            </span>
          </h1> -->
          <div class="row" style="padding:5% 0px 0% 0px;" >

            <div class="col-lg-12 col-md-12  col-12" ><h1 style=" font-size: 20px;color: #59a5c5;">Career</h1></div>
          <div class="col-lg-12 col-md-12  col-12" ><h1 style=" font-size: 300%; "><strong>How To Develop Self-Confidence?
        </strong></h1></div>






        </div>
        <hr>

        <div class="sharethis-inline-share-buttons"  style="float: left;"></div>
        <br>

        <br>


         <div class="col-lg-12 col-md-12 col-12" style="padding: 0 0 0 0;" >




           <div class="row" >
            <div class="col-lg-6 col-12" style="padding: 0 0 0 0;" >

            </div>
            <div class="col-lg-6 col-12" style="padding: 0 0 0 0;" ></div>
            <div class="col-lg-1 col-md-3 col-12" style="padding: 3% 0 0 3%;" >

                        <img alt="image" src="/stylesheets/images/logo.jpeg" style="width:70px;height: 70px; border-radius: 100%; "  alt="Sample avatar">
                      </div>

                            <div class="col-lg-11 col-md-9 col-12" style="padding: 3% 10% 3% 3%;" >

                               <h4><b>Ananya K</b></h4>
                               <h8>Content Team, 7 Waves Life Solutions</h8>
                               <br>
                               <br>
                               <h9 style="font-size: 13px;color: #757575!important;;">June 02, 2022</h9>&nbsp;&nbsp;&nbsp;&nbsp;<h12 style="font-size: 13px;color: #757575!important;;">4 min read</h12><br>
                               <!-- <h9 style="font-size: 13px;color: #757575!important;;">Opinions expressed by Entrepreneur contributors are their own.</h9><br> -->
                               <br>
                               <p style="font-size: 19px; color: black; text-align: center;">
                               <i>"I'm bulletproof, nothing to lose.<br>
                                Fire away! Fire Away!<br>
                                You shoot me down, but I won't fall<br>
                                I am titanium."<br>
                                ~David Guetta ft. Sia (Titanium)<br>
                                </i>
                              </p>
                              
                              <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                Sia was so damn right when she sang these lyrics with all her might. It gave me chills! This song was my recluse when I needed an instant shot of motivation to boost my self-confidence. You can add this song to your motivation boosting playlist too :) On that note, I would like to say that there is no one, absolutely no one in this world, who has not doubted themselves at least once in their life. Seeping into thoughts of self-doubt and negative self-criticism bothers many people, including you and me. Breaking the shackles of negativity and marching toward the path of developing self-confidence is not impossible. You and I can do it together by simply shifting our perspectives, recognising our areas of improvement, accepting our shortcomings, journaling, networking, and facing our fears. 

                                </p>


                              <div class="row" >
                                <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
                                    <img alt="image" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/waves-36bb5.appspot.com/o/3.jpg?alt=media&token=4614794f-1a6c-4064-b3da-64438a10d46d" >
                                </div>
                            </div>
<br><br>
                        <H3 style=" font-style: underline">1. <u>Change your Perspective
                        </u>
                        </H3>

                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                        
                            First, change your perspective from solely focusing your energy on negative and critical thoughts to more positive ones. We often fall into the vicious trap of constantly critiquing ourselves for what we lack. This leads us into further despair and gloom. Instead, your focus should be to recognise and appreciating your strengths and abilities. This would make you feel confident about the things you have command over. For instance, if you are good at oratory skills, then appreciate it and make utmost use of it. 
                        
                        </p>

                        <br>
                        <H3 style="font-style: underline">2. <u>Embrace your Flaws

                        </u>
                        </H3>

                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                            "Be happy with being you. Love your flaws. Own your quirks. Ad know that you are just as perfect as anyone else, exactly as you are". ~Ariana Grande 

                        </p>
                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                            Accepting your shortcomings forms the base of building your journey towards enhancing your self-confidence. No one is perfect, and that is perfectly okay. You are worthy and wonderful despite your flaws. So, accept your imperfections and don't burden yourself with a burdening pile of guilt for not being perfect in all aspects of your life. 

                            </p>

                        <div class="row" >
                            <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
                                <img alt="image" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/waves-36bb5.appspot.com/o/4.jpg?alt=media&token=d15eb297-e797-4b46-ab81-3fa93f1cc834" >
                            </div>
                            </div>
                        <br>
                        <H3 style="font-style: underline">3. <u>Recognise Areas of Improvement

                        
                        </u>
                        </H3>

                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                            It is imperative that you recognise the aspects you wish to work on and improve on. Recognition and awareness are way more beneficial than locking yourself in a state of ignorance and denial. Say, for example, if you wish to improve your overall grades, recognise the subjects you need to specifically improve on and divert more of your energy and efforts into working hard on those subjects.
                        </p>

                        <br>
                        <H3 style=" font-style: underline">4. <u>Journaling 
                        </u>
                        </H3>

                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                            A study conducted by Stice et al., 2006 revealed that the habit of journaling helps immensely in combatting depression among the youth (Holstee). Writing can open up an endless array of possibilities and paths. Write your feelings and emotions down in a journal regularly. Keeping a written record of your feelings will help you keep track of your moods and how you feel about yourself. Journaling is a very self-reflexive activity that will allow you to engage deeper with your thoughts and regulate your emotions. 
                        </p>

                        <br>
                        <H3 style=" font-style: underline">5. <u>Networking 

                        </u>
                        </H3>

                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                            "Alone we can do so little and together we can do so much" ~Helen Keller. 
  </p>
  <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
    Solving problems and finding solutions becomes so much easier when done with people you trust and believe in. Whenever you feel incompetent and unsatisfied, talk to people who believe in you and see your potential. The idea is to build a healthy support system you can rely on. This system can include your teachers, friends, parents, siblings or anyone you trust. It's not the number of people that matters; it's more importantly about the quality of the company you keep. </p>
                        <br>
                        <div class="row" >
                          <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
                              <img alt="image" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/waves-36bb5.appspot.com/o/5.jpg?alt=media&token=480b0d62-3518-42b4-bc01-9a4e38340fba" >
                          </div>
                          </div>
                          <br>
                        <H3 style=" font-style: underline">6. <u>Face your fears

                        </u>
                        </H3>

                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                            know this sounds intimidating and fear-inducing, but we need to overcome our challenges at some point, don't we? Working towards confronting your fears or failures is the best way to gain control and power in your hands. If you are afraid of the exam season, then the best way to come out of this is to tell yourself that you have nothing to lose. It's just a learning lesson. Prepare for the exam, go to the exam hall with confidence, and work on eliminating your exam fear. This job requires time, practice and patience, but it's worth the effort!
                        </p>

 <p >
    credits: Work Cited
    Holstee. “Benefits of Journaling for Mental Health: 5 Science-Based Journaling Benefits.” Holstee, 28 May 2022, www.holstee.com/blogs/mindful-matter/5-science-based-benefits-of-journaling
                        </p>
                        
                       





                        <div style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';" >
<b>7 Waves
<br>Life Solutions| Connecting Happiness</b>







         </div>













</div>




<hr>

</section>

<!-- MainSection End -->








    </div>




    </div>

</div>


<div class="container1" style="padding:2% 5% 5% 5%;">
    <div class="row" >




          <div class="col-lg-12 col-md-12 col-12" ><h1 style="text-align: center; font-size: 200%;padding-bottom: 2%; "><strong>Popular Blogs From us</strong></h1></div>



          <div class="col-lg-6 col-md-6 col-12" ><div class="mg-fluidi img-thumbnail" style="box-shadow: 0 0 20px 0 rgba(0, 0,0, 0.3);"><div class="row" style="padding: 5%;" >
            <div class="col-lg-4 col-md-4 col-12" ><h10 style=" text-align: center;"><b>Leadership</b>
            </h10></div>
            <div class="col-lg-4 col-md-4 col-12" ><h16 style="size: 5%;">07/09/2020</h120></div>
            <div class="col-lg-4 col-md-4 col-12" ><img alt="image" src="stylesheets/images/wavesSymbol.svg"   style="width: 65px;height: 100%;"></div></div>

                <img alt="image" src="https://miro.medium.com/fit/c/1400/420/1*1OSxFYvnpwzBXsaR_nR5pg.jpeg"  class="blogimg" >
                <img src="/stylesheets/images/logo.jpeg" style="width: 30px; height: 30px; border-radius: 100%;
                margin: 10px;"><h14 style="width: 50%;"> 3 min read</h14>
                <h3 style="padding: 10px;">7 unsaid rules of Friendship</h3>
                <p style="padding:0 10px 10px 10px;">You are afraid of waters... but friends will still make you jumpin.. </p>
                <div class="footer" style="text-align: center; float:left; "><a href="/7-unsaid-rules-of-Friendship">Read more</a></div>

                <br><br>
        </div> <br>


        </div>
        <div class="col-lg-6 col-md-6 col-12" ><div class="mg-fluidi img-thumbnail" style="box-shadow: 0 0 20px 0 rgba(0, 0,0, 0.3);"><div class="row" style="padding: 5%;" >
            <div class="col-lg-4 col-md-4 col-12" ><h10 style=" text-align: center;"><b>Leadership</b>
            </h10></div>
            <div class="col-lg-4 col-md-4 col-12" ><h16 style="size: 5%;">06/09/2020</h120></div>
            <div class="col-lg-4 col-md-4 col-12" ><img alt="image" src="stylesheets/images/wavesSymbol.svg"   style="width: 65px;height: 100%;"></div></div>

                <img alt="image" src="https://miro.medium.com/fit/c/1400/420/1*BkynGH35I1uTOqXWA94JHw.jpeg"   class="blogimg">
                <img src="/stylesheets/images/logo.jpeg" style="width: 30px; height: 30px; border-radius: 100%;
                margin: 10px;"><h14 style="width: 50%;"> 4 min read</h14>
                <h3 style="padding: 10px;">If success is fame, Hapiness is the pride</h3>

                <p style="padding:0 10px 10px 10px;">Maybe none. Earning a successful life is what everyone</p>
                <div class="footer" style="text-align: center; float:left; "><a href="/If-success-is-fame-Hapiness-is-the-pride">Read more</a></div>

                <br><br>
        </div> <br>
        </div>



    </div>
<br>
    <!-- <li class="button-item">
        <div class="footer text-center" ><a href="/blogging">Explore More</a></div>
          </li> -->
</div>


<div class="row" style=" width: 100%;padding-left: 5%;" >


    <div class="row" >


        <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%; "><h1 style="text-align: center;">Your App</h1>
            <br>
            <h5 style="text-align: center;">7waves app provide a best mobile experience so counselling will be as easier as playing songs</h5><br>
            <div class="footer" style=" text-align: center; padding-bottom: 5%;padding-top: 5% ; "><a href="https://play.google.com/store/apps/details?id=in.sevenwaves.sevenwavesusers">Download Now</a></div>
        
        </div>

    <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%;"><img alt="image" src="/stylesheets/images/VECTOR_IMAGE_ON_APP@-4.svg"    style="width: 100%;height: 100%;"></div>



</div>
</div>

<div class="row" style="background-image: url(/stylesheets/images/Mask_Group_28.svg); width: 100%;margin-left: 0%;padding: 4%;" >


    <div class="row">


        <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%; "><h1 style="text-align: center;">Let's Stay in Touch</h1>
            <br>
            <!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
#mc_embed_signup{ clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://7waves.us19.list-manage.com/subscribe/post?u=fa7016958f292ac20306dd09a&amp;id=31a48ae68f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
<div id="mc_embed_signup_scroll">
<label for="mce-EMAIL">Subscribe</label>
<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_fa7016958f292ac20306dd09a_31a48ae68f" tabindex="-1" value=""></div>
<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</div>
</form>
</div>

<!--End mc_embed_signup-->
         </div>

    <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%;"><img alt="image" src="/stylesheets/images/Group_1092.svg"    style="width: 100%;height: 100%;"></div>



</div>
</div>


    <script>

        // Wrap every letter in a span
      var textWrapper = document.querySelector('.ml1 .letters');
      textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

      anime.timeline({loop: true})
        .add({
          targets: '.ml1 .letter',
          scale: [0.3,1],
          opacity: [0,1],
          translateZ: 0,
          easing: "easeOutExpo",
          duration: 600,
          delay: (el, i) => 70 * (i+1)
        }).add({
          targets: '.ml1 .line',
          scaleX: [0,1],
          opacity: [0.5,1],
          easing: "easeOutExpo",
          duration: 700,
          offset: '-=875',
          delay: (el, i, l) => 80 * (l - i)
        }).add({
          targets: '.ml1',
          opacity: 0,
          duration: 1000,
          easing: "easeOutExpo",
          delay: 1000
        });


           </script>


<%- include("../partials/footer")  %>

