

<!DOCTYPE html>
<html>
    <head>
      <title>If Success is Fame Happiness is the Pride</title>

        <meta charset="utf-8">
        <head>
          <meta name="description" content="One cannot always choose to be successful, but one can always choose to be happy in every condition.">
          <meta name="keywords" content="MOTIVATION,DEPRESSION,INTROSPECTION,CAREER CONSULTANT,BUSINESS ADVISOR,PERSONAL,RELATIONSHIP,CONSULTANT,GROWTH,SELF GROWTH,LIFE COACH,COACH CONSUNSULTANCY">
          <meta name="author" content="7 WAVES">
        </head>

      <%- include("../partials/navbar")  %>



<!-- MainSection Srart -->
<section style="height: 100%;padding-bottom: 3%;">
    <div class="container1" style="padding-left: 10%;padding-right: 10%;">
        <!-- <h1 class="ml1">
            <span class="text-wrapper">
              <span class="line line1"></span>
              <span class="letters">7 Wave</span>
              <span class="line line2"></span>
            </span>
          </h1> -->
          <div class="row" style="padding:5% 0px 0% 0px;" >

            <div class="col-lg-12 col-md-12  col-12" ><h1 style=" font-size: 20px;color: #2CAAE1;">Success VS Happiness</h1></div>
          <div class="col-lg-12 col-md-12  col-12" ><h1 style=" font-size: 300%; "><strong>If Success is Fame Happiness is the Pride</strong></h1></div>






        </div>
        <hr>

        <div class="sharethis-inline-share-buttons"  style="float: left;"></div>
        <br>

        <br>


         <div class="col-lg-12 col-md-12 col-12" style="padding: 0 0 0 0;" >




           <div class="row" >
            <div class="col-lg-6 col-12" style="padding: 0 0 0 0;" >

            </div>
            <div class="col-lg-6 col-12" style="padding: 0 0 0 0;" ></div>
            <div class="col-lg-1 col-md-3 col-12" style="padding: 3% 0 0 3%;" >

                        <img alt="image" src="/stylesheets/images/logo.jpeg" style="width:70px;height: 70px; border-radius: 100%; "  alt="Sample avatar">
                      </div>

                            <div class="col-lg-11 col-md-9 col-12" style="padding: 3% 10% 3% 3%;" >

                               <h4><b>7 Waves</b></h4>
                               <h8>Life Solution Company</h8>
                               <br>
                               <br>
                               <h9 style="font-size: 13px;color: #757575!important;;">September 24, 2020</h9>&nbsp;&nbsp;&nbsp;&nbsp;<h12 style="font-size: 13px;color: #757575!important;;">3 min read</h12><br>
                               <!-- <h9 style="font-size: 13px;color: #757575!important;;">Opinions expressed by Entrepreneur contributors are their own.</h9><br> -->
                               <br>
                               <p style="font-size: 19px; color: black;">You must have come across people reaching the heights of success? For some, Success is Happiness, for some Learning and Rising after a Failure.<br>

And others who struggle to find happiness in different forms, how many of them are happy really?<br>
Maybe None.<br>
Happiness does not come along after achieving great things only.<br>
Is happiness defined by success? Or happiness itself is success?<br>
Earning a successful life is what everyone strives for, but even more challenging is, Finding happiness in every single moment.<br>
Here are some justifications illustrated that prove the reasons why happiness is more important than success.<br>
Once a landlord, who had a large portion of land, he used to plant fruits on his land. There was a farmer who used to work on some of the landlord’s proportions. The landlord paid the farmer for all his work.<br>
The farmer knew how to be satisfied and happy with what he earned. He was filled with enthusiasm each day, even when he knew the fact that this amount could only fetch him and his family a meal twice a day. He still was happy; he reached adaptability in what he earned. After work, he used to play with his daughter, spent time with family, and the rest was devoted to working for the landlord.<br>The landlord one day had communication with one of his servants, how can this farmer with such a low salary, be living in adversity and be happy every time? Does he have some other way of earning or anything else? In answer to his question, th servant asked him some certain questions.<br>
 </p>



                        <p style="padding: 0px 0px 0% 0px;font-size: 23px; font-style: italic; color: black; font-family: 'Times New Roman', Times, serif,';"><b>If success can earn your food, can it terminate your starvation?</b> </p>
                        <p style="padding: 0px 0px 0% 0px;font-size: 23px; font-style: italic; color: black; font-family: 'Times New Roman', Times, serif,';"><b>If success can earn you a bed, can it make you sleep?</b> </p>
                        <p style="padding: 0px 0px 3% 0px;font-size: 23px; font-style: italic; color: black; font-family: 'Times New Roman', Times, serif,';"><b>If success can earn you medicine, can it give you proper health? </b></p>
                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';" >The servant’s question shocked the landlord because he had no answer. You think being successful, having a large amount of land, lots of money is what gives happiness? Sorry your perspective is wrong.
Thus, Success vs Happiness debate is impractical, and here in real life you are the landlord, MY FRIEND, and it’s up to you- what  you choose.
Don’t you think the ultimate motto and belief in life is to be happy? So, what do you choose now- Success that leads to Happiness or Happiness that surely is success?
The answer gets clear - Happiness is not defined by success.
The answer to your question in a sentence can be give as
<br>
<b>One cannot always choose to be successful, but one can always choose to be happy in every condition.</b>

<div class="row" >
 <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
     <img alt="image" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/wavesweb-424c5.appspot.com/o/successvshappiness1.png?alt=media&token=b499ec25-fe37-4ac8-9f8a-209bba4bbf18" >
 </div>
</div>




                        </p>


                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';"> <br>HAPPINESS IS SUPERPOWER-</p>

                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';"><br>Happiness can do wonders when you think of it. Many people fail to understand that.</p>
                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';"> <b>“If success is fame, happiness is the pride; If success is medicine, happiness is just an effect.” </b>
                          <br> Not success alone is complete, but happiness is everything. A perfect balance of both gives an ideal life. Strive for happiness, and see miracles happen then. Be grateful for the things in your life, Live in Happiness, Seek happiness in tiny little things.</p>
<p style="padding: 0px 0px 0% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';"><b>7WAVES</b></p>
<p style="padding: 0px 0px 0% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';"><b>Life Solutions| Connecting Happiness</b>
</p>
















         </div>













</div>




<hr>

</section>

<!-- MainSection End -->








    </div>




    </div>

</div>


<div class="container1" style="padding:2% 5% 5% 5%;">
    <div class="row" >




          <div class="col-lg-12 col-md-12 col-12" ><h1 style="text-align: center; font-size: 200%;padding-bottom: 2%; "><strong>Popular Blogs From us</strong></h1></div>



          <div class="col-lg-6 col-md-6 col-12" ><div class="mg-fluidi img-thumbnail" style="box-shadow: 0 0 20px 0 rgba(0, 0,0, 0.3);"><div class="row" style="padding: 5%;" >
            <div class="col-lg-4 col-md-4 col-12" ><h10 style=" text-align: center;"><b>Leadership</b>
            </h10></div>
            <div class="col-lg-4 col-md-4 col-12" ><h16 style="size: 5%;">07/09/2020</h120></div>
            <div class="col-lg-4 col-md-4 col-12" ><img alt="image" src="stylesheets/images/wavesSymbol.svg"   style="width: 65px;height: 100%;"></div></div>

                <img alt="image" src="https://miro.medium.com/fit/c/1400/420/1*1OSxFYvnpwzBXsaR_nR5pg.jpeg"  class="blogimg" >
                <img src="/stylesheets/images/logo.jpeg" style="width: 30px; height: 30px; border-radius: 100%;
                margin: 10px;"><h14 style="width: 50%;"> 3 min read</h14>
                <h3 style="padding: 10px;">7 unsaid rules of Friendship</h3>
                <p style="padding:0 10px 10px 10px;">You are afraid of waters... but friends will still make you jumpin.. </p>
                <div class="footer" style="text-align: center; float:left; "><a href="/7-unsaid-rules-of-Friendship">Read more</a></div>

                <br><br>
        </div> <br>


        </div>
        <div class="col-lg-6 col-md-6 col-12" ><div class="mg-fluidi img-thumbnail" style="box-shadow: 0 0 20px 0 rgba(0, 0,0, 0.3);"><div class="row" style="padding: 5%;" >
            <div class="col-lg-4 col-md-4 col-12" ><h10 style=" text-align: center;"><b>Leadership</b>
            </h10></div>
            <div class="col-lg-4 col-md-4 col-12" ><h16 style="size: 5%;">06/09/2020</h120></div>
            <div class="col-lg-4 col-md-4 col-12" ><img alt="image" src="stylesheets/images/wavesSymbol.svg"   style="width: 65px;height: 100%;"></div></div>

                <img alt="image" src="https://miro.medium.com/fit/c/1400/420/1*BkynGH35I1uTOqXWA94JHw.jpeg"   class="blogimg">
                <img src="/stylesheets/images/logo.jpeg" style="width: 30px; height: 30px; border-radius: 100%;
                margin: 10px;"><h14 style="width: 50%;"> 4 min read</h14>
                <h3 style="padding: 10px;">If success is fame, Hapiness is the pride</h3>

                <p style="padding:0 10px 10px 10px;">Maybe none. Earning a successful life is what everyone</p>
                <div class="footer" style="text-align: center; float:left; "><a href="/If-success-is-fame-Hapiness-is-the-pride">Read more</a></div>

                <br><br>
        </div> <br>
        </div>



    </div>
<br>
    <!-- <li class="button-item">
        <div class="footer text-center" ><a href="/blogging">Explore More</a></div>
          </li> -->
</div>


<div class="row" style=" width: 100%;padding-left: 5%;" >


    <div class="row" >


        <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%; "><h1 style="text-align: center;">Your App</h1>
            <br>
            <h5 style="text-align: center;">7waves app provide a best mobile experience so counselling will be as easier as playing songs</h5><br>
    </div>

    <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%;"><img alt="image" src="/stylesheets/images/VECTOR_IMAGE_ON_APP@-4.svg"    style="width: 100%;height: 100%;"></div>



</div>
</div>

<div class="row" style="background-image: url(/stylesheets/images/Mask_Group_28.svg); width: 100%;margin-left: 0%;padding: 4%;" >


    <div class="row">


        <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%; "><h1 style="text-align: center;">Let's Stay in Touch</h1>
            <br>
            <!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
#mc_embed_signup{ clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://7waves.us19.list-manage.com/subscribe/post?u=fa7016958f292ac20306dd09a&amp;id=31a48ae68f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
<div id="mc_embed_signup_scroll">
<label for="mce-EMAIL">Subscribe</label>
<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_fa7016958f292ac20306dd09a_31a48ae68f" tabindex="-1" value=""></div>
<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</div>
</form>
</div>

<!--End mc_embed_signup-->
         </div>

    <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%;"><img alt="image" src="/stylesheets/images/Group_1092.svg"    style="width: 100%;height: 100%;"></div>



</div>
</div>


    <script>

        // Wrap every letter in a span
      var textWrapper = document.querySelector('.ml1 .letters');
      textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

      anime.timeline({loop: true})
        .add({
          targets: '.ml1 .letter',
          scale: [0.3,1],
          opacity: [0,1],
          translateZ: 0,
          easing: "easeOutExpo",
          duration: 600,
          delay: (el, i) => 70 * (i+1)
        }).add({
          targets: '.ml1 .line',
          scaleX: [0,1],
          opacity: [0.5,1],
          easing: "easeOutExpo",
          duration: 700,
          offset: '-=875',
          delay: (el, i, l) => 80 * (l - i)
        }).add({
          targets: '.ml1',
          opacity: 0,
          duration: 1000,
          easing: "easeOutExpo",
          delay: 1000
        });


           </script>


<%- include("../partials/footer")  %>
