<!DOCTYPE html>
<html>
    <head>
      <title>There is Love bond For Every Relationship</title>

        <meta charset="utf-8">
        <head>
          <meta name="description" content="A relationship is a bond between people.It is a result of a person's hard work, by which people get attracted and make a bond">
          <meta name="keywords" content="MOTIVATION,DEPRESSION,INTROSPECTION,CAREER CONSULTANT,BUSINESS ADVISOR,PERSONAL,RELATIONSHIP,CONSULTANT,GROWTH,SELF GROWTH,LIFE COACH,COACH CONSUNSULTANCY">
          <meta name="author" content="7 WAVES">
        </head>

      <%- include("../partials/navbar")  %>


<!-- MainSection Srart -->
<section style="height: 100%;padding-bottom: 3%;">
    <div class="container1" style="padding-left: 10%;padding-right: 10%;">
        <!-- <h1 class="ml1">
            <span class="text-wrapper">
              <span class="line line1"></span>
              <span class="letters">7 Wave</span>
              <span class="line line2"></span>
            </span>
          </h1> -->
          <div class="row" style="padding:5% 0px 0% 0px;" >

            <div class="col-lg-12 col-md-12  col-12" ><h1 style=" font-size: 20px;color: #2CAAE1;">Relationship</h1></div>
          <div class="col-lg-12 col-md-12  col-12" ><h1 style=" font-size: 300%; "><strong>Why Relationships fails: LOVE IN RELATIONSHIP</strong></h1></div>






        </div>
        <hr>

        <div class="sharethis-inline-share-buttons"  style="float: left;"></div>
        <br>

        <br>


         <div class="col-lg-12 col-md-12 col-12" style="padding: 0 0 0 0;" >




           <div class="row" >
            <div class="col-lg-6 col-12" style="padding: 0 0 0 0;" >

            </div>
            <div class="col-lg-6 col-12" style="padding: 0 0 0 0;" ></div>
            <div class="col-lg-1 col-md-3 col-12" style="padding: 3% 0 0 3%;" >

                        <img alt="image" src="/stylesheets/images/logo.jpeg" style="width:70px;height: 70px; border-radius: 100%; "  alt="Sample avatar">
                      </div>

                            <div class="col-lg-11 col-md-9 col-12" style="padding: 3% 10% 3% 3%;" >

                               <h4><b>7 Waves</b></h4>
                               <h8>Life Solution Company</h8>
                               <br>
                               <br>
                               <h9 style="font-size: 13px;color: #757575!important;;">September 10, 2020</h9>&nbsp;&nbsp;&nbsp;&nbsp;<h12 style="font-size: 13px;color: #757575!important;;">4 min read</h12><br>
                               <!-- <h9 style="font-size: 13px;color: #757575!important;;">Opinions expressed by Entrepreneur contributors are their own.</h9><br> -->
                               <br>
                               <p style="font-size: 19px; font-style: italic; color: black;"><b>What is Love?<br>
According to the Bible, "Love is patient and kind; love is not envious or boastful or arrogant or rude. It does not insist on its way; it is not irritable or resentful; it does not rejoice in wrongdoing, but rejoices in the true love never ends".</b>
</p>



                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';"><br><br>Love is not only two people wishing to spend their lives together, but it is a perfect blend of respect, protectiveness, affection for each other. Love can exist in innumerable ways with numerous people at the same time. For example, God loves you. You love your dog; You are a lover of Books. You love your family, friends, and life partner. In each relationship, love prevails. </p>


                        <div class="row" >
                         <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
                             <img alt="image" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/wavesweb-424c5.appspot.com/o/loveforrelationship1.jpg?alt=media&token=2fa9ed0d-3189-4180-8b73-d67ff29fb81b" >
                         </div>

                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';" ><br><br><b>Love has no rules, no limitations, but it does demand some liberty, communication, and freedom. </b>
<br><br>1. Do not let one's opinion to force on your partner
<br>2. Have room for healthy conversations
<br>3. Respect each other's personal space
<br>4. If the conclusions to the decisions affect the two in the future, keep them to yourself. Do not let any different opinions to matter.
<br>5. Sorry and Thank you are not mere words, these words of affection can do marvels
<br>6. Love doesn't complete each other but gives the power to accept somebody completely
<br>7. Expectations do not hurt in love but help build the relationship healthier and stronger together.
<br>8. Commitment seen in Connection between the two. And should not turn into sheer words.
<br>9. Giving respect, affection, romance towards your bond is the prime duty for both companions.
<br>10. A relationship is a bond between people; It is a result of a person's hard work, by which people get attracted and make a bond

<br><br>We see people struggling in relationships, not because love doesn't exist, but probably because of the fear of losing out, the insecurities that develop.
"When you love someone, you can't hold them back. Love is a leap into the unknown, not a cautious dipping to the toe."

                        </p>
                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';"><br><br><b>Ways to find out it's not Love</b>
<br><br>1. Falling for words, rather than the actions
<br>2. When you get attracted to the body, not the soul
<br>3. When you don't need them, but still want them for your glory (To complete you). When Romance is Love for you (Romantic relationships are complicated.
And while there are many natural reasons why relationships don't work out – timing, diverging growth trajectories, differing values, and so on – there are three avoidable reasons that will cause any relationship to fail: non-acceptance, lack of trust, and poor communication.)
<br>Source: - <a href="https://calvinrosser.com/why-relationships-fail/
">https://calvinrosser.com/why-relationships-fail/  </a>
<br>4. When you want them to change according to you
<br>5. If you are angry or fighting, still choose to sleep rather than resolving issues
<br>6. When your opinion seems to be more important than the right thing
<br>7. When you start becoming the so-called Relationship goals for the world.
<br>8. If you can't apologize for your mistakes, it isn't loved. Step back
<br>9. If you feel, forever is a myth
<br>10. A relationship is not a struggle for control, domination, or power; it is a struggle for making your bond
</p>

<div class="row" >
 <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
     <img alt="image" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/wavesweb-424c5.appspot.com/o/loveforrelationship2.jpg?alt=media&token=009443ec-ffc5-4291-87ed-e55fc8c73f2a" >
 </div>


                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';"><br><br><b>What is love then?</b>
<br><br>1. Love in itself is complete
<br>2. Friendship is the foundation to Love
<br>3. Accepting someone with all their flaws
<br>4. Understanding and Listening to each other above right or wrong
<br>5. When there is love, there is no fear
<br>6. Embracing the imperfections of each other.
<br>7. Being there for each other, no matter what
<br>8. Break up is not an option anywhere. Even when it takes time for both to be on the same page.
<br>9. Mutual investment and support in your companion's growth.
<br>10. In a relationship, you treasure and treat each other's heart as your own.

<br><br>There’s less than 1% of people who have met ‘The One', who never experienced a breakup but lived happily ever after. Even that 1% will end that relationship at some point when they pass away.
<br>And, for the majority of us who don’t strike gold the first time around, we’re going to have to deal with breakups and the trials and tribulations of romance. We’ll probably find ourselves in a toxic relationship for too long. We’ll probably get cheated on at least once. We’ll probably have our hearts smashed into a million pieces when we discover that someone ‘No longer loves us anymore.’ These are the REALITIES of the human condition.
<br>But, finding love is about understanding that you need to end your current relationship to find out what the real one. All breakups suck in the beginning until you grow and move on. That's time to find yourself. Once you find yourself, the heart will be ready for love again. How you move forward from there is up to you.

<br><br>“Have your heart broken but just don’t let it stay that way.”

<br><br>Experience Second-chance love
About 3 in 10 of people aged 55 to 64 have experienced at least two unions during their lifetime. Among people aged 65 and over, the proportion was roughly 2 in 10</p>

<div class="row" >
 <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
     <img alt="image" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/wavesweb-424c5.appspot.com/o/loveforrelationship3.jpg?alt=media&token=1ecdd1ce-95f3-436f-8f44-b3515778ac57" >
 </div>
 </div>


                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';"><br><br>You see, <b>LOVE FINDS ITS WAY.</b>

<br><br>The unfortunate truth is, no relationship is perfect, and if two people honestly love each other, do they need the relationship tag embarked?
Love each other, with no terms and conditions applied, no crucial tags.


<br><br><b>7 Waves
<br>Life Solutions| Connecting Happiness</b>
</p>















         </div>













</div>




<hr>

</section>

<!-- MainSection End -->








    </div>




    </div>

</div>


<div class="container1" style="padding:2% 5% 5% 5%;">
    <div class="row" >




          <div class="col-lg-12 col-md-12 col-12" ><h1 style="text-align: center; font-size: 200%;padding-bottom: 2%; "><strong>Popular Blogs From us</strong></h1></div>



          <div class="col-lg-6 col-md-6 col-12" ><div class="mg-fluidi img-thumbnail" style="box-shadow: 0 0 20px 0 rgba(0, 0,0, 0.3);"><div class="row" style="padding: 5%;" >
            <div class="col-lg-4 col-md-4 col-12" ><h10 style=" text-align: center;"><b>Leadership</b>
            </h10></div>
            <div class="col-lg-4 col-md-4 col-12" ><h16 style="size: 5%;">07/09/2020</h120></div>
            <div class="col-lg-4 col-md-4 col-12" ><img alt="image" src="stylesheets/images/wavesSymbol.svg"   style="width: 65px;height: 100%;"></div></div>

                <img alt="image" src="https://miro.medium.com/fit/c/1400/420/1*1OSxFYvnpwzBXsaR_nR5pg.jpeg"  class="blogimg" >
                <img src="/stylesheets/images/logo.jpeg" style="width: 30px; height: 30px; border-radius: 100%;
                margin: 10px;"><h14 style="width: 50%;"> 3 min read</h14>
                <h3 style="padding: 10px;">7 unsaid rules of Friendship</h3>
                <p style="padding:0 10px 10px 10px;">You are afraid of waters... but friends will still make you jumpin.. </p>
                <div class="footer" style="text-align: center; float:left; "><a href="/7-unsaid-rules-of-Friendship">Read more</a></div>

                <br><br>
        </div> <br>


        </div>
        <div class="col-lg-6 col-md-6 col-12" ><div class="mg-fluidi img-thumbnail" style="box-shadow: 0 0 20px 0 rgba(0, 0,0, 0.3);"><div class="row" style="padding: 5%;" >
            <div class="col-lg-4 col-md-4 col-12" ><h10 style=" text-align: center;"><b>Leadership</b>
            </h10></div>
            <div class="col-lg-4 col-md-4 col-12" ><h16 style="size: 5%;">06/09/2020</h120></div>
            <div class="col-lg-4 col-md-4 col-12" ><img alt="image" src="stylesheets/images/wavesSymbol.svg"   style="width: 65px;height: 100%;"></div></div>

                <img alt="image" src="https://miro.medium.com/fit/c/1400/420/1*BkynGH35I1uTOqXWA94JHw.jpeg"   class="blogimg">
                <img src="/stylesheets/images/logo.jpeg" style="width: 30px; height: 30px; border-radius: 100%;
                margin: 10px;"><h14 style="width: 50%;"> 4 min read</h14>
                <h3 style="padding: 10px;">If success is fame, Hapiness is the pride</h3>

                <p style="padding:0 10px 10px 10px;">Maybe none. Earning a successful life is what everyone</p>
                <div class="footer" style="text-align: center; float:left; "><a href="/If-success-is-fame-Hapiness-is-the-pride">Read more</a></div>

                <br><br>
        </div> <br>
        </div>



    </div>
<br>
    <!-- <li class="button-item">
        <div class="footer text-center" ><a href="/blogging">Explore More</a></div>
          </li> -->
</div>


<div class="row" style=" width: 100%;padding-left: 5%;" >


    <div class="row" >


        <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%; "><h1 style="text-align: center;">Your App</h1>
            <br>
            <h5 style="text-align: center;">7waves app provide a best mobile experience so counselling will be as easier as playing songs</h5><br>
    </div>

    <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%;"><img alt="image" src="/stylesheets/images/VECTOR_IMAGE_ON_APP@-4.svg"    style="width: 100%;height: 100%;"></div>



</div>
</div>

<div class="row" style="background-image: url(/stylesheets/images/Mask_Group_28.svg); width: 100%;margin-left: 0%;padding: 4%;" >


    <div class="row">


        <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%; "><h1 style="text-align: center;">Let's Stay in Touch</h1>
            <br>
            <!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
#mc_embed_signup{ clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://7waves.us19.list-manage.com/subscribe/post?u=fa7016958f292ac20306dd09a&amp;id=31a48ae68f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
<div id="mc_embed_signup_scroll">
<label for="mce-EMAIL">Subscribe</label>
<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_fa7016958f292ac20306dd09a_31a48ae68f" tabindex="-1" value=""></div>
<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</div>
</form>
</div>

<!--End mc_embed_signup-->
         </div>

    <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%;"><img alt="image" src="/stylesheets/images/Group_1092.svg"    style="width: 100%;height: 100%;"></div>



</div>
</div>


    <script>

        // Wrap every letter in a span
      var textWrapper = document.querySelector('.ml1 .letters');
      textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

      anime.timeline({loop: true})
        .add({
          targets: '.ml1 .letter',
          scale: [0.3,1],
          opacity: [0,1],
          translateZ: 0,
          easing: "easeOutExpo",
          duration: 600,
          delay: (el, i) => 70 * (i+1)
        }).add({
          targets: '.ml1 .line',
          scaleX: [0,1],
          opacity: [0.5,1],
          easing: "easeOutExpo",
          duration: 700,
          offset: '-=875',
          delay: (el, i, l) => 80 * (l - i)
        }).add({
          targets: '.ml1',
          opacity: 0,
          duration: 1000,
          easing: "easeOutExpo",
          delay: 1000
        });


           </script>

<%- include("../partials/footer")  %>

