<!DOCTYPE html>
<html>
    <head>
      <title>Why we say Motivation As important food</title>

        <meta charset="utf-8">
        <head>
          <meta name="description" content="One’s survival is not possible without motivation. One can live without food for some days, but it’s impossible to live without motivation.">
          <meta name="keywords" content="Goals, Challenge, Truth, Determination, Perseverance, Faith, Endurance, Daily motivation, Foodasmotivation">
          <meta name="author" content="7 WAVES">
        </head>

      <%- include("../partials/navbar")  %>


<!-- MainSection Srart -->
<section style="height: 100%;padding-bottom: 3%;">
    <div class="container1" style="padding-left: 10%;padding-right: 10%;">
        <!-- <h1 class="ml1">
            <span class="text-wrapper">
              <span class="line line1"></span>
              <span class="letters">7 Wave</span>
              <span class="line line2"></span>
            </span>
          </h1> -->
          <div class="row" style="padding:5% 0px 0% 0px;" >

            <div class="col-lg-12 col-md-12  col-12" ><h1 style=" font-size: 20px;color: #2CAAE1;">Motivation</h1></div>
          <div class="col-lg-12 col-md-12  col-12" ><h1 style=" font-size: 300%; "><strong>MOTIVATION: AS IMPORTANT AS FOOD</strong></h1></div>






        </div>
        <hr>

        <div class="sharethis-inline-share-buttons"  style="float: left;"></div>
        <br>

        <br>


         <div class="col-lg-12 col-md-12 col-12" style="padding: 0 0 0 0;" >




           <div class="row" >
            <div class="col-lg-6 col-12" style="padding: 0 0 0 0;" >

            </div>
            <div class="col-lg-6 col-12" style="padding: 0 0 0 0;" ></div>
            <div class="col-lg-1 col-md-3 col-12" style="padding: 3% 0 0 3%;" >

                        <img alt="image" src="/stylesheets/images/logo.jpeg" style="width:70px;height: 70px; border-radius: 100%; "  alt="Sample avatar">
                      </div>

                            <div class="col-lg-11 col-md-9 col-12" style="padding: 3% 10% 3% 3%;" >

                               <h4><b>7 Waves</b></h4>
                               <h8>Life Solution Company</h8>
                               <br>
                               <br>
                               <h9 style="font-size: 13px;color: #757575!important;;">September 10, 2020</h9>&nbsp;&nbsp;&nbsp;&nbsp;<h12 style="font-size: 13px;color: #757575!important;;">4 min read</h12><br>
                               <!-- <h9 style="font-size: 13px;color: #757575!important;;">Opinions expressed by Entrepreneur contributors are their own.</h9><br> -->
                               <br>
                               <p style="font-size: 23px; color: black; font-family: 'Times New Roman', Times, serif,'; ">Imagine your first time on a bicycle. Once a kid of around eight who was learning to ride a bicycle. He sat on the bicycle for the first time, so it was very obvious to be scared. And even horrifying, when he told to ride it alone.<br>
                                Imagine the details with me, moving into an office well dressed, everyone wishing you as you move through the hallways, you enter your cabin, call your secretary for your to- do listed work and updates, you keep a check on everything, business meetings, busy and productive schedule, news about profits of your firm, and everyone praising you for the benefits, the fame that you and your team earn by working hard each day. </p>



                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">At several moments in life, when you face hardships, challenges, you feel that it can’t be conquered. But the truth is things fall in place with time. You ultimately achieve your goals.</p>
                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">Ever wondered how you made through these problems?
<br>Intrinsic motivation is the key, along with faith, determination, perseverance, and endurance.

                          <br>Motivation is a psychological phenomenon that helps you convert abilities into performance.</p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                          <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">A great future doesn’t require a great past; it just needs a chance and clarity regarding facts regarding motivation mentioned below<br> </p>


                            <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';"> <b>1)Motivation is goal-oriented.</b>
<br>When you take birth and are growing every day, what you require is food to feed on. Why do you need food, ever thought of it?
<br>What keeps you motivated to eat??
<br>The reason is survival. To survive, to live, to let your body grow, you need to take food.
<br>While going to School, as a kid, you keep on crying but your parents, however, never let you sit home and enjoy. They might force you to go to School, besides all your crying and stubborn behaviour. But what’s the main motivation of sending you to School and studying?
<br>It’s Learning, to gain knowledge, learning to do something great.
<br>Yes, one cannot deny the fact that motivation by teachers and other systems at School is also significant.
<br>To make sure your goal is motivating, write down why it's valuable and important to you. Ask yourself, "If I were to share my goal with others, what would I tell them to convince them it was a worthwhile goal?" You can use this motivating value statement to help you if you start to doubt yourself or lose confidence in your ability to actually make the goal happen.
<br> </p>

                        <div class="row" >
                         <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
                             <img alt="image" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/wavesweb-424c5.appspot.com/o/motivationfood1.jpg?alt=media&token=faa8d4be-9c59-499e-9755-8d3802446fa2" >
                         </div>
                         </div>

                            <p style="padding: 10% 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">In a survey for school students, when asked about “What form of Motivation you prefer?” the following results were obtained.

<br><br>Verbal encouragement 30%
<br>Tangible rewards 53%
<br>I am self-motivated 18%*
<br><a href="https://prezi.com/taktvvqc0dh7/statistics-motivation/">Source</a>
</p>


                            <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';"><br><b>2)Motivation is a continuous process.</b>
<br>Some words might be expressions for you, but maybe they can help in making this world a better place to live. Be the change that you wish to see in the world.
<br>⦁	Motivate people, but most importantly “Stay motivated yourself”.
<br>⦁	Find motivation in those little things that you do every day, every moment, in every bit of your life.
<br>⦁	From taking birth to breathing continuously- every single moment till you die;
<br>⦁	From waking up to going back to sleep
<br>⦁	From childhood to old- age
<br>⦁	From Teenage to Adulthood
<br>⦁	From being a child to being a parent
<br>⦁	From life to death, motivation lies in everything.
<br>⦁	It lies within you. Spread it to the universe as much as possible.

<br><br><a href="https://www.cio.com/article/3194546/4-key-techniques-for-continuous-improvement-in-corporate-innovation.html">Source</a>


<br><br><b>3)Motivation may be positive or negative.</b>
<br>When on the death bed, when you know it is the time. You pray and wish to do. Why?
<br>Why will someone grant such a wish for themselves?
<br>But there is the motivation behind dying too, getting rid of all the physical pain that you might experience which can make conditions worse for you. So, one feels better to die than to suffer on the death bed.
<br>There is a motivation behind everything in life.  
<br>One’s survival is not possible without motivation. One can live without food for some days, but it’s impossible to live without motivation.

<br><br><b>4)Motivation may be internal or external.</b>
<br>There is motivation in every little thing, from an ant to an elephant, from a seed to a tree, from an infant to a grown-up, from cradle to death bed.

<br>You might not be able to see the motivation at times, but remember no matter how big problems are, there is always hope, and behind this hope, you’ll always find a ray of motivation.
<br>As surveyed, the presence of a corporate incentive program motivated 66% of employees to stay at their job. A 5% increase in employee retention can generate a 25% to 85% increase in profitability.
<br><br></p>
  <a href="https://www.hawkincentives.com/insights/23-employee-motivation-statistics">Source</a>




 <div class="row" >
 <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
     <img alt="image" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/wavesweb-424c5.appspot.com/o/motivationfood2.png?alt=media&token=320c297e-5eef-47cf-b7a9-b93bf5153b16" >
 </div>
 </div>

  <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';"><br>Do you prefer to be motivated in your workplace/school?
<br>⦁	Yes 95%
<br>⦁	No 5%
<br>⦁	<a href="https://prezi.com/taktvvqc0dh7/statistics-motivation/?frame=e4f7303d1e4c30f591159486a16302861fd750af">Source</a>

<br><br><b>5)Motivation means, to sum up, not dividing into parts.</b>
<br>There is a different type of motivation hidden behind everything, small or big. From living life to death, there is motivation in everything.
<br>You take birth, but before that, you survive in the mother’s womb for nine months. The mother bears unbearable pain to give birth to you, the pain that is so severe, intolerable, and outrageous. But still, she manages because there is the intrinsic motivation behind her carrying all the pain, LOVE. Her unconditional love towards her baby keeps her motivated.
<br>According to Dale Breachus; “Motivation can be defined as a willingness to expend energy to achieve a goal or reward”


<br><br><b>7 Waves
<br>Life Solutions| Connecting Happiness<br></b> </p>
















         </div>













</div>




<hr>

</section>

<!-- MainSection End -->








    </div>




    </div>

</div>


<div class="container1" style="padding:2% 5% 5% 5%;">
    <div class="row" >




          <div class="col-lg-12 col-md-12 col-12" ><h1 style="text-align: center; font-size: 200%;padding-bottom: 2%; "><strong>Popular Blogs From us</strong></h1></div>



          <div class="col-lg-6 col-md-6 col-12" ><div class="mg-fluidi img-thumbnail" style="box-shadow: 0 0 20px 0 rgba(0, 0,0, 0.3);"><div class="row" style="padding: 5%;" >
            <div class="col-lg-4 col-md-4 col-12" ><h10 style=" text-align: center;"><b>Leadership</b>
            </h10></div>
            <div class="col-lg-4 col-md-4 col-12" ><h16 style="size: 5%;">07/09/2020</h120></div>
            <div class="col-lg-4 col-md-4 col-12" ><img alt="image" src="stylesheets/images/wavesSymbol.svg"   style="width: 65px;height: 100%;"></div></div>

                <img alt="image" src="https://miro.medium.com/fit/c/1400/420/1*1OSxFYvnpwzBXsaR_nR5pg.jpeg"  class="blogimg" >
                <img src="/stylesheets/images/logo.jpeg" style="width: 30px; height: 30px; border-radius: 100%;
                margin: 10px;"><h14 style="width: 50%;"> 3 min read</h14>
                <h3 style="padding: 10px;">7 unsaid rules of Friendship</h3>
                <p style="padding:0 10px 10px 10px;">You are afraid of waters... but friends will still make you jumpin.. </p>
                <div class="footer" style="text-align: center; float:left; "><a href="/7-unsaid-rules-of-Friendship">Read more</a></div>

                <br><br>
        </div> <br>


        </div>
        <div class="col-lg-6 col-md-6 col-12" ><div class="mg-fluidi img-thumbnail" style="box-shadow: 0 0 20px 0 rgba(0, 0,0, 0.3);"><div class="row" style="padding: 5%;" >
            <div class="col-lg-4 col-md-4 col-12" ><h10 style=" text-align: center;"><b>Leadership</b>
            </h10></div>
            <div class="col-lg-4 col-md-4 col-12" ><h16 style="size: 5%;">06/09/2020</h120></div>
            <div class="col-lg-4 col-md-4 col-12" ><img alt="image" src="stylesheets/images/wavesSymbol.svg"   style="width: 65px;height: 100%;"></div></div>

                <img alt="image" src="https://miro.medium.com/fit/c/1400/420/1*BkynGH35I1uTOqXWA94JHw.jpeg"   class="blogimg">
                <img src="/stylesheets/images/logo.jpeg" style="width: 30px; height: 30px; border-radius: 100%;
                margin: 10px;"><h14 style="width: 50%;"> 4 min read</h14>
                <h3 style="padding: 10px;">If success is fame, Hapiness is the pride</h3>

                <p style="padding:0 10px 10px 10px;">Maybe none. Earning a successful life is what everyone</p>
                <div class="footer" style="text-align: center; float:left; "><a href="/If-success-is-fame-Hapiness-is-the-pride">Read more</a></div>

                <br><br>
        </div> <br>
        </div>



    </div>
<br>
    <!-- <li class="button-item">
        <div class="footer text-center" ><a href="/blogging">Explore More</a></div>
          </li> -->
</div>


<div class="row" style=" width: 100%;padding-left: 5%;" >


    <div class="row" >


        <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%; "><h1 style="text-align: center;">Your App</h1>
            <br>
            <h5 style="text-align: center;">7waves app provide a best mobile experience so counselling will be as easier as playing songs</h5><br>
    </div>

    <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%;"><img alt="image" src="/stylesheets/images/VECTOR_IMAGE_ON_APP@-4.svg"    style="width: 100%;height: 100%;"></div>



</div>
</div>

<div class="row" style="background-image: url(/stylesheets/images/Mask_Group_28.svg); width: 100%;margin-left: 0%;padding: 4%;" >


    <div class="row">


        <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%; "><h1 style="text-align: center;">Let's Stay in Touch</h1>
            <br>
            <!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
#mc_embed_signup{ clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://7waves.us19.list-manage.com/subscribe/post?u=fa7016958f292ac20306dd09a&amp;id=31a48ae68f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
<div id="mc_embed_signup_scroll">
<label for="mce-EMAIL">Subscribe</label>
<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_fa7016958f292ac20306dd09a_31a48ae68f" tabindex="-1" value=""></div>
<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</div>
</form>
</div>

<!--End mc_embed_signup-->
         </div>

    <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%;"><img alt="image" src="/stylesheets/images/Group_1092.svg"    style="width: 100%;height: 100%;"></div>



</div>
</div>


    <script>

        // Wrap every letter in a span
      var textWrapper = document.querySelector('.ml1 .letters');
      textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

      anime.timeline({loop: true})
        .add({
          targets: '.ml1 .letter',
          scale: [0.3,1],
          opacity: [0,1],
          translateZ: 0,
          easing: "easeOutExpo",
          duration: 600,
          delay: (el, i) => 70 * (i+1)
        }).add({
          targets: '.ml1 .line',
          scaleX: [0,1],
          opacity: [0.5,1],
          easing: "easeOutExpo",
          duration: 700,
          offset: '-=875',
          delay: (el, i, l) => 80 * (l - i)
        }).add({
          targets: '.ml1',
          opacity: 0,
          duration: 1000,
          easing: "easeOutExpo",
          delay: 1000
        });


           </script>

<%- include("../partials/footer")  %>

