<!DOCTYPE html>
<html>
    <head>
      <title>There is Nothing is Personal between all of us</title>

        <meta charset="utf-8">
        <head>
          <meta name="description" content="To make things happen, you need to keep happening. Reframe yourself.">
          <meta name="keywords" content="MOTIVATION,DEPRESSION,INTROSPECTION,CAREER CONSULTANT,BUSINESS ADVISOR,PERSONAL,RELATIONSHIP,CONSULTANT,GROWTH,SELF GROWTH,LIFE COACH,COACH CONSUNSULTANCY">
          <meta name="author" content="7 WAVES">
        </head>

      <%- include("../partials/navbar")  %>


<!-- MainSection Srart -->
<section style="height: 100%;padding-bottom: 3%;">
    <div class="container1" style="padding-left: 10%;padding-right: 10%;">
        <!-- <h1 class="ml1">
            <span class="text-wrapper">
              <span class="line line1"></span>
              <span class="letters">7 Wave</span>
              <span class="line line2"></span>
            </span>
          </h1> -->
          <div class="row" style="padding:5% 0px 0% 0px;" >

            <div class="col-lg-12 col-md-12  col-12" ><h1 style=" font-size: 20px;color: #2CAAE1;">Negative thoughts</h1></div>
          <div class="col-lg-12 col-md-12  col-12" ><h1 style=" font-size: 300%; "><strong>How to deal with negative thoughts: DEFEAT YOUR NEGATIVE THOUGHTS</strong></h1></div>






        </div>
        <hr>

        <div class="sharethis-inline-share-buttons"  style="float: left;"></div>
        <br>

        <br>


         <div class="col-lg-12 col-md-12 col-12" style="padding: 0 0 0 0;" >




           <div class="row" >
            <div class="col-lg-6 col-12" style="padding: 0 0 0 0;" >

            </div>
            <div class="col-lg-6 col-12" style="padding: 0 0 0 0;" ></div>
            <div class="col-lg-1 col-md-3 col-12" style="padding: 3% 0 0 3%;" >

                        <img alt="image" src="/stylesheets/images/logo.jpeg" style="width:70px;height: 70px; border-radius: 100%; "  alt="Sample avatar">
                      </div>

                            <div class="col-lg-11 col-md-9 col-12" style="padding: 3% 10% 3% 3%;" >

                               <h4><b>7 Waves</b></h4>
                               <h8>Life Solution Company</h8>
                               <br>
                               <br>
                               <h9 style="font-size: 13px;color: #757575!important;;">September 26, 2020</h9>&nbsp;&nbsp;&nbsp;&nbsp;<h12 style="font-size: 13px;color: #757575!important;;">4 min read</h12><br>
                               <!-- <h9 style="font-size: 13px;color: #757575!important;;">Opinions expressed by Entrepreneur contributors are their own.</h9><br> -->
                               <br>




                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">It is obvious for everyone to feel negative at times in life. After all, it's part of life, Ups and Downs are bound to happen.
But these times can and should never be mistaken to be felt for the whole life.

<br><br>Firstly, let us find out, what are negative thoughts!
<br>Negative thoughts are thoughts that standstill as a drawback between how you exist and in what ways you want to stand out of this existence.
<br>The negative voice in you forces you to divide the world into good or bad, see self as success or failure, on or off track.
<br>But this is so unfair.
<br>You know what's fair, Being fair to everything, to everyone, and most importantly to oneself.
<br>You need to stop thinking, stop dwelling on your negative voices and confusion.
<br><b>According to the National Science Foundation, an average person has about 12,000 to 60,000 thoughts per day. Of those, 80% are negative, and 95% are repetitive thoughts. If we repeat those negative thoughts,</b><br> we think negative way more than we think positive thoughts. All negative thoughts are not evil.

 </p>



 <div class="row" >
  <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
      <img alt="image" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/wavesweb-424c5.appspot.com/o/negativethoughts1.jpg?alt=media&token=a3f3d03b-f302-42ef-b0e7-ed4d1d754878" >
  </div>
  </div>


                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';" ><br><br><a href=" https://en.m.wikipedia.org/wiki/National_Science_Foundation
                        "> Source</a>

<br><br>I am not going to tell you to overcome these negative thoughts, because that's the essential thing for one to say. But you know, easier said than done.
So, let's jump straight into getting this negative voice out of your head.
The massive incentive behind the voice may be " Unfortunately, most of us are our own worst critics". Feeling burdened and guilty of feeling what we feel, criticizing oneself for the bad happenings.

<br><br>Here are some unexpected kinds to help you do the job, and mind it these tips are easy to be followed then to be said.

<br><br><b>1. Write down your negative voice</b>
<br>What you feel, pen down to a paper. Now, this is one of the primary steps. According to a study, pinning down what's inside you trying to empty your mind for once, help you feel better but also getting rid of the paper gives a sense of freedom from those thoughts. So, next time when you feel uneasy with the negative thoughts in mind - throw them away and woosh!!
Happy You again.

<br><br><b>2. Differentiate between what you feel and not necessary thoughts</b>
<br>People blunder over setting the difference between how they really think about stuff and what negative thoughts are built in their heads. How you feel is totally on your heart, it's the mind that gives rise to uncertainty, doubts, mistrust, and hence negative thoughts.
So, understand the difference.
Did you know that what someone else tells you (external dialogue) is only 1/10th as powerful as what you tell yourself (inner dialogue)?

<div class="row" >
 <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
     <img alt="image" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/wavesweb-424c5.appspot.com/o/negativethoughts2.png?alt=media&token=afef5ce1-0912-41ef-92d9-abb1a3e8fb40" >
 </div>
 </div>

                        </p>
                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">Source: <a href=" https://hbr.org/2013/03/the-ideal-praise-to-criticism
                        "> https://hbr.org/2013/03/the-ideal-praise-to-criticism </a>

<br><br><b>3. Talk to your favourite human</b>
<br>Expressing yourself to somebody, you can entirely believe in. Talk about the subject, talk about how you feel, how things are, how things should fall like, what you want.
Trust me; it's a great relief to have such a conversation but with the right being.

<br><br><b>4. Explore outside the turmoil of life</b>
<br>People will often advise you not to think negatively, or apply to distractions like reading, listening melodies, or to try to change the focus of your thoughts but the best part is to spend time outdoors.
Basically, going outdoors is not about physical activity but getting away from life confusions and conditions. Spend time in silence and if possible, connect yourself to the essence of nature, enjoy humanity.

<br><br><b>5. Smile only when you feel it</b>
<br>Smiling is impossible or the last thing to wonder about when a lot is going on. When somebody asks you what's wrong, do not fake smile at them. Even when you don't wish to say something, don't but do not suppress how you feel.
When you have expressed yourself without suppressing the thoughts, you will feel the difference eventually.
</p>


<div class="row" >
 <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
     <img alt="image" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/wavesweb-424c5.appspot.com/o/negativethoughts3.jpg?alt=media&token=630a2619-5423-4978-afdf-db733eca47c3" >
 </div>
 </div>


                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';"><br><br><b>6. Challenge your thoughts</b>
<br>The strategy of challenging your thoughts shifts you away from thinking emotionally, and moves you into thinking logically. This allows you to think, problem-solve easier, and view your world from a more realistic point of view.  The best part is your emotions will shift too. Negative thoughts occur very rapidly and often without our knowing. Take the time to notice your thoughts, and practice turning them to improve your health and well-being.
</p>

<div class="row" >
 <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
     <img alt="image" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/wavesweb-424c5.appspot.com/o/negativethoughts4.jpg?alt=media&token=09694c2c-a41b-40b3-8daa-866b549d2900" >
 </div>
 </div>


                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';"><br><br>To make things happen, you need to keep happening. Reframe yourself.
It is the time to shut this objection to oneself, a negative voice off.


<br><br><b>7 Waves
<br>Life Solutions | Connecting Happiness</b>
















         </div>













</div>




<hr>

</section>

<!-- MainSection End -->








    </div>




    </div>

</div>


<div class="container1" style="padding:2% 5% 5% 5%;">
    <div class="row" >




          <div class="col-lg-12 col-md-12 col-12" ><h1 style="text-align: center; font-size: 200%;padding-bottom: 2%; "><strong>Popular Blogs From us</strong></h1></div>



          <div class="col-lg-6 col-md-6 col-12" ><div class="mg-fluidi img-thumbnail" style="box-shadow: 0 0 20px 0 rgba(0, 0,0, 0.3);"><div class="row" style="padding: 5%;" >
            <div class="col-lg-4 col-md-4 col-12" ><h10 style=" text-align: center;"><b>Leadership</b>
            </h10></div>
            <div class="col-lg-4 col-md-4 col-12" ><h16 style="size: 5%;">07/09/2020</h120></div>
            <div class="col-lg-4 col-md-4 col-12" ><img alt="image" src="stylesheets/images/wavesSymbol.svg"   style="width: 65px;height: 100%;"></div></div>

                <img alt="image" src="https://miro.medium.com/fit/c/1400/420/1*1OSxFYvnpwzBXsaR_nR5pg.jpeg"  class="blogimg" >
                <img src="/stylesheets/images/logo.jpeg" style="width: 30px; height: 30px; border-radius: 100%;
                margin: 10px;"><h14 style="width: 50%;"> 3 min read</h14>
                <h3 style="padding: 10px;">7 unsaid rules of Friendship</h3>
                <p style="padding:0 10px 10px 10px;">You are afraid of waters... but friends will still make you jumpin.. </p>
                <div class="footer" style="text-align: center; float:left; "><a href="/7-unsaid-rules-of-Friendship">Read more</a></div>

                <br><br>
        </div> <br>


        </div>
        <div class="col-lg-6 col-md-6 col-12" ><div class="mg-fluidi img-thumbnail" style="box-shadow: 0 0 20px 0 rgba(0, 0,0, 0.3);"><div class="row" style="padding: 5%;" >
            <div class="col-lg-4 col-md-4 col-12" ><h10 style=" text-align: center;"><b>Leadership</b>
            </h10></div>
            <div class="col-lg-4 col-md-4 col-12" ><h16 style="size: 5%;">06/09/2020</h120></div>
            <div class="col-lg-4 col-md-4 col-12" ><img alt="image" src="stylesheets/images/wavesSymbol.svg"   style="width: 65px;height: 100%;"></div></div>

                <img alt="image" src="https://miro.medium.com/fit/c/1400/420/1*BkynGH35I1uTOqXWA94JHw.jpeg"   class="blogimg">
                <img src="/stylesheets/images/logo.jpeg" style="width: 30px; height: 30px; border-radius: 100%;
                margin: 10px;"><h14 style="width: 50%;"> 4 min read</h14>
                <h3 style="padding: 10px;">If success is fame, Hapiness is the pride</h3>

                <p style="padding:0 10px 10px 10px;">Maybe none. Earning a successful life is what everyone</p>
                <div class="footer" style="text-align: center; float:left; "><a href="/If-success-is-fame-Hapiness-is-the-pride">Read more</a></div>

                <br><br>
        </div> <br>
        </div>



    </div>
<br>
    <!-- <li class="button-item">
        <div class="footer text-center" ><a href="/blogging">Explore More</a></div>
          </li> -->
</div>


<div class="row" style=" width: 100%;padding-left: 5%;" >


    <div class="row" >


        <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%; "><h1 style="text-align: center;">Your App</h1>
            <br>
            <h5 style="text-align: center;">7waves app provide a best mobile experience so counselling will be as easier as playing songs</h5><br>
    </div>

    <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%;"><img alt="image" src="/stylesheets/images/VECTOR_IMAGE_ON_APP@-4.svg"    style="width: 100%;height: 100%;"></div>



</div>
</div>

<div class="row" style="background-image: url(/stylesheets/images/Mask_Group_28.svg); width: 100%;margin-left: 0%;padding: 4%;" >


    <div class="row">


        <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%; "><h1 style="text-align: center;">Let's Stay in Touch</h1>
            <br>
            <!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
#mc_embed_signup{ clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://7waves.us19.list-manage.com/subscribe/post?u=fa7016958f292ac20306dd09a&amp;id=31a48ae68f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
<div id="mc_embed_signup_scroll">
<label for="mce-EMAIL">Subscribe</label>
<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_fa7016958f292ac20306dd09a_31a48ae68f" tabindex="-1" value=""></div>
<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</div>
</form>
</div>

<!--End mc_embed_signup-->
         </div>

    <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%;"><img alt="image" src="/stylesheets/images/Group_1092.svg"    style="width: 100%;height: 100%;"></div>



</div>
</div>


    <script>

        // Wrap every letter in a span
      var textWrapper = document.querySelector('.ml1 .letters');
      textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

      anime.timeline({loop: true})
        .add({
          targets: '.ml1 .letter',
          scale: [0.3,1],
          opacity: [0,1],
          translateZ: 0,
          easing: "easeOutExpo",
          duration: 600,
          delay: (el, i) => 70 * (i+1)
        }).add({
          targets: '.ml1 .line',
          scaleX: [0,1],
          opacity: [0.5,1],
          easing: "easeOutExpo",
          duration: 700,
          offset: '-=875',
          delay: (el, i, l) => 80 * (l - i)
        }).add({
          targets: '.ml1',
          opacity: 0,
          duration: 1000,
          easing: "easeOutExpo",
          delay: 1000
        });


           </script>


<%- include("../partials/footer")  %>

