<!DOCTYPE html>
<html>
    <head>
      <title>Pre Webinar Content
    </title>
        
        <meta charset="utf-8">
        <head>
          <meta name="description" content="My friend, if Geeta and Babita can toss all obstacles with the right motivation and dedication, so can you. Do you wish to become as 'dhaakad' as the Phogat girls? Do you want to know how you can garner internal motivation to win the 'dangal' of your life? If yes, then don't worry. We've got your back. Tune into tomorrow's session to know the answers!"">
          <meta name="keywords" content="exam fear, overthinking, stress, anxious, feel confident, consistent with studies, revise, YouTube videos, peer support, express feelings, focus on input, personal satisfaction, unhealthy competition, mock tests, health, larger picture, self-worth, academic validation, skill sets, abilities">
          <meta name="author" content="7 WAVES">
        </head>

      <%- include("../partials/navbar")  %>



<!-- MainSection Srart -->
<section style="height: 100%;padding-bottom: 3%;">
    <div class="container1" style="padding-left: 10%;padding-right: 10%;">
        <!-- <h1 class="ml1">
            <span class="text-wrapper">
              <span class="line line1"></span>
              <span class="letters">7 Wave</span>
              <span class="line line2"></span>
            </span>
          </h1> -->
          <div class="row" style="padding:5% 0px 0% 0px;" >

            <div class="col-lg-12 col-md-12  col-12" ><h1 style=" font-size: 20px;color: #59a5c5;">Webinar Content</h1></div>
          <div class="col-lg-12 col-md-12  col-12" ><h1 style=" font-size: 300%; "><strong>Pre Webinar Content
        </strong></h1></div>






        </div>
        <hr>

        <div class="sharethis-inline-share-buttons"  style="float: left;"></div>
        <br>

        <br>


         <div class="col-lg-12 col-md-12 col-12" style="padding: 0 0 0 0;" >




           <div class="row" >
            <div class="col-lg-6 col-12" style="padding: 0 0 0 0;" >

            </div>
            <div class="col-lg-6 col-12" style="padding: 0 0 0 0;" ></div>
            <div class="col-lg-1 col-md-3 col-12" style="padding: 3% 0 0 3%;" >

                        <img alt="image" src="/stylesheets/images/logo.jpeg" style="width:70px;height: 70px; border-radius: 100%; "  alt="Sample avatar">
                      </div>

                            <div class="col-lg-11 col-md-9 col-12" style="padding: 3% 10% 3% 3%;" >

                               <h4><b>Ananya K</b></h4>
                               <h8>Content Team, 7 Waves Life Solutions</h8>
                               <br>
                               <br>
                               <h9 style="font-size: 13px;color: #757575!important;;">June 10, 2022</h9>&nbsp;&nbsp;&nbsp;&nbsp;<h12 style="font-size: 13px;color: #757575!important;;">10 min read</h12><br>
                               <!-- <h9 style="font-size: 13px;color: #757575!important;;">Opinions expressed by Entrepreneur contributors are their own.</h9><br> -->
                              
                              <p>
                                
                              </p>
      
                          

                        <H3 style=" font-style: underline">2nd Day- <u>Motivation Lies in the Heart of its Owner
                        </u>
                        </H3>
                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                          Be it sacrificing the joy of eating mouth-watering 'golgappas' or tempting 'achaars'; the Dangal girls did it all! This movie won many hearts across India and abroad. We love the movie and hoped that you do too. But, do you know what really stood out for us in the film? - the remarkable motivation shown by the characters. These characters were inspired by real-life individuals- Mahavir Singh Phogat and his two dedicated daughters, Geeta and Babita Phogat. 
                        </p>

                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                          The fear-inducing 'Hanikaarak Bapu!' and his unparalleled motivation to mould his daughters into Olympic Gold medalists left us all in awe. Geeta and Babita, too, did not fall short of dedicating their heart and soul towards making their father and their country immensely proud. What really amazes us is how beautifully the movie captured each character's burning desire and internal motivation to make it big in life. 

                        </p>
                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                          Success comes at a price. And that price, my friend, is the cost of sacrificing your luxuries, comforts and momentary pleasures. It is only when you strive to motivate yourself to work and hustle in the present that you can reap the benefits of your labour in the future. The 'Dhaakad' girls did not rely on external sources of motivation. The only source of motivation in their life was their igniting desire to prove that they could toss and overthrow bulky people and their heavy judgements. 
                        </p>
                            
                            <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                              My friend, if Geeta and Babita can toss all obstacles with the right motivation and dedication, so can you. Do you wish to become as 'dhaakad' as the Phogat girls? Do you want to know how you can garner internal motivation to win the 'dangal' of your life? If yes, then don't worry. We've got your back. Tune into tomorrow's session to know the answers!"
                            </p>

                          
                            <H3 style=" font-style: underline">3rd Day- <u>Passionate Personas Create Charismatic Careers
                            </u>
                            </H3>
                            <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                              Milkha Singh- 'India's Flying Sikh' flew above all his obstacles and hurdles. He started running barefoot, scarred with bruises and covered with blood. He literally devoted his blood, sweat and tears to following his passion. "Main bhagna chahta hu", said Milkha. He did exactly what he said. He ran through his pain and struggles to write his own destiny. 
                            </p>
                            <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                              Milkha Singh's tumultuous journey embodies the fervent zeal and flaring passion that lead him to pave the way for creating his charismatic career. Bhaag Milkha Bhaag celebrates Milkha Singh's exemplary passion and devotion towards creating his ideal life and career. He crossed the threshold of mediocrity and paced towards his goal, and did not look back even once! Despite being torn apart from his family and being bullied by his fellow athletes, he turned all odds to his favour and did not let anything or anyone get in his way. 
                            </p>
                            <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                              What if Milkha had not followed his passion? What if he had not listened to his heart that desired to run and fly? Would we still know him? Probably not. He became the 'Flying Sikh' he was destined to be solely because he wrote his own destiny with hard work and passion. He earned the reward for every drop of blood, sweat and tear he shed by winning several accolades and awards throughout his career. In other words, the man's flaring passion paid off!
                            </p>
                            <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                              Milkha Singh's journey has and will continue to inspire people for decades to come. We remember him and celebrate his achievements with valour and pride even after his demise. Have you wondered why certain people's memories and achievements are cherished in people's hearts for an eternity? It is because they made their mark on the world. They left an imprint of their inspiring story and journey even after physically leaving this world. 
                            </p>
                            <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                              MWe believe that every single person has the potential to run through their hurdles and make their mark in life. You need passion and devotion to do so, and we at 7 Waves will teach you exactly how to do that in tomorrow's session! So, join us in the journey of igniting your passion and acing the race of your life. 
                            </p>
                      
                            
  <br>
                            <H3 style=" font-style: underline">4th Day- <u>Conducive Conversations with Parents
                            </u>
                            </H3>
                            <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                              Classes, school work, homework, tests, exams and projects can get a little too overwhelming sometimes, right? You feel like it's all piling on you like a mountain crushing you down with each passing second. Have you ever felt like people around you did not understand you? Academic excellence is predominantly the only factor that most educational institutions focus on. However, we all have our own sparkling potential hidden in us, waiting to be discovered.
  </p>
  <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
    There was once a boy who felt the same. He underwent the same feelings. He wasn't understood by his school staff and authorities. He was one of those kids who did not perform well at school and was misunderstood by others. Such kids are seen to be lacking potential and talent, right? Only the ones who answer the most in class and score the highest grades are considered worthy and capable of having a bright future per society's standards. 
</p>
<p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
  But that's just society imposing its conventional standards on juvenile minds. Once, this young boy brought a letter from school and handed it over to his mother, saying, "My teacher gave me this paper to me and told me to only give it to my mother". His mother took the letter in her hands and fell short of words. She took a deep breath as tears brimmed in her eyes. She gave her son a broad smile that concealed sadness behind it. She read the letter to her son, "Your son is a genius. The school is too small for him and doesn't have enough good teachers for training him. Please teach him yourself." 
</p>
<p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
  The boy was delighted and more than happy to leave school. He had never been fond of the institution anyways. Fast forward years later, his mother passed away. One fine day the grown man who was once a young boy was looking through his old belongings. While rummaging through his old possessions, he found a folded piece of paper in the corner of a drawer. He unfolded the sheet and read it out. 
</p>
<p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
  The paper read, "Your son is addled (mentally ill). We won't let him come to school anymore." His heart shattered upon reading this. That man was none other than 'The Thomas Alva Edison'- one of his century's greatest inventors and geniuses. He took out his diary and wrote, "Thomas Alava Edison was an addled child that, by a hero mother, became the genius of the century". 
</p>
<p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
  Do you think he would have become a global genius had his mother told him the truth? What would have happened to the young Edison had his mother discouraged him? We would not have known him today. We all have an inner spark and potential in us. Regardless of what anyone says, our parents always stand with us as pillars of our strength. With your parents' help and guidance, you can solve the greatest of problems. On that note, we invite you to bring your parents to tomorrow's session so that we can have a conducive conversation together to help you tread on the path of your success. 
</p>
                                <H3 style=" font-style: underline">5th Day- <u>Time Doesn't Wait-Wait, It Rolls
                                </u>
                                </H3>
                                <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                  "How many assignments do we have to complete for this week's break?" asked Shantanu while lying on his bed. 
                                </p>
                                <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                  "Eight", answered Tina after heaving a sigh from the other side of the call. 
                                </p>
                              
                                <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                  "We have an entire week. That's a lot of time. I'll just watch Netflix for now", said Shantanu without a tinge of worry. 
                                </p>
                              
                                <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                  "Shantanu, eight assignments in a week is a lot of work. I think we need to start working immediately to complete it all on time."
                                </p>
                              
                                <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                  "No, I can manage easily. I have enough time at my hands."
                                </p>
                              
                                <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                  "Fine, suit yourself!" said Tina with a hint of annoyance as she hung up the call. 
                                </p>
                              
                                <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                  "She is getting anxious for no reason at all. We have a lot of time. I can easily finish all of it later", Shantanu said to himself. And with that, he started binge-watching his favourite series on Netflix. 
                                </p>
                              
                                <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                  Four days passed by, and Shantanu did not budge. He lay in his bed all day and enjoyed the momentary happiness of playing video games and mindlessly scrolling through social media. Each day he repeated the same thing to himself, "I'll start tomorrow for sure." Quite obviously, that "tomorrow" never arrived. 
                                </p>
                              
                                <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                  Moreover, he decided to go camping with his friends over the weekend. He returned from the break and only had two days left to complete all his assignments. He felt a little bout of anxiety kick in, but he dismissed it, thinking, "I have eight assignments and two days. I'll do four of them today and four of them tomorrow. It will be fine." 
                                </p>
                              
                                <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                  With that, he started working on his assignments, only to realise later that they took a lot more time than he expected. The day was over, and he could only complete two assignments even after rushing through them. Now, the real panic kicked in. He started getting anxious and deeply regretted not starting earlier. He called Tina in a frenzy to inquire how much work she had completed. 
                                </p>
                                <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                  "Hey Tina," said Shantanu 
                                </p>
                                <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                  "Hi! You sound nervous. Is everything fine?" inquired Tina 
                                </p>
                                <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                  "Not really, I have six assignments pending, and I have tomorrow's day to complete them all. I guess I will have to pull an all-nighter today and tomorrow."
                                </p>
                                <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                  "Oh, that sounds stressful. See, this is why I had asked you to start earlier." 
                                </p>
                                <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                  "I realise it now. By the way, how much are you done with?"
                                </p>
                                <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                  "I am done with all my assignments. I am just arranging them in a folder."
                                </p>
                                <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                  "Oh, God. This is giving me all the more anxiety. Why does this happen to me every single time?"
                                </p>
                                <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                  "Shantanu, time waits for none. This is what happens when you don't manage your time well and take the wrong decisions." 
                                </p>
                                <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                  Shantanu realised that he had invited his own doom, and now there was no use crying over spilt milk. Have you found yourself strangled in a similar situation? Do you want to know how to prevent yourself from committing the same mistake as Shantanu? Join us for tomorrow's session, and we will tell you precisely what you can do to make the right decisions at the right time. 


                                </p>
                 
                                <H3 style=" font-style: underline">6th Day- <u>Sprouting Speculations
                                </u>
                                
      <br>
                                </H3>
                                <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                  From crying and saying the infamous dialogue, "Mera life itna kharaab ho gaya!" to choosing a life of freedom and blooming individuality, Rani made quite a transition in "Queen". The movie not only feels like a heartwarming cup of coffee on a misty, rainy day but also gives out an important message to its audience. </p>
                                
                                </p>
                                <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                  Her fiancé left her in shambles one day before her wedding. Personal trauma, family problems and societal shame consumed her entirely. As per conventional thought, her life was over, right? Her to-be husband had left her, and society was asking who would marry her now? But guess what? Rani took a solo trip amidst this chaos. Sounds amusing, right? </p>
                                
                                </p>
                                <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                  A girl who carried her brother everywhere she went in her own locality set her mind to travel the world all alone. It was time for a change, a much-needed one. Her trip abroad wasn't a smooth ride either. She struggled with adapting to the language, the culture, the food habits, the places and the people. She made trustworthy friends in places she had least expected. </p>
                                
                                </p>
                                <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                  The trip, which constituted the majority of the film, was the crucial point of transition in her life. Her identity was no longer restricted to being someone's fiancé or daughter. She became the 'Queen' in her life and won people's hearts around her. The trip provided her with the time, environment and exposure to introspect and reflect on her life. Her experiences and encounters throughout the journey led her to speculate and rethink the kind of life she wanted to lead. </p>
                                
                                </p>
                                <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                  Despite being in love with her fiancé, she understood that his was not justifiable. She chose not to be subdued, find her own freedom and live her life on her own terms. She blossomed, and so did her individuality. Throughout the trip, she did everything she had never been permitted to do or experienced before.  </p>
                                
                                </p>
                                <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                  We still remember the movie's last scene vividly, where she walked out of her fiancé's house with the brightest smile. She had found her purpose, her freedom and her own self. The crisis that she felt had destroyed her life actually became a seed that sprouted into opening a new doorway in her life. She speculated on her situation and life and gave herself a second chance.  </p>
                                
                                </p>
                                <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                  She found a solution out of the problem that puzzled and devastated her initially. Often our problems contain a hint of the solution in them. All we need to do is give time, introspect and speculate to find the answers. If Rani's journey inspired you and you wish to learn how you can discover sprouting solutions to troublesome problems, join our session tomorrow. See you in the session! </p>
                                
                                </p>
                                
                               
                                    <H3 style=" font-style: underline">7th Day- <u>Ninja Hattori Who? We Support the Ninja in You!
                                </u>
                                </H3>
                                <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                  When everyone was busy frantically worrying and panicking about exams, placements and other problems, Rancho calmly kept chanting "Aal eez well!" and found the most innovative solutions to everyone's problems. He was the most creative one when it came to solving problems among all the "3 Idiots". 
  </p>
  <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
    Chatur spent his time cramming textbook definitions and solutions, but Rancho understood the core concepts. He didn't have all definitions memorised by heart, but he surely knew how to solve complicated problems (both academic and problems in life) using his creativity and novel thinking skills. This is what made him different from the rest of the crowd. 
</p>

<p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
  Rather than obsessively worrying about problems, he focused on the methods through which he could work out solutions. He did the unthinkable, from creating remote control drones to using vacuum cleaners to help in a woman's delivery process. Rancho used unique and novel techniques to solve problems and find solutions amidst troublesome situations. His utopian school in Ladakh, shown at the film's end, exemplifies his innovative and out-of-the-box thinking. 
</p>

<p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
  With his moral support and motivation, his friends Raju and Farhan found jobs and pursued their dreams. They, too, became successful in their respective fields of interest. When his friends were demotivated by everyone, including their college staff and principal, he gave them a ray of hope and made them believe in their true potential. 
</p>

<p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
  Real skill and creativity lie in finding answers to all problems, be it academic or dicey situations in life. We all have a lot to learn from Rancho, his optimistic spirit and his problem-solving skills. In life, we are confronted with innumerable problems that puzzle and trouble us. However, there is always a way out. What if we tell you that we can help you learn interesting problem-solving techniques to help you handle your problems like a pro ninja? What are you waiting for? Hop in our session tomorrow, and we will give you a smooth ride through all the amazing problem-solving techniques we have in store for you. 
</p>





                        <div style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';" >
<b>7 Waves
<br>Life Solutions| Connecting Happiness</b>







         </div>













</div>




<hr>

</section>

<!-- MainSection End -->








    </div>




    </div>

</div>


<div class="container1" style="padding:2% 5% 5% 5%;">
    <div class="row" >




          <div class="col-lg-12 col-md-12 col-12" ><h1 style="text-align: center; font-size: 200%;padding-bottom: 2%; "><strong>Popular Blogs From us</strong></h1></div>



          <div class="col-lg-6 col-md-6 col-12" ><div class="mg-fluidi img-thumbnail" style="box-shadow: 0 0 20px 0 rgba(0, 0,0, 0.3);"><div class="row" style="padding: 5%;" >
            <div class="col-lg-4 col-md-4 col-12" ><h10 style=" text-align: center;"><b>Leadership</b>
            </h10></div>
            <div class="col-lg-4 col-md-4 col-12" ><h16 style="size: 5%;">07/09/2020</h120></div>
            <div class="col-lg-4 col-md-4 col-12" ><img alt="image" src="stylesheets/images/wavesSymbol.svg"   style="width: 65px;height: 100%;"></div></div>

                <img alt="image" src="https://miro.medium.com/fit/c/1400/420/1*1OSxFYvnpwzBXsaR_nR5pg.jpeg"  class="blogimg" >
                <img src="/stylesheets/images/logo.jpeg" style="width: 30px; height: 30px; border-radius: 100%;
                margin: 10px;"><h14 style="width: 50%;"> 3 min read</h14>
                <h3 style="padding: 10px;">7 unsaid rules of Friendship</h3>
                <p style="padding:0 10px 10px 10px;">You are afraid of waters... but friends will still make you jumpin.. </p>
                <div class="footer" style="text-align: center; float:left; "><a href="/7-unsaid-rules-of-Friendship">Read more</a></div>

                <br><br>
        </div> <br>


        </div>
        <div class="col-lg-6 col-md-6 col-12" ><div class="mg-fluidi img-thumbnail" style="box-shadow: 0 0 20px 0 rgba(0, 0,0, 0.3);"><div class="row" style="padding: 5%;" >
            <div class="col-lg-4 col-md-4 col-12" ><h10 style=" text-align: center;"><b>Leadership</b>
            </h10></div>
            <div class="col-lg-4 col-md-4 col-12" ><h16 style="size: 5%;">06/09/2020</h120></div>
            <div class="col-lg-4 col-md-4 col-12" ><img alt="image" src="stylesheets/images/wavesSymbol.svg"   style="width: 65px;height: 100%;"></div></div>

                <img alt="image" src="https://miro.medium.com/fit/c/1400/420/1*BkynGH35I1uTOqXWA94JHw.jpeg"   class="blogimg">
                <img src="/stylesheets/images/logo.jpeg" style="width: 30px; height: 30px; border-radius: 100%;
                margin: 10px;"><h14 style="width: 50%;"> 4 min read</h14>
                <h3 style="padding: 10px;">If success is fame, Hapiness is the pride</h3>

                <p style="padding:0 10px 10px 10px;">Maybe none. Earning a successful life is what everyone</p>
                <div class="footer" style="text-align: center; float:left; "><a href="/If-success-is-fame-Hapiness-is-the-pride">Read more</a></div>

                <br><br>
        </div> <br>
        </div>



    </div>
<br>
    <!-- <li class="button-item">
        <div class="footer text-center" ><a href="/blogging">Explore More</a></div>
          </li> -->
</div>


<div class="row" style=" width: 100%;padding-left: 5%;" >


    <div class="row" >


        <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%; "><h1 style="text-align: center;">Your App</h1>
            <br>
            <h5 style="text-align: center;">7waves app provide a best mobile experience so counselling will be as easier as playing songs</h5><br>
            <div class="footer" style=" text-align: center; padding-bottom: 5%;padding-top: 5% ; "><a href="https://play.google.com/store/apps/details?id=in.sevenwaves.sevenwavesusers">Download Now</a></div>
        
        </div>

    <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%;"><img alt="image" src="/stylesheets/images/VECTOR_IMAGE_ON_APP@-4.svg"    style="width: 100%;height: 100%;"></div>



</div>
</div>

<div class="row" style="background-image: url(/stylesheets/images/Mask_Group_28.svg); width: 100%;margin-left: 0%;padding: 4%;" >


    <div class="row">


        <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%; "><h1 style="text-align: center;">Let's Stay in Touch</h1>
            <br>
            <!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
#mc_embed_signup{ clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://7waves.us19.list-manage.com/subscribe/post?u=fa7016958f292ac20306dd09a&amp;id=31a48ae68f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
<div id="mc_embed_signup_scroll">
<label for="mce-EMAIL">Subscribe</label>
<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_fa7016958f292ac20306dd09a_31a48ae68f" tabindex="-1" value=""></div>
<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</div>
</form>
</div>

<!--End mc_embed_signup-->
         </div>

    <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%;"><img alt="image" src="/stylesheets/images/Group_1092.svg"    style="width: 100%;height: 100%;"></div>



</div>
</div>


    <script>

        // Wrap every letter in a span
      var textWrapper = document.querySelector('.ml1 .letters');
      textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

      anime.timeline({loop: true})
        .add({
          targets: '.ml1 .letter',
          scale: [0.3,1],
          opacity: [0,1],
          translateZ: 0,
          easing: "easeOutExpo",
          duration: 600,
          delay: (el, i) => 70 * (i+1)
        }).add({
          targets: '.ml1 .line',
          scaleX: [0,1],
          opacity: [0.5,1],
          easing: "easeOutExpo",
          duration: 700,
          offset: '-=875',
          delay: (el, i, l) => 80 * (l - i)
        }).add({
          targets: '.ml1',
          opacity: 0,
          duration: 1000,
          easing: "easeOutExpo",
          delay: 1000
        });


           </script>

<%- include("../partials/footer")  %>

