<!DOCTYPE html>
<html>
    <head>
      <title>You are the Best Personality i ever met</title>

        <meta charset="utf-8">
        <head>
          <meta name="description" content="Do not fit into somebody you were born to stand out.You are the leading light.">
          <meta name="keywords" content="Character, Temperament, Nature, Individuality, Figure, leading light, personalities, selfhood, personal qualities, frame of mind">
          <meta name="author" content="7 WAVES">
        </head>

      <%- include("../partials/navbar")  %>

<!-- MainSection Srart -->
<section style="height: 100%;padding-bottom: 3%;">
    <div class="container1" style="padding-left: 10%;padding-right: 10%;">
        <!-- <h1 class="ml1">
            <span class="text-wrapper">
              <span class="line line1"></span>
              <span class="letters">7 Wave</span>
              <span class="line line2"></span>
            </span>
          </h1> -->
          <div class="row" style="padding:5% 0px 0% 0px;" >

            <div class="col-lg-12 col-md-12  col-12" ><h1 style=" font-size: 20px;color: #2CAAE1;">Introspection</h1></div>
          <div class="col-lg-12 col-md-12  col-12" ><h1 style=" font-size: 300%; "><strong>THE BEST PERSONALITY I EVER MET- YOU</strong></h1></div>






        </div>
        <hr>

        <div class="sharethis-inline-share-buttons"  style="float: left;"></div>
        <br>

        <br>


         <div class="col-lg-12 col-md-12 col-12" style="padding: 0 0 0 0;" >




           <div class="row" >
            <div class="col-lg-6 col-12" style="padding: 0 0 0 0;" >
            </div>
            <div class="col-lg-6 col-12" style="padding: 0 0 0 0;" ></div>
            <div class="col-lg-1 col-md-3 col-12" style="padding: 3% 0 0 3%;" >

                        <img alt="image" src="/stylesheets/images/logo.jpeg" style="width:70px;height: 70px; border-radius: 100%;"  alt="Sample avatar">
                      </div>

                            <div class="col-lg-11 col-md-9 col-12" style="padding: 3% 10% 3% 3%;" >

                               <h4><b>7 Waves</b></h4>
                               <h8>Life Solution Company</h8>
                               <br>
                               <br>
                               <h9 style="font-size: 13px;color: #757575!important;;">September 26, 2020</h9>&nbsp;&nbsp;&nbsp;&nbsp;<h12 style="font-size: 13px;color: #757575!important;;">4 min read</h12><br>
                               <!-- <h9 style="font-size: 13px;color: #757575!important;;">Opinions expressed by Entrepreneur contributors are their own.</h9><br> -->
                               <br>
                               <p style="font-size: 19px; font-style: italic; color: black;"> Character, Temperament, Nature, Individuality, Figure, leading light, personalities, selfhood, personal qualities, frame of mind </p>



                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">Good people in the world exist. Despite the chaos of life, <b>83% of the population still believes that people are fundamentally good (84% for women, 82% for men)</b></p>

                        <div class="row" >
                         <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
                             <img alt="image" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/wavesweb-424c5.appspot.com/o/bestpersonality1.jpg?alt=media&token=80f9655a-1c07-4a0a-9b19-2eab6f04f780" >
                         </div>

                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';" >Let's find out who are the best ones out of such a big proportion.</p>
                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';"> <b> 1. Earning people!</b>
In the average life of a human, we meet almost 80,000 different people. Out of these ones is capable of recollecting the faces of 1000 people in their frame of mind. The figure reduces to 15% when it comes to remembering the conversations or some memories to barely 150 people. Sudden decline is seen in the number of individualities,<b>who are true to us in all respects to simply 1 or 2. (family always included)</b>
</p>

 <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
     <img alt="image" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/wavesweb-424c5.appspot.com/o/bestpersonality2.jpg?alt=media&token=92a0cc7a-080a-4f89-8dda-e977876c8902" >
 </div>






                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';"> <br> <b>2. Who do you find best?</b>

 <br><br>So, we see that such varied figures in life surround us, some who know us, others whom we know. Even though there are only a few people, we genuinely earn in our lifetime, the ones who become the leading light of our lives by staying profound, real to and for each other.
<br> <br>Yet ever found, who among these is the best personality you infer to, who earns the most excellent character? A personality that is complete in their own, fully comprehensive, whole, excellent, somebody who stands up to your expectations, with the same nature as yours, same temperament as yours matching and true to you in all aspects.

<br><br>If you do not have the answer, then clearly there's something you are missing on. Did you include your selfhood in!!
The answer will seem pretty reasonable then.
It's the three-letter word 'YOU'.
</p>
                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';"> <b>3. Are you complete? Or you need to fit in?</b>
<br><br>Indeed, we come across people, we think are better than us; whom we admire and also wish to trace their looks or at least try to look comparable. We spend our vitality and all our enthusiasm trying to fit in others' character.
<br><br>But one cannot deny the fact of being complete in oneself or ignore the best personal qualities that they flourish.  Accept it; You are incomparable and complete in yourself.
<br><br>"Do not fit into somebody; you were born to stand out". You are the leading light.
<br><br>You need to be accepted entirely, just the way you are. Do not wait for something else or somebody to complete you.
</p>

                            <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';"> <br><b>4. Rejection is a good thing!</b>
<br><br>While one faces rejection or failure, it's obvious to feel unsatisfactory. But what if there's no choice to feel unsatisfied about anything when it is legal in every way to think so. Give everything a go.
<br><br><b>"Fear kills more dreams than failure ever did".</b>
<br><br>Do not mistake your failures for replacing your character to somebody else.  Let people fall in love with the beauty of your heart, just as the way you are.
<br><br>Don't let it change for their interests.
</p>

 <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
     <img alt="image" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/wavesweb-424c5.appspot.com/o/bestpersonality3.jpg?alt=media&token=c802029f-02e5-4127-aa1a-b7ba0bca9ef2" >
 </div>




                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,'; "> <br><b>5. Have the guts to trust your gut?</b>
<br><br>Be your whole self; it's your whole self that you can trust. This day, this week, this life—see what happens when you bet on yourself, when you back your own play. See what happens when you let yourself fall backward into your own arms, trusting that they will catch you
<br><br>Decide today that you will ground yourself in faith, not fear. Then ask yourself,<b>what would I do today if I trust that whatever happens, I can handle it?</b> 
<br><br>Not only will it lighten your spirit, but it will liberate you to do more of what strengthens you and elevates others
 </p>

  <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
      <img alt="image" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/wavesweb-424c5.appspot.com/o/bestpersonality4.jpg?alt=media&token=a08c2d50-02e3-41ec-9778-c793ed2416b3" >
  </div>


                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';"><br><b>6. Positive Vibes Only!</b>
<br><br>While moving up and above in life, you meet several people at initial stages being contrary and telling you to bring changes in your nature, do not go this way, it can't be achieved or is challenging to attain. Please keep away from such people, their thoughts. Just turn a blind eye to them and keep going. Nobody else can decide what is possible for you to do. You have the right to do so. Keep getting on DDA (Dream, Describe, Achieve).
<br><b>Keep your vision clear, and let nothing stop you from being YOU.
<br>"Be You; The world will adjust."</b>
</p>

                        <p  style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,'; "><b>7. Reach out to us!</b>
<br><br>In any case, you are unable to build confidence in yourself; then there's nothing to worry about, 7 Waves is a platform where you can get all your problems unravelled.
<br><br>7 Waves is there for you. If you face any such difficulty, reach out instantly.
<br><br>7 Waves is a text away.
<br><br>Invest in the right direction, Invest in YOU.
<br><br><b>7 Waves
<br>Life Solutions| Connecting Happiness</b>
</p>
















         </div>













</div>




<hr>

</section>

<!-- MainSection End -->








    </div>




    </div>

</div>


<div class="container1" style="padding:2% 5% 5% 5%;">
    <div class="row" >




          <div class="col-lg-12 col-md-12 col-12" ><h1 style="text-align: center; font-size: 200%;padding-bottom: 2%; "><strong>Popular Blogs From us</strong></h1></div>



          <div class="col-lg-6 col-md-6 col-12" ><div class="mg-fluidi img-thumbnail" style="box-shadow: 0 0 20px 0 rgba(0, 0,0, 0.3);"><div class="row" style="padding: 5%;" >
            <div class="col-lg-4 col-md-4 col-12" ><h10 style=" text-align: center;"><b>Leadership</b>
            </h10></div>
            <div class="col-lg-4 col-md-4 col-12" ><h16 style="size: 5%;">07/09/2020</h120></div>
            <div class="col-lg-4 col-md-4 col-12" ><img alt="image" src="stylesheets/images/wavesSymbol.svg"   style="width: 65px;height: 100%;"></div></div>

                <img alt="image" src="https://miro.medium.com/fit/c/1400/420/1*1OSxFYvnpwzBXsaR_nR5pg.jpeg"  class="blogimg" >
                <img src="/stylesheets/images/logo.jpeg" style="width: 30px; height: 30px; border-radius: 100%;
                margin: 10px;"><h14 style="width: 50%;"> 3 min read</h14>
                <h3 style="padding: 10px;">7 unsaid rules of Friendship</h3>
                <p style="padding:0 10px 10px 10px;">You are afraid of waters... but friends will still make you jumpin.. </p>
                <div class="footer" style="text-align: center; float:left; "><a href="/7-unsaid-rules-of-Friendship">Read more</a></div>

                <br><br>
        </div> <br>


        </div>
        <div class="col-lg-6 col-md-6 col-12" ><div class="mg-fluidi img-thumbnail" style="box-shadow: 0 0 20px 0 rgba(0, 0,0, 0.3);"><div class="row" style="padding: 5%;" >
            <div class="col-lg-4 col-md-4 col-12" ><h10 style=" text-align: center;"><b>Leadership</b>
            </h10></div>
            <div class="col-lg-4 col-md-4 col-12" ><h16 style="size: 5%;">06/09/2020</h120></div>
            <div class="col-lg-4 col-md-4 col-12" ><img alt="image" src="stylesheets/images/wavesSymbol.svg"   style="width: 65px;height: 100%;"></div></div>

                <img alt="image" src="https://miro.medium.com/fit/c/1400/420/1*BkynGH35I1uTOqXWA94JHw.jpeg"   class="blogimg">
                <img src="/stylesheets/images/logo.jpeg" style="width: 30px; height: 30px; border-radius: 100%;
                margin: 10px;"><h14 style="width: 50%;"> 4 min read</h14>
                <h3 style="padding: 10px;">If success is fame, Hapiness is the pride</h3>

                <p style="padding:0 10px 10px 10px;">Maybe none. Earning a successful life is what everyone</p>
                <div class="footer" style="text-align: center; float:left; "><a href="/If-success-is-fame-Hapiness-is-the-pride">Read more</a></div>

                <br><br>
        </div> <br>
        </div>



    </div>
<br>
    <!-- <li class="button-item">
        <div class="footer text-center" ><a href="/blogging">Explore More</a></div>
          </li> -->
</div>


<div class="row" style=" width: 100%;padding-left: 5%;" >


    <div class="row" >


        <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%; "><h1 style="text-align: center;">Your App</h1>
            <br>
            <h5 style="text-align: center;">7waves app provide a best mobile experience so counselling will be as easier as playing songs</h5><br>
    </div>

    <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%;"><img alt="image" src="/stylesheets/images/VECTOR_IMAGE_ON_APP@-4.svg"    style="width: 100%;height: 100%;"></div>



</div>
</div>

<div class="row" style="background-image: url(/stylesheets/images/Mask_Group_28.svg); width: 100%;margin-left: 0%;padding: 4%;" >


    <div class="row">


        <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%; "><h1 style="text-align: center;">Let's Stay in Touch</h1>
            <br>
            <!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
#mc_embed_signup{ clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://7waves.us19.list-manage.com/subscribe/post?u=fa7016958f292ac20306dd09a&amp;id=31a48ae68f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
<div id="mc_embed_signup_scroll">
<label for="mce-EMAIL">Subscribe</label>
<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_fa7016958f292ac20306dd09a_31a48ae68f" tabindex="-1" value=""></div>
<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</div>
</form>
</div>

<!--End mc_embed_signup-->
         </div>

    <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%;"><img alt="image" src="/stylesheets/images/Group_1092.svg"    style="width: 100%;height: 100%;"></div>



</div>
</div>


    <script>

        // Wrap every letter in a span
      var textWrapper = document.querySelector('.ml1 .letters');
      textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

      anime.timeline({loop: true})
        .add({
          targets: '.ml1 .letter',
          scale: [0.3,1],
          opacity: [0,1],
          translateZ: 0,
          easing: "easeOutExpo",
          duration: 600,
          delay: (el, i) => 70 * (i+1)
        }).add({
          targets: '.ml1 .line',
          scaleX: [0,1],
          opacity: [0.5,1],
          easing: "easeOutExpo",
          duration: 700,
          offset: '-=875',
          delay: (el, i, l) => 80 * (l - i)
        }).add({
          targets: '.ml1',
          opacity: 0,
          duration: 1000,
          easing: "easeOutExpo",
          delay: 1000
        });


           </script>


<%- include("../partials/footer")  %>

