<!DOCTYPE html>
<html>
    <head>
      <title>The Importance of Destigmatising Menstruation
    </title>
        
        <meta charset="utf-8">
        <head>
          <meta name="description" content="From whispering, talking in code words, hiding blood stains, covering sanitary napkins in newspapers, to silently tolerating cramps- menstruating women do it all. Society and its patriarchal norms have conditioned people to treat menstruation as a taboo and menstruating women as “impure” beings since times immemorial. It’s high time that we destigmatise the concept of menstruation and learn to see it as a natural and biological process that has no associations with impurity or feeling ashamed.">
          <meta name="keywords" content="destigmatising, sanitary napkins, menstruation, menstruating women, discrimination, normalising, ostracisation, taboo, society, patriarchal norms, impure, biological process, educate, underprivileged women, discussions, menstrual hygiene products, seminars, campaigns, myths, disposal facilities">
          <meta name="author" content="7 WAVES">
        </head>

      <%- include("../partials/navbar")  %>

<!-- MainSection Srart -->
<section style="height: 100%;padding-bottom: 3%;">
    <div class="container1" style="padding-left: 10%;padding-right: 10%;">
        <!-- <h1 class="ml1">
            <span class="text-wrapper">
              <span class="line line1"></span>
              <span class="letters">7 Wave</span>
              <span class="line line2"></span>
            </span>
          </h1> -->
          <div class="row" style="padding:5% 0px 0% 0px;" >

            <div class="col-lg-12 col-md-12  col-12" ><h1 style=" font-size: 20px;color: #59a5c5;">Personal</h1></div>
          <div class="col-lg-12 col-md-12  col-12" ><h1 style=" font-size: 300%; "><strong>The Importance of Destigmatising Menstruation
        </strong></h1></div>






        </div>
        <hr>

        <div class="sharethis-inline-share-buttons"  style="float: left;"></div>
        <br>

        <br>


         <div class="col-lg-12 col-md-12 col-12" style="padding: 0 0 0 0;" >




           <div class="row" >
            <div class="col-lg-6 col-12" style="padding: 0 0 0 0;" >

            </div>
            <div class="col-lg-6 col-12" style="padding: 0 0 0 0;" ></div>
            <div class="col-lg-1 col-md-3 col-12" style="padding: 3% 0 0 3%;" >

                        <img alt="image" src="/stylesheets/images/logo.jpeg" style="width:70px;height: 70px; border-radius: 100%; "  alt="Sample avatar">
                      </div>

                            <div class="col-lg-11 col-md-9 col-12" style="padding: 3% 10% 3% 3%;" >

                               <h4><b>Ananya K</b></h4>
                               <h8>Content Team, 7 Waves Life Solutions</h8>
                               <br>
                               <br>
                               <h9 style="font-size: 13px;color: #757575!important;;">July 1, 2022</h9>&nbsp;&nbsp;&nbsp;&nbsp;<h12 style="font-size: 13px;color: #757575!important;;">10 min read</h12><br>
                               <!-- <h9 style="font-size: 13px;color: #757575!important;;">Opinions expressed by Entrepreneur contributors are their own.</h9><br> -->
                              
                              <p>
                                <p style="font-size: 19px; color: black; text-align: center;">
                                    <i>“All females deserve menstrual well-being, and that includes knowledge and reassurance about her body from the earliest possible age.”<br>
                                        ~Nikki Tajiri 
     
                                     </i>
                                   </p>
                              </p>
                              <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                From whispering, talking in code words, hiding blood stains, covering sanitary napkins in newspapers, to silently tolerating cramps- menstruating women do it all. Society and its patriarchal norms have conditioned people to treat menstruation as a taboo and menstruating women as “impure” beings since times immemorial. It’s high time that we destigmatise the concept of menstruation and learn to see it as a natural and biological process that has no associations with impurity or feeling ashamed. A few aspects that you can implement to destigmatise menstruation and prevent discrimination against menstruating women are:

                                </p>
                                <p>
                                <ul style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';"><li>●	Gain a Realistic Perspective on Self-Love </li>
                                  <li>● Initiate Discussions on Menstruation in Class and School Environments</li>
                                  <li>●	Include Males in the Discussion</li>
                                  <li>●	Address the Taboos </li>
                                  <li>●	Increase Access to Menstrual Hygiene Products  </li>
                                  <li>●	Destigmatise the Notion of “Impurity” </li>
                                  <li>●	Enable Menstruating Women to Enter Kitchens and Religious Spaces </li>
                                  <li>●	Educate Your Friends and Siblings </li>
                                  <li>●	Don’t Feel Ashamed or Shy  </li>
                                  <li>●	Organise Seminars or Campaigns on Menstruation</li>
                                  <li>●	Reach Out to Underprivileged Women Near You</li>
                                   
                                  	</ul> 
                                  
                              </p>
                              <div class="row" >
                                <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
                                    <img alt="Menstrual Hygiene" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/waves-36bb5.appspot.com/o/The%20Importance%20of%20Destigmatising%20Menstruation%2F4287508.jpg?alt=media&token=78c7e08b-049d-4aa0-8443-1d625ea56831" >
                                </div>
                                </div>     
                             

                        <H3 style=" font-style: underline">1. <u>Initiate Discussions on Menstruation in Class and School Environments:
                        </u>
                        </H3>
                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                            The most crucial step to destigmatising and normalising menstruation is to discuss it openly and not treat it as a taboo topic. Initiating discussions on menstruation, the problems menstruating women face, and the need for a change in people’s perceptions are significant. So, take the initiative to discuss menstruation in your classrooms and have healthy discussions. You can even coordinate with your teachers and ask them to assist you in organising such talks.
                        </p>
                        <H3 style=" font-style: underline">2. <u>Include Males in the Discussion:
                        </u>
                        </H3>
                        <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                            Most often, male students are excluded from discussions around menstruation in schools. It is crucial to recognise that it is equally important to educate males about menstruation. Only by educating male students one can expect them to grow up and become mature and sensible men who understand the problems of menstruating women and support them instead of discriminating against them. 

                        </p>
                   
                       

                            <H3 style=" font-style: underline">3. <u>Address the Myths and Taboos:
                            </u>
                            </H3>
                            
                            <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                Menstruation and menstrual blood are often associated with innumerable myths and taboos, leading menstruating women to face discrimination and ostracisation in society. Some myths include menstrual blood being used for witchcraft, menstruating women being impure, weak and vulnerable etc. Debunking these myths and taboos would lead people to realise the shallow nature of their false assumptions and preconceived notions about menstruation. 
                            </p>
                            <div class="row" >
                                <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
                                    <img alt="Myths vs facts about menstruation" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/waves-36bb5.appspot.com/o/The%20Importance%20of%20Destigmatising%20Menstruation%2F61Z_2112.w009.n001.65B.p14.65.jpg?alt=media&token=17558810-44b2-4bdb-8b44-a13ec8508be0" >
                                </div>
                                </div> 
                            <H3 style=" font-style: underline">4. <u>Increase Access to Menstrual Hygiene Products:
                            </u>
                            </H3>
                            <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                The biggest barrier to the menstrual health of most women in India is a lack of access to menstrual hygiene products. Several women from underprivileged, rural, and tribal populations cannot access sanitary napkins and proper disposal facilities. Many schools lack menstrual products and disposal facilities as well. Take initiatives as a class and request the school authorities to provide menstrual hygiene products and provisions if they aren’t already provided.  
                            </p>
                         
  <br>
                            <H3 style=" font-style: underline">5. <u>Destigmatise the Notion of “Impurity”:
                            </u>
                            </H3>
                            <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                The most disturbing reality of society’s attitude towards menstruation manifests in their perceptions of “impurity” about menstruating women. Most menstruating women are forced to sleep in outdoor spaces or courtyards, wash their clothes separately, eat from separate utensils, and refused to enter the kitchen. Such injustices should not be tolerated. If you see such practices prevailing in your surroundings, question them politely and make people understand that menstruation is natural and has nothing to do with being impure. 
  </p>

                                <H3 style=" font-style: underline">6. <u>Enable Menstruating Women to Enter Kitchens and Religious Spaces:
                                </u>
                                </H3>
                                <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                    Adding to the previous point, menstruating women are not allowed to enter the kitchen. Moreover, they are also discouraged from visiting religious spaces or places of worship since they are considered impure during this time of the month. We must resist such orthodox practices and discuss such concerns among people around us to enable menstruating women to visit the places they want and stop placing restrictions on them. 
                                </p>
                                <div class="row" >
                                    <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
                                        <img alt="Women in kitchen during menstruation" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/waves-36bb5.appspot.com/o/The%20Importance%20of%20Destigmatising%20Menstruation%2FWoman%20standing%20near%20stove%20in%20kitchen%20holding%20spoon.jpg?alt=media&token=000b385c-6aa2-4dbb-944f-b7545ebfd752" >
                                    </div>
                                    </div>
                                <H3 style=" font-style: underline">7. <u>Educate Your Friends and Siblings:
                                </u>
                                
      <br>
                                </H3>
                                <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                    We understand that changing the beliefs and perceptions of the older generations can be pretty difficult. However, ensuring that the current and forthcoming generations don’t commit the same mistakes is definitely in our hands. Educating the present generation can make the lives of women a lot better in the near future. So, educate your younger siblings (regardless of their gender) about menstruation and talk to your friends about it. Explain it to them with sensitivity and make them understand that menstruation is a biological process and is not to be treated as something that one should feel ashamed of. We understand that changing the beliefs and perceptions of the older generations can be pretty difficult. However, ensuring that the current and forthcoming generations don’t commit the same mistakes is definitely in our hands. Educating the present generation can make the lives of women a lot better in the near future. So, educate your younger siblings (regardless of their gender) about menstruation and talk to your friends about it. Explain it to them with sensitivity and make them understand that menstruation is a biological process and is not to be treated as something that one should feel ashamed of.  </p>
                                
                                </p>
                               
                                    <H3 style=" font-style: underline">8. <u>Don’t Feel Ashamed or Shy:
                                </u>
                                </H3>
                                <p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
                                    You need to be the change you want to see in your surroundings. If you want people to stop stigmatising menstruation and start normalising it, you need to take the initiative and be the first one to propel this change. It is essential to remember that you don’t have to feel ashamed or shy about discussing menstruation and its concerns openly. If someone rebukes you for it, the problem lies in their mentality, not in your actions. 
  </p>
  
  <H3 style=" font-style: underline">9. <u>Organise Seminars or Campaigns on Menstruation:
</u>
</H3>
<p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
    The most effective way to initiate mass-scale discussions on menstruation in an attempt to normalise it is to organise seminars and campaigns where these concerns are addressed in length. Approach your school authorities and ask if you can organise such workshops or campaigns in your school or collaborate with other schools to do so. This would ensure that more people participate in the discussion and get educated about it. 
</p>
<div class="row" >
    <div class="col-lg-12 col-12" style="padding: 0 0 0 0;" >
        <img alt="mass-scale discussions on menstruation" class="blogimg" src="https://firebasestorage.googleapis.com/v0/b/waves-36bb5.appspot.com/o/The%20Importance%20of%20Destigmatising%20Menstruation%2F6101073.jpg?alt=media&token=654035f5-ff52-490d-b527-83341462a974" >
    </div>
    </div>
<H3 style=" font-style: underline">10. <u>Reach Out to Underprivileged Women Near You:
</u>
</H3>
<p style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';">
    Extend a helping hand to underprivileged women around you and ask them if they have proper menstrual sanitation facilities. If not, provide them with sanitary napkins and educate them about details such as changing pads regularly, washing hands, and safe disposal methods. You can talk to your house help, underprivileged women in your area and locality and help them out
    





                        <div style="padding: 0px 0px 3% 0px;font-size: 23px;color: black; font-family: 'Times New Roman', Times, serif,';" >
<b>7 Waves
<br>Life Solutions| Connecting Happiness</b>







         </div>













</div>




<hr>

</section>

<!-- MainSection End -->








    </div>




    </div>

</div>


<div class="container1" style="padding:2% 5% 5% 5%;">
    <div class="row" >




          <div class="col-lg-12 col-md-12 col-12" ><h1 style="text-align: center; font-size: 200%;padding-bottom: 2%; "><strong>Popular Blogs From us</strong></h1></div>



          <div class="col-lg-6 col-md-6 col-12" ><div class="mg-fluidi img-thumbnail" style="box-shadow: 0 0 20px 0 rgba(0, 0,0, 0.3);"><div class="row" style="padding: 5%;" >
            <div class="col-lg-4 col-md-4 col-12" ><h10 style=" text-align: center;"><b>Leadership</b>
            </h10></div>
            <div class="col-lg-4 col-md-4 col-12" ><h16 style="size: 5%;">07/09/2020</h120></div>
            <div class="col-lg-4 col-md-4 col-12" ><img alt="image" src="stylesheets/images/wavesSymbol.svg"   style="width: 65px;height: 100%;"></div></div>

                <img alt="image" src="https://miro.medium.com/fit/c/1400/420/1*1OSxFYvnpwzBXsaR_nR5pg.jpeg"  class="blogimg" >
                <img src="/stylesheets/images/logo.jpeg" style="width: 30px; height: 30px; border-radius: 100%;
                margin: 10px;"><h14 style="width: 50%;"> 3 min read</h14>
                <h3 style="padding: 10px;">7 unsaid rules of Friendship</h3>
                <p style="padding:0 10px 10px 10px;">You are afraid of waters... but friends will still make you jumpin.. </p>
                <div class="footer" style="text-align: center; float:left; "><a href="/7-unsaid-rules-of-Friendship">Read more</a></div>

                <br><br>
        </div> <br>


        </div>
        <div class="col-lg-6 col-md-6 col-12" ><div class="mg-fluidi img-thumbnail" style="box-shadow: 0 0 20px 0 rgba(0, 0,0, 0.3);"><div class="row" style="padding: 5%;" >
            <div class="col-lg-4 col-md-4 col-12" ><h10 style=" text-align: center;"><b>Leadership</b>
            </h10></div>
            <div class="col-lg-4 col-md-4 col-12" ><h16 style="size: 5%;">06/09/2020</h120></div>
            <div class="col-lg-4 col-md-4 col-12" ><img alt="image" src="stylesheets/images/wavesSymbol.svg"   style="width: 65px;height: 100%;"></div></div>

                <img alt="image" src="https://miro.medium.com/fit/c/1400/420/1*BkynGH35I1uTOqXWA94JHw.jpeg"   class="blogimg">
                <img src="/stylesheets/images/logo.jpeg" style="width: 30px; height: 30px; border-radius: 100%;
                margin: 10px;"><h14 style="width: 50%;"> 4 min read</h14>
                <h3 style="padding: 10px;">If success is fame, Hapiness is the pride</h3>

                <p style="padding:0 10px 10px 10px;">Maybe none. Earning a successful life is what everyone</p>
                <div class="footer" style="text-align: center; float:left; "><a href="/If-success-is-fame-Hapiness-is-the-pride">Read more</a></div>

                <br><br>
        </div> <br>
        </div>



    </div>
<br>
    <!-- <li class="button-item">
        <div class="footer text-center" ><a href="/blogging">Explore More</a></div>
          </li> -->
</div>


<div class="row" style=" width: 100%;padding-left: 5%;" >


    <div class="row" >


        <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%; "><h1 style="text-align: center;">Your App</h1>
            <br>
            <h5 style="text-align: center;">7waves app provide a best mobile experience so counselling will be as easier as playing songs</h5><br>
            <div class="footer" style=" text-align: center; padding-bottom: 5%;padding-top: 5% ; "><a href="https://play.google.com/store/apps/details?id=in.sevenwaves.sevenwavesusers">Download Now</a></div>
        
        </div>

    <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%;"><img alt="image" src="/stylesheets/images/VECTOR_IMAGE_ON_APP@-4.svg"    style="width: 100%;height: 100%;"></div>



</div>
</div>

<div class="row" style="background-image: url(/stylesheets/images/Mask_Group_28.svg); width: 100%;margin-left: 0%;padding: 4%;" >


    <div class="row">


        <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%; "><h1 style="text-align: center;">Let's Stay in Touch</h1>
            <br>
            <!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
#mc_embed_signup{ clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://7waves.us19.list-manage.com/subscribe/post?u=fa7016958f292ac20306dd09a&amp;id=31a48ae68f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
<div id="mc_embed_signup_scroll">
<label for="mce-EMAIL">Subscribe</label>
<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_fa7016958f292ac20306dd09a_31a48ae68f" tabindex="-1" value=""></div>
<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</div>
</form>
</div>

<!--End mc_embed_signup-->
         </div>

    <div class="col-lg-6 col-md-6 col-12" style="padding-bottom: 5%;padding-top: 5%;"><img alt="image" src="/stylesheets/images/Group_1092.svg"    style="width: 100%;height: 100%;"></div>



</div>
</div>


    <script>

        // Wrap every letter in a span
      var textWrapper = document.querySelector('.ml1 .letters');
      textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

      anime.timeline({loop: true})
        .add({
          targets: '.ml1 .letter',
          scale: [0.3,1],
          opacity: [0,1],
          translateZ: 0,
          easing: "easeOutExpo",
          duration: 600,
          delay: (el, i) => 70 * (i+1)
        }).add({
          targets: '.ml1 .line',
          scaleX: [0,1],
          opacity: [0.5,1],
          easing: "easeOutExpo",
          duration: 700,
          offset: '-=875',
          delay: (el, i, l) => 80 * (l - i)
        }).add({
          targets: '.ml1',
          opacity: 0,
          duration: 1000,
          easing: "easeOutExpo",
          delay: 1000
        });


           </script>

<%- include("../partials/footer")  %>

